/*
Design by Gaucer
ICQ 6981278
*/
body {
  background-color: #383838;
  background-image: url(images/bg.gif);
  color: #fff;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 11pt;
  margin: auto;
  max-width: 500px;
}

form {
  font-size: small;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0 0 2px 0;
}

hr {
  border: 0;
  border-top: 1px solid orange;
  margin: 0;
}

p {
  margin-bottom: 6px;
  margin-top: 6px;
}

textarea {
  width: 90%;
}

input, textarea, select {
  background: #fff;
  border: 1px solid #2F8D9C;
  color: #686868;
  padding: 3px;
  margin: 1px;
  -moz-border-radius:5px;
  border-radius:5px;
}

select:focus {
  border: 1px solid #d84387;
}

input:hover {
border: 1px solid #d84387;
}

textarea:hover {
	border: 1px solid #d84387;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.alarm {
  background-color: #FF0000;
  border: 1px solid white;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 0 3px 4px;
}

.bblist {
  color: #4A5663;
  background: transparent url(../../images/dot.gif) no-repeat left;
  padding: 0px 0px 0px 10px;
}

.bmenu {
  background-color: #DCDDDE;
  background-image: url(images/phdr.png);
  background-repeat: repeat-x;
  border: 1px solid white;
  margin: 0;
  padding: 2px 4px 4px 4px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.end {
  text-align: center;
}

.fmenu {
  background-color: #5DD1F6;
  color: #FFFFFF;
  margin: 0;
  padding: 3px 1px 5px 3px;
}

.header {
  background-color: #d84387;
  background-image: url(images/hd.png);
  background-repeat: repeat-x;
  background-position: top;
  color: #fff;
  padding: 6px 0 5px 4px;
  -moz-border-radius: 10px 10px 0 0;
  border-radius:10px 10px 0 0;
}

.footer {
  background-color: #5DD1F6;
  background-image: url(images/star.png);
  background-repeat: repeat-x;
  background-position: bottom;
  color: #fff;
  padding: 6px 0 5px 0;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.func {
  border-left: 3px solid #d84387;
  color: #757575;
  font-size: 9pt;
  margin-left: 2px;
  margin-top: 4px;
  padding-left: 4px;
}

.gmenu {
  background-color: #c9e9ee;
  border: 1px solid #dde8d8;
  margin:1px 0;
  padding: 3px 4px 3px 4px;
  -moz-border-radius:5px;
  border-radius:5px;
  border: 1px solid #7AB6D8;
  color: #333;
}

.gray {
  color: #586776;
}

.greply {
  border-left: 4px solid #009900;
  color: #009900;
  padding: 2px 0 2px 4px;
}

.hdr {
  background-color: #f1f1f1;
  border-bottom: 1px solid #595959;
  font-weight: bold;
  padding-left: 2px;
}

.left {
  float: left;
}

.list1 {
  background-color: white;
  color: #333;
  border: 1px solid #7AB6D8;
  margin:2px 0;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.list2 {
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #7AB6D8;
  margin:2px 0;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.maintxt {
  font-weight: normal;
  padding: 4px;  
  background-color: #f2eeeb;
  color: #d84387;
}

.menu {
  background-color: #f2eeeb;
  border:1px solid #7AB6D8; 
  color: #626262;
  margin: 3px 0;
  padding: 5px;
  -moz-border-radius:5px;
  border-radius:5px;

}

.news {
  background-color: #cbf3fb;
  color: #38757F;
  font-size: small;
  padding: 4px;
  margin:0 4px 3px 4px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.phdr {
  color: #d84387;
  font-weight: bold;
  background-color: #DCDDDE;
  background-image: url(images/phdr.png);
  background-repeat: repeat-x;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.phpcode {
  background-color: #e4e9e0;
  border: 1px dotted #d3e0c7;
  margin-top: 4px;
  padding: 0 2px 0 2px;
  overflow: auto;
}

.quote {
  border-left: 4px solid #c0c0c0;
  color: #878787;
  font-size: x-small;
  margin-left: 2px;
  padding: 2px 0 2px 4px;
}

.reply {
  border-left: 4px solid #EE0000;
  color: #EE0000;
  padding: 2px 0 2px 4px;
}

.rmenu {
  background-color: #e9ccd2;
  padding: 3px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin: 2px 0;
}

.sitemap {
  background-color: #eef1e8;
  padding: 2px 4px 3px 4px;
  font-size: x-small;
  height: 46px;
  overflow: auto;
  color: #d84387;
}

.status {
  color: #d84387;
  font-size: x-small;
  font-weight: bold;
  padding-left: 0;
}

.sub {
  border-top: 1px dotted #dfead7;
  font-size: x-small;
  margin-top: 4px;
}

.tmn {
  background-color: #d84387;
  background-repeat: repeat-x;
  color: #ffffff;
  padding: 7px 0 7px 4px;
}

.topmenu {
  font-size: 9pt;
  padding: 5px;
  margin-bottom: 1px;
  background-color: #d84387;
  -moz-border-radius:5px;
  border-radius:5px;
}

.topmenu input{
  font-size: x-small
}

.user {
  background-color: #ecece6;
  border: 1px solid #ccc;
  padding: 4px;
  color: #333;
}

.header + .tmn {
	background-image: url(images/star.png);
}

.alarm a:link, .alarm a:visited {
  color: #FFFFFF;
  font-size: x-small;
}

.clip a:link, .clip a:visited {
  color: #424e59;
}

.green, .green a:link, .green a:visited {
  color: #008000;
}

.greply a:link, .greply a:visited {
  color: #008800;
}

.red, .red a:link, .red a:visited {
  color: #FF0000;
}

.reply a:link, .reply a:visited {
  color: #DD0000;
}

.fmenu a:link, .fmenu a:visited {
  color: #fff;
  text-decoration: none;
}

.fmenu a:hover, .footer a:hover {
  color: #000;
  text-decoration: none;
}

.footer a:link, .footer a:visited {
  background-color: #5DD1F6;
  border: 1px solid #b9e5fb;
  padding: 3px 5px;
  -moz-border-radius:5px;
  border-radius:5px;
  color: #fff;
}

.footer a:hover {
  color: #5DD1F6;;
  background-color: #fff;
  border: 0;
}

.tmn a:link, .tmn a:visited {
  background-color: #5DD1F6;
  background-repeat: repeat-x;
  background-position: bottom;
  color: #fff;
  text-decoration: none;
  padding: 4px 6px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.tmn a:hover {
	background-color: #fff;
	color:#5DD1F6;
	border: 1px solid #b9e5fb;
}

.topmenu a:visited, .topmenu a:link {
	color: #fff
}

.topmenu a:hover {
	color: #ccc
}

a:active, a:link, a:visited {
  color: #00869e;
  text-decoration: none;
}

a:hover {
  color: #73ADD2;
  text-decoration: none;
}

.currentpage {
    color: #59ab28;
    background-color: #edebeb;
    border: 1px solid #cccccc;
    padding: 0px 5px 0px 5px;
}

a.pagenav {
    border: 1px solid #cccccc;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
}

a.pagenav:hover {
    background-color: #f7f7f7;
    border: 1px solid #dedede;
}
img {border: none; vertical-align: middle;}
