<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{#page_title#}</title>
	<link rel="stylesheet" href="./backend/styles/style.css" type="text/css" />
	<script type="text/javascript" src="./backend/javascripts/ajax.js" language="JavaScript"></script>
</head>
<body style="margin: 0px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<!--/text-->
	<tr>
		<td style="padding: 2px;" bgcolor="#D6D6D6" colspan="2"><span style="float:right"><b>{#TITLE_ACCOUNT_LOGIN#}: </b><span class="NameLogin">{$account_info.account_full_name}</span> - [ <a href="http://nhadatanphat.vn/admin.php?hdl=auth/list" class="Logout">{#TITLE_CHANGE_PASS#}</a> | <a href="?hdl=auth/detail&accountid={$account_info.account_id}" class="Logout">{#TITLE_ACCOUNT#}</a> | <a href="?hdl=logout" class="Logout">{#TITLE_LOGOUT#}</a> ]&nbsp;&nbsp;</span></td>
	</tr>
	<!--/text-->
	<!--Right Content -->