.contentslide{
border: 1px solid #cccccc;
border-bottom-width: 1px;
padding: 1px;
width: 570px;
height: 200px;
margin-left:0px;
}

.contentslide .contentdiv{
display: none;
}

.pagination{
/*width: 615px; /*Width of pagination DIV. To equal that of Content Slider's width, take into account the later's left/right paddings!*/
text-align: right;
background-color: #cccccc;
border: 1px solid #cccccc;
border-width: 0 1px; /*Left/ right border width of pagination DIV.*/
padding: 2px 0px 3px 50px;
}

* html .pagination{ /*Simplified box model hack to get IE5 to display width equal to that of Content Slider's*/
width: 570px; /*IE5 width*/
width: 570px; /*IE6 width*/
}

.pagination a{
padding: 0 5px;
text-decoration: none; 
color: #2e6ab1;
background-color: white;
}

.pagination a:hover, .pagination a.selected{
color: #000;
background-color: #FEE496;
}

.contentslide2{
border: 1px solid #cccccc;
border-bottom-width: 1px;
padding: 1px;
width: 570px;
height: 200px;
}

.contentslide2 .contentdiv{
display: none;
}

.pagination2{
width: 570px; /*Width of pagination DIV. To equal that of Content Slider's width, take into account the later's left/right paddings!*/
text-align: right;
background-color: #cccccc;
border: 1px solid #cccccc;
border-width: 0 1px; /*Left/ right border width of pagination DIV.*/
padding: 2px 0px 3px 0;
}

* html .pagination2{ /*Simplified box model hack to get IE5 to display width equal to that of Content Slider's*/
width: 570px; /*IE5 width*/
width: 570px; /*IE6 width*/
}

.pagination2 a{
padding: 0 5px;
text-decoration: none; 
color: #2e6ab1;
background-color: white;
}

.pagination2 a:hover, .pagination2 a.selected{
color: #000;
background-color: #FEE496;
}