A.linkTop {
		color:#FFFFFF;
		font-weight:bold;
		text-decoration: none;
		text-transform:uppercase;
}
.linkTop {
		color:#FFFFFF;
		font-weight:bold;
		text-decoration: none;
		line-height:22px;
}
A.linkTop:hover {
		color:#FFFFFF;
		font-weight:bold;
		text-decoration: underline;
}
A.linkBanner {
		color:#FFFFFF;
		font-weight:bold;
		text-decoration:none;
}
A.linkBanner:hover {
		color:#FFFFFF;
		font-weight:bold;
		text-decoration: underline;
}
A.menu-top{
		text-transform:uppercase;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
}
A.menu-top:hover{
		color:#00FFFF;
		font-weight:bold;
}
A.menu-bottom{
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		text-transform:uppercase;
}
A.menu-bottom:hover{
		color:#003366;
		font-weight:bold;
}
A.SubTextLeftCenter{
		text-decoration:none;
		font-weight:bold;
		color:#004175;
}
A.SubTextLeftCenter:hover{

		font-weight:bold;
		color:#4169E1;
}
A.tienich{
		text-decoration:none;
		color:#004175;
}
A.tienich:hover{

		color:#4169E1;
}

A.SubTextLeft{
		text-decoration:underline;
		font-weight:bold;
		color:#004175;
		
}
A.SubTextLeft:hover{
		text-decoration:underline;
		font-weight:bold;
		color:#4169E1;
}

A.titleNews1{
	text-decoration:none;
	color:#004175;
	line-height:15px;
}
A.titleNews1:hover{
	text-decoration:none;
	color:#4169E1;
	line-height:15px;
}

.titleNews{
	text-decoration:none;
	color:#004175;
	font-size:13px;
	font-weight:bold;
	line-height:15px;
}
.titleNews:hover{
	text-decoration:none;
	color:#4169E1;
	font-size:13px;
	font-weight:bold;
	line-height:15px;
}
.titleNe{
	text-decoration:none;
	color:#004175;
	font-size:15px;
	font-weight:bold;
	line-height:15px;
}
.titleNe:hover{
	text-decoration:none;
	color:#4169E1;
	font-size:15px;
	font-weight:bold;
	line-height:15px;
}
