.overlay {display:none;width:10000;height:100%;_height:1500px;position:fixed;_position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=50);	-moz-opacity:.50;opacity:.50;z-index:999;_overflow:hidden;}

.popup {position:fixed;_position:absolute;top:100px;_top:80px;left:30%;padding-bottom:10px;background:#fff;border:#fff solid 1px;z-index:1000;display:none;


top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop : document.body.scrollTop);
}
.popup p.link_violet_b {background:url(../images/popup_tit.gif) repeat-x 0 0;height:18px;font-size:0.7em;padding:3px 3px 0 10px;}
.popup p.text_black_bold {padding:10px 30px 20px 30px;font-size:0.8em;line-height:24px;text-align:center;}

.tab_profile {background:url(../images/closelabel.gif) top center no-repeat;margin-right:1px;width:147px;height:38px;cursor:pointer;}




.popups {position:fixed;_position:absolute;top:20px;_top:100px;left:23%;width:600px;padding-bottom:10px;background:#fff;border:#fff solid 1px;z-index:1000;display:none;
top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop : document.body.scrollTop);
}
.popups p.link_violet_b {background:url(../images/popup_tit.gif) repeat-x 0 0;height:18px;font-size:0.7em;padding:3px 3px 0 10px;}
.popups p.text_black_bold {padding:10px 30px 20px 30px;font-size:0.8em;line-height:24px;text-align:center;}



.popup_login {position:fixed;_position:absolute;top:23%;_top:23%;left:23%;width:300px;padding-bottom:10px;background:#fff;border:#fff solid 1px;z-index:1000;display:none;
top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop : document.body.scrollTop);
}
.popup_login p.link_violet_b {background:url(../images/popup_tit.gif) repeat-x 0 0;height:18px;font-size:0.7em;padding:3px 3px 0 10px;}
.popup_login p.text_black_bold {padding:10px 30px 20px 30px;font-size:0.8em;line-height:24px;text-align:center;}