body,td {
		font-family: Tahoma;
		font-size:11px;					
}
table {
		background-color:#FFFFFF;
}


.style1 {
	font-size: 12px;
	font-style: italic;
	font-weight:normal;
}
.style2 {
	font-size: 18px;
	font-weight: bold;
}



.leftBorder {
		background:url(../images/leftBorder.jpg) repeat-y;
		width:22px;
}
.Contact_text {
		width:250px;
}
.rightBorder {
		background:url(../images/rightBorder.jpg) repeat-y;
		width:22px;
}
.banner {
		height:175px;
		width:1000px;
}
.bgMenu {
		background:url(../images/bg-top.jpg);
		height:27px;
}
.bgSearch {
		background:url(../images/bgSearch.jpg) repeat-x;
		height:30px;
}
.rightTop {
		background:url(../images/rightTop.jpg) no-repeat;
		height:27px;
		width:264px;
}
.rightCenter {
		background:url(../images/rightCenter.jpg) repeat-y;		
		width:264px;
}
.rightBottom {
		background:url(../images/rightBottom.jpg) no-repeat;
		height:6px;
		width:264px;
}
.proTop1 {
		background:url(../images/center-border.jpg) no-repeat;
		height:35px;
		width:664px;
}
.proCenter1 {
		background:url(../images/center-bg.jpg) repeat-y;		
		width:664px;
}
.proBottom1 {
		background:url(../images/bottom-bg.jpg) no-repeat;
		height:6px;
		width:664px;
}
.proTop {
		background:url(../images/center-border.jpg) no-repeat;
		height:43px;
		width:664px;
}
.proCenter {
		background:url(../images/center-bg.jpg) repeat-y;		
		width:664px;
}
.proBottom {
		background:url(../images/bottom-bg.jpg) no-repeat;
		height:6px;
		width:664px;
}
.textLeftMenu {
       color:#FFFFFF;
	   font-weight:bold;
	   padding-left:50px;
	   text-transform:uppercase;
}
.bottom {
		background:url(../images/bottom.jpg) repeat-x;
		height:87px;
}
.rightTop1 {
		background:url(../images/bg-menu.jpg) no-repeat;
		height:39px;
		width:209px;
}
.rightCenter1 {
		background:url(../images/bg-menu-center.jpg) repeat-y;		
		width:209px;
		height:27px; 
}
.menu_left {
		background:url(../images/menuleft-bg.jpg) no-repeat;		
		width:209px;
		 height:28px; 
		 padding-left:5px; 
		 padding-bottom:5px;
		 
}
.rightBottom1 {
		background:url(../images/bg-menu-bottom.jpg) no-repeat;
		height:12px;
		width:209px;
}
.textMenu {
 	   color:#FFFFFF;
	   font-weight:bold;
	   text-align:left;
	   text-transform:uppercase;
	   text-align:center;
}
.text_product{
	text-decoration:none;
	color:#004175;
	font-weight:bold;
	line-height:15px;
}
.text_product:hover{
	text-decoration:none;
	color:#4169E1;
	font-weight:bold;
	line-height:15px;
}
.style_news1{
		background:#d8f2d7;
		background:#006600;
}
.style_news2{
		background:#ebf7e1;
}

.service{
		background:url(../images/bg-menu-center.jpg) repeat-y
		text-decoration:none;
		font-weight:bold;
		color:#000000;
}
.xemtiep{
		text-decoration:none;
		color:#333333;
}
.style1{
	color:#000066; font-weight:bold;text-decoration:none;
	height:15px;
}
.style3 {color: #FF0000;
font-weight:bold;
}
.border-bottom{
	background:url(../images/border-bottom.gif) no-repeat;
}
.border-top{
	background:url(../images/border-top.gif) no-repeat;
}
.border-left{
	background:url(../images/border-left.gif) repeat-y;
	width:12px;
}
.border-right{
	background:url(../images/border-left.gif) repeat-y;
	width:8px;
}
.product-bottom{
	background:url(../images/product-bottom.gif) no-repeat;
}
.product-top{
	background:url(../images/product-top.gif) no-repeat;
}
.product-left{
	background:url(../images/border-left.gif) repeat-y;
	width:12px;
}
.product-right{
	background:url(../images/border-left.gif) repeat-y;
	width:10px;
}
.text_date{
	color:#FFFFFF;
}
.space-top{
		background:url(../images/space-top.jpg) no-repeat;
		width:7px;
}
.menu-bottom{
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		text-transform:uppercase;
}
.SubTextLeftCenter{
		text-decoration:none;
		font-weight:bold;
		color:#004175;
		 height:26px; 
		 padding-left:20px; 
		 padding-bottom:5px;
}
.proTopCenter{
		background:url(../images/center-border1.jpg) no-repeat;
		height:35px;
		width:580px;
}
.textPrice{
		font-weight:bold;
		color:#FF0000;
}
#inputContact{
		width:300px;
}
.dcompared
{
	margin-top:5px;
	padding-left:14px;
	width:150px;
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
	text-decoration:underline;
}
.input_search{width:160px;height:15px;border:0px;font-family:Arial,Helvetica,sans-serif;color:#333;text-align:left;padding-left:6px;font-size:11px;font-weight:normal}
