.clicked {
font-family: Arial; 
color:#CC3300;
font-size: 11px; 
text-decoration:none;
font-weight:bold;
}
.cactrang{
font-family: Arial; 
color:#006666; 
font-size: 11px; 
text-decoration:none;
}
.cactrang:hover{
font-family: Arial;
color:#FF3300;
font-size: 11px; 
text-decoration:none;
}