@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
}
:focus {
	outline: 0;
}

body {
	background:#008080;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#890040;
    text-align: center;
    line-height: 25px;
}
a {
	text-decoration:none;
	color:#2A6CBC;
}
.note {
	font-style:italic;
}
.wrapper {
	width:680px;
	margin:10px auto;
	background:#F7F7F7;
	border:1px solid #CCCCCC;
	padding:12px;
	border-radius:5px;
}
.warning {
	background:#FFC;
	color:red;
	padding:3px;
	border:1px solid #ccc;
}
#header {
	background: none repeat scroll 0 0 #333;
    border-bottom: 1px solid #222;
    box-shadow: 0 0 5px #111;
    color: #fff;
    font-family: Tahoma;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
	#header h1 {
		font-size: 20px;
		text-shadow: 0 1px 0 #890040;
	}
	#header .description {
		font-style:italic;
		position:absolute;
		right:5px;
		top:0;
		color:#ccc;
	}
.body {
	overflow:hidden;
	margin:8px 0;
}
.option div.rows{
	margin:10px 0;
}
.option span {
	margin-right:5px;
	text-shadow: 0px 1px 0px #ddd;
}
select, textarea{
	padding:2px;
	border:1px solid #ccc;
	background:#fcfcfc;
	border-radius:3px;
}
option {
	color:#890040;
}
.method{
	display:none;
}

div.upload {
	height:25px;
	width:270px;
	text-align:right;
	border:1px solid #ccc;
	background:#fefefe;
	border-radius:5px;
    margin: 0 auto;
}
	div.upload span{
		float:left;
		height:25px;
		display:block;
		line-height:25px;
		margin-left:5px;
		font-style:italic;
	}
.transload textarea, #list textarea{
	resize:vertical;
	width:660px;
	height:120px;
}
textarea, input[type="text"] {
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}
.transload .button {
	outline:none;
    margin:2px;
	background:#E0E0E0;
    padding:3px 6px;  
	background-image: linear-gradient(bottom, #E0E0E0 -1%, #FFFFFF 85%);
	background-image: -o-linear-gradient(bottom, #E0E0E0 -1%, #FFFFFF 85%);
	background-image: -moz-linear-gradient(bottom, #E0E0E0 -1%, #FFFFFF 85%);
	background-image: -webkit-linear-gradient(bottom, #E0E0E0 -1%, #FFFFFF 85%);
	background-image: -ms-linear-gradient(bottom, #E0E0E0 -1%, #FFFFFF 85%);
	border-radius:3px;
	border: 1px solid #ccc;
	box-shadow:0 1px 0px 0px #ddd;
	color:#717171;
	cursor:pointer
}
	.transload .button:hover {
		color:#333;
	}
	
#result > div{
	overflow:hidden;
	margin:3px 0;
}
#result .name {
	width:250px;
	float:left;
	overflow:hidden;
	display:block;
    text-align: left;
}
#result input.link{
    height:25px;
    padding-left:5px;
	float:left;
	margin-left:5px;
	border:1px solid #e1e1e1;
	background:transparent;
	width:400px;
	overflow:hidden;
}	
#list {
	margin:6px ;
}
	#list a{
		margin-right:-3px;
	}
    
    #list .format{
        margin-bottom:5px;        
    }
#status{
	color:red;
}

.button {
	display: inline-block; 
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 3px 12px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
}
.button:active {
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}

.blue {
	color: #41788c;
	border: 1px solid #6fb1c7;
	background-image: -moz-linear-gradient(#aae5f7, #73d0f1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d0f1), to(#aae5f7));
	background-image: -webkit-linear-gradient(#aae5f7, #73d0f1);
	background-image: -o-linear-gradient(#aae5f7, #73d0f1);
	text-shadow: 1px 1px 1px #bfeafb;
	background-color: #73d0f1;
}
.blue:hover {
	border: 1px solid #4690ad;
	background-image: -moz-linear-gradient(#73d0f1, #aae5f7);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aae5f7), to(#73d0f1));
	background-image: -webkit-linear-gradient(#73d0f1, #aae5f7);
	background-image: -o-linear-gradient(#73d0f1, #aae5f7);
	background-color: #aae5f7;
}
.blue:active {border: 1px solid #3b778b;}

.green {
	color: #5a742d;
	border: 1px solid #95b959;
	background-image: -moz-linear-gradient(#cae387, #a5cb5e);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
	background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
	background-image: -o-linear-gradient(#cae387, #a5cb5e);
	text-shadow: 1px 1px 1px #dff4bc;
	background-color: #a5cb5e;
}
.green:hover {
	border: 1px solid #687e30;
	background-image: -moz-linear-gradient(#a5cb5e, #cae387);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cae387), to(#a5cb5e));
	background-image: -webkit-linear-gradient(#a5cb5e, #cae387);
	background-image: -o-linear-gradient(#a5cb5e, #cae387);
	background-color: #cae387;
}
.green:active {border: 1px solid #506320;}

.grey {
	color: #444;
	border: 1px solid #d0d0d0;
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	text-shadow: 1px 1px 1px #fff;
	background-color: #e1e1e1;
}
.grey:hover {
	border: 1px solid #b0b0b0;
	background-image: -moz-linear-gradient(#e1e1e1, #ededed);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#e1e1e1));
	background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
	background-image: -o-linear-gradient(#e1e1e1, #ededed);
	background-color: #ededed;
}
.grey:active {border: 1px solid #890040;}

#logo-choose{
    border:1px dashed #d9d9d9;
    padding:3px;
}

#logo-choose img{
    vertical-align: middle;
    margin-bottom:3px;
}

.left {
	border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-right: 0px;
}
.left:hover {
	border-right: 0px;
}
.middle {
	border-radius: 0px;
	-moz-radius: 0px;
	border-right: 0px;
}
.middle:hover {
	border-right: 0px;
}
.right {
	border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
}

.text-left{
    text-align: left;
}

#single-result{
    text-align: left;
    display: none;
    border-bottom: 1px dashed #E1E1E1;
    margin-bottom: 10px;
}

#all-result{
    border-bottom: 1px dashed #E1E1E1;
    margin-bottom:10px;
}

.tooltip{
position:absolute;
max-width:700px;
background:#fff;
border:2px solid #333;
color:#906;
padding:5px;
font-size:12px;
zoom: 1;
z-index:9999;
}

.tooltip-image{
float:left;
margin-right:5px;
margin-bottom:5px;
margin-top:3px;
}

.tooltip img{
    max-width:300px;
}

.tooltip span{
font-weight:700;
color:#ffea00;
}

.tooltip a{
color:#903;
}

.tooltip #post-by{
font-weight:normal;
color:#000;
}