/* Basic */
pre { -moz-border-radius: 7px; -webkit-border-radius: 7px; }
/* Structure */
#header h1 a { text-shadow: 5px 5px 5px rgba(0, 0, 0, .1); }
#navigation ul li a { text-shadow: 0 1px 0 #a8a8a8; -moz-border-radius: 13px; -webkit-border-radius: 13px; }
	#navigation ul li a:hover { text-shadow: 0 1px 0 #888; background-color: rgba(255, 255, 255, .07); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05); }
#subnavigation ul li a { text-shadow: 0 1px 0 #ddd; }
	#subnavigation ul li a:hover { text-shadow: 0 1px 0 #aaa; background: rgba(255, 255, 255, .1); }
#footer { text-shadow: 0 1px 0 #555; }
	#footer a:hover { text-shadow: 0 1px 0 #777; }
/* Forms */
input, textarea { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
/* Tables */
th, td.pagination { text-shadow: 0 1px 0 #aaa; }
	tbody tr:last-child { border-bottom: 0; }
	th:first-child { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; }
	th:last-child { -moz-border-radius-topright: 0 7px 0 0; -webkit-border-top-right-radius: 7px; }
	tfoot td { -moz-border-radius: 0 0 7px 7px; -webkit-border-bottom-left-radius: 7px; -webkit-border-bottom-right-radius: 7px; }
/* Boxes */
.box h2, .sidebar .box h3 { text-shadow: 0 1px 0 #ddd; -moz-border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; }
.box .bottom { -moz-border-radius: 0 0 10px 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; }
/* Other */
.round { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.button { text-shadow: 0 1px 0 #777; -moz-border-radius: 15px; -webkit-border-radius: 15px; -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .17); -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .17); }
.message { text-shadow: 0 1px 0 rgba(255, 255, 255, .5); -moz-border-radius: 5px; -webkit-border-radius: 5px; }