﻿	<script type="text/javascript" src="../filemanager_in_ckeditor/js/ckeditor/ckeditor.js"></script>
	<script src="../filemanager_in_ckeditor/sample.js" type="text/javascript"></script>
	<link href="../filemanager_in_ckeditor/sample.css" rel="stylesheet" type="text/css" />

<form method="post" action="">

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">

		<a>Thêm bản tin</a></li>

	</ul>

	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">



<table style="width: 100%">

	<tr>

		<td style="text-align: left">Tiêu đề: 

		<input name="post[tieude]" type="text" style="width: 60%" value="{$tieude}"></td>

	</tr>

	<tr>

		<td>		
			<textarea cols="80" id="editor1" name="post[noidung]" rows="10">{$noidung}</textarea>
			<script type="text/javascript">
			//<![CDATA[

				// This call can be placed at any point after the
				// <textarea>, or inside a <head><script> in a
				// window.onload event handler.

				// Replace the <textarea id="editor"> with an CKEditor
				// instance, using default configurations.
				CKEDITOR.replace( 'editor1',
                {
                    filebrowserBrowseUrl :'http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/browser/default/browser.html?Connector=http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/connectors/php/connector.php',
                    filebrowserImageBrowseUrl : 'http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/browser/default/browser.html?Type=Image&Connector=http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/connectors/php/connector.php',
                    filebrowserFlashBrowseUrl :'http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/browser/default/browser.html?Type=Flash&Connector=http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/connectors/php/connector.php',
					filebrowserUploadUrl  :'http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/connectors/php/upload.php?Type=File',
					filebrowserImageUploadUrl : 'http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/connectors/php/upload.php?Type=Image',
					filebrowserFlashUploadUrl : 'http://'+document.domain+'/filemanager_in_ckeditor/js/ckeditor/filemanager/connectors/php/upload.php?Type=Flash'
				});

			//]]>
			</script>
</td>

	</tr>

	<tr>

		<td><input name="submit" type="submit" value="Sửa" class="go">&nbsp;<input name="Reset1" type="reset" value="Làm lại" class="go"></td>

	</tr>

</table>

			


</div></div>

