		            	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		            	<!-- Begin search area -->
			            <tr>
			                <td>
			                {if $hdl ne 'list' && $hdl ne 'vip' && $hdl ne 'interior'}
			                	<form action="?hdl=list" name="frmsearch" id="frmsearch" method="post">
			                	<table width="262" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td height="61" background="frontend/images/c1_search.jpg">
			                        		<div class="text_white" style="text-align: left; padding-bottom: 28px;">TÌM KIẾM </div>
									</td>
								</tr>
								<tr>
									<td align="center" background="frontend/images/c3_search.jpg">
										<table width="86%" height="40" border="0" cellpadding="0" cellspacing="0">
						                <tr>
											<td align="left"><strong>Loại hình BĐS:</strong> </td>
										</tr>
										<tr>
											<td align="left">
												<select name="cateid" id="cateid" class="form_search1">
						                        	<option value="">Tất cả</option>
						                        	{foreach item=cates from=$CategoryEstate}
						                        	<option value="{$cates.category_id}" {if $cate eq $cates.category_id && $cate ne ''} selected="selected" {/if}>{$cates.category_name}</option>
						                        	{/foreach}
						                        </select>
											</td>
										</tr>
										</table>

										{literal}
										<script language="javascript" type="text/javascript">
											var ajaxObj = new XMLHTTP("services.php");
										
											function select_province(val){
												ajaxObj.call('action=Province&act=SelectProvince&province_id='+val, select_province_resp);
											}

											function select_province_resp(resp) {
                                                if(resp.result == '1') {
													var model = document.getElementById("district");
													ClearOption("district");
										  			
													var modelOption1 = document.createElement('option');
													modelOption1.text = "Lựa chọn";
										  			modelOption1.value = '';
										  			try {
										    			model.add(modelOption1, null); // standards compliant; doesn't work in IE
										  			}
										  			catch(ex) {
										    			model.add(modelOption1); // IE only
										  			}
													if(resp.data){
													var id = resp.data.id;
													for(var i = 0; i < id.length; i++){
														var modelOption = document.createElement('option');
										  				modelOption.text = resp.data.title[i];
										  				modelOption.value = id[i];
										
										  				try {
										    				model.add(modelOption, null); 
										  				}
										  				catch(ex) {
										    				model.add(modelOption); 
										  				}
													}
													}
												} else {
													alert(resp.result);
												}
											}
											function ClearOption(id){
												var list = document.getElementById(id);
												for(var i=list.length-1;i>=0;i--){
													list.remove(i);
												}
											}
										</script>
										{/literal}

                      					<table width="86%" height="40" border="0" cellpadding="0" cellspacing="0">
                        				<tr>
											<td align="left"><strong>Tỉnh/ Thành phố: </strong> </td>
										</tr>
										<tr>
											<td align="left">
					                          	<select name="province" id="province" class="form_search1" onChange="select_province(this.options[selectedIndex].value)">
					                            	<option value="">Tất cả</option>
					                            	{foreach item=provinces from=$ProvinceList}
					                            	<option value="{$provinces.province_id}" {if $province eq $provinces.province_id && $province ne ''} selected="selected" {/if}>{$provinces.province_name}</option>
					                            	{/foreach}
					                          	</select>
					                        </td>
					                    </tr>
                      					</table>
                      					<table width="86%" height="40" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td align="left"><strong>Quận/ Huyện:</strong> </td>
				                        </tr>
				                        <tr>
				                          	<td align="left">
				                          		<select name="district" id="district" class="form_search1">
				                              		<option value="">Tất cả</option>
					                            	{foreach item=districts from=$DistrictList}
					                            	<option value="{$districts.district_id}" {if $district eq $districts.district_id && $district ne ''} selected="selected" {/if}>{$districts.district_name}</option>
					                            	{/foreach}
				                          		</select>
				                          	</td>
				                        </tr>
                      					</table>
                      					<table width="86%" height="40" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td align="left"><strong>Hướng:</strong></td>
				                        </tr>
				                        <tr>
				                          	<td align="left">
				                          		<select name="direction" id="direction" class="form_search1">
				                              		<option value="">Tất cả</option>
						                        	{foreach item=directions from=$DirectionList}
						                        	<option value="{$directions.value}" {if $direction eq $directions.value && $direction ne ''} selected="selected" {/if}>{$directions.text}</option>
						                        	{/foreach}
				                          		</select>
				                          	</td>
				                        </tr>
                      					</table>
                      					<table width="86%" height="40" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td align="left"><strong>Giá:</strong></td>
				                        </tr>
				                        <tr>
				                          	<td align="left">
				                          		<select name="price" id="price" class="form_search1">
				                              		<option value="">Tất cả</option>
				                              		{foreach item=keywords from=$KeywordList}
				                              		<option value="{$keywords.keyword_id}" {if $keywords.keyword_id == $price } selected {/if}>{$keywords.keyword_alias}</option>
				                              		{/foreach}
				                          		</select>
				                          	</td>
				                        </tr>
                      					</table>
				                      	<table width="86%" height="40" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td align="left">
				                          	<div class="bnt_timkiem"><a onclick="document.frmsearch.submit();"></a></div>
				                          	</td>
				                          	<td>&nbsp;</td>
				                        </tr>
				                      	</table>
									</td>
								</tr>
			                  	<tr>
			                    	<td height="10" background="frontend/images/c2_search.jpg"></td>
			                  	</tr>
                				</table>
                				</form>
                				{else}
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                        <td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">DANH MỤC TIN {if $province ne ''}TỪ "{$ProvinceDetail.province_name}"{/if}</td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding: 5px;">
												<script language="javascript">
												{literal}
													function showHideItem(itemId){
														var object = document.getElementById(itemId);
														var displayStyle = object.style.display==""?"none":(object.style.display=="block"?"none":"block");
														object.style.display=displayStyle;
													}
												{/literal}
												</script>
												<link href="frontend/styles/TreeStyles.css" rel="stylesheet" type="text/css" />
												<div style="width:230px; float: left; margin-top:10px; margin-left:15px; display:inline;"><!--<ul id="treemenu2" class="treeview">-->
						                        	{foreach item=items from=$AllGroupCategory}<!--GroupCategory-->
						                            	<div class="linemenu">
															<span class="text1" style="padding-top:4px;">
																<span style="cursor:pointer !important;" onClick="showHideItem({$items.category_id});">
																	<img src="frontend/images/icon.gif" />&nbsp;&nbsp;
																	{if $items.category_id eq $cateid}<b> {/if} {$items.category_name}&nbsp;
																	<!--({if $items.count > 0}{$items.count}{else}0{/if})-->
																	({if $GroupCategory[$items.category_id].count > 0}{$GroupCategory[$items.category_id].count}{else}0{/if})
																	{if $items.category_id eq $cateid}</b> {/if}
																	<br />
																</span>

																<span id="{$items.category_id}" {if $items.category_id neq $cateid} style="display:none;" {/if}>
																	<table border='0' style="padding-left:5;">
																	{foreach item=child from=$childGroupCategory}
								                            			{if $child.category_id eq $items.category_id}
																			<tr>
																				<td align='left'>
																					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="frontend/images/icon2.gif" />
																					<a href="?hdl=list&cateid={$items.category_id}&province={$ProvinceDetail.province_id}&child={$child.child_id}" style="color: #4E94D0; font-weight: bold;">
																						{$child.child_name}
																						({if $child.childCount > 0}{$child.childCount}{else}0{/if})
																					</a>
								                            					</td>
								                            				</tr>
																		{/if}
																	{/foreach}
																	</table>
																</span>
															</span>
															<!--<hr size="1" style="float:left;"/>-->
														</div>
						                            {/foreach}
						                     	</div>

			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                      	<tr>
					                        <td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                        <td width="100%"></td>
					                        <td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                      	</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                			</table>
                				{/if}
                			</td>
						</tr>
						<!-- End search area -->

						
		              	{if $hdl == 'interior'}
		              	<!-- Begin mau noi that -->
	              		<tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
			                        	<tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                         	<td width="100%" align="left" class="text_red">Danh mục mẫu nội thất</td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding: 5px;">
					                        	{foreach item=items from=$catInteriorList}
					                        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
						                        <tr><td colspan="4" height="10px;"></td></tr>
						                        <tr>
						                            <td align="center" height="20" width="20" style="background: #99DDFF; border: #C0C9E2 1px solid; color: #4E94D0; font-weight: bold;">+</td>
						                            <td width="5"></td>
						                            <td align="left" height="20" style="background: #FFFFFF; border: #C0C9E2 1px solid; padding-left: 10px;">
						                            	<a href="?hdl=interior&cat_interior_id={$items.category_id}" style="color: #4E94D0; font-weight: bold;">{$items.category_name}</a>
						                            </td>
						                        </tr>
						                        </table>
						                        {/foreach}
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                    				</table>
				                    </td>
				               </tr>
				               </table>
							</td>
	              		</tr>
						<!-- End mau noi that -->
						{/if}
						<!-- Begin support area -->
						
						<!-- End support area -->
						
	              		<tr>
	                		<td height="5"></td>
	              		</tr>
						<tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                        <td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">HỖ TRỢ TRỰC TUYẾN </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD">
					                        	{foreach item=supports from=$SupportList}
					                        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
						                        <tr>
						                            <td height="10" align="center"></td>
						                        </tr>
						                        <tr>
						                            <td align="center">
						                            {if $supports.support_genre eq 0}
						                            	<a href="ymsgr:sendim?{$supports.support_account}&m=Hello !"><img src="http://opi.yahoo.com/online?u={$supports.support_account}&amp;m=g&amp;t=2&amp;l=us" width="125" height="25" border="0" /></a>
						                            {else}
						                            	<a href="skype:{$supports.support_account}?chat"><img src="http://mystatus.skype.com/bigclassic/{$supports.support_account}" width="125" height="25" border="0" /></a>
						                            {/if}
						                            </td>
						                        </tr>
						                        <tr>
						                            <td height="20" align="center">
						                            {if $supports.support_genre eq 0}
						                            	<a href="ymsgr:sendim?{$supports.support_account}&m=Hello !" class="text_blue">{$supports.support_title}</a>
						                            {else}
						                            	<a href="skype:{$supports.support_account}?chat" class="text_blue">{$supports.support_title}</a>
						                            {/if}
						                            </td>
						                        </tr>
						                        </table>
						                        {/foreach}
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                      	<tr>
					                        <td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                        <td width="100%"></td>
					                        <td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                      	</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                			</table>
	                		</td>
	              		</tr>

	              		<tr>
	                		<td height="5"></td>
	              		</tr>
	              		<!-- ////////////////////////////////////////////////////////////// -->
						<!-- Begin support area -->
						<tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                        <td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">CẦN BÁN GẤP {if $province neq ""}KHÁC{/if}</td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
			                    		</table>
			                    	</td>
			                  	</tr>
			                  	
	                  			<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding: 5px;">
					                        <marquee direction="up" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="2">
					                        	{foreach item=items from=$EstateHot}
					                        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
						                        <tr><td colspan="4" height="10px;"></td></tr>
						                        <tr>
						                            <td align="left" height="20" style="background: #FFFFFF;padding-left:0px;">
						                            <a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue" style="text-transform:none;font-size:12px;">
						                           	<span style="color:red;">+</span> {$items.estate_title}&nbsp;<span style="color:red;">{$items.estate_price}</span><span style="color:red;text-transform:uppercase">&nbsp;VND</span>
						                           	</a>
						                            </td>
						                        </tr>
						                        </table>
						                        {/foreach}
						                     </marquee>   
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                      				
	                      				 <tr>
			                              	<td background="frontend/images/c4.jpg"></td>
			                              	<td align="right" valign="top" bgcolor="#F5F9FD">
			                              		<a href="?hdl=estatehot"><img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" /></a>
			                              	</td>
			                              	<td background="frontend/images/c5.jpg"></td>
			                            </tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                      	<tr>
					                        <td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                        <td width="100%"></td>
					                        <td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                      	</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                			</table>
	                		</td>
	              		</tr>
	              		<!-- ///////////////////////////////////////////////////// -->
						<!-- Begin Project News -->
	              		<tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
			                        	<tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                         	<td width="100%" align="left" class="text_red">DỰ ÁN NHÀ ĐẤT</td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                        			<tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="98%" height="110" border="0" cellpadding="0" cellspacing="0">
						                            {foreach from=$NewsProject item=prj}
						                            <tr>
						                              	<td>
						                              		<table width="100%" border="0" cellpadding="0" cellspacing="0">
						                                	<tr>
						                                  		<td height="25" align="left" style="padding-top: 5px;">
						                                  			<a href="?hdl=inform&cateid=0&informid={$prj.inform_id}" class="text_blue">
						                                  				<strong> {$prj.inform_name}</strong>
						                                  			</a>
						                                  		</td>
						                                	</tr>
						                                	<tr>
						                                  		<td align="left" style="padding-top: 5px;">
						                                  			<img src="{#IMG_INFORM_DIR#}thumb_{$prj.inform_image}" width="100" align="right" class="border_img" hspace="2"/>
						                                  			{$prj.inform_title}
						                                  		</td>
						                                	</tr>
						                              		</table>
						                              	</td>
						                            </tr>
						                            {/foreach}
						                            <tr>
						                              	<td colspan="3" align="right" style="padding-top: 5px;">
						                              		<a href="?hdl=inform&cateid={$prj.category_id}"><img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" />
						                              		</a>
						                              	</td>
						                            </tr>
					                          	</table>
											</td>
											<td width="4" background="frontend/images/c5.jpg"></td>
										</tr>
	                    				</table>
	                    			</td>
								</tr>
				                <tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
				                    	</table>
				                    </td>
				               </tr>
				               </table>
							</td>
	              		</tr>
	              	<!-- End Project News -->
						
	              		<tr>
			                <td height="5"></td>
			            </tr>
						
			            <tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                    <tr>
			                       	<td>
			                       		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
			                            <tr>
			                              	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
			                              	<td width="100%" align="left" class="text_red">
			                              		<table border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td><span style="font-size:10px;">DOANH NGHIỆP NHÀ ÐẤT</span></td>
					                				<td align="left">
					                					<span style="font-size:10px;">
					                						- <font color="#FF0000">{if $province ne ''}{$ProvinceDetail.province_name}{else}Toàn Quốc{/if}</font>
					                					</span>
					                				</td>
				                              	</tr>
				                              	</table>
			                              	</td>
			                              	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                            </tr>
			                       		</table>
			                    	</td>
								</tr>
				                <tr>
	                      			<td>
			                      		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                            <tr>
			                              	<td width="3" background="frontend/images/c4.jpg"></td>
			                              	<td align="center" valign="top" bgcolor="#F5F9FD" style="padding-top: 5px;">
			                              		<table width="98%" border="0" cellpadding="0" cellspacing="0">
			                              		{foreach item=companies from=$CompanyList}
				                                <tr>
				                                  	<td>
				                                  		<a href="?hdl=company&companyid={$companies.company_id}">
				                                  		<img src="{#IMG_COMPANY_DIR#}{$companies.company_logo}" width="61"class="border_img" />
				                                  		</a>
				                                  	</td>
				                                  	<td width="5"></td>
				                                  	<td align="left"><a href="?hdl=company&companyid={$companies.company_id}">{$companies.company_name}</a></td>
				                                </tr>
				                                <tr><td colspan="3" height="5px;"></td></tr>
				                                {/foreach}
			                              		</table>
		                              		</td>
		                            		<td width="4" background="frontend/images/c5.jpg"></td>
		                          		</tr>
			                            <tr>
			                              	<td background="frontend/images/c4.jpg"></td>
			                              	<td align="right" valign="top" bgcolor="#F5F9FD">
			                              		<a href="?hdl=company&province={$province}"><img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" /></a>
			                              	</td>
			                              	<td background="frontend/images/c5.jpg"></td>
			                            </tr>
			                      		</table>
		                      		</td>
		                    	</tr>
	                    		<tr>
		                    	    <td>
			                        	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
			                            <tr>
			                              	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
			                              	<td width="100%"></td>
			                              	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
			                            </tr>
			                        	</table>
		                        	</td>
		                    	</tr>
		                   		</table></td>
	              		</tr>
	              		<!-- Begin promote area {$items.promote_website} -->
			            <tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                	{foreach item=items from=$Position3}
				                  	<tr>
				                    	<td align="center" style="padding-bottom: 2px;">
				                    		<a href="{$items.promote_website}" target="_blank">
				                    		<!--<a href="{$smarty.const.URL_FRONTEND}index.php?hdl=promote&promoteid={$items.promote_id}" target="_blank">-->
				                    		<img src="{#IMG_PROMOTE_DIR#}{$items.promote_banner}" width="259" class="border_img" />
				                    		</a>
				                    	</td>
				                  	</tr>
				                  	{/foreach}
	                			</table>
	                		</td>
	              		</tr>
              			<!-- End promote  -->
	              		
              			</table>
