<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class="style2"><? if ($act=='add') echo "Thêm mới"; else echo "Cập nhật";?></td>	
	</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="0" align="center" class="border">	
	<form name="frmadmin" action="?do=roomimg&act=<? if ($act=='add') echo "addsm"; else echo "editsm";?>&cid=<?=$cat['id']?>" method="post" enctype="multipart/form-data">
	<tr>
		<td align="right"><strong>Tiêu đề (Việt) :</strong></td>
		<td><input type="text" name="title_vn" value="<?=stripslashes($roomimg["title_vn"])?>" maxlength="255" size=90></td>
	</tr>
	<tr>
		<td align="right"><strong>Tiêu đề (Anh) :</strong></td>
		<td><input type="text" name="title_en" value="<?=stripslashes($roomimg["title_en"])?>" maxlength="255" size=90></td>
	</tr>
  <tr>
		<td align="right"><strong>Tiêu đề (Nga) :</strong></td>
		<td><input type="text" name="title_ru" value="<?=stripslashes($roomimg["title_ru"])?>" maxlength="255" size=90></td>
	</tr>
	<!--<tr>
		<td align="right"><strong></strong></td>
		<td><input type="checkbox" name="special" value="1" <? if ($roomimg["special"]) echo "checked";?>> <img src="images/hot.gif" align="absmiddle" /> &nbsp;&nbsp;&nbsp; <input type="checkbox" name="new" value="1" <? if ($roomimg["new"]) echo "checked";?>> <img src="images/new.gif" align="absmiddle" /></td>
	</tr>-->
	<tr>
		<td align="right"><strong>Hình :</strong><br />(640 x 428 px)</td>
		<td>
			<? if ($roomimg['img']) { ?>
			<img src="upload/roomimg/<?=$roomimg['img']?>" width="160" class="imgbor">
			<br /><input name="noimage" type="checkbox" value="1"> Xóa hình này<br />
			<? } ?>
			<input type="file" name="img" size="70" />
		</td>
	</tr>	
	<!--<? include("./ADMeditor/fckeditor.php");?>
	<tr>
		<td align="right"><strong>Mô tả (Việt) :</strong></td>
		<td>
			<?				
			$oFCKeditor = new FCKeditor('desc_vn');	
			$oFCKeditor->Height	= 200;			
			$oFCKeditor->Value	= stripslashes($roomimg["desc_vn"]);
			$oFCKeditor->Create() ;	
			?>
		</td>
	</tr>
	<tr>
		<td align="right"><strong>Mô tả (Anh) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('desc_en');
			$oFCKeditor->Height	= 200;
			$oFCKeditor->Value	= stripslashes($roomimg["desc_en"]);						
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>
  <tr>
		<td align="right"><strong>Mô tả (Nga) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('desc_ru');
			$oFCKeditor->Height	= 200;
			$oFCKeditor->Value	= stripslashes($roomimg["desc_ru"]);						
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>
	<tr>
		<td align="right"><strong>Chi tiết (Việt) :</strong></td>
		<td>
			<?				
			$oFCKeditor = new FCKeditor('content_vn');
			$oFCKeditor->Value	= stripslashes($roomimg["content_vn"]);
			$oFCKeditor->Create() ;
			?>
		</td>
	</tr>
	<tr>
		<td align="right"><strong>Chi tiết (Anh) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_en');
			$oFCKeditor->Value	= stripslashes($roomimg["content_en"]);
			$oFCKeditor->Create() ;
		?>
		</td>
	</tr>
  <tr>
		<td align="right"><strong>Chi tiết (Nga) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_ru');
			$oFCKeditor->Value	= stripslashes($roomimg["content_ru"]);
			$oFCKeditor->Create() ;
		?>
		</td>
	</tr>-->
	<tr>
		<td colspan="2" align="center">
		<input type="hidden" name="id" value="<?=$roomimg['id']?>">
		<input type="hidden" name="do" value="roomimg">
		<input type="hidden" name="page" value="<?=$page?>">
		<input type="submit" value=" Lưu " class="button">
		</td>
	</tr>
	</form>
</table>