<div align="center" style="padding-bottom:10px;">
<form name="frmsearch" action="" method="get" style="margin:0px;">
	<input type="hidden" name="do" value="roomimg" />
	<input type="hidden" name="cid" value="<?=$cat['id']?>" />
	<b>Tìm hình : </b>	
	<input type="text" name="key" value="<?=$_GET['key']?>" size="30">		
	<input type="submit" value="Tìm" class="button" style="width:65px;">
</form>
</div>

<form name="frmdel" action="?do=roomimg&act=delselect&cid=<?=$cat['id']?>&page=<?=$page?>" method="post" style="margin:0px;">
<table align="center" width="100%" border="1" cellpadding="4" cellspacing="0" class="border1">    
	<tr>
		<th class="style2" width="10">
		<input type="checkbox" name="checkall" id="checkall" title="Select or deselect all items" onClick="checkAll(this)" value="checkall">
		</th>
		<th class="style2">Hình</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="80">Hành động</th>
	</tr>
<? 
if ($roomimg) {
for ($i=0;$i<count($roomimg);$i++) {
?> 
  <tr>
		<td align="center"><input type="checkbox" name="checkid[]" onClick="checkboxClicked(this.form)" value="<?=$roomimg[$i]['id']?>" /></td>
		<td style="line-height:17px;">
			<? if ($roomimg[$i]['img']) { ?>
			<a href="?do=roomimg&act=edit&cid=<?=$cat['id']?>&id=<?=$roomimg[$i]['id']?>&page=<?=$page?>"><img src="upload/roomimg/<?=$roomimg[$i]['img']?>" width="100" border="0" align="left" vspace="3" style="margin-right:8px;" class="imgbor"></a>
			<? } ?>		
			<a href="?do=roomimg&act=edit&cid=<?=$cat['id']?>&id=<?=$roomimg[$i]['id']?>&page=<?=$page?>"><b><?=stripslashes($roomimg[$i]["title_vn"])?></b></a><? if ($roomimg[$i]["special"]) echo ' <img src="images/hot.gif" border="0" align="absmiddle">';?><? if ($roomimg[$i]["new"]) echo ' <img src="images/new.gif" border="0" align="absmiddle">';?>
			<!--<br /><?=stripslashes($roomimg[$i]["desc_vn"])?>-->
		</td>
		<td align="center">
		<? if ($i>0) { ?>
			<a href="?do=roomimg&act=move&cid=<?=$cat['id']?>&id1=<?=$roomimg[$i]['id']?>&pos1=<?=$roomimg[$i-1]['order']?>&id2=<?=$roomimg[$i-1]['id']?>&pos2=<?=$roomimg[$i]['order']?>&page=<?=$page?>"><img src="images/up.gif" border="0"/></a>
		<? } ?>
		</td>
		<td align="center">
		<? if ($i<count($roomimg)-1) { ?>
			<a href="?do=roomimg&act=move&cid=<?=$cat['id']?>&id1=<?=$roomimg[$i]['id']?>&pos1=<?=$roomimg[$i+1]['order']?>&id2=<?=$roomimg[$i+1]['id']?>&pos2=<?=$roomimg[$i]['order']?>&page=<?=$page?>"><img src="images/down.gif" border="0"/></a>
		<? } ?>
		</td>		
		<td align="center">
			<a href="?do=roomimg&act=edit&cid=<?=$cat['id']?>&id=<?=$roomimg[$i]['id']?>&page=<?=$page?>" class="link_admin">Cập nhật</a> | <a href="?do=roomimg&act=del&cid=<?=$cat['id']?>&id=<?=$roomimg[$i]['id']?>&page=<?=$page?>" onClick="return check();" class="link_admin">Xóa</a>
		</td>
  </tr>
<? } } ?>
	<tr>
		<td colspan="5"><input type="submit" value="Xóa các hình được chọn" class="button" onClick="return check();" style="width:200px;"/></td>
 	</tr>
<? if ($plpage) { ?>
	<tr>
		<td colspan="5" align="center"><?=$plpage?></td>
	</tr>
<? } ?>
</table>
</form>