body{
	margin: 0px;
	background-color:#FFFFFF;
	color:#595959;
	font-family:arial;
}
td{font-family:Arial,Verdana;font-size:9pt;}
	table{border-collapse:collapse;border-width:0;}
	img{border:0;}
	.hide{display:none;}
	a{text-decoration:none;color:#0086FF;}
	a:hover{text-decoration:none; color:#FF0000;
}

.button_new{
	FONT-SIZE: 12px; 
	FONT-FAMILY: Arial, Tahoma, Verdana;
	color:#000;
	font-weight: normal;
	border: 0px;
	background-image:url(../images/button2.jpg);
	width:80px;
	height:20px;
}
.button_edit{
	FONT-SIZE: 12px; 
	FONT-FAMILY: Arial, Tahoma, Verdana;
	color:#000;
	font-weight: normal;
	border: 0px;
	background-image:url(../images/button1.jpg);
	width:60px;
	height:20px;
}
.NameLogin
{
	FONT-FAMILY: Arial,Helvetica,sans-serif;
	FONT-SIZE: 9pt; 
	PADDING-RIGHT: 0px; 
	COLOR: #FF0000 ; 
	TEXT-DECORATION: none;
	font-weight: bold;
}
.Logout
{
	FONT-FAMILY: Arial,Helvetica,sans-serif;
	FONT-SIZE: 8pt; 
	PADDING-RIGHT: 0px; 
	COLOR: #1C8AF1 ; 
	TEXT-DECORATION: none;
	font-weight: bold;
}
.TextSearch
{
	FONT-FAMILY: Arial,Helvetica,sans-serif;
	FONT-SIZE: 9pt; 
	PADDING-RIGHT: 0px; 
	COLOR: #FFFFFF ; 
	TEXT-DECORATION: none;
	font-weight: bold;

}
.TextTitle
{
	FONT-FAMILY: Arial,Helvetica,sans-serif;
	FONT-SIZE: 11pt; 
	PADDING-RIGHT: 0px; 
	COLOR: #3F82BF ; 
	TEXT-DECORATION: none;
	font-weight: bold;
}
.inputfield {
			BORDER: #808080 1px solid; 
			FONT-FAMILY: Arial,Verdana,Helvetica,sans-serif;
			FONT-WEIGHT: normal; 
			FONT-SIZE: 9pt; 
			COLOR: #2E6AF1; 
			FONT-FAMILY: arial; 
			BACKGROUND-COLOR: #FFFFFF
}
.textdetail{
			FONT-FAMILY: Arial,Verdana,Helvetica,sans-serif;
			FONT-WEIGHT: normal; 
			FONT-SIZE: 9pt; 
			COLOR: #5C6AF4; 
			FONT-FAMILY: arial; 
}
.error
{
	FONT-FAMILY: Arial,Helvetica,sans-serif;
	FONT-SIZE: 8pt; 
	COLOR: #FF0000 ;
	TEXT-DECORATION: none;
	font-weight: bold;
	padding:5px;
	border-top: #CAD5DB 2px solid;
	border-bottom: #CAD5DB 1px solid;
	border-left: #CAD5DB 1px solid;
}
.stdHeader {
	BACKGROUND: #DDE0EC; 
	COLOR: #004BAD;
	FONT-FAMILY: Arial,Helvetica,sans-serif;
	FONT-SIZE: 12pt; 
	PADDING-RIGHT: 0px; 
	TEXT-DECORATION: none;
	font-weight: bold;
}
.stdHeader TD {
	BORDER-left: #DFE3EE 1px solid; 
}

.record TD {
	BORDER-TOP: #DFE3EE 1px solid; BORDER-LEFT: #DFE3EE 1px solid;
}
.record TD TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.evenRecord {
	BACKGROUND: #F8F8F8;
	BORDER-RIGHT: #E8E8E8 1px solid;
}
.evenRecord TD {
	BORDER-TOP: #DFE3EE 1px solid; BORDER-LEFT: #DFE3EE 1px solid; BORDER-bottom: #DFE3EE 1px solid
}
.tdregisttext{
	background:#F8F8F8;
	border-right:#CAD5DB 1px solid;
	border-left: #CAD5DB 1px solid;
	border-bottom: #CAD5DB 1px solid;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
}
.tdregist{
	border-right:#CAD5DB 1px solid;
	border-left: #CAD5DB 1px solid;
	border-bottom: #CAD5DB 1px solid;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}
.input_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	border: #E2E2E2 1px solid;
	height: 15px;
	width:400px;
}
.dropdown{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: #E2E2E2 1px solid;
	height: 20px;
	font-weight: normal;
}
.textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	border: #E2E2E2 1px solid;
	height: 100px;
	width:400px;
}
.imagebutton{
	border: #E2E2E2 1px solid;
}
.imageedit{
}
img.button {
	color : #808080;
	text-decoration : none;
	display: block;
	width: 15px;
	height: 15px;
	padding: 2px 2px 2px 2px;
}
img.button:hover {
	color : #C64934;
	cursor: pointer;
	border: 1px solid #DDD;
	width: 13px;
	height: 13px;
	padding: 2px 2px 2px 2px;
}

.pageLink {
	background: #E5EBF7; 
	border: #C0C9E2 1px solid; 
	padding-left: 5px; 
	padding-right: 5px;
}