@charset "utf-8";

a:link, a:active, a:visited {
color: #0565B2;
text-decoration: none;
}
a:hover, a:focus {
color: #009cf0;
}

body {
background-color: #e9e9e9;
color: #606060;
font: 12px Arial;
margin: 0;
margin: auto;
max-width: 600px;
}

form {}

form, input, textarea, select {font: 12px Arial;margin: 0;}

h3 {margin: 0;padding: 0 0 2px 0;}

hr {border: 0;border-top: 1px solid #d5d5d5;margin-top: 4px;margin-bottom: 4px}

input, textarea, select {background: #fff;border: 1px solid #d8d8d8;color: #686868;padding: 1px;margin: 1px;}

input[type="file"] {margin: 2px 0;}

input[type="submit"] {background: url(images/input.gif) repeat-x bottom #fefefe;padding: 3px 8px;}

p {
margin: 1px;
}

textarea {
width: 99%;
max-width: 691px;
}

ul {
margin: 0;
padding-left: 20px;
}

.alarm {
background: #E61313;
margin: 0 0 2px 0;
color: #fff;
font-weight: bold;
padding: 3px 0px 3px 4px;
}

.auth {
background:#f8f8f8;
border:1px solid #d2d2d2;
padding:4px;
}

.auth input {
border:1px solid #d4d4d4;
color:#6d6d6d;
margin:0;
padding:1px;
}

.auth input[type=submit]:hover {
background:#b3b3b3;
border:1px solid #999;
padding:1px;
}

.auth a {
font-size:10px;
text-decoration:underline;
}

.auth a:hover {
color:#F60;
}
.auth input.exit,.whiteinput[type=submit] {
background:#eee;
border:1px solid #bbb;
color:#777;
padding:1px;
}
.nutan {
font:11px Tahoma;
border:1px solid #bcbcbc;
background:#fff;
color:#686868;
padding:1px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

.auth input.exit:hover {
background:#ffd9d9;
border:1px solid #e1abab;
color:#a76666;
}

.auth input.name {
background:url(images/input_name.gif) no-repeat right center #fff;
padding-right:17px;
}

.auth input.pass {
background:url(images/input_pass.gif) no-repeat right center #fff;
padding-right:17px;
}

.bblist {
color: #4A5663;
background: transparent url(images/dot.gif) no-repeat left;
padding: 2px 0px 2px 10px;
}

.bmenu a, .phdr a {
color: #fff;
}

.bmenu {
background: url(images/bmenu.gif) repeat-x top left #a7a7a7;
margin: 0px;
color: #fff;
padding: 2px 4px 4px 4px;
}

.copy {
border-top: 1px solid #c2c2c2;
text-align: center;
color: #3f5864;
padding: 3px 1px 1px 1px;
margin: 1px 0;
}

.copy a {
color: #2688B3;
}

.end {
text-align: center;
}

.fmenu {
color: #989898;
padding-left: 4px;
padding-bottom: 2px;
}

.fmenu a {
color: #64819B;
}

/*
.footer {
background-color: #425769;
border-top: 1px solid #324555;
border-bottom: 1px solid grey;
color: #ffffff;
margin: 0px 0;
padding: 4px 4px 4px 4px;
}

.footer a {
color: #333333;
}
*/

.func {
border-left: 4px solid #2FB0D0;
color: #757575;
font-size: 10px;
padding: 0 0 0 4px;
}
.gres {
background-image: url(images/grs.png);
background-color: whitesmoke;
color: #6d8da3;
padding: 2px 4px 2px 4px;
margin: 0px 0px 0px 0px;
}

.gmenu {
background: #ebf9ff;
margin: 1px;
color: #264564;
padding: 3px 4px 3px 4px;
}

.gray {
color: gray;
}

.green {
color: green;
}

.hdr {
background-color: #f1f1f1;
border-bottom: 1px solid #595959;
font-weight: bold;
padding-left: 2px;
}

.header, .footer {
font-size: 12px;
color: #fff;
margin: 1px;
padding: 2px;
border: 1px solid #0454cc;
background: #0768f9;
}

.header a, .footer a {
color: #fff;
}

.left {
float: left;
}

.list1 {
background: #ffffff;
border-bottom: 1px solid #d5d5d5;
margin: 1px;
padding: 2px 4px 2px 4px;
}

.list2 {
background: #ffffff;
border-bottom: 1px solid #d5d5d5;
margin: 1px;
padding: 2px 4px 2px 4px;
}

.logo {
background: #3a3a3a;
padding: 4px 0 2px 0;
color: #fff;
}

.logo a {
color:#ffffff;
}

.maintxt {
border: 0px solid #e1e1e1;
background: #ffffff;
color: #606060;
margin: 0px;
padding: 4px;
}

.image {
border: 1px solid #cecece;
width: 60px;
max-height: 45px;
padding: 1px 1px 1px 1px;
}

.menu {
background: #ffffff;
border-bottom: 1px solid #d5d5d5;
margin: 1px;
padding: 2px;
}

.menub {
background: #ffffff;
border-bottom: 1px solid #e9e9e9;
margin: 2px 4px -1px 4px;
padding: 3px 2px 2px 2px;
}

.menub a {
color: #544E4F;
}

.menub a:hover {
color: #007ed2;
text-decoration: none;
}
.none {
background-color: #ffffff;
border-top: 1px solid #E1E1E1;
margin: 0px 0px 0px 0px;
padding: 4px;
}

.news {
background-color: #EEEEEE;
border: 1px solid white;
color: #333333;
font-size: x-small;
padding: 3px 4px 4px 4px;
}
.newsx {
background-color: #f2f6f8;
border-bottom: 1px solid #eaeae9;
color: #34617e;
padding: 3px 4px 3px 4px;
margin: 0 0 0 0;
}

.orangex {
color: #333333;
border: 1px solid #7997aa;
background-color: #d4e3ed;
margin: 4px 0px 0px 0px;
padding: 2px 4px 2px 4px;
}
.omenu {
color: #333333;
border: 1px solid #e6b868;
background-color: #fff5bc;
margin: 4px 0px 0px 0px;
padding: 2px 4px 2px 4px;
}

.pagex {
background-color: #d7d8da;
border: 1px solid #cecece;
margin: 4px 0px 0px 0px;
padding: 1px 4px 1px 4px;
}

.phdr {
background-color: #08A8E8;
color: #ffffff;
border-bottom: 2px solid #2060E0;
padding: 4px 5px 3px 5px;
margin: -1px -1px 0px -1px;
}
.phdrblack {
background-image: url(images/pdrb.png);
background-color: #00CCFF;
color: #ffffff;
border: 1px solid #0066FF;
padding: 2px 4px 2px 4px;
margin: -1px -1px 0px -1px;
}
.phdrblack a {color:#009900; text-decoration:none;}
.phpcode {background-color:#E0E6E9;color:#000000;font-size:0.9em;font-family:tahoma,verdana, geneva, lucida, arial, helvetica, sans-serif;margin:0px;padding:2px;border:1px inset;max-width:96%;text-align:left;overflow:auto;}
.code {max-width:89%;background-color:#f3f6fb;border:1px inset #c3d3dc;text-align:left;color:#111111;padding:3px;}
.quote {
font-size: 10px;
background-color: #f2f6f8;
border-top: 1px solid #e0e0e0;
border-right: 1px solid #e0e0e0;
border-bottom:1px solid #e0e0e0;
border-left: 3px solid #80abc8;
margin: 2px 2px 2px 2px;
color: grey;
padding: 2px 4px 2px 4px;
}

.red, .red a {
color: #f00;
}

.reply {
border-left: 4px solid red;
color: #f00;
padding: 2px 0px 2px 4px;
}

.rmenu {
background: #fee5fd;
border: 1px solid #ffc6fc;
margin: 1px 0;
padding: 4px;
}

.rmenu input, .rmenu textarea, .rmenu select {
border: 1px solid #E2C0C7;
}

.sitemap {
background-color: #f0f0f0;
margin: 0px;
padding: 2px 4px 3px 4px;
font-size: xx-small;
height: 38px;
overflow: auto;
}

.status {
color: #CD853F;
}

.sub {
border-top: 1px dotted #417394;
font-size: x-small;
margin: 3px 2px 2px 2px;
padding: 3px 0px 0px 0px;
}

.tmn {
background: #c0efff repeat top left;
border-top: 1px solid #01aeea;
border-bottom: 1px solid #01aeea;
color: #333;
margin: 0px;
padding: 4px;
}

.fmenu a {
color: #f8f8f8;
text-decoration:none;
}

.topmenu {
background: #c0efff url(images/fmenu.png) repeat-x 100%;
border: 1px solid white;
font-size: x-small;
margin: 0px;
padding: 4px 4px 4px 4px;
}

.user {
background-color: #E2EBF1;
border: 1px solid white;
margin: 0px;
padding: 3px 4px 3px 4px;
}

.bmenu a:hover, .phdr a:hover {
color: #ebebeb;
text-decoration: none;
}

.rmenu input:focus, .rmenu textarea:focus {
border: 1px solid #DBB0B9;
background: #FDFBFB;
}

.sbox {
background-color: whitesmoke;
border: none;
margin: 0px 0px 0px 0px;
padding: 2px 4px 2px 3px;
}

.textshout {
background: #ffffff;
color: #333333;
font-color: #333333;
margin: 0px 4px 0px 4px;
padding-bottom: 1px;
}

.textshout a {
color: #ff8c00; }

.tmn a:hover, .fmenu a:hover {
color:#666666;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

input:focus, textarea:focus {
background: #F4F4F4;
border: 1px solid #BCBCBC;
}

.currentpage {
color:#FFFFFF;
background-color: #8cafc6;
border: 1px solid #417394;
padding: 0px 5px 0px 5px;
}

a.pagenav {
border: 1px solid #417394;
background-color: #f2f6f8;
padding: 0px 3px 0px 3px;
text-decoration: none;
}

a.pagenav:hover {
background-color: #f2f6f8;
border: 1px solid #417394;
}
.mainblok {
border: 1px solid #cecece;
margin: 5px 0px 0px 0px;
}
.mainblok img {max-width: 100%; height: auto;}

.textx {
background-color: #ffffff;
border-bottom: 1px solid #ededed;
color: #333333;
padding: 2px 2px 4px 2px;
margin: 2px 4px 2px 4px;
}
.forumtxt {
background-color: #ffffff;
color: #333333;
padding: 2px 2px 4px 2px;
margin: 2px 4px 2px 4px;
}

.forumb {
background-color: #e9e9e9;
border: none;
margin: 0px 0px 0px 0px;
padding: 2px 5px 1px 4px;
}
.forumb a:link {
color: #424242;
text-decoration:none;
}
.forumadm {
background-color: #ffecec;
border: none;
margin: 0px 0px 0px 0px;
padding: 2px 5px 1px 4px;
}
.forumadm a:link {
color: #424242;
text-decoration:none;
}
.forum_del {
background-color: #ffecec;
border-bottom: 1px solid #FFC4C4;
color: #AE4444;
padding: 3px 4px 3px 4px;
margin: 0 0 0 0;
}
.forum_del a {
color: #AE4444;
text-decoration:none;
}
.forum_del_txt {
background-color: #ffecec;
border-bottom: 1px solid #FFC4C4;
color: #AE4444;
padding: 2px 2px 4px 2px;
margin: 2px 4px 2px 4px;
}

.nonex {
background-color: #ffffff;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px 4px 0px 4px;
}

.nonex img {max-height: 22px; width: auto;}
.spoiler {
background: #f5f5f5;
border: 1px solid #417394;
}

.spoiler_cabecera {
border-bottom: 1px solid #417394;
margin: 0;
margin-bottom: 2px;
background: #8baec6;
padding: 4px 5px;
}

.spoiler_contenido {
padding: 5px;
height: auto;
display: block;
background: #f5f5f5;
}
.smallfont
{
font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.alt2, .alt2Active
{
background: #FDFDFE;
color: #000000;
}

.bbcode_container {
margin:7px;
margin-right: 5px;
margin-top:5px;
display:block;
}

.bbcode_container div.bbcode_quote {
margin:0 10px;
margin-right: 5px;
margin-bottom: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: #f2f6f8 none   ;
border-radius: 5px;
border: 1px solid #417394;
font: normal 13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
position: relative;
top: 0;
}

.bbcode_quote div.quote_container {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 5px 10px 5px 10px;
}

.bbcode_container .bbcode_quote_container {
background: transparent url(images/quote-left.png) no-repeat  left;
display:block;
width: 9px;
height: 13px;
position: absolute;
top: 5;
left: -9px;
}
.boxed{border: 1px solid #ccc; padding: 2px;}
div#energysaving, div#energysaving * {
-moz-border-radius: 0;
-webkit-border-radius: 0;
border: 0;
background-color: #000000;
}

div#energysaving {
margin: 0;
padding: 0;
position: absolute;
left: 50%;
top: 50%;
opacity: 0;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
text-align: center;
z-index: 100;
}

@media screen {
body>div#energysaving {
position: fixed;
}
}
div#energysaving p {
margin: 0;
padding: 0;
width: 100%;
font-size: 18px;
font-family: arial;
color: #333333;
position: relative;
top: 40%;
line-height: 20px;
font-weight: bold;
text-align: center;
text-shadow: none;
}

div#energysaving p span {
color: #555555;
font-size: 12px;
font-weight: normal;
}

div#energysaving div#copyrightOnlineLeaf {
padding: 0;
margin: 0;
color: #333333;
font-size: 12px;
font-weight: normal;
position: absolute;
bottom: 20px;
text-align: center;
width: 100%;
height: 20px;
left: 0%;
}


#top_bar span {
    background-image: url(../images/home_sm.png);
    background-repeat: no-repeat;
    float: left;
    clear: both;
    padding-left: 20px;
}
#top_bar span.r {
    background-image: none;
    float: right;
    clear: right;
    margin-top: -5px;
}
#left_colm {
    width: auto;
    height: auto;
    float: left;
    padding: 20px;
    border-right: 1px dashed #c0c0c0;
	
}

#top_maincn span.id_intro {
    color: #f7941d;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 2px #fff;
}
#top_maincn span.logintro {
    color: #575757;
    position: absolute;
    left: 600px;
    z-index: 2;
    float: right;
    text-shadow: 1px 1px 1px #bbbbbb;
}
#bot_maincn {
    background-image: url(../images/bot_cnt.gif);
    background-repeat: no-repeat;
    position: relative;
    width: 902px;
    height: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}
#footer_cn {
    background-color: #009cf0;
    background-repeat: repeat-x;
    width: 100%;
    padding-top: 20px;
}
#footer_des {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}
#footer_des span {
    font-size: 11px;
    line-height: 18px;
}
.info_tit {
    color: #3e7aa5;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/li_1.gif);
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 10px;
    padding-left: 25px;
}
td.l {
    font-weight: bold;
    text-align: right;
    width: 150px;
    height: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.thumb {border:1px solid #dcdcdc;padding:1px; width:55px}
