body {
	background:url(../images/bg.gif);
	margin:5px 0px;
	padding:0px;
}

body,td,th,div,p {
	font-family:Arial;
	font-size:12px;
	color:#222222;
}

p {margin:0 0 7px 0; padding:0;}

input,textarea,select,button {font-family:Tahoma; font-size:12px; padding:1px;}

a:link {text-decoration:none; color:#045120; font-size:12px;}
a:visited {text-decoration:none; color:#045120; font-size:12px;}
a:hover {text-decoration:underline; color:#045120; font-size:12px;}

.link_page {color:#222222; font-size:11px; font-weight:bold;}
a.link_page:link {text-decoration:none; color:#045120; font-size:11px;}
a.link_page:visited {text-decoration:none; color:#045120; font-size:11px;}
a.link_page:hover {text-decoration:underline; color:#045120; font-size:11px;}

a.logout:link {text-decoration:none; color:#FFFFFF; font-size:12px; font-weight:bold; padding:5px 10px; background:#126531; display:block; line-height:16px;}
a.logout:visited {text-decoration:none; color:#FFFFFF; font-size:12px; font-weight:bold; padding:5px 10px; background:#126531; display:block; line-height:16px;}
a.logout:hover {text-decoration:none; color:#045120; font-size:12px; font-weight:bold; padding:5px 10px; background:#EBEBEB; display:block; line-height:16px;}

a.logout1:link {text-decoration:none; color:#045120; font-size:12px; font-weight:bold; padding:5px 10px; background:#EBEBEB; display:block; line-height:16px;}
a.logout1:visited {text-decoration:none; color:#045120; font-size:12px; font-weight:bold; padding:5px 10px; background:#EBEBEB; display:block; line-height:16px;}
a.logout1:hover {text-decoration:none; color:#045120; font-size:12px; font-weight:bold; padding:5px 10px; background:#EBEBEB; display:block; line-height:16px;}

a.link_admin:link {text-decoration:none; color:#8b1100; font-size:12px;}
a.link_admin:visited {text-decoration:none; color:#8b1100; font-size:12px;}
a.link_admin:hover {text-decoration:underline; color:#8b1100; font-size:12px;}

.black11 {color:#000000; font-size:11px;}
a.black11:link {text-decoration:none; color:#000000; font-size:11px;}
a.black11:visited {text-decoration:none; color:#000000; font-size:11px;}
a.black11:hover {text-decoration:none; color:#8b1100; font-size:11px;}

.title {color:#000000; font-size:12px; font-weight:bold; text-decoration:underline;}

.button {color:#ffffff; font-weight:bold; width:90px; padding:2px; background:#830300; cursor:pointer;}

.box {width:160px;}

.imgbor {padding:3px; border:1px solid #bdbdbd;}

.border {border:1px solid #b5b5b5; padding:0px 5px;}

.border1 {border:1px solid #b5b5b5; border-collapse:collapse;}

.style1 {	
	font-size:11px;
	padding:5px;
	background:#fdf9c8;
	line-height:15px;
	text-align:center;
}

.style2 {
	color:#FFFFFF; font-size:12px; font-weight:bold;
	height:24px;
	padding:0px 5px;
	background:#830300;
	border:1px solid #9f1111;
}

.line_space {height:2px;}

.style3 {
	color:#045120; font-size:13px; font-weight:bold;
	padding-bottom:1px;
}

.style4 {
	color:#8b1100; font-size:12px;
}

.line {height:1px; background:#830300;}