﻿.horizontalcssmenu ul{
margin: 0;
padding: 0;
float:right;
list-style-type: none;
}
.horizontalcssmenu ul li{
position: relative;
display: inline;
float: left;
background-color: #e0e4e9;
}
.horizontalcssmenu ul li a{
display: block;
text-align:center;
width: 80px;
height:25px;
padding: 2px 8px;
border: 0 1px 1px 1px solid #CCCCCC;
border-left-width: 0;
text-decoration: none;
background: url(menubg.gif) center center repeat-x;
color: white;
font: bold 13px Tahoma;
}
.horizontalcssmenu ul li ul{
position: absolute;
display: block;
visibility: hidden;
z-index: 100;
}
.horizontalcssmenu ul li ul li{
display: inline;
float: none;
}
.horizontalcssmenu ul li ul li a{
width: 120px;
font-weight: normal;
background: #FFFFFF;
color:#666666;
border-width: 0 1px 1px 1px;
font-weight:bold;
text-align:left;
}
.horizontalcssmenu ul li a:hover{
background-image:url('menubgover.gif');
font-weight:bold;
}
.horizontalcssmenu ul li ul li a:hover{
background-image:url('bgcam.gif');
border-width: 0 1px 1px 1px;
padding-left:10px;
color:black;
}
.horizontalcssmenu .arrowdiv{
position: absolute;
right: 0;
background: transparent url(menuarrow.gif) no-repeat center left;
}
* html p#iepara{
padding-top: 1em;
}
* html .horizontalcssmenu ul li { float: left; height: 1%; }
* html .horizontalcssmenu ul li a { height: 1%; }