@import url(reset.css);
@import url(misc.css);
@import url('notifications.css');
@import url('icons.css');

.left-box-home,.right-box-home,#left-column .column-content,#center-column .center-column-content,#right-column .column-content,.left-column-cat .column-content,.right-column-cat .column-content,#right-listen-column .column-content,#wrap-listen,.tabs .tab.active,.tab-content,#center-column #album-list .album-bit .album-cover,.left-column-cat #album-list .album-bit .album-cover,#left-listen-column #album-list .album-bit .album-cover,#footer,#list-album .album-bit .album-cover .img-cover .bgcover,.menu #logo a,.add-to-playlist a,.add-to-playlist a:hover,#list-video-home .video-bit .video-thumb .play-video-icon,.left-column-cat .video-bit .video-thumb .play-video-icon,#left-listen-column .video-bit .video-thumb .play-video-icon,.icon_play,.icon_addplaylist,.icon_download,.icon_addplaylist,.icon_download,.post-cmt .post-cmt-form .text-box-decor,.tuoigi-title-text {
background:url(../images/misc/sprite.png) no-repeat top left;
_background:url(../images/misc/sprite.gif) no-repeat top left;
}

body {
background:#111 url(../images/misc/bg.jpg) repeat;
font-size:11px;
font-family:Tahoma,'Open Sans',arial,sans-serif;
line-height:20px;
color:#6b6b6b;
text-align:center;
}

a {
color:#999;
text-decoration:none;
}

a:hover {
color:#fff!important;
text-shadow:0 0 5px #999!important;
}

.h1,.h2 {
display:inline-block;
}

.right {
float:right;
}

.clear-fix {
float:none;
clear:both;
width:100%;
height:1px;
}

.no-padding {
padding:0!important;
}

.no-border {
border:0!important;
}

.no-border-top {
border-top:0!important;
}

.no-display {
display:none!important;
}


.button {
background-color:#feda71;
background-image:0;
border-image:none;
border-left:1px solid #e7a943;
border-radius:5px;
border-right:1px solid #e7a943;
color:#623f1d;
font-size:12px;
font-weight:700;
line-height:12px;
text-decoration:none;
text-shadow:0 1px 0 #fede9d;
border-color:#f5b74e #e7a943 #d6982f;
border-style:solid;
border-width:1px;
padding:7px 15px;
}

img {
border:0 none;
vertical-align:middle;
margin-bottom:3px;
}

img.border {
border:1px solid #ccc;
background:#fff;
padding:1px;
}

.onlyie6 {
_display:none;
}

.rows1,.rows2,.rows3,.rows6,.rows4,.rows5 {
display:block;
overflow:hidden;
}

.rows1 {
height:20px!important;
}

.rows2 {
height:40px!important;
}

.rows3 {
height:50px!important;
}

.rows4 {
height:117px!important;
}

.rows5 {
height:85px!important;
}

.rows6 {
height:135px!important;
}

70% {
-webkit-transform:rotateY(20deg);
opacity:.8;
}

90% {
-webkit-transform:rotateY(-10deg);
opacity:1;
}

100% {
-webkit-transform:rotateY(-0);
opacity:1;
}

keyframes notification {
0-webkit-transform:rotateY(-90deg);
opacity:0;
}

.alert-blackgloss:before {
background:0 no-repeat;
-webkit-mask-image:0;
position:absolute;
content:'.';
line-height:0;
top:0;
right:0;
bottom:0;
left:0;
display:block;
overflow:hidden;
text-indent:-99999px;
-webkit-border-radius:5px;
}

.alert-blackgloss {
-webkit-animation:notification .75s linear;
-moz-animation:notification .75s linear;
-ms-animation:notification .75s linear;
-o-animation:notification .75s linear;
animation:notification .75s linear;
background:rgba(0,0,0,1);
-webkit-box-shadow:0 2px 5px rgba(0,0,0,.5),inset 0 1px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(255,255,255,.1);
-moz-box-shadow:0 2px 5px rgba(0,0,0,.5),inset 0 1px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(255,255,255,.1);
-ms-box-shadow:0 2px 5px rgba(0,0,0,.5),inset 0 1px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(255,255,255,.1);
-o-box-shadow:0 2px 5px rgba(0,0,0,.5),inset 0 1px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(255,255,255,.1);
box-shadow:0 2px 5px rgba(0,0,0,.5),inset 0 1px 0 rgba(255,255,255,.2),inset 0 0 0 1px rgba(255,255,255,.1);
border:1px solid rgba(0,0,0,.95);
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
-webkit-font-smoothing:antialiased;
text-shadow:0 1px 2px rgba(0,0,0,.5);
color:#fff;
-webkit-transform:rotateY(-0);
-moz-transform:rotateY(-0);
-o-transform:rotateY(-0);
transform:rotateY(-0);
position:relative;
background-clip:padding-box;
}

.alert-blackgloss .close {
position:relative;
top:-3px;
right:-25px;
color:#fff;
content:'x';
}

#content {
display:table;
float:left;
margin-top:35px;
position:relative;
width:100%;
border:1px solid #292929;
border-bottom:0;
background:#111;
}

.avatar {
display:inline-block;
overflow:hidden;
width:48px;
height:48px;
border:3px solid #444;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
background:#c8c8c8;
}

.avatar img {
width:48px;
}

#artist-cover {
margin-top:35px;
background:#000;
text-align:center;
position:relative;
padding-top:15px;
padding-bottom:1px;
border-bottom:1px solid #191919;
box-shadow:0 8px 6px -6px #000;
z-index:1;
}

#artist-cover .cover-img {
margin:0 auto;
}

.cover-img {
background:#333;
height:260px;
max-height:260px;
overflow:hidden;
position:relative;
width:980px;
}

.cover-img img {
font-size:0;
height:280px;
max-height:280px;
max-width:980px;
text-indent:-9999px;
width:980px;
}

.profile-info {
background:#333;
position:relative;
min-height:90px;
color:#737373;
padding:15px 20px;
}

.profile-info .avatar img,.profile-info .avatar {
width:120px;
height:120px;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
}

.profile-info .avatar {
border:5px solid #333;
position:absolute;
top:-20px;
left:20px;
z-index:6;
box-shadow:0 2px 2px #222;
-moz-box-shadow:0 2px 2px #222;
-webkit-box-shadow:0 2px 2px #222;
background:#c8c8c8;
}

.profile-info .username,.profile-info .user-info,.profile-info .profile-desc,.profile-info .user-role {
margin-left:150px;
display:inline-block;
max-width:420px;
margin-bottom:5px;
}

.profile-info .user-role {
font-size:12px;
font-weight:700;
color:#8FBC8F;
}

.profile-info .username,.profile-info .display-name {
font-size:1.53846154em;
color:#DEB887;
font-weight:400;
display:inline-block;
line-height:1em;
margin-bottom:8px;
margin-right:10px;
}

.profile-info .user-info .icon {
top:4px;
}

.profile-info .username .icon,.profile-info .display-name .icon {
position:relative;
top:5px;
margin:0 0 0 15px;
}

.profile-info .profile-desc {
display:block;
margin-bottom:8px;
word-wrap:break-word;
}

.profile-info .user-stat {
position:absolute;
right:0;
bottom:15px;
background:#F8F8FF;
border-radius:40px 0 0 40px;
-moz-border-radius:40px 0 0 40px;
-webkit-border-radius:40px 0 0 40px;
padding:10px 0 5px 15px;
}

.profile-info .user-stat .stat-numb,.profile-info .user-stat .stat-type {
display:block;
text-align:left;
left:0;
top:0;
}

.profile-info .user-stat .stat-numb {
margin-bottom:5px;
text-align:center;
color:#FF4500;
}

.profile-info .user-stat li {
float:left;
padding:0 14px;
}

.profile-info .user-stat li:nth-child(1),.profile-info .user-stat li:nth-child(2) {
border-right:1px dashed #c7c7c7;
}

.profile-info .btn-follow,.profile-info .btn-following,.profile-info .btn-unfollow {
width:120px;
font-size:11px;
position:relative;
z-index:1;
bottom:2px;
left:15px;
}

.profile-info .btn.btn-follow {
background:#8fbf00 url(../images/icon-follow.png) no-repeat 5px 5px;
}

.profile-info .btn-follow:hover {
background-color:#abdb1b;
}

.profile-info .btn.btn-following.btn-unfollow {
background:#ce2013 url(../images/icon-unfollow.png) no-repeat 5px 5px;
padding-left:26px;
}

#artist-info .avatar,#artist-info .avatar img {
border-radius:0;
}

#artist-info .avatar {
border:2px solid #222;
}

#artist-info .user-role {
color:#FFA07A;
}

#artist-info .username {
color:#fff;
text-shadow:0 0 10px #FFD700;
font-size:20px;
}

#profileNav {
background:#222;
border-top:1px solid #222;
border-bottom:1px solid #333;
height:40px;
padding:0;
}

#profileNav li {
float:left;
text-align:center;
margin-right:0;
border-right:1px solid #333;
}

#profileNav li a {
font-size:13px;
font-weight:700;
line-height:40px;
display:block;
height:40px;
padding:0 20px;
}

#profileNav li a:hover,#profileNav li.active a {
color:#fff;
}

#profileNav li.active a {
height:41px;
background:url(../images/misc/column_bg.jpg);
cursor:default;
}

.user-stat li {
margin-bottom:5px;
}

.user-stat .stat-numb {
display:inline-block;
min-width:35%;
text-align:right;
font-weight:700;
font-size:1.28571429em;
line-height:1em;
}

.user-stat .stat-type {
position:relative;
top:0;
left:5px;
display:inline-block;
color:#595959;
text-transform:uppercase;
font-weight:400;
}

#leftColumn {
background:#444 url(../images/misc/column_bg.jpg);
border-right:1px solid #222;
clear:both;
width:649px;
float:left;
min-height:800px;
}

#leftColumn .column-content .member-info {
font-size:13px;
margin-left:10px;
margin-right:10px;
margin-top:20px;
}

#leftColumn .column-content .member-info .info-row {
clear:both;
margin:15px 0;
}

#leftColumn .column-content .member-info .info-row .info-name {
display:inline-block;
width:150px;
float:left;
}

#leftColumn .article-list {
width:100%;
display:block;
border-top:1px solid #222;
}

#leftColumn .article-list .article-bit {
clear:both;
padding:5px 0;
}

#leftColumn .article-list .article-bit .article-icon {
display:inline-block;
float:left;
margin-right:3px;
padding-top:3px;
width:20px;
font-size:13px;
}

#leftColumn .article-list .article-bit .article-name {
width:320px;
overflow:hidden;
word-wrap:break-word;
height:20px;
}

#leftColumn .article-list .article-bit .article-name h3 {
display:inline;
}

#leftColumn .article-list .article-bit .article-name a {
font-weight:400;
font-size:12px;
}

#leftColumn .article-list .article-bit:hover .article-name a {
color:#fff;
text-shadow:0 0 5px #999;
}

#leftColumn .article-list .article-bit .article-name a:hover {
color:#FF1493!important;
text-shadow:0 0 7px #8f0749!important;
}

.hot-article {
background:url(../images/icon/hot.gif) no-repeat;
float:right;
width:22px;
height:10px;
margin-right:105px;
_margin-right:50px;
margin-top:-16px;
}

.add-to-playlist a {
background-position:0 -723px;
width:16px;
height:16px;
float:right;
margin-right:85px;
margin-top:-16px;
overflow:hidden;
}

.add-to-playlist a:hover {
background-position:0 -744px;
width:16px;
height:16px;
}

#leftColumn .article-list .article-bit .add-to-playlist {
visibility:hidden;
}

#leftColumn .article-list .article-bit .article-view {
float:right;
margin-left:20px;
margin-top:-20px;
overflow:hidden;
padding-left:20px;
width:60px;
font-size:10px;
}

#list-album {
width:100%;
float:left;
display:block;
position:relative;
margin-bottom:10px;
}

#list-album .album-bit {
border-bottom:1px solid #050505;
border-top:1px solid #191919;
height:1%;
padding:20px 0 15px;
}

#list-album .album-bit .album-cover {
float:left;
height:166px;
width:200px;
}

#list-album .album-bit .album-cover .img-cover {
position:relative;
}

#list-album .album-bit .album-cover .img-cover .bgcover {
background-position:0 -128px;
width:193px;
height:165px;
left:0;
position:absolute;
top:0;
z-index:1;
}

#list-album .album-bit .album-cover .img-cover .img152 {
border-radius:3px;
height:152px;
left:6px;
position:absolute;
top:2px;
width:152px;
z-index:2;
box-shadow:0 15px 10px -10px rgba(0,0,0,0.5),0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

#list-album .album-bit .album-info {
float:right;
width:429px;
}

#list-album .album-bit .album-info h3 {
font-size:18px;
font-weight:700;
}

#list-album .album-bit .album-info .album-profile {
height:20px;
margin-top:5px;
overflow:hidden;
padding:2px 0;
}

#list-album .album-bit .album-info .album-desc {
margin-top:5px;
border-top:1px dotted #222;
padding:4px 0;
}

.break-list-line {
border-top:1px solid #191919;
}

.list-users .user {
margin-left:0;
position:relative;
border-bottom:1px dashed #222;
clear:both;
padding:15px 20px 25px 0;
}

.list-users .user:last-child,.list-users .user:last-of-type {
border-bottom:0;
}

.list-users .user .avatar {
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin-left:20px;
border-color:#ddd;
}

.list-users .user .latest-tweet,.list-users .user .user-info,.list-users .user .user-stat {
margin-left:86px;
}

.list-users .user .user-info {
margin-left:15px;
}

.list-users .user .user-info .display-name,.list-users .user .user-info .mention-name {
position:relative;
top:-8px;
font-size:12px;
font-weight:700;
color:#DEB887;
}

.list-users .user .user-stat {
overflow:hidden;
}

.list-users .user .user-stat li {
float:left;
margin-bottom:0;
padding:0 8px;
}

.list-users .user .user-stat li:first-child {
padding-left:0;
}

.list-users .user .user-stat li:last-child {
border-right:0;
}

.list-users .user .user-stat li span {
display:inline;
color:#afafaf;
}

.list-users .user .user-stat .stat-numb {
font-size:11px;
}

.list-users .user .user-stat .stat-type {
left:0;
text-transform:none;
color:#afafaf;
}

.list-users .user .latest-tweet {
word-wrap:break-word;
padding:5px 0 0;
}

.list-users .user .btn {
position:absolute;
top:25px;
right:20px;
z-index:5;
width:110px;
}

#rightColumn {
width:330px;
float:left;
}

#rightColumn .column-content .block {
float:left;
clear:both;
border-bottom:1px dashed #222;
margin-bottom:10px;
width:100%;
}

#rightColumn .column-content .block .block-title {
margin-bottom:10px;
color:#737373;
text-transform:uppercase;
font-weight:700;
}

#rightColumn .column-content .block .block-title .type-numb {
color:#666;
font-size:1em;
line-height:1em;
font-weight:400;
}

#rightColumn .column-content .following,#rightColumn .column-content .followers {
padding-right:0;
}

#rightColumn .column-content .list-user li {
float:left;
margin-right:10px;
margin-bottom:5px;
}

#rightColumn .column-content .list-user .avatar {
-webkit-transition:.5s ease;
-moz-transition:.5s ease;
-ms-transition:.5s ease;
-o-transition:.5s ease;
transition:.5s ease;
}

#rightColumn .column-content .following .blank-state,#rightColumn .column-content .followers .blank-state {
text-align:center;
color:#a2a6a6;
font-size:12px;
}

#rightColumn .column-content .list-user .view-more {
text-align:center;
display:block;
background:#333;
width:52px;
height:52px;
line-height:52px;
font-size:9px;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
margin:0;
}

#rightColumn .column-content .list-user .view-more:hover {
background-color:#444;
}

#rightColumn .column-content .member-stats .stats-row .stats-name {
display:inline-block;
width:150px;
}

.minicolors {
position:relative;
display:inline-block;
z-index:1;
}

.minicolors-focus {
z-index:2;
}

.minicolors.minicolors-theme-default .minicolors-input {
border:solid 1px #CCC;
font:14px sans-serif;
width:65px;
height:16px;
border-radius:0;
box-shadow:inset 0 2px 4px rgba(0,0,0,.04);
margin:0 -1px 0 0;
padding:2px;
}

.minicolors-theme-default.minicolors .minicolors-input {
vertical-align:middle;
outline:0;
}

.minicolors-theme-default.minicolors-swatch-left .minicolors-input {
margin-left:-1px;
margin-right:auto;
}

.minicolors-theme-default.minicolors-focus .minicolors-input,.minicolors-theme-default.minicolors-focus .minicolors-swatch {
border-color:#999;
}

.minicolors-hidden {
position:absolute;
left:-9999em;
}

.minicolors-swatch {
position:relative;
width:20px;
height:20px;
text-align:left;
background:url(../images/misc/colorPicker.png) -80px 0;
border:solid 1px #CCC;
vertical-align:middle;
display:inline-block;
}

.minicolors-swatch SPAN {
position:absolute;
width:100%;
height:100%;
background:0;
box-shadow:inset 0 9px 0 rgba(255,255,255,.1);
display:inline-block;
}

.minicolors-panel {
position:absolute;
top:26px;
left:0;
width:173px;
height:152px;
background:#FFF;
border:solid 1px #CCC;
box-shadow:0 0 20px rgba(0,0,0,.2);
display:none;
}

.minicolors-position-top .minicolors-panel {
top:-156px;
}

.minicolors-position-left .minicolors-panel {
left:-83px;
}

.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
left:-104px;
}

.minicolors-with-opacity .minicolors-panel {
width:194px;
}

.minicolors .minicolors-grid {
position:absolute;
top:1px;
left:1px;
width:150px;
height:150px;
background:url(../images/misc/colorPicker.png) -120px 0;
cursor:crosshair;
}

.minicolors .minicolors-grid-inner {
position:absolute;
top:0;
left:0;
width:150px;
height:150px;
background:0;
}

.minicolors-slider-saturation .minicolors-grid {
background-position:-420px 0;
}

.minicolors-slider-saturation .minicolors-grid-inner {
background:url(../images/misc/colorPicker.png) -270px 0;
}

.minicolors-slider-brightness .minicolors-grid {
background-position:-570px 0;
}

.minicolors-slider-brightness .minicolors-grid-inner {
background:#000;
}

.minicolors-slider-wheel .minicolors-grid {
background-position:-720px 0;
}

.minicolors-slider,.minicolors-opacity-slider {
position:absolute;
top:1px;
left:152px;
width:20px;
height:150px;
background:#FFF url(../images/misc/colorPicker.png) 0 0;
cursor:crosshair;
}

.minicolors-slider-saturation .minicolors-slider {
background-position:-60px 0;
}

.minicolors-opacity-slider {
left:173px;
background-position:-40px 0;
display:none;
}

.minicolors-with-opacity .minicolors-opacity-slider {
display:block;
}

.minicolors-grid .minicolors-picker {
position:absolute;
top:70px;
left:70px;
width:10px;
height:10px;
border:solid 1px #000;
border-radius:10px;
margin-top:-6px;
margin-left:-6px;
background:0;
}

.minicolors-grid .minicolors-picker SPAN {
position:absolute;
top:0;
left:0;
width:6px;
height:6px;
border-radius:6px;
border:solid 2px #FFF;
}

.minicolors-picker {
position:absolute;
top:0;
left:0;
width:18px;
height:2px;
background:#FFF;
border:solid 1px #000;
margin-top:-2px;
}

.minicolors-inline .minicolors-input,.minicolors-inline .minicolors-swatch {
display:none;
}

.minicolors-inline .minicolors-panel {
position:relative;
top:auto;
left:auto;
display:inline-block;
}

.minicolors-theme-bootstrap .minicolors-input {
background-color:#FFF;
border:1px solid #CCC;
border-radius:3px;
color:#555;
font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;
font-size:14px;
height:19px;
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
margin:0;
padding:4px 6px 4px 30px;
}

.minicolors-theme-bootstrap.minicolors-focus .minicolors-input {
box-shadow:0 0 10px #6fb8f1;
outline:0;
border-color:#6fb8f1;
}

.minicolors-theme-bootstrap .minicolors-swatch {
position:absolute;
left:4px;
top:4px;
z-index:2;
}

.minicolors-theme-bootstrap.minicolors-swatch-position-right .minicolors-input {
padding-left:6px;
padding-right:30px;
}

.minicolors-theme-bootstrap.minicolors-swatch-position-right .minicolors-swatch {
left:auto;
right:4px;
}

.minicolors-theme-bootstrap .minicolors-panel {
top:28px;
z-index:3;
}

.minicolors-theme-bootstrap.minicolors-position-top .minicolors-panel {
top:-154px;
}

.minicolors-theme-bootstrap.minicolors-position-left .minicolors-panel {
left:-63px;
}

.minicolors-theme-bootstrap.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
left:-84px;
}

.transparentBg {
-ms-filter:alpha(opacity=90);
filter:alpha(opacity=90);
-moz-opacity:.9;
-khtml-opacity:.9;
opacity:.9;
}

#edit-profile {
padding-left:10px;
}

.clear,#rightColumn .column-content .member-stats .stats-row {
clear:both;
}

.center,.profile-info .btn.btn-following {
text-align:center;
}

.left,#search-suggest .vietcom-suggest .sg_r .sg_info {
float:left;
}

.no-margin,h1.title {
margin:0!important;
}

.no-box-shadow,.cmt-box .post-cmt .textarea:focus {
box-shadow:0 0 0 #fff!important;
}

.total-page span,#leftColumn .column-content .member-info .info-row .info-content,#rightColumn .column-content .member-stats .stats-row .stats-count {
font-weight:700;
}

.greenPopup .formErrorContent,.greenPopup .formErrorArrow div {
background:#33be40;
}

.blackPopup .formErrorContent,.blackPopup .formErrorArrow div {
background:#393939;
color:#FFF;
}

.cmt-box .cmt .avatar:hover,.avatar:hover {
border-color:#fff;
}

.cmt-box .cmt:hover .cmt-interact,#leftColumn .article-list .article-bit:hover .add-to-playlist {
visibility:visible;
}

.cmt-box .cmt .cmt-head .display-name:hover,.list-users .user .user-stat li a:hover span {
color:#f15a24;
}

.cmt-box .cmt .cmt-interact a,#my-playlist-box #my-playlist-list a,#search-suggest .vietcom-suggest a {
color:#ccc;
}

#search-suggest .vietcom-suggest .sg_video .sg_r,#search-suggest .vietcom-suggest .sg_album .sg_r {
border-bottom:1px solid #444;
border-top:1px solid #555;
border-left:1px solid #575757;
background:#494949;
}

#leftColumn .column-content,#rightColumn .column-content {
padding:10px;
}

#list-album .album-bit .album-info .album-profile .album-create,#list-album .album-bit .album-info .album-profile .album-date,#list-album .album-bit .album-info .album-profile .album-like,#list-album .album-bit .album-info .album-profile .album-category {
margin-left:10px;
}

.list-users .user .avatar img,.list-users .user .avatar,#rightColumn .column-content .list-user .avatar,#rightColumn .column-content .list-user .avatar img {
width:46px;
height:46px;
}

.minicolors-slider-brightness .minicolors-slider,.minicolors-slider-wheel .minicolors-slider {
background-position:-20px 0;
}

.friend-btn-area{
margin-left:290px;
display:block;
margin-top:-30px;
}
.follow-btn-area{
margin-left:150px;
margin-top:10px;
}