/* begin may bay */
#index1_cloud {
background:url(../images/index1_cloud.png) top left repeat-x;
position:absolute;
top:0;
left:0;
width:100%;
z-index:0;
}

#index1_land {
background:url(../images/index1_land.png) bottom left repeat-x;
position:absolute;
top:253px;
left:0;
width:100%;
height: 267px;
z-index:1;
}

#index1_plane {
background:url(../images/index1_plane.png) top repeat-x;
position:absolute;
top:0;
left:0;
width:100%;
z-index:2;
}

#index1_mol {
position:absolute;
z-index:4;
top:0;
width:436px;
height:378px;
}

#index1_mol #molava {
background-image: url(../images/may-bay.png);
background-position: -10px -195px;
width:156px;
height:211px;
position:absolute;
top:111px;
right:42px;
}
#index1_mol #molava:hover {
background-position: -166px -195px;
}
#index1_word {
background-image: url(../images/may-bay.png);
background-position: -10px -12px;
width:206px;
height:169px;
position:absolute;
top:50px;
left:50px;

}
/* end may bay */