/* Begin noel */
#index1_cloud {
background:url(../images/index1_cloud.png) top left repeat-x;
position:absolute;
top:0;
left:0;
width:100%;
z-index:0;
}

#index1_xmas_land {
background:url(../images/index1_xmas_land.png) bottom left repeat-x;
position:absolute;
top:300px;
left:0;
width:100%;
height: 220px;
z-index:1;
}

#index1_xmas_mol {
position:absolute;
z-index:4;
top:0;
width:387px;
height:238px;
}

#index1_xmas_mol #molava {
background-image: url(../images/noel.png);
background-position: -10px -415px;
width:100px;
height:238px;
float:left;
margin:0;
}
#index1_xmas_mol #molava:hover {
background-position: -110px -415px;
}
#index1_xmas_mol #rein {
background-image: url(../images/noel.png);
background-position: -10px -157px;
float:left;
width:287px;
height:238px;
margin:0;
}

#index1_xmas_word {
background-image: url(../images/noel.png);
background-position: -10px -10px;
width:166px;
height:127px;
position:absolute;
top:0;
left:390px;
}

#index1_xmas_gift {
width:182px;
height:182px;
background:transparent url(../images/index1_xmas_gift.png) top left no-repeat;
position:fixed;
z-index:51;
top:0;
right:0;
}
/* End Noel */