  /* Begin slider */
#slider {
	position: relative;
	width: 185px;
	height: 200px;
	z-index: 1;
	margin: 0px;
	padding: 0px;
}
#slider li {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 230px;
	height: 200px;
	border: 1px solid #df4075;
	border-radius: 8px;
}
#slider li img {

}
#slider li a {
	display: block;
	width: 220px;
	height: 30px;
	padding: 5px;
	background: url(../images/transparent_bg.png) repeat;
	position: absolute;
	border-radius: 0 0 5px 5px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	color: #fff;
	font-weight: bold;
}
#slider li a:hover {
	color: #83b93a;
}
.prev {
	background: url(../images/arrows.png) top left repeat;
	width: 50px;
	height: 100px;
	position: absolute;
	bottom: 30%;
	left: -8%;
	z-index: 10;
}
.next {
	background: url(../images/arrows.png) top right repeat;
	width: 50px;
	height: 100px;
	position: absolute;
	bottom: 30%;
	right: -35%;
	z-index: 10;
}
  /* End Slider */
