body,td,th {
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	color: #000000;
	text-align: left;

}

.left_menu {
	background-image:url(images/left_menu.gif);
	width:165px;
	height:25px;
	font-weight:bolder;
	color:#003366;
	text-align:left;
	text-indent:25px;
	font-size:13px;
	padding-top:1px;
	display:block;
	vertical-align: middle;
}


.left_menu a{
	color:#003366;
	text-decoration:none;
        display:block;
}
.left_submenu {
    background-image:url(images/left_submenu.gif);
	width:165px;
	height:25px;
	color:#993300;
	text-align:left;
	text-indent:45px;
	padding-top:5px;
	font-size:12px;
    display:block;
}
.left_submenu a{
	color:#993300;
	font-weight:bold;
	text-decoration:none;
        display:block;
}
.left_submenu a:hover{
	color:#ff0000;
	text-decoration:none;
}
.left_menu a:hover{
	color:#ff0000;
	text-decoration:none;
}
body {
	background-color: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	background-repeat:repeat-x;
	margin-bottom: 0px;
}.table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
