{include file=$include_header}
	<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		               		<td>
		               			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" id="menu1" dir="ltr" style="color: #CC0303;">DOANH NGHIỆP NHÀ ĐẤT {if $provinceInfo.province_name neq ""} {$provinceInfo.province_name} {/if}</td>
				                              	</tr>
				                            	</table>
				                            </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
									</td>
								</tr>
				                <tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                            				<tr>
					                              	<td colspan="3" height="10"></td>
					                            </tr>
					                            {if $companyid ne ''}
	                            				<tr>
					                              	<td colspan="3" align="left">
					                              		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                              		<tr>
					                              			<td colspan="2" align="left" style="padding-left: 10px; font-weight: bold;">
					                              				{$CompanyDetail.company_name}
					                              			</td>
					                              		</tr>
					                              		<tr>
					                              			<td width="10%" align="left" style="padding-left: 10px; padding-top: 15px;">
					                              				<img src="{#IMG_COMPANY_DIR#}{$CompanyDetail.company_logo}" width="61" class="border_img" align="left" />
					                              			</td>
					                              			<td align="left" valign="top" style="padding-left: 10px; padding-top: 15px;">
					                              			{if $CompanyDetail.company_website ne ''}
					                              				<div style="padding-bottom: 5px;"><strong>Website nhà doanh nghiệp</strong><br /></div>
					                              				<div><a href="{$CompanyDetail.company_website}" target="_blank">{$CompanyDetail.company_website}</a></div>
					                              			{/if}
					                              			</td>
					                              		</tr>
					                              		<tr>
					                              			<td colspan="2" align="left" style="padding-left: 10px; padding-top: 10px;">
					                              				<div><strong>Thông tin nhà doanh nghiệp</strong><br /></div>
					                              				<p style="padding-left: 5px;">{$CompanyDetail.company_content}</p>
					                              			</td>
					                              		</tr>
					                              		<tr>
					                              			<td colspan="2">
					                              				<div style="padding-left: 10px; font-weight: bold; padding-bottom: 10px;">Các nhà doanh nghiệp khác</div>
					                              				<table width="98%" border="0" cellpadding="0" cellspacing="0">
						                              				{foreach key=keys item=items from=$CompanyList}
						                              				<tr>
								                              			<td width="10" align="left" valign="middle" style="padding-right: 5px; padding-left: 10px;">
								                              				<img src="frontend/images/new.gif" width="10" height="8" />
								                              			</td>
						                              					<td align="left"><a href="?hdl=company&companyid={$items.company_id}&page={$page}" class="text_blue">{$items.company_name}</a></td>
						                              				</tr>
						                              				{/foreach}
						                              				<tr>
						                              					<td align="center" colspan="2" style="padding-top: 5px;">{$paging}</td>
						                              				</tr>
					                              				</table>
					                              			</td>
					                              		</tr>
					                              		</table>
					                              	</td>
					                            </tr>
					                            {else}
				                            	{if count($CompanyList) gt 0}
				                            	{foreach key=keys item=items from=$CompanyList}
				                            	{if $keys % 3 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="33%" align="center">
				                              			<table width="98%" border="0" cellpadding="0" cellspacing="0">
						                                <tr>
						                                  	<td align='left'>
						                                  		<a href="?hdl=company&companyid={$items.company_id}&page={$page}">
						                                  			<img src="{#IMG_COMPANY_DIR#}{$items.company_logo}" width="61" class="border_img"/>
						                                  		</a>
						                                  	</td>
						                                  	<td width="5"></td>
						                                  	<td align="left"><a href="?hdl=company&companyid={$items.company_id}&page={$page}">{$items.company_name}</a></td>
						                                </tr>
						                                <tr><td colspan="3" height="5px;"></td></tr>
	                              						</table>
	                              					</td>
	                              				{if ($keys+1) % 3 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 3 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/if}
	                            				<tr>
					                              	<td align="center" colspan="3" style="padding: 10px;">{$paging}</td>
					                            </tr>
					                            {/if}
					                          	</table>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
									</td>
								</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						<tr>
				        	<td height="5"></td>
				        </tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
	<!-- End center area -->
		
{include file=$include_footer}