{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left_detail}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
	            		
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		            	<tr>
		            		<!-- ////////////////////////////////// 4 tin ban gap ////////////////////////////// -->
		            		<td colspan="3">
	                    				
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" name="{$items.value}_hdl" dir="ltr" style="color: #CC0303;">
					                				<b> Tin bất động sản nổi bật </b>
					                				<!--
					                					 {if $informid ne ''}
					                					 {$InformDetail.category_name}{else}
					                					 {$InformList[0].category_name}{/if}
					                				-->
					                				</td>
				                              	</tr>
				                            	</table>
				                            </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	
			                  	<tr>
			                  		 <td colspan="3">
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                            	{if count($EstateHot) gt 0}
				                            	{foreach key=keys item=items from=$EstateGenreList}
				                            	{if $keys % 2 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="50%" align="center" style="padding: 5px;">
				                              			<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                                		<tr>
				                                  			<td height="30" align="left">
				                                    			<table border="0" cellpadding="0" cellspacing="0">
							                                    <tr>
							                                        <td>
							                                        	<a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue">
							                                        		<strong> {$items.estate_title}</strong>
							                                        	</a>
							                                        </td>
							                                        <td>&nbsp;
							                                        	<img border="0" src="frontend/images/hot_icon.gif">
							                                        </td>
							                                        <!-- frontend/images/imgVip3.gif -->
							                                        
							                                    </tr>
				                                    			</table>
				                                    		</td>
				                                		</tr>
						                                <tr>
						                                  	<td align="left">
						                                  		<table border="0" cellpadding="0" cellspacing="0">
						                                    	<tr>
						                                      		<td align="left" class="border_img">
							                                          	{if $items.estate_image1 ne ''}
							                                          		<img src="{#IMG_ESTATE_DIR#}thumb_{$items.estate_image1}" width="85" height="72" 
						                                          				class="border_img"
						                                          			/>
							                                          	{else}
							                                          		<img src="{#IMG_ESTATE_DIR#}thumb_spacer.gif" width="85" height="72" class="border_img" />
							                                          	{/if}
	                                      							</td>
							                                      	<td width="5"></td>
							                                      	<td align="left" valign="top">
							                                        	Giá bán:
							                                        	<strong>
										                               		<font color='red'>
										                               			{if $items.estate_price > 0}
											                               			{$items.estate_price|money_format:"."}&nbsp;
											                               			{if $items.estate_price_type == 0}VNÐ 
											                               			{elseif $items.estate_price_type==1} Luợng vàng SJC 
											                               			{else} USD 
											                               			{/if}
											                               			{if $items.is_price_in_m2 eq "1"}
												                           			/m2
												                           			{/if}
											                               			{if $items.is_price_negotiable eq '1'}
											                               				(Có thể thỏa thuận)
											                               			{/if}
											                               		{else}
											                               			(Thỏa thuận)
											                               		{/if}
										                               		</font>
									                               		</strong>
							                                        	<br />
							                                          	Diện tích:&nbsp;<font color="#0419FC">{$items.estate_area}</font><br />
							                                          	Hướng:&nbsp;{$Direction[$items.estate_direction].text}<br />
							                                          	Nơi đăng:&nbsp;{$items.district_name}-{$items.province_name}
																	</td>
	                                    						</tr>
	                                  							</table>
	                                  						</td>
	                                					</tr>
	                              						</table>
	                              					</td>
	                              				{if ($keys+1) % 2 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 2 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/if}
	                            				<tr>
					                              	<td align="right" colspan="5" style="padding: 5px;">
					                              		<!--
					                              			<a href="?hdl=vip">Xem Tin VIP >>> </a>
					                              		-->
					                              	</td>
					                            </tr>
				                            	{if count($NewsList) gt 0}
				                            	{foreach key=keys item=items from=$NewsList}
				                            	{if $keys % 2 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="50%" align="left" valign="top" style="padding-top: 10px;">
			                                        	<img src="{#IMG_NEWS_DIR#}thumb_{$items.news_image}" width="92" 
			                                        		height="69" class="border_img" align="left" hspace="5" />
			                                        	<a href="?hdl=news&genre={$items.news_genre}&newsid={$items.news_id}" class="text_blue">
			                                        		<strong> {$items.news_name} </strong>
			                                        	</a>
														{assign var="now_" value=$smarty.now|date_format}
														{assign var="created_Date" value=$items.created_date|date_format}
														{if $now_ eq $created_Date}
															&nbsp;<img border="0" src="frontend/images/new_icon.gif">
														{/if}
			                                        	<div style="padding-top: 7px;">{$items.news_title}</div>
	                              					</td>
	                              				{if ($keys+1) % 2 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 2 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                            				<tr>
					                              	<td align="right" colspan="5" style="padding: 5px;">
					                              		<a href="?hdl=news&genre={$items.news_genre}">
					                              			<img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" />
					                              		</a>
					                              	</td>
					                            </tr>
	                              				{/if}



				                            	{if count($InteriorTops) gt 0}
				                            	{foreach key=keys item=items from=$InteriorTops}
				                            	{if $keys % 5 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
							                        <td align="center" style="padding-top: 5px;">
					                              		<div style="padding-bottom: 5px;">
					                              			<a id="thumb{$items.album_id}" href="{#IMG_INTERIOR_DIR#}{$items.interior_image}" class="highslide" onclick="return hs.expand(this)">
					                                			<img src="{#IMG_INTERIOR_DIR#}thumb_{$items.interior_image}" width="115px" height="90px" class="border_img" />
					                                		</a>
					                                	</div>
	                              					</td>
	                              				{if ($keys+1) % 5 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 5 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                            				<tr>
					                              	<td align="right" colspan="5" style="padding: 5px;"><a href="?hdl=interior">Xem thêm...</a></td>
					                            </tr>
	                              				{/if}
					                          	</table>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
		            			</td>
			                  		
			                  	</tr>
			                  	
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>	
		            			
		            		</td>
		            		<!-- ///////////////////////////////////////////////////////////////// -->
		            	</tr>
		            	<tr>
		            		<!-- ////////////////////////////////////// SEACH NGANG ///////////////////////////////// -->
		            		
		            		<td colspan="3">
								<table width="100%" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
				                        
				                        <tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
					                              	<tr>
						                				<td align="left" dir="ltr">
						                					Bạn đang xem tin từ:&nbsp;<font color="#FF0000">{if $province ne ''}{$ProvinceDetail.province_name}{else}Toàn Quốc{/if}</font>
						                				</td>
						                				<td align="right" dir="ltr">
						                					{foreach key=keys item=items from=$ProvinceList}
						                						{if $keys lt 5}
						                							<a href="?hdl=list{if $cateid ne ''}&cateid={$cateid}{/if}&province={$items.province_id}" class="">{$items.province_name}</a>{if $keys lt 4}&nbsp;|&nbsp;{/if}
						                						{/if}
						                					{/foreach}
						                				</td>
					                              	</tr>
				                            	</table>
				                            </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
									</td>
								</tr>

								{if $childGroupCategoryCount > 0}
								<tr>
									<td align='left'>
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
								        <tr>
								          	<td width="3" background="frontend/images/c4.jpg"></td>
								          	<td align="center" bgcolor="#F5F9FD" width="99%" style="padding-top: 5px;">
								          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
								            	
								            	<tr>
													<td colspan="2" bgcolor="#f5f9fd" align="right" width="98%" style="padding-top: 5px;">
								                      <form action="?hdl=list" name="frmsearch" id="frmsearch" method="post">
								                      <table width="99%" border="0" cellpadding="0" cellspacing="0" align="right">	
															<tr>
																<td colspan=3 align='left'>
																	{foreach item=child from=$childGroupCategory}
										                    			{if $child.category_id eq $cateid}
										                					<a href="?hdl=list&cateid={$cateid}&province={$ProvinceDetail.province_id}&child={$child.child_id}" style="color: #4E94D0;">
										                    					{if $childid eq $child.child_id}<strong> {/if} {$child.child_name}{if $childid eq $child.child_id}</strong> {/if} 
										                    				</a>
										                    				&nbsp;|&nbsp;
										                    			{/if}
										                    		{/foreach}
									                        	</td>
									                      	</tr>
								                      	</table>
								                      </form>
								                    </td>
								        		</tr>
												</table>
											</td>
											<td width="4" background="frontend/images/c5.jpg"></td>
								       	</tr>
								       	</table>
									</td>
								</tr>
								{/if}


								<tr>
									<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD" width="99%" style="padding-top: 5px;">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                            	
				                            	<tr>
													<td colspan="2" bgcolor="#f5f9fd" align="right" width="98%" style="padding-top: 5px;">
							                          <form action="?hdl=list" name="frmsearch1" id="frmsearch" method="post">
							                          <table width="99%" border="0" cellpadding="0" cellspacing="0" align="right">	
														<tr><td align='left'>
															<select name="province" id="province" class="form_search2">
								                            	<option value="">Tất cả</option>
								                            	{foreach item=provinces from=$ProvinceList}
								                            	<option value="{$provinces.province_id}" {if $province eq $provinces.province_id && $province ne ''} selected="selected" {/if}>{$provinces.province_name}</option>
								                            	{/foreach}
							                          		</select>
							                          	</td>
							                          	<td align='left'>
							                          		<select name="cateid" id="cateid" class="form_search2">
									                        	<option value="">Loại bất động sản</option>
									                        	{foreach item=cates from=$CategoryEstate}
									                        	<option value="{$cates.category_id}" {if $cateid eq $cates.category_id} selected {/if}>{$cates.category_name}</option>
									                        	{/foreach}
									                    	</select>
							                          	</td>
							                          	<td align='left'>
							                          		<select name="price" id="price" class="form_search2">
							                              		<option value="">Khoảng giá</option>
							                              		{foreach item=keywords from=$KeywordList}
							                              		<option value="{$keywords.keyword_id}"
							                              			{if $keywords.keyword_id eq $price } selected {/if}
							                              		>
							                              		{$keywords.keyword_alias}
							                              		{/foreach}
							                          		</select>
							                          	</td>
								                          		<td>
							                        	<div class="bnt_timkiem"><a onclick="document.frmsearch1.submit();"></a></div>
							                        </td>
							                          	</tr></table>
							                          </form>
							                        </td>
							                        
					                    		</tr>
												</table>
											</td>
											<td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
									</td>
								</tr>
	                    		<tr>
		                    	    <td>
			                        	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
			                            <tr>
			                              	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
			                              	<td width="100%"></td>
			                              	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
			                            </tr>
			                        	</table>
		                        	</td>
		                    	</tr>
								</table>
		            		</td>
		            		
		            		<!-- ///////////////////////////////////////////////////////////////////////// -->
		            	</tr>
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" width="30%" name="{$items.value}_hdl" dir="ltr" style="color: #CF242C;">
					                					<div style="float: left;">
					                						{$estate.category_name} 
					                						{$categoryName}
					                					</div>
					                					<div style="float: right;">
					                					</div>
					                				</td>
				                              	</tr>
				                            	</table>
				                            </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD" style="padding-top: 20px; padding-bottom: 20px;">
				                          		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Mã số tin&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;AP-{$estate.estate_id}
					                               	</td>
					                               	<td align="center" rowspan="6">
				                						{assign var="estate_image1" value="spacer.gif"}
				                						{if $estate.estate_image1 neq ""}
				                							{assign var="estate_image1" value=$estate.estate_image1}
				                						{/if}
				                						
						        						<div>
															<a id="thumb{$estate_image}" href="{#IMG_ESTATE_DIR#}{$estate_image1}" class="highslide" onclick="return hs.expand(this)">
																<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image1}" alt="Highslide JS" width="100" height="80" title="Kích chuột vào xem Ảnh phóng to" class="border_img" />
															</a>
						        						</div>
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Ngày cập nhật tin&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;
					                               		{$estate.estate_last_updated|date_format:"%d-%m-%Y"}<br />
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" width="20%" align="left" valign="middle" style="font-weight: bold;">
					                              		Tiêu đề&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;
					                               		<strong>
					                               			{$estate.estate_title}
					                               		</strong>
					                               	<!--	
						                               	{if $estate.estate_genre eq "2" or $estate.estate_genre eq "1"}
					                               		<img border="0" src="frontend/images/vip.gif">
					                               		{/if}
					                               	-->
					                               		{if $items.estate_video neq ""}
			                                        	&nbsp;&nbsp;<img border="0" src="frontend/images/video.gif">
			                                        	{/if}
					                               		{assign var="now" value=$smarty.now|date_format}
														{assign var="createdDate" value=$items.created_date|date_format}
														{if $now eq $createdDate}
															&nbsp;<img border="0" src="frontend/images/new_icon.gif">
														{elseif $items.estate_genre eq "2" or $items.estate_genre eq "1"}
															&nbsp;<img border="0" src="frontend/images/vip.gif">
										      			{/if}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Vị trí&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$estate.estate_address}<br />
					                               		&nbsp;&nbsp;{$estate.district_name}-{$estate.province_name}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Diện tích&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$estate.estate_area}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Giá&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;
					                               		<strong>
						                               		<font color='red'>
						                               			{if $estate.estate_price > 0}
							                               			{$estate.estate_price|money_format:"."}&nbsp;
							                               			{if $estate.estate_price_type == 0}VNĐ 
							                               			{elseif $estate.estate_price_type==1} Lượng vàng SJC 
							                               			{else} USD 
							                               			{/if}
							                               			{if $estate.is_price_in_m2 eq "1"}
								                           			/m2
								                           			{/if}
								                           			{if $estate.is_price_in_month eq "1"}
								                           			/Tháng
								                           			{/if}
							                               			{if $estate.is_price_negotiable eq '1'}
							                               				(Có thể thỏa thuận)
							                               			{/if}
							                               		{else}
							                               			(Thỏa thuận)
							                               		{/if}
						                               		</font>
					                               		</strong>
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Hình ảnh&nbsp;
					                                </td>
					                               	<td colspan="2" align="left" valign="top">
					                               		<table width="100%" border="0" cellpadding="0" cellspacing="0">
					                               		<tr>
					                               			{assign var="estate_image2" value="spacer.gif"}
					                               			{assign var="estate_image3" value="spacer.gif"}
					                               			{assign var="estate_image4" value="spacer.gif"}
					                               			{assign var="estate_image5" value="spacer.gif"}
					                               			<td align="center" width="20%" style="padding: 3px;" valign="top">
					                                          	{if $estate.estate_image2 ne ''}{assign var="estate_image2" value=$estate.estate_image2}{/if}
								        						<div>
																	<a id="thumb{$estate_image2}" href="{#IMG_ESTATE_DIR#}{$estate_image2}" class="highslide" onclick="return hs.expand(this)">
																		<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image2}" alt="Highslide JS" width="100" height="80" title="Kích chuột vào xem Ảnh phóng to" class="border_img" />
																	</a>
								        						</div>
					                               			</td>
					                               			<td align="center" width="20%" style="padding: 3px;" valign="top">
					                                          	{if $estate.estate_image3 ne ''}{assign var="estate_image3" value=$estate.estate_image3}{/if}
								        						<div>
																	<a id="thumb{$estate_image3}" href="{#IMG_ESTATE_DIR#}{$estate_image3}" class="highslide" onclick="return hs.expand(this)">
																		<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image3}" alt="Highslide JS" width="100" height="80" title="Kích chuột vào xem Ảnh phóng to" class="border_img" />
																	</a>
								        						</div>
					                               			</td>
					                               			<td align="center" width="20%" style="padding: 3px;" valign="top">
					                                          	{if $estate.estate_image4 ne ''}{assign var="estate_image4" value=$estate.estate_image4}{/if}
								        						<div>
																	<a id="thumb{$estate_image4}" href="{#IMG_ESTATE_DIR#}{$estate_image4}" class="highslide" onclick="return hs.expand(this)">
																		<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image4}" alt="Highslide JS" width="100" height="80" title="Kích chuột vào xem Ảnh phóng to" class="border_img" />
																	</a>
								        						</div>
					                               			</td>
					                               			<td align="center" width="20%" style="padding: 3px;" valign="top">
					                                          	{if $estate.estate_image5 ne ''}{assign var="estate_image5" value=$estate.estate_image5}{/if}
								        						<div>
																	<a id="thumb{$estate_image5}" href="{#IMG_ESTATE_DIR#}{$estate_image5}" class="highslide" onclick="return hs.expand(this)">
																		<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image5}" alt="Highslide JS" width="100" height="80" title="Kích chuột vào xem Ảnh phóng to" class="border_img" />
																	</a>
								        						</div>
					                               			</td>
					                               		</tr>
					                               		</table>
													</td>
												</tr>
	                          					</table>

	                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
	                          					<tr>
	                          						<td>&nbsp;
	                          						
	                          						</td>
	                          						<td>
	                          							{if $estate.estate_video neq ''}
															<object classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" 
																	codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,5,715" 
																	standby="Loading Microsoft Windows Media Player components..." type="application/x-oleobject"
																	viewastext="" width="425" height="344"
																>
																<param name="FileName" value="{#AUD_ESTATE_DIR#}{$estate.estate_video}">
																<param name="TransparentAtStart" value="true">
																<param name="AutoStart" value="true">
																<param name="AnimationatStart" value="false">
																<param name="ShowControls" value="true">
																<param name="ShowDisplay" value="false">
																<param name="playCount" value="999">
																<param name="displaySize" value="0">
																<param name="Volume" value="100">
																<embed 	type="application/x-mplayer2" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" 
																		src="{#AUD_ESTATE_DIR#}{$estate.estate_video}" name="MediaPlayer" transparentatstart="0" 
																		autostart="1" playcount="999" volume="100animationAtStart=0" displaysize="0" width="425" height="344">
															</object>
					                					{/if}
	                          						</td>
	                          					</tr>	
	                          					
	                          					<tr>
					                              	<td width="20%" align="left" valign="top" style="font-weight: bold;">
					                              		Mô tả chi tiết&nbsp;
					                                </td>
					                               	<td align="left" valign="middle" style="background:none;">
					                               		{$estate.estate_note}
					                               	</td>
	                          					</tr>
	                          					{if $smarty.session._LOGIN_ESTATE_ && $s_status ==0}
	                          					<tr>
	                          						<td>&nbsp;
	                          							
	                          						</td>
	                          						<td>
	                          					<!--
	                          							<div class="addfav">
															<a href="index.php?hdl=detail&cateid={$cateid}&estateid={$estateid}&s=1">
																Lưu lại tin này
															</a>
	                          							</div>
	                          					-->
	                          						</td>
	                          					</tr>
	                          					{/if}
	                          					</table>
										<!--
	                          					{if $estate.contact_person ne ''}
	                          					< !-- Thong tin lien he -- >
	                          					<fieldset style="text-align:left;">
	                          						<legend accesskey="Q" style="font-weight: bold; color: #0000FF;">Thông tin liên hệ</legend>
		                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
		                          					<tr>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Họ và tên</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_person}
		                          						</td>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ email</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_mail}
		                          						</td>
		                          					</tr>
		                          					<tr>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Tên công ty</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_company}
		                          						</td>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Số điện thoại</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_phone}
		                          						</td>
		                          					</tr>
		                          					<tr>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ liên lạc</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_address}
		                          						</td>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Website</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_website}
		                          						</td>
		                          					</tr>
		                          					</table>
	                          					</fieldset>
	                          					<br/>
	                          					{/if}
	                          			-->
	                          					<!-- Thong tin lien he -->
	                          					<fieldset style="text-align:left;">
	                          						<legend accesskey="Q" style="font-weight: bold; color: #135A97;">Thông tin người đăng&nbsp;</legend>
		                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
		                          					<tr>
		                          						<td style="padding-right: 5px;">
		                          						{if $estate.member_genre eq 1}
		                          							{if $memberLogo neq ""}
		                          							<img src="{#LOGO_DIR#}{$estate.member_id}.jpg" class="border_img" width="132px" height="102px"/>
		                          							{else}
		                          								<img src="frontend/images/logo.jpg" class="border_img" />
		                          							{/if}
		                          						{else}
		                          							<img src="frontend/images/freeuser.jpg" class="border_img" />
		                          						{/if}	
		                          						</td>
		                          						<td width="100%" align="left">
		                          							<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                          					<tr>
				                          						<td height="19" width="30%" align="left" valign="middle" style="font-weight: bold;">Công ty / Cá nhân</td>
				                          						<td align="left">
				                          							:&nbsp;{$estate.member_name}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ email</td>
				                          						<td align="left">
				                          							:&nbsp;<a href="mailto:{$estate.member_mail}" style="color: #D70B2E;">{$estate.member_mail}</a>
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Số điện thoại</td>
				                          						<td align="left">
				                          							:&nbsp;{$estate.member_phone}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ liên lạc</td>
				                          						<td align="left">
				                          							:&nbsp;{$estate.member_address}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Website</td>
				                          						<td align="left">
				                          							:&nbsp;<a href="{$estate.member_website}" target="_blank" style="color: #0000FF;">{$estate.member_website}</a>
				                          						</td>
				                          					</tr>
		                          							</table>
		                          						</td>
		                          					</tr>
		                          					</table>
	                          					</fieldset>
	                          					<br/>
	                          					

											<!--Xem huong nha hop tuoi-->
												<form name="web" method="post" action="http://xemngay.com/Default.aspx?blog=huongnha" id="web">
												  <table width="100%" border="0" style="border:1px solid #BCBCBC;">
												    <tr>
												      <td colspan="3" align="center">
												      	<font color="red">
												      		<strong>XEM H&#431;&#7898;NG NH&Agrave; H&#7906;P TU&#7892;I<strong>
												      	</font>
												      </td>
												    </tr>
												    <tr>
												      <td colspan="3" align="center">
												      	<input id="_ctl0_radChuan" name="_ctl0:LoBan" value="radChuan" checked="checked" type="radio">
												      		<label for="_ctl0_radChuan">Xem theo bát trạch (cổ thư  Hán)</label>
														<input id="_ctl0_radLV" name="_ctl0:LoBan" value="radLV" type="radio">
															<label for="_ctl0_radLV">Xem theo bát trạch Lạc Việt</label>
												      </td>
												    </tr>
												    
												    <tr>
												      <td width="167">Ng&agrave;y sinh (d&#432;&#417;ng l&#7883;ch) </td>
												      <td width="122">&nbsp;</td>
												      <td width="">&nbsp;</td>
												    </tr>
												    <tr>
												      <td>
												      	<label>
												        	<input type="text" style="width: 120px;" id="_ctl0_txtDay" name="_ctl0:txtDay"/>
												      	</label>
												      </td>
												      <td>
												      		<input id="_ctl0_RadNam" name="_ctl0:N" value="RadNam" checked="checked" type="radio"><label for="_ctl0_RadNam">Nam</label>&nbsp;
															<input id="_ctl0_RadNu" name="_ctl0:N" value="RadNu" type="radio"><label for="_ctl0_RadNu">Nữ</label>
												      </td>
												      <td rowspan="3">
												      <table width="100%" border="0">
												        <tr>
												          <td>
												          	
												       		<fieldset style="text-align:left;">
																<legend accesskey="Q" style="font-weight: bold; color: #135A97;">Ch&uacute; &yacute;</legend>
												          		<em>&nbsp; Xem h&#432;&#7899;ng nh&agrave; th&igrave; xem  theo ng&#432;&#7901;i ch&#7911; nh&agrave;, nh&agrave; c&oacute; &ocirc;ng b&agrave; th&igrave; xem theo &ocirc;ng, n&#7871;u &ocirc;ng m&#7845;t th&igrave; xem theo  b&agrave;... r&#7891;i m&#7899;i &#273;&#7871;n ch&#7891;ng, v&#7907;. Ch&#7911; nh&agrave; &#7903; &#273;&acirc;y l&agrave; tu&#7893;i ch&#7913; kh&ocirc;ng ph&#7843;i l&agrave; ai &#273;&#7913;ng  t&ecirc;n gi&#7845;y t&#7901;.</em>
												          	</fieldset>
												          </td>
												        </tr>
												      </table>
												      </td>
												    </tr>
												    <tr>
												      <td><p align="center" class="style1">V&iacute; d&#7909; nh&#7853;p ng&agrave;y sinh:  01/11/1980</p></td>
												      <td><label>
												      	<input type="hidden" name="__VIEWSTATE" value="dDwyMTM1MjU3ODY3O3Q8O2w8aTwwPjs+O2w8dDw7bDxpPDE+O2k8OT47PjtsPHQ8O2w8aTwwPjs+O2w8dDxwPHA8bDxUZXh0Oz47bDxcPGJyXD4iQuG7iyBraGnDqnUga2jDrWNoIG3DoCBraMO0bmcgZ2nhuq1uLCBu4bq/dSBraMO0bmcgcGjhuqNpIG5nxrDhu51pIMSR4bqhaSBsxrDhu6NuZyB0aMOsIHThuqV0IGzDoCBuZ8aw4budaSBzw6J1IGhp4buDbS4iIFw8Ylw+TMawdSBQaMOhblw8L2JcPjs+Pjs+Ozs+Oz4+O3Q8O2w8aTwxPjs+O2w8dDxwPHA8bDxUZXh0Oz47bDxDb3B5cmlnaHQgwqkgMjAwNi0yMDA4IGJ5IHhlbW5nYXkuY29tOz4+Oz47Oz47Pj47Pj47Pj47bDxfY3RsMDpyYWRDaHVhbjtfY3RsMDpyYWRMVjtfY3RsMDpyYWRMVjtfY3RsMDpSYWROYW07X2N0bDA6UmFkTnU7X2N0bDA6UmFkTnU7Pj56LOxyzYlfAynL0zFUAc82SNdX4A==" />
												        <input type="submit" id="_ctl0_brs" value="Xem hướng nhà" name="_ctl0:brs"/>
												      </label></td>
												    </tr>
												    <tr>
												      <td>&nbsp;</td>
												      <td>&nbsp;</td>
												    </tr>
												  </table>
												</form>
											<!--/Xem huong nha hop tuoi-->

	                          					
	                          					
	                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
	                              				<tr>
	                              					<td align="center" valign="top" style="padding-bottom:2px; padding-left: 1px;" colspan="4">
	                              					<fieldset style="text-align:left;">
	                          						<legend accesskey="Q" style="font-weight: bold; color: #135A97;">Dành cho quảng cáo&nbsp;</legend>
		                          					<table width="98%" align="center"  border="0" cellpadding="0" cellspacing="0">
		                          					<tr>
		                          						{foreach item=items from=$PositionSix}
				                              				{if $items.promote_banner}
				                              				<td align="center" style="padding-right:5px;padding-bottom:2px;width:100px;padding-top:13px;">
				                              				
				                              			<!-- <a href="{$smarty.const.URL_FRONTEND}index.php?hdl=promote&promoteid={$items.promote_id}" target="_blank"><img src="{#IMG_PROMOTE_DIR#}{$items.promote_banner}" class="border_img" style="width: 680px;" /></a> -->
																{if $items.promote_banner|substr:-3 == 'swf'}
																<a href="{$items.promote_website}" target="_blank"> 
																	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="318px" height="111px">
																	  <param name="movie" value="{#IMG_PROMOTE_DIR#}{$items.promote_banner}" />
																	  <param name="quality" value="high" />
																	  <param name="allowScriptAccess" value="always" />
																	  <param name="wmode" vaslue="transparent">
																	     <embed  src="{#IMG_PROMOTE_DIR#}{$items.promote_banner}"
																	      quality="high"
																	      type="application/x-shockwave-flash"
																	      WMODE="transparent"
																	      width="320px"
																	      height="111px"
																	      pluginspage="http://www.macromedia.com/go/getflashplayer"
																	      allowScriptAccess="always" />
																	</object>
																</a>
																{else}
																<a href="{$items.promote_website}" target="_blank"> 
																	<img src="{#IMG_PROMOTE_DIR#}{$items.promote_banner}" style="border: 1px solid #3883CC; width:318px; height:111px;" />
																</a>
																{/if}
						                    				                    	
															&nbsp;</td>
															{/if}
	                              						{/foreach}
		                          					
		                          						</tr>
				                          				</table>
			                          					</fieldset>
	                              					</td>
	                              				</tr>
	                              				<!-- Cac tin cung loai khac -->
												{if $EstateListNewNewsCount > 0}
												<tr>
													<td align="left" style="font-weight: bold; padding-top: 20px; padding-bottom: 10px; padding-left: 5px;">Các tin mới đăng</td>
												</tr>
												<tr>
												  	<td align="left" valign="top" style="padding-bottom: 10px; padding-left: 5px;">
												  		<table width="100%" border="0" cellpadding="0" cellspacing="0">
														{foreach item=items from=$EstateListNewNews}
												  		<tr>
												  			<td align="left" valign="middle" style="padding-right: 5px;">
												  				<img src="frontend/images/new.gif" width="10" height="8" />
												  			</td>
												  			<td width="99%" align="left" valign="middle" height="20">
												  				<a href="?hdl=detail{$params}&estateid={$items.estate_id}&page={$page}" class="text_blue">
												  					{$items.estate_title}&nbsp;-&nbsp;
												  					<i style="color:#D70B2E;">
												  						{if $items.estate_price > 0}
												                   			{$items.estate_price|money_format:"."}&nbsp;
												                   			{if $items.estate_price_type == 0}VNĐ 
												                   			{elseif $items.estate_price_type==1} Lượng vàng SJC 
												                   			{else} USD 
												                   			{/if}
									                               			{if $items.is_price_in_m2 eq "1"}
										                           			/m2
										                           			{/if}
										                           			{if $estate.is_price_in_month eq "1"}
								                           					/Tháng
								                           					{/if}
												                   			{if $items.is_price_negotiable eq '1'}
												                   				(Có thể thỏa thuận)
												                   			{/if}
												                   		{else}
												                   			(Thỏa thuận)
												                   		{/if}
												  					</i>
												  					&nbsp;&nbsp;({$items.created_date|date_format:"%H:%M %d-%m-%Y"})
												  				</a>
												  				{if $items.estate_video neq ""}
					                                        	&nbsp;&nbsp;<img border="0" src="frontend/images/video.gif">
					                                        	{/if}
												  				{assign var="now" value=$smarty.now|date_format}
																{assign var="createdDate" value=$items.created_date|date_format}
												  				{if $now eq $createdDate}
																	&nbsp;<img border="0" src="frontend/images/new_icon.gif">
																{elseif $items.estate_genre eq "2" or $items.estate_genre eq "1"}
																	&nbsp;<img border="0" src="frontend/images/vip.gif">
																{/if}
												  			</td>
												  		</tr>
												  		{/foreach}
												  		</table>
												    </td>
												</tr>
												{/if}
												
												{if $EstateListCountCurrent neq 0}
	                          					<tr>
	                          						<td align="left" style="font-weight: bold; padding-top: 20px; padding-bottom: 10px; padding-left: 5px;">Các tin khác</td>
	                          					</tr>
	                          					{/if}
	                          					
					                            <tr>
					                              	<td align="left" valign="top" style="padding-bottom: 10px; padding-left: 5px;" colspan="4">
					                              		<table width="100%" border="0" cellpadding="0" cellspacing="0">
														{foreach item=items from=$EstateListNews}
					                              		<tr>
					                              			<td align="left" valign="middle" style="padding-right: 5px;">
					                              				<img src="frontend/images/new.gif" width="10" height="8" />
					                              			</td>
					                              			<td width="99%" align="left" valign="middle" height="20">
					                              				<a href="?hdl=detail{$params}&estateid={$items.estate_id}&page={$page}" class="text_blue">
					                              					{$items.estate_title}&nbsp;-&nbsp;
					                              					<i style="color: #D70B2E;">
					                              						{if $items.estate_price > 0}
									                               			{$items.estate_price|money_format:"."}&nbsp;
									                               			{if $items.estate_price_type == 0}VNĐ 
									                               			{elseif $items.estate_price_type==1} Lượng vàng SJC 
									                               			{else} USD 
									                               			{/if}
									                               			{if $items.is_price_in_m2 eq "1"}
										                           			/m2
										                           			{/if}
										                           			{if $estate.is_price_in_month eq "1"}
								                           					/Tháng
								                           					{/if}
									                               			{if $items.is_price_negotiable eq '1'}
									                               				(Có thể thỏa thuận)
									                               			{/if}
									                               		{else}
									                               			(Thỏa thuận)
									                               		{/if}
					                              					</i>
					                              					&nbsp;&nbsp;({$items.created_date|date_format:"%d-%m-%Y"})
					                              				</a>
					                              				{if $items.estate_video neq ""}
					                                        	&nbsp;&nbsp;<img border="0" src="frontend/images/video.gif">
					                                        	{/if}
					                              				{assign var="now" value=$smarty.now|date_format}
																{assign var="createdDate" value=$items.created_date|date_format}
					                              				{if $now eq $createdDate}
																	&nbsp;<img border="0" src="frontend/images/new_icon.gif">
																{elseif $items.estate_genre eq "2" or $items.estate_genre eq "1"}
																	&nbsp;<img border="0" src="frontend/images/vip.gif">
																{/if}
					                              			</td>
					                              		</tr>
					                              		{/foreach}
					                              		{if $showPagingCount > 0}
					                              		<tr>
					                              			<td colspan="2" align="center" style="padding-top: 10px;">
					                              				{$paging}
					                              			</td>
					                              		</tr>
					                              		{/if}
					                              		</table>
					                                </td>
	                            				</tr>
	                          					</table>
	                          				</td>
	                          				<td width="4" background="frontend/images/c5.jpg"></td>
	                        			</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
						
						
						
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}