{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					<!-- Begin right area -->
	            	<td align="right" valign="top">
	            		<div>
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		               		<td>
		               			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" id="menu1" dir="ltr" style="color: #CC0303;">{$lable}</td>
				                              	</tr>
				                            	</table>
				                            </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
									</td>
								</tr>
								

								<tr>
									<td>
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
								        <tr>
								          	<td width="3" background="frontend/images/c4.jpg"></td>
								          	<td align="center" bgcolor="#F5F9FD">
								          		<form name="searchForm" action="" method="post">
									          		Chọn loại mẫu:
									          		<select name="cat_interior_id" class="dropdown" onChange="document.searchForm.submit();">
														<option value="">Tất cả</option>
													{foreach from=$cat_list item="cat" }
														<option	value="{$cat.category_id}" {if $cat_interior_id == $cat.category_id} selected {/if}>{$cat.category_name|indent:$cat.level:"&#166;&nbsp;&nbsp;&nbsp;&nbsp;":"&#166;--&nbsp;&nbsp;"}</option>
													{/foreach}
													</select>
												</form>
								           	</td>
								            <td width="4" background="frontend/images/c5.jpg"></td>
								       	</tr>
								       	</table>
									</td>
								</tr>


								
				                <tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                            	{if count($InteriorList) gt 0}
				                            	{foreach key=keys item=items from=$InteriorList}
				                            	{if $keys % 3 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="33%" align="center" valign="top">
				                              			<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                                		<tr>
				                                  			<td align="center" style="padding-top: 5px;">
								        						<div style="padding-bottom: 5px;">
																	<a id="thumb{$items.album_id}" href="{#IMG_INTERIOR_DIR#}{$items.interior_image}" class="highslide" 
																		onclick="return hs.expand(this)">
																		<img src="{#IMG_INTERIOR_DIR#}thumb_{$items.interior_image}" alt="Highslide JS" width="100" height="100" title="Click to enlarge" class="borderimg" />
																	</a>
<!-- 
																	<div align="center" class="highslide-caption">
																		{$items.interior_description}
																	</div>
 -->
								        						</div>
				                                    		</td>
				                                		</tr>
						                                <tr>
						                                  	<td align="center" valign="top" style="padding-top: 5px;">
								                            	<strong class="text_blue">{$items.interior_name}</strong>
	                                  						</td>
	                                					</tr>
	                              						</table>
	                              					</td>
	                              				{if ($keys+1) % 3 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 3 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/if}
	                            				<tr>
					                              	<td align="center" colspan="3" style="padding: 10px;">{$paging}</td>
					                            </tr>
	                            				<tr>
					                              	<td height="10" align="center"></td>
					                              	<td align="center"></td>
					                            </tr>
					                          	</table>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
									</td>
								</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						<tr>
				        	<td height="5"></td>
				        </tr>
						</table>
						</div>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}