{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="200" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		               		<td>
		               			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" id="menu1" dir="ltr" style="color: #CC0303;">
					                					{if $genre eq '1'}TIN PHONG THỦY{elseif $genre eq '0'}BẢN TIN NHÀ ĐẤT{elseif $genre eq '2'}VĂN BẢN PHÁP LUẬT{else}TIN TỨC{/if}
					                				</td>
				                              	</tr>
				                            	</table>
				                            </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
									</td>
								</tr>
				                <tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                            				<tr>
					                              	<td colspan="3" height="10"></td>
					                            </tr>
					                            {if $newsid ne ''}
	                            				<tr>
					                              	<td colspan="3" align="left">
					                              		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                              		<tr>
					                              			<td align="left" style="padding-left: 10px;">
					                              				<span style="font-size:15px;font-weight: bold;display:inline">
					                              					{$NewsDetail.news_name}
					                              				</span>
																
																({$NewsDetail.created_date|date_format:"%d-%m-%Y"})

																{assign var="now" value=$smarty.now|date_format}
																{assign var="createdDate" value=$NewsDetail.created_date|date_format}
																{if $now eq $createdDate}
																	&nbsp;<img border="0" src="frontend/images/new_icon.gif">
																{/if}
					                              			</td>
					                              		</tr>
					                              	<!--
					                              		<tr>
					                              			<td width="10%" align="left" valign="top" style="padding-left: 10px; padding-top: 15px;">
					                              				<a id="thumb{$NewsDetail.news_image}" href="{#IMG_NEWS_DIR#}{$NewsDetail.news_image}" class="highslide" onclick="return hs.expand(this)">
					                              				<img src="{#IMG_NEWS_DIR#}thumb_{$NewsDetail.news_image}" align="left" style="max-width: 200px;" class="border_img" hspace="5" /></a>
					                              				<font name="arial" style="font-weight:bold;">{$NewsDetail.news_title}</font>
					                              			</td>
					                              		</tr>
													-->
					                              		<tr>
					                              			<td align="left" style="padding-left: 10px; padding-top: 10px;">
					                              				<p style="padding-left: 5px;">{$NewsDetail.news_content}</p>
					                              			</td>
					                              		</tr>
					                              		<tr>
					                              			<td>
					                              				<div style="padding-left: 10px; font-weight: bold; padding-bottom: 10px;">Các tin tức khác</div>
					                              				<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                              				{foreach key=keys item=items from=$NewsList}
					                              				<tr>
							                              			<td width="10" align="left" valign="middle" style="padding-right: 5px; padding-left: 10px;">
							                              				<img src="frontend/images/new.gif" width="10" height="8" />
							                              			</td>
					                              					<td align="left">
																		<a href="?hdl=news&genre={$items.news_genre}&newsid={$items.news_id}&page={$page}" class="text_blue">{$items.news_name}</a>
																		{assign var="now_" value=$smarty.now|date_format}
																		{assign var="created_Date" value=$items.created_date|date_format}
																		{if $now_ eq $created_Date}
																			&nbsp;<img border="0" src="frontend/images/new_icon.gif">
																		{/if}
																		</td>
					                              				</tr>
					                              				{/foreach}
					                              				<tr>
					                              					<td align="center" colspan="2" style="padding-top: 5px;">{$paging}</td>
					                              				</tr>
					                              				</table>
					                              			</td>
					                              		</tr>
					                              		</table>
					                              	</td>
					                            </tr>
					                            {else}
												{foreach key=keys item=items from=$NewsList}
				                            	{if $keys % 2 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="50%" align="center" valign="top">
				                              			<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                                		<tr>
					                                        <td valign="top" style="padding-top: 5px;">
					                                        	<a id="thumb{$items.news_image}" href="{#IMG_NEWS_DIR#}{$items.news_image}" class="highslide" onclick="return hs.expand(this)">
					                                        	<img src="{#IMG_NEWS_DIR#}thumb_{$items.news_image}" width="92" class="border_img" align="left" hspace="5" />
					                                        	</a>
					                                        	<a href="?hdl=news&genre={$items.news_genre}&newsid={$items.news_id}" class="text_blue"><strong>{$items.news_name}</strong></a>
					                                        	<div style="padding-top: 7px;">{$items.news_title}</div>
																{assign var="now_" value=$smarty.now|date_format}
																{assign var="created_Date" value=$items.created_date|date_format}
																{if $now_ eq $created_Date}
																	&nbsp;<img border="0" src="frontend/images/new_icon.gif">
																{/if}
					                                        </td>
				                                		</tr>
	                              						</table>
	                              					</td>
	                              				{if ($keys+1) % 2 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 2 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                            				<tr>
					                              	<td colspan="3" align="center" style="padding-top: 5px;">{$paging}</td>
					                            </tr>
					                            {/if}
	                            				<tr>
					                              	<td colspan="3" height="10"></td>
					                            </tr>
					                          	</table>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
									</td>
								</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						<tr>
				        	<td height="5"></td>
				        </tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}