{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		               		<td>
		               			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" dir="ltr">
					                					Bạn đang xem tin từ&nbsp;:&nbsp;<font color="#FF0000">{if $ProvinceDetail.province_id ne ''}{$ProvinceDetail.province_name}{else}Toàn Quốc{/if}</font>
					                				</td>
					                				<td align="right" dir="ltr">
					                					{foreach key=keys item=items from=$ProvinceList}
					                						{if ($keys lt 5) && ($ProvinceDetail.province_id neq $items.province_id)}
					                							<a href="?hdl=vip{if $cateid ne ''}&cateid={$cateid}{/if}&province={$items.province_id}" class="">{$items.province_name}</a> {if $keys lt 4}&nbsp;|&nbsp;{/if}
					                						{/if}
					                					{/foreach}
					                				</td>
				                              	</tr>
				                            	</table>
				                            </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
									</td>
								</tr>
				                <tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD" width="99%">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                            	{if count($EstateGenreList) gt 0}
				                            	{foreach key=keys item=items from=$EstateGenreList}
				                            	{if $keys % 2 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="50%" align="center" style="padding: 5px;">
				                              			<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                                		<tr>
				                                  			<td height="30" align="left">
				                                    			<table border="0" cellpadding="0" cellspacing="0">
							                                    <tr>
							                                        <td><a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue"><strong>{$items.estate_title}</strong></a></td>
							                                        <td>&nbsp;<img border="0" src="frontend/images/vip.gif"></td>
							                                    </tr>
				                                    			</table>
				                                    		</td>
				                                		</tr>
						                                <tr>
						                                  	<td align="left">
						                                  		<table border="0" cellpadding="0" cellspacing="0">
						                                    	<tr>
						                                      		<td align="left">
						                                      			<table border="0" cellpadding="0" cellspacing="0" class="border_img">
								                                        <tr>
								                                          	<td>
								                                          	{if $items.estate_image1 ne ''}
								                                          		<img src="{#IMG_ESTATE_DIR#}{$items.estate_image1}" width="55" class="border_img" />
								                                          	{else}
								                                          		<img src="{#IMG_ESTATE_DIR#}spacer.gif" width="55" class="border_img" />
								                                          	{/if}
								                                          	</td>
								                                        </tr>
	                                      								</table>
	                                      							</td>
							                                      	<td width="5"></td>
							                                      	<td align="left" valign="top">
							                                        	Giá bán: 
							                                        	
							                                        	<strong>
										                               		<font color='red'>
										                               			{if $items.estate_price > 0}
											                               			{$items.estate_price|money_format:"."}&nbsp;
											                               			{if $items.estate_price_type == 0}VNĐ 
											                               			{elseif $items.estate_price_type==1} SJC 
											                               			{else} USD 
											                               			{/if}
											                               			{if $items.is_price_in_m2 eq "1"}
												                           			/m2
												                           			{/if}
											                               			{if $items.is_price_negotiable eq '1'}
											                               				(Có thể thỏa thuận)
											                               			{/if}
											                               		{else}
											                               			(Thỏa thuận)
											                               		{/if}
										                               		</font>
									                               		</strong>
							                                        	
							                                        	<br />
							                                          	Diện tích:<font color="#0419FC">&nbsp;{$items.estate_area}</font><br />
							                                          	Hướng:&nbsp;{$Direction[$items.estate_direction].text}<br />
							                                          	Nơi đăng:&nbsp;{$items.district_name}-{$items.province_name}
																	</td>
	                                    						</tr>
	                                  							</table>
	                                  						</td>
	                                					</tr>
	                              						</table>
	                              					</td>
	                              				{if ($keys+1) % 2 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{if $keys eq 9 && count($EstateVIPList) eq 0}
	                              				<tr><td colspan="2" height="5px;"></td></tr>
	                              				{foreach item=items from=$PositionFiv}
	                              				{if $items.promote_banner}
	                              				<tr>
	                              					<td colspan="2" align="center" style="padding-bottom: 2px;">
	                              						<a href="{$smarty.const.URL_FRONTEND}index.php?hdl=promote&promoteid={$items.promote_id}" target="_blank"><img src="{#IMG_PROMOTE_DIR#}{$items.promote_banner}" style="width: 670px;" border="0" class="border_img" /></a>
	                              					</td>
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 2 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/if}
	                            				<tr>
					                              	<td align="center" colspan="2" style="padding-top: 10px;">{$paging}</td>
					                            </tr>
	                            				<tr>
					                              	<td height="10" align="center"></td>
					                              	<td align="center"></td>
					                            </tr>
					                          	</table>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
									</td>
								</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						<tr>
				        	<td height="5"></td>
				        </tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}