body
{
color: #000;
font-family:Tahoma;
margin:0px;
padding:0px;
background : #FFFFFF;
font-size : 12px;
}
a
{text-decoration:none;color : #000}
img
{border : 0px}

/********************############### top ################******************/
#top
{width : 1000px;}
#logo
{
width : 980px;
height : 138px;}
#menu
{width : 979px;
background : url(images/bg_menu.gif);
height : 34px;}
#menu ul
{margin : 0px;
padding : 0px;}
#menu ul li
{float : left;
font-size : 12px;
font-weight : bold;
text-transform: uppercase;
display : block;
padding-top: 3px;

}
#menu ul li a
{float : left;
font-size : 12px;
font-weight : bold;
text-transform: uppercase;
color : #fff;
padding : 7px 20px 7px;
border-left : 1px solid #fff;
}
#menu ul li a:hover
{
	color : #ff0000;
}
#menu ul li a.dau
{float : left;
font-size : 12px;
font-weight : bold;
text-transform: uppercase;
color : #fff;
padding : 7px 15px 7px 30px;
border-left :inherit;
}
#body
{
	width : 1000px;
}
#menu div input.text
{
	width :150px;
	height : 17px;
}
#menu div input.submit
{
	width : 53px;
	height : 16px;
	background : url(images/submit.gif);
	border : 0px;
}
.text_head
{
	padding-top : 10px;
}
/********************############### main ################******************/
#main
{width : 1000px;
margin : 0px 0px 0px 0px;
}
/********************############### left ################******************/
#left
{margin : 0px;
padding-left : 10px;
padding-top : 10px;
float : left;}
#left div.bo
{width : 183px;}
#left div div.head
{width : 183px;
background : url(images/head_left_right.gif);
font-size : 12px;
color : #fff;
font-weight : bold;
text-transform: uppercase;
display : block;
height : 33px;}
#left div div.bg
{background : url(images/bg_left_right.gif);
width : 183px;}
#left div div.bottom
{width : 183px;
height : 17px;
background : url(images/bottom_left_right.gif);}
#left div div div.tin
{font-size : 12px;
padding : 7px 0px 7px;
border-top : 1px dotted #000;
text-align : left;
width : 163px;}
#left div div div.tindau
{font-size : 12px;
padding : 9px 0px 7px;
text-align : left;
width : 163px;}
#left div div div.tindau1
{font-size : 12px;
padding : 5px 0px 5px 7px;
text-align : left;
width : 163px;}
/*****************####################### center ##################**********************/
#center
{float : left;
padding : 10px 0px 10px 11px;}
#center div.bo
{width : 588px;
}
#center div div.head
{
width : 588px;
height : 29px;
}
#center div div.head div.left
{background : url(images/head_center_left.gif);
float : left;
width : 10px;
height : 29px;}
#center div div.head div div.text
{text-align : left;
padding : 10px 0px 0px 10px;
color : #fff;
font-size : 12px;
text-transform: uppercase;
font-weight : bold;
line-height: 10px;}
#center div div.head div.right
{background : url(images/head_center_right.gif);
float : left;
height : 29px;
width : 10px;}
#center div div.head div.bg_center
{background : url(images/bg_center1.gif);
float : left;
height : 29px;
width : 588px;}
#center div div.bg_border
{
float : left;
background : url(images/bg_center.gif);
width : 588px;
}
#center div div.bottom_center
{
float : left;
background : url(images/bottom_center.gif);
width : 588px;
height : 19px;
}
#center div div.bg
{
float : left;
padding : 10px 0px 0px 10px;
}
#center div div.bg div.vien
{float : left;
width :181px;
height : 170px;
border : 1px dotted #FECB24;
padding-top : 10px}
#center div div.bg div div.anh
{
width : 147px;
height : 130px;
}
#center div div.bg div div.title a:hover
{
font-weight : bold;
color : #ff0000;
font-size : 12px;}
#center div div.bg div div.title a
{
font-weight : bold;
color : #000;
font-size : 12px;}
#center div div.bg div div.gia
{
color : #ff0000;
font-size : 12px;
margin-top : 2px;}
#center div div.bg div.chu div.xem
{text-align : right;
width : 100%;
font-size : 12px;
margin-top : 2px;
font-weight : bold;
}
#center div div.bottom
{width : 588px;
padding : 0px 0px 10px 10px;
margin-top : 10px;
float : left}
#center div div.bottom div.tinkhac
{width : 100%;
text-align : left;
font-size : 12px;
padding : 4px;}
/******************************************** right ******************************/
#right
{float : right;
padding : 10px 10px 10px 0px;}
#right div.bo
{width : 187px;}
#right div.bo div.search
{background : url(images/search_12.gif);
width : 183px;
padding : 8px 0px 7px 0px;
margin-bottom : 10px}
#right div.bo div.search input.text
{width : 100px;
height : 33px;
border : 1px solid #055CA9;}
#right div.bo div.search input.submit
{width : 50px;
height : 33px;
border : 1px solid #055CA9;
background : #055CA9;
color : #fff;
font-size : 12px;
font-weight : bold;
}
#right div div.head
{width : 183px;
background : url(images/head_left_right.gif);
font-size : 12px;
color : #fff;
font-weight : bold;
text-transform: uppercase;
display : block;
height : 33px;}
#right div div.bg
{background : url(images/bg_left_right.gif);
width : 183px;}
#right div div.bottom
{width : 183px;
height : 17px;
background : url(images/bottom_left_right.gif);}
#right div div div.tin
{font-size : 12px;
padding : 7px 0px 7px;
border-top : 1px dotted #000;
text-align : left;
width : 163px;}
#right div div div.tindau
{font-size : 12px;
padding : 15px 0px 7px;
text-align : left;
width : 163px;}
#right div div div.tindau1
{font-size : 12px;
padding : 15px 0px 7px;
text-align : left;
width : 163px;}
#right div div.bg select
{width : 150px;
height : 25px;
}
#right div.bo div.anh
{float : left;}
#right div.bo div.truycap
{float : left;
font-size : 12px;
width : 145px;}
/***********************************************bottom*********************************/
#bottom
{width : 1000px; 
margin :10px 0px 0px 0px;
border-top : 1px solid #FDB312;
float : left;
}
#menubottom
{background : url(images/menubottom_16.gif);
width : 1000px;
height : 43px;
float : left}
#menubottom div.text
{color : #fff;
padding : 15px 15px 7px;
font-weight : bold;
font-size : 12px;
float : left}
#menubottom div.textdau
{color : #fff;
padding : 15px 15px 7px 115px;
font-weight : bold;
font-size : 12px;
float : left}
#menubottom div.textdau a
{color : #fff;
float : left}
#menubottom div.text a
{color : #fff;

float : left}
#menubottom div.ic
{color : #fff;
padding : 13px 15px 7px;
font-weight : bold;
font-size : 12px;
float : left;}
#copyright
{width : 1000px;
padding : 10px 0px 20px 0px;
font-size : 12px;
font-weight : normal;
float : left;} 
.content {FONT-SIZE: 12px; COLOR: #303030; FONT-FAMILY: Tahoma; TEXT-ALIGN: left;}
.btitle {FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Tahoma;
TEXT-ALIGN: left; font-weight : bold; text-transform: uppercase;}





#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	}
	

/* Min-Width */
.lbWidth { /* most browsers */
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
	min-width: 790px;
	}

* html .lbContent { /* IE6 */
	margin-left: -790px;
	position:relative;
	}

* html .lbMinWidth { /* IE6 */
	padding-left: 790px;
	}
	
	
/* Clearfix */	
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */ 
	