/*------------------------------------------------------------------------
* JV Template 1.5 - March, 2009
* ------------------------------------------------------------------------
* Copyright (C) 2004-2008 APL Solutions And Vision Co., LTD. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: APL Solutions And Vision Co., LTD
* Websites:  http://www.joomgroup.com -  http://www.joomvision.com
-------------------------------------------------------------------------*/

/* COMMON STYLE
--------------------------------------------------------- */
.clearfix {
	clear: both;
}

.contentpane .button {
	display: inline;
	height: 25px;
	padding: 0 10px;
}

/* Small text */
small, .small, .smalldark, .article-meta, .modifydate, .img_caption p, .site-slogan, a.readon {
	font-size: 92%;
}

/*article image*/
img {
	margin: 0;
	padding: 0;
	border: none;
}

.img_caption p {
	text-align: center;
	color: #000000;
}

.img_caption.left, .img_caption.right {
	margin-top: 3px;
}

.img_caption img {
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.img_caption p {
	background: url(../images/shadow-bg.gif) no-repeat right top;
	padding-top: 5px;
	margin-top: 0px;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}
.shadow img {
	padding: 1px;
	border: 1px solid #CCCCCC;	
}

.shadow {
	float: left;
	margin-right: 10px;
	padding-bottom: 3px;
}

/* Heading */
h1 {font-size: 200%;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 125%;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
	padding: 0;
}

ul {
	list-style: none;
}

ul li {
	background: url(../images/arrow2.gif) no-repeat 0 0;
	padding: 2px 0 0 22px;
}

ol li {
	margin-left: 35px;
}

th {
	font-weight: bold;
	padding: 8px;
	text-align: left;
}

fieldset {
	border: none;
	padding: 10px 5px;

}


fieldset a {
	font-weight: bold;
}

fieldset.input {
	padding: 0;
	background: none;
}

legend {
	font-weight: bold;
	background: #FFFFFF;
}

td, th, div {
	font-size: 100%;
}

/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

form label {
	cursor: pointer;
}

input, select, textarea, .inputbox, .button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.button {
	padding: 5px 10px;
	display: inline-block;
	border: none;
	background: #002983;
	cursor: pointer;
	color: #FFF;
	border-radius: 7px;
}

* html .button { /*IE 6*/
	padding: 0 5px !important;
}

*+html .button { /*IE 7*/
	padding: 7px 10px 2px !important;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
/* Article Layout */
.leading {
	padding-bottom: 10px;
}
.leading_separator {
	/*background: url(../images/dot-hoz.gif) repeat-x top left;*/
	display: block;
	margin: 1px 0;
	height: 2px;
	overflow: hidden;
	width: 100%;
}
.article_column {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}
.article_separator {
	clear: both;
	margin: 0;
	display: none;
}
.row_separator {
	display: block;
	clear: both;
	/*background: url(../images/dot-hoz.gif) repeat-x bottom left;*/
	height: 2px;
}
.article_row {
	margin: 0;
	overflow: hidden;
	clear: both;
}
.column1.cols1 {
	float: none;
}
.column2.cols2 {
	float: right;
}
.column3.cols3 {
	float: right;
}
.column4.cols4 {
	float: right;
}
.column5.cols5 {
	float: right;
}
.column1.cols2 .article_column_pad,
.column1.cols3 .article_column_pad,
.column2.cols3 .article_column_pad,
.column1.cols4 .article_column_pad,
.column2.cols4 .article_column_pad,
.column3.cols4 .article_column_pad,
.column1.cols5 .article_column_pad,
.column2.cols5 .article_column_pad,
.column3.cols5 .article_column_pad,
.column4.cols5 .article_column_pad {
	/*background: url(../images/dot-vert.gif) repeat-y top right;*/
}
.article_column_pad {
	margin: 10px 10px 10px 0;
	padding: 0 10px 0 0;
	overflow: hidden;
}
p.iteminfo {
	line-height: 1em;
	margin: 0 -10px 5px;
	padding: 10px;
}
.article_row p.iteminfo {
	line-height: 1em;
	margin: 0 -10px 5px;
	padding: 10px;
}
.articleinfo {
	margin: 0.5em 0;
}
/* Category Table layout */
.filter {
	float: left;
	margin: 0;
	padding: 0;
}
.display {
	float: right;
	margin: 10px 0 0;
	text-align: right;
}
/**/
table.category,
table.weblinks,
table.newsfeeds {
	border:1px solid #ccc;
	float: left;
	width: 99%;
	clear:both;
	font-size:1em;
	margin:20px 2px;
}
table.newsfeeds th, table.weblinks th, table.category th {
	background: #ccc;
	padding: 5px;
}
table.newsfeeds td, table.weblinks td, table.category td {
	padding:5px;
}
/* content tables */
.sectiontableheader {
	padding: 4px 8px;
	font-weight: bold;
}

.sectiontableheader a,
.sectiontableheader a:hover,
.sectiontableheader a:active,
.sectiontableheader a:focus {
	color: #333;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 8px;
}
td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
	padding: 4px;
}
table.contentpane {
	border: none;
	width: 100%;
}

table.contentpaneopen {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 30%;
	float: right;
}

table.contenttoc td {
	background: url(../images/bullet.gif) no-repeat 1px 6px;
	padding: 1px 5px 1px 15px;
}

table.contenttoc th {
	border-bottom: 1px solid #CCCCCC;
	padding: 0 0 3px;
	text-indent: 5px;
}

table.poll {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

table.pollstableborder {
	border: none;
	padding: 0;
	text-align: left;
	width: 100%;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 4px !important;
	background: none;
}

table.pollstableborder tr.sectiontableentry1 td {
	background: #EEEEEE;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px!important;
}

.blog_more {
	margin: 0;
	padding: 10px 0 0;
}

.blog_more strong {
	display: block;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}

.blog_more ul li {
	background: url(../images/arrow2.gif) left 0 no-repeat;
	margin: 0;
	padding: 2px 0 5px 22px;
}

.category {
	
}

h1.componentheading, .componentheading {
	font-size: 175%;
	line-height: 36px;
	margin: 0;
	padding: 0;
    border-bottom: 1px solid;
}

.contentdescription {
	/*padding-bottom: 30px;*/
}

h2.contentheading, .contentheading {
	margin: 0;
	padding: 0;
	line-height: 36px;
}

table.blog .contentheading {
	font-size: 1.4em;
}
td.contentheading {
	line-height: 28px;
}
a.contentpagetitle,
a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
}

a.readon {
}

a.readon:hover, a.readon:focus, a.readon:active {
	text-decoration: none;
}

table.contentpaneopen td, table.contentpane td {
}

table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}

.moduletable {
	padding: 0;
}

ul.pagination {
	color: #ff7300;
	overflow: hidden;
	clear: both;
	margin: 10px 0 0;
	padding: 10px 0;
	text-align: center;
	list-style: none;
}

ul.pagination li {
	line-height:1.4em;
	display: inline;
	margin: 10px 0;
	padding: 0 0 0 2px;
	background: none;
}

ul.pagination li span.pagihide {
	/*background: #9B9B9B url(../images/pagihide_r.jpg) no-repeat scroll right top;*/
	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
	display:inline;
	padding:2px 5px 3px 0;
}
ul.pagination li span.pagihide span {
	/*background: #9B9B9B url(../images/pagihide_l.jpg) no-repeat scroll left top;*/
	display:inline;
	padding:2px 0 3px 5px;
}

ul.pagination a {
	/*background:#FF7300 url(../images/pagi_r.jpg) no-repeat scroll right top;*/
	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
	color:#006DBA;
	padding:2px 5px 3px 0;
	text-decoration:none;
}
ul.pagination a span {
	/*background:transparent url(../images/pagi_l.jpg) no-repeat scroll left top;*/
	padding:2px 0 3px 5px;
}

ul.pagination a:hover span,
ul.pagination a:active span,
ul.pagination a:focus span {
}
.counter {
	text-align: center;
	margin: 0.5em 0;
}
.pagenavbar {
	background: url(../images/icon-pages.gif) no-repeat center left;
	font-weight: bold;
	padding-left: 14px;
}

.pagenavcounter {
	background: url(../images/icon-pages.gif) no-repeat 0 11px;
	font-weight: bold;
	padding: 8px 14px 0 14px;
}

.smalldark {
	text-align: left;
}

div.syndicate div {
	text-align: center;
}

tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	background: none;
	padding: 3px 5px !important;
}


/* META
--------------------------------------------------------- */
.article-toolswrap {
	display: block;
	margin: 0 0 10px;
	padding: 0;
	position: relative;
}

.article-tools {
	display: block;
	padding: 0 10px 0 0;
}

.article-meta {
	width: 70%;
	float: left;
	color: #ff7300;
}

.createdby {
	color: #999;
	font-size: 0.9em;
}

.createdate {
	color: #999;
	font-size: 0.9em;
}

.modifydate {
	width: 100%;
	display: block;
	color: #999;
	margin: 0;
	padding-bottom: 10px;
}

.article-section {
	padding-left: 6px;
	margin-left: 5px;
}

.article-section a {
	color: #ff7300;
}

.article-category a {
	color: #ff7300;
}

.buttonheading img {
	margin: 12px 0 0 3px !important;
	border: 0 !important;
	float: right;
	background: none !important;
}
p.buttonheading {
	text-align:right;
	margin: 0;
}

p.buttonheading a:hover {
	background:none !important;
	color:#000 !important;
}

p.buttonheading a:active,p.buttonheading a:focus {
	color:#000;
}
