/*-----------------------------------------------------------
# Copyright (C) 2009 JoomVision.com . All Rights Reserved.
# Author: JoomVision.com
# Websites:  http://www.joomvision.com
------------------------------------------------------------*/
/* COMON STYLE
---------------------*/

* {
	margin: 0;
	padding: 0;
}


html, body, form, fieldset {
	margin: 0;
	padding: 0;
}

body {
	color: #666666;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

body#bd {
	color: #666;
	font-size: 12px;
	font-family: Arial, Tahoma;
    background:#bcdef7;
}

body.contentpane {
	width: auto; /* Printable Page */
	margin: 0px;
	font-size: 12px;
	/*color: #333;*/
}

body.fs1 {
	font-size: 10px;
}

body.fs2{
	font-size: 12px;
}

body.fs3{
	font-size: 13px;
}

body.fs4{
	font-size: 13px;
}

body.fs5{
	font-size: 14px;
}

body.fs6{
	font-size: 15px;
}

/* Normal link */
a {
	color: #006DBA;
	text-decoration: none;
	outline: none;
}

a:hover, a:active, a:focus {
	color: #FF6600;
	background: none;
	text-decoration: none;
}
a img {
	border: 0;
}
.jv-content-wrapper img {
	border: 1px solid #DDD;
	margin: 0 10px 0 0;
	padding: 3px;
}

/* Small text */
small, .smalldark, .mosimage_caption, .createby, .modifydate, a.readon, .img_caption {
	font-size: 100%;
}
.createdate, .small {
	color: #006DBA;
	font-size: 90%;
}
/* Heading */
h4 {
 /*	text-transform: uppercase;*/
}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
	padding: 0;
}
h1,
h2,
h3,
h4{
	color: #FF6600;
}
ul {
	list-style: none;
}

ul li {
	background: url(../images/arrow.gif) no-repeat 0 0;
	padding:0 0 2px 15px;
	list-style: none;
}

ul.blue li {
	background: url(../images/dot_blue.gif) repeat-x left bottom;
	padding: 12px 0 2px;
	list-style: none;
}

ol li {
	margin-left: 35px;
}

th {
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

fieldset {
	border: none;
	padding: 10px 5px;
	background: url(../images/hdot2.gif) repeat-x top;
}

fieldset a {
	font-weight: bold;
}

hr {
	border-top: 1px solid #CCCCCC;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}

td, div {
	
	font-size: 100%;
}

/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

form label {
	cursor: pointer;
}

input, select, textarea, .inputbox {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.button {
	color: #FFF;
}

.button:hover,
.button:active,
.button:focus {
	background: #FF6600;
}


* html .button {
	padding: 0 !important; /*IE 6*/
}

*+html .button {
	padding: 0 !important; /*IE 7*/
}

.inputbox {
	border: 1px solid #CCCCCC;
}

.inputbox:hover, .inputbox:focus {
	color: #000;
}

/* JOOMLA STYLE
--------------------------------------------------------- */

.adminform .inputbox {
}

.blog_more {
	padding: 10px 0;
	background: url(../images/hdot.gif) repeat-x top;
}

.blog_more strong {
	margin: 0 0 5px;
	display: block;
	font-size: 125%;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}


h1.componentheading, .componentheading {
	padding: 5px 0 15px;
	margin: 0 0 10px;
}

.componentheading {
	color: #FF6600;
	text-transform: none;
}
.contentdescription {
	padding-bottom: 30px;
}

h2.contentheading, 
.contentheading {
	border-bottom: 1px solid #dbdbdb;
	color: #006DBA;
	font-size: 150%;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 0 0 10px;
	width: 100%;
	text-transform: none;
}

a.contentpagetitle {
	color: #006DBA;
}

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	color: #FF6600;
}
div.readmore {
	display: block;
	margin-bottom: 10px;
	height: 26px;
}
a.readon {
	float: right;
	padding: 0 10px 0 0;
	color: #FFF;
	line-height: 25px;
	border: none !important;
	background: url(../images/readon_r.jpg) no-repeat top right;
}
a.readon span {
	padding: 0 0 0 10px;
	display: block;
	line-height: 25px;
	border: none !important;
	background: url(../images/readon_l.jpg) no-repeat top left;
}
a.readon:hover,
a.readon:active,
a.readon:focus {
	background: url(../images/readon_r_hover.jpg) no-repeat top right;
}
a.readon:hover span,
a.readon:active span,
a.readon:focus span {
	background: url(../images/readon_l_hover.jpg) no-repeat top left;
}
a.fullimage {
	padding: 0 0 0 20px;
	display: block;
	width: 110px;
	height: 20px;
	background: url(../images/zoom.jpg) no-repeat left top;
	color: #666666;
}
a.readon:hover, a.readon:active, a.readon:focus {
	text-decoration: none;
}
/* Style for JV Weather module */
div.jv-weather-cont {
	height: auto !important;
}
div.jv-weather-cont li.jvweather_icon span, 
div.jv-weather-cont li.jvweather_temp span, 
div.jv-weather-cont li.jvweather_day span,
div.jv-weather-cont li.jvweather_forecast span {
	background: none !important;
}
a.jv-weather-edit {
	background: url(../images/readon_r.jpg) no-repeat top right !important;
	line-height: 25px;
	height: 25px;
	padding: 0 10px 0 0;
	display: block;
}
a.jv-weather-edit:hover,
a.jv-weather-edit:active,
a.jv-weather-edit:focus {
	background: url(../images/readon_r_hover.jpg) no-repeat top right !important;
	height: 25px;
	padding: 0 10px 0 0;
}
a.jv-weather-edit span {
	height: 25px;
	color: #FFF;
	display: block;
	line-height: 25px;
	padding: 0 0 0 10px;
	background: url(../images/readon_l.jpg) no-repeat top left !important;
}
a.jv-weather-edit:hover span,
a.jv-weather-edit:active span,
a.jv-weather-edit:focus span {
	color: #FFF;
	background: url(../images/readon_l_hover.jpg) no-repeat top left !important;
}

/*JV Title Flash Module*/
.jv-jvtitleflash .sliderwrapper .contentdiv {
	padding: 0 0 0 10px;
}
.jv-jvtitleflash .sliderwrapper .contentdiv span {
	color: #006DBA;
}
.jv-titleflash-time {
	color: #006DBA !important;	
}	
.jv-titleflash-pagination a.next,
.jv-titleflash-pagination a.next:active,
.jv-titleflash-pagination a.next:hover,
.jv-titleflash-pagination a.next:focus{
	background: url(../images/next.gif) no-repeat bottom left;
	margin-top: 0;
	height: 18px;
	text-indent: -9999em;
}
.jv-titleflash-pagination a.prev,
.jv-titleflash-pagination a.prev:active,
.jv-titleflash-pagination a.prev:hover,
.jv-titleflash-pagination a.prev:focus {
	background: url(../images/pre.gif) no-repeat bottom left;
	margin-top: 0;
	height: 18px;
	text-indent: -9999em;
}

/* META
--------------------------------------------------------- */
.article-tools {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px;
	display: block;
}

.article-meta {
	padding: 5px;
	width: 80%;
	float: left;
}

.createby {
	padding: 3px 3px 3px 10px;
}

.createdate {
	padding: 0;
}
div.author-icons {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
div.author {
	margin: 0;
	padding: 0;
	float: left;
}
div.icons {
	margin: 0;
	padding: 0;
	float: right;
}
div.icons img {
	border: none;
}
.modifydate {
	color:#999999;
	float:left;
	font-size:10px;
	width:100%;
}

div.buttonheading {
	float: right;
	width: 15%;
}

.buttonheading img {
	margin: 7px 5px 0 0;
	border: 0;
	float: right;
}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#jv-wrapper {
	background: #FEFEFE; /*url(../images/bg.png) repeat-y scroll 0 0;*/
	margin: 0 auto;
	padding: 0 5px;
	width: 985px;
}
#jv-bottomwrap {
	/*background:transparent url(../images/bottom_bg.gif) no-repeat scroll 0 0;*/
	clear:both;
	height:6px;
	line-height:0;
	margin:auto;
	width:986px;
}

#jv-container,
#jv-container-l {
	background: none;
	border-top: 1px solid #CDCDCC;
	margin: 0px 0px;
	padding: 0 ;
	width: 986px;
}

#jv-maintop {
	height: 70px;
	overflow: hidden;
    background: url(../images/header-bg.gif) no-repeat;
}
#jv-main-header {
	clear: both;
	margin: 0;
	padding: 0;
	width: 986px;
}
#jv-containerwrap {
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: 18px;
	background: none;
	width: 986px;
}
#jv-body {
	margin: 0;
	padding: 0;
	background: none;
	width: 100%;
	overflow: hidden;
}
.jv-colspan,
.jv-colspan-r,
.jv-colspan-l {
	margin: 0;
	padding: 0;
}
.jv-left-wrapper,
.jv-content-wrapper,
.jv-right-wrapper {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

/*FULL LEFT RIGHT MAIN-CONTENT*/
#jv-container .jv-left-wrapper {
	padding:0;
	margin: 0;
	float: left;
	width: 210px;
    background-color: #EEF3FD;
	border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
    padding: 0px 5px;    
}
#jv-container .jv-right-wrapper {          
    padding:0;
    margin: 0;
    float: right;
    width: 230px;
    background-color: #EEF3FD;
    border-left: 1px solid #e5e5e5;
    padding: 0px 5px;    
}
#jv-container .jv-content-wrapper {
	float: left;
	width: 510px;
    padding: 5px;
	background: #FFF;
}
#jv-right ul.menu{
    margin: 0px;
}
#jv-right ul.menu li{
    background: none;
    padding  : 5px 0px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #c0c0c0;
}
.jv-content-wrapper #jv-padding {
	padding: 0px 0px 0px 3px;	
}

/* LEFT AND MAIN-CONTENT */
#jv-container-l .jv-left-wrapper {
	background: #F2F2F2 url(../images/left_bg.jpg) top left no-repeat;
	padding:0;
	margin: 0;
	float: left;
	width: 27%;
}

#jv-container-l .jv-content-wrapper {
	padding: 0;
	float: left;
	width: 100%;
}

/* RIGHT AND MAIN-CONTENT */
#jv-container-r .jv-content-wrapper {
	width: 70%;
	float: left;
	margin: 0;
	padding: 0;
}
#jv-container-r .jv-right-wrapper {
	padding:0;
	margin: 0;
	float: right;
	width: 30%;
}

/*FULL SITE*/

#jv-container-full .jv-content-wrapper {
	width: 930px;
	padding: 0;
	margin: 0 auto;
	border-top: 1px solid #CDCDCC;
}
#jv-container-full .jv-content-wrapper #jv-padding {
	padding: 10px 0;
}
#jv-content-bg-tl {
	background: url(../images/content-bg-tl.png) top left no-repeat ;
	height: 25px;
	padding-left: 18px;
}
#jv-content-bg-tr {
	background: url(../images/content-bg-tr.png) top right no-repeat ;
	height: 25px;
}

#jv-content-bg-cl {
	background: url(../images/content-bg-cl.png) top left repeat-y ;
	padding-left: 18px;
}
#jv-content-bg-cr {
	background: #F1EEDD url(../images/content-bg-cr.png) top right repeat-y ;
	padding: 20px 20px 20px 10px;
	overflow: hidden;
}

#jv-content-bg-bl {
	background: url(../images/content-bg-bl.png) top left no-repeat ;
	height: 30px;
	padding-left: 18px;
}
#jv-content-bg-br {
	background: url(../images/content-bg-br.png) top right no-repeat ;
	height: 30px;
}


#jv-footer-wrapper {
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 1000px;
	height: 60px;
	position: relative;
}
#jv-footer {
	margin: 0;
	padding: 0;
	height: 60px;
	color: #333;
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
#jv-footer div.moduletable {
	margin: 0 0 5px 0;
}
#jv-footer a {
	color: #666;
	font-size: 12px;
}
#jv-footer a:hover,
#jv-footer a:active,
#jv-footer a:focus {
	color: #FF4200;
	text-decoration: underline;
}
#jv-footer-nav {
	text-align: center;
}
.jv-footer-left {	
	margin: 0;
	padding: 10px 0 0 10px;
	text-align: center;
}
#jv-footer h3 {
	margin: 0;
	padding: 0;
	border: none;
	color: #999;
	font-weight: bold;
}
#jv-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#jv-footer li {
	background: url(../images/footers.png) center left no-repeat;
	margin: 0;
	padding: 0 10px;
	display: inline;
}
#jv-footer-nav li.jv-firstitem {
	background: none;
}
#jv-footer-nav a {
	text-decoration: none;
}
#main-header-links {
	margin: 0;
	padding: 0;
	height: 20px;
	text-align:right;
}
#main-header-links div.moduletable {
	margin: 0;
	padding: 0;
	float: right;
}
#main-header-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main-header-links ul li {
	margin: 0;
	padding: 0 5px;
	color: #FFF;
	display: inline;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 9px;
	list-style-type: none;
	background: url(../images/main-header-links.jpg) no-repeat right center;
}
#main-header-links ul li.last {
	padding: 0 0 0 5px;
	background: none;
}
#main-header-links ul li a, 
#main-header-links ul li a:link {
	color: #FFF;
	text-decoration: none;
}
#main-header-links ul li a:hover,
#main-header-links ul li a:active,
#main-header-links ul li a:focus {
	color: #8D8D8D;
}

#main-header-logo {
	background: url(../images/logo.png) center left no-repeat;
	margin: 0 0 0 15px;
	padding: 0;
	float: left;
	height: 70px;
}
#main-footer-logo {
	background: url(../images/logo-footer.jpg) top right no-repeat;
	float:right;
	height:76px;
	margin:0;
	padding:0;
	width: 216px;
}
.jvcol{
	margin: 20px 0 0 0;
	padding: 0;
	display: block;
	clear: both;
}

#jv-content {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
#jv-left {
	margin: 0;
	padding: 10px 0 0;
	overflow: hidden;
	color: #000;
}
#jv-right {
	color: #655135;
	margin: 0;
	padding: 10px 5px;
	overflow: hidden;
}
/******* ADD-ON for some other modules *****************/
#searchForm td {
	padding: 6px 0;
}
#mod_search_searchword {
	height: 22px;
	width: 236px;
	padding: 4px 0 0 5px;
	text-align:left;
	border: none;
	color: #9B9B9B;
	font-size: 11px;
	background: url(../images/search-bg.jpg) no-repeat;
	margin-left:5px;
}
div.search .button {
	background: #69A914;
	color: #FFFFFF;
	height: 21px;
	line-height: 21px;
	width: 57px;
	border: none;
	margin: 2px 0 0 5px;
	padding: 0 0 2px 0;
}

/* JV Slide Show
--------------------------*/

#jv-mainslideshow {
	margin: 0 15px;
	padding: 0;
	height: auto;
	overflow: hidden;
}
#jv-slideshow {
	border: none;
	margin: 5px auto;
	width: 930px;
	overflow: hidden;
}
#jv-slideshow img {
	border: none;
}
#jv-slideshow-wrap {
	height: 202px;
}
/* TOP MENU
------------------------------------------------*/
#jv-mainnavwrap {
	padding: 0;
	margin: 0;
	display: block;
	height: auto;
	z-index: 999999;
}
#jv-mainnav {
	margin: 0px;
	padding: 0;
	width: 100%;
	display: block;
	float: left;
	/*position: relative;*/
	border: none;
}
#jv-sub-menu {
	overflow: hidden;
}
/* TOP HEADER
------------------------------------------*/
#jv-topbar {
	background: url(../images/top_bar_center.gif) repeat-x bottom;
	height:37px;
	width: 986px;
}
#jv-topbar ul {
	margin: 0;
	padding: 0;
}
#jv-topbar li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	border: 0 none;
	background: none;
}
#jv-topbar li a {
	display: block;
	float: left;
	padding: 0 15px;
	line-height: 30px;
	text-align: left;
	color: #727374;
	text-decoration: none;
}
#jv-topbar li a:hover { 
	color: #006BA9;
	text-decoration: none;
}
/* end top bar here */
/* beign top nav */
#jv-mainmenu  {
	
	 background: url("../images/bg-menu.png") repeat-x scroll 0 0 #6A1D1D;
    height: 30px;
    margin: 0 auto;
    width: 986px;
	display: block;
	/*height: 50px;*/
	/*overflow: hidden;*/
}
#jv-mainmenu-r {
	display: block;
	height: 30px;
	/*background: url(../images/bg_mainmenu_r.jpg) no-repeat top right;*/
}
#jv-mainmenu-l {
	display: block;
	height: 30px;
	/*background: url(../images/bg_mainmenu_l.jpg) no-repeat top left;*/
}

#jv-submenu {
	margin: 0 15px;
	display: block;
	overflow: hidden;
	height: 30px;
}

#jv-submenu ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#jv-submenu ul ul {
	display: block;
}

#jv-submenu ul li {
	padding: 0 15px 0 0;
	background: none;
	display: block;
	float: left;
}

#jv-submenu ul li a.active {
	font-weight: bold;
}
/* Search */

#jv-search {
	margin:  0;
	padding: 2px 0 0 0;
	float: right;
	color: #BE2413;
	text-align: right;
	width: 40%;
}
#jv-search div.module div div div {
	text-align: right;
}

/* begin phone here*/

#jv-phone {
	margin:  0;
	padding: 25px 0 0 0;
	float: right;
	text-align: left;
	color: #006DBA;
	font-weight: bold;
	width: 60%;
}
#jv-phone .small {
	font-size: 12px;
	font-style:italic; 
}
/* HEADER
--------------------------------------------------------- */
#jv-headerwrap {
	color: #CCCCCC;
	line-height: normal;
	padding: 0;
	/*position: relative;*/
}

#jv-header {
	width: 100%;
	height: 85px;
	background: url(../images/bg_head.jpg) no-repeat bottom right #292929;

}
/* LOGO
--------------------*/
h1.logo {
	margin: 0;
	padding: 0;
	font-size: 180%;
	text-transform: uppercase;
	float: right;
}

h1.logo a {
	width: 650px;
	height: 70px;
	display: block;
	background: url(../images/blank.png) top left no-repeat;
	position: relative;
	z-index: 100;
}

h1.logo a span {
	position: absolute;
	top: -1000px;
}
#main-footer-logo h1.logo a {
	width: 150px;
	height: 76px;
	display: block;
	background: url(../images/blank.png) top left no-repeat;
	position: relative;
	z-index: 100;
}
	

p.site-slogan {
	margin: 0;
	padding: 0;
	padding: 2px 5px;
	color: #FFFFFF;
	background: #444444;
	font-size: 92%;
	position: absolute;
	bottom: 20px;
	left: 0;
}

/* BANNER
----------------------------------------------------- */
#jv-banner {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	overflow: hidden;
}		
/* MAIN NAVIGATION
--------------------------------------------------------- */
#jv-space {
	display: block;
	height: 8px;
}

/* MODULE
--------------------------------------------------------- */
span.small {
	padding-left: 10px;
}

div.module_border{
   background:url("../images/default-br.gif") no-repeat scroll right bottom transparent; 
}
div.module_border div{
   background:url("../images/default-bl.gif") no-repeat scroll left bottom transparent; 
}
div.module_border div div{
   background:url("../images/bg_h3_r.png") no-repeat scroll right top transparent;
}
div.module_border div div div{
   background:url("../images/bg_h3_l.png") no-repeat scroll left top transparent;
}
div.module_border div div div div{
    background: none;

}
div.module_border h3{
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

div.module h3,
div.module_menu h3,
div.module_text h3,
div.module_contact h3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-weight: bold;
}
div.moduletable img,
div.module_menu img,
div.module_text img, 
div.moduletable_contact img {
	border: none;
}


div.module span.show {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 19px;
	height: 20px;
	background: url(../images/jv-colleft-active.jpg) no-repeat top left;
}


div.jv-collapse {
	width: 100% !important;
	position: relative;
}


/* Module rounded */
div.module_menu ul {
}
div.module_menu ul li {
	margin: 0;
	padding: 0 !important;
	width: 100%;
	text-decoration: none important;
}

div.module_menu li a {
	background: none;
	margin: 0;
	padding: 1px 0 2px !important;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	color: #666666;
}

div.module_menu li a:hover,
div.module_menu li a:active,
div.module_menu li a:focus {
	color: #FF6600;
}
div.module,
div.module_menu,
div.module_text,
div.module-tags{
	margin-bottom: 10px;
	float: left;
	clear: both;
	width: 100%;
	overflow: hidden;
}

#jv-left ul li {
	background: none;
	padding:  0;	
	text-decoration: none;
}
#jv-left li a {
	display: block;
	padding-left: 20px;
	line-height: 20px;
	background: url(../images/arrow.gif) left 2px no-repeat;
}
#jv-left ul#mainlevel li a {
	padding-left: 20px !important;
}
#jv-left li a:hover,
#jv-left li a:active,
#jv-left li a:focus {
	background: url(../images/arrow_active.gif) left 2px no-repeat;
}
#jv-left  ul li span {
	background: url(../images/dot_line_bg.gif) repeat-x scroll left bottom;
	display:block;
	padding: 0px 2px 0 18px;
}
#jv-left h3 {
	background:url("../images/m-h3-l.png") no-repeat scroll left top #9B9B9B;
	color: #FFFFFF;
	margin: 0;
	padding: 0 0 0 10px;
	line-height: 32px;
	height: 32px;
	text-transform: uppercase;
	font-size: 100%;
	text-shadow: 0 1px 0 #c8c8c8;
}
#jv-left h3 span {
	display: block;
	padding: 0 10px 0 0;
	line-height: 32px;
	height: 32px;
	background: url(../images/m-h3-r.png) no-repeat top right;
}
#jv-right h3 {
    background:url("../images/r-m-h3-l.png") no-repeat scroll left top #9B9B9B;
    color: #2a78d1;
    margin: 0;
    padding: 0 0 0 32px;
    line-height: 32px;
    height: 32px;
    text-transform: uppercase;
    font-size: 100%;
    text-shadow: 0 1px 0 #9FA1A1;
}
#jv-right h3 span {
    display: block;
    /*padding: 0 10px 0 0;*/
    line-height: 32px;
    height: 32px;
    background: url(../images/r-m-h3-r.png) no-repeat top right;
	width:155px;
}
/*div.module-tabs a {
	color: #FFFFFF;
}*/

div.banneritem_text {
	padding: 5px 0 !important;
}


div.advs {
	text-align: center;
	width: 100%;
}


/*----------------------Begin Main Body-------------------------------*/
#jv-mainbody {
	margin: 0px;
	padding: 0px;
	/*overflow: hidden;*/
}


/* BOX STYLE
--------------------*/
.jv-box-br,
.jv-box-full,
#jv-inset {
	margin: 5px 0 0 0;
	padding: 0;
	float: left;
	width: 100%;
}
#jv-com-content {
	margin: 0;
	padding: 10px 0 0 0;
	float: left;
	width: 100%;
	background: url(../images/bg_column_h.jpg) repeat-x top;
}
#jv-bottom-wrap {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	background: url(../images/bg_column_h.jpg) repeat-x top;
	font-size: 100%;
}
.jv-box-content {
	overflow: hidden;
}
.jv-box-left .jv-box-content {
	padding: 0 8px 0 0;
}
.jv-box-right .jv-box-content {
	padding: 0 0 0 8px;
}
.jv-box-content ul.menu {
	list-style: none;
	overflow: hidden;
}
.jv-box-content ul.menu li {
	width: 100%;
	display: block;
	float: left;
	padding: 0;
	border-bottom: solid 1px #2e2e2e;
}
.jv-box-content ul.menu li a {
	width: 100%;
	display: block;
	float: left;
	background: url(../images/dot_menu.gif) no-repeat 10px 15px #1D1D1D;
}
.jv-box-content ul.menu li a span {
	padding: 10px 5px 10px 20px;
	display: block;
	float: left;
	color: #838383;
}
.jv-box-content ul.menu li#current a,
.jv-box-content ul.menu li a:hover,
.jv-box-content ul.menu li ul a:hover,
.jv-box-content ul.menu li#current ul a {
	background: url(../images/dot_menu.gif) no-repeat 10px 15px #303030;
}
.jv-box-content ul.menu li#current a span {
	color: #838383;
	font-weight: bold;
}
.jv-box-content ul.menu li ul a,
.jv-box-content ul.menu li#current ul a {
	background: url(../images/dot_menu.gif) no-repeat 10px 15px #1D1D1D;
}
.jv-box-content ul.menu li ul a span,
.jv-box-content ul.menu li#current ul a span {
	color: #838383;
	font-weight: 100;
}
/* Pathway style here 
--------------------------------*/

#jv-pathway {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
#jv-pathway a {
	color: #f0c600;
	text-decoration: underline;
}
#jv-pathway span.breadcrumbs {
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;
	height: 30px;
	line-height: 30px;
	float: left;
	width: 100%;
	font-size: 9px;
	border-bottom: solid 1px #D2D2D2;
	font-family: Verdana, Tahoma;
}
#jv-pathway strong {
	margin-right: 5px;
	font-weight: normal;
}
#jv-pathway img {
	margin: 3px 0 0 0;
}

/*----------------------End Main Body-------------------------------*/

/* SPOTLIGHT
--------------------------------------------------------- */
/* Spotlight Box Style */
.jv-box-left, 
.jv-box-center {
	float: left;
	text-align: left;
	overflow: hidden;
}
#jv-colwrap .jv-box-left {
	background: url(../images/bg_jvboxleft.jpg) repeat-y right;
}
.jv-box-right {
	float: right;
	overflow: hidden;
}
.jv-box-right .moduletable-tags {
	margin: 0 0 15px 0;
	padding: 0;
	overflow: hidden;
}
#jv-top-wrap {
	overflow: hidden;
}
div.jv-box-left div.moduletable,
div.jv-box-center div.moduletable,
div.jv-box-right div.moduletable {
	padding: 0 10px 0 0;
}
#jv-colwrap div.jv-box-left h3,
#jv-colwrap div.jv-box-center h3,
#jv-colwrap div.jv-box-right h3,
#jv-colwrap div.jv-box-full h3,
#jv-top-wrap div.moduletable h3 {
	padding: 0 0 5px 0;
	font-family: 'Arial';
	font-size: 120%;
	margin-bottom: 10px;
}

/* Inset begin here */
#jv-inset {
	padding: 0;
}

#jv-botsl h3 {
	background: none;
}

#jv-botslwrap {
	border-top:  1px solid #A2A9B2;
	text-align:center;
	margin: 5px 0;
	padding-top: 5px;
}

#jv-botsl {
	background: none;
	padding: 0 ;
	
}

#jv-botsl div.moduletable {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

#jv-botsl h3 {
	margin: 0 0 12px;
	padding: 0;
}

#jv-botsl a {
	padding-left:10px;
	font-weight:bold;
}
span.orange {
	color: #FF6600;
	font-size: 14px;
	font-weight: bold;
}
span.style1 {
	margin: 0;
	padding: 0;
	color: #999999;
	font-size: 17px;
	font-weight: bold;
}
span.style2 {
	margin: 0;
	padding: 0;
	color: #c97829;
	font-size: 17px;
	font-weight: bold;
}
div.jv-frontpage {
	width: 100%;
	display: block;
}
div.content-text-img {
	margin: 0;
	padding: 0;
	display: block;
}

div.page-navigation {
	width: auto;
}

div#jv-sponsors {
	padding-left: 30px;
	font-size: 15px;
}

.toggler {
	background: url(../images/separator.png) repeat-x scroll left top;
}
.toggler .header-l {
	background: url(../images/bubble.png) no-repeat scroll left 1px;
	color:#000000;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:40px;
	margin:0;
	padding:0 0 0 30px;
	text-transform:uppercase;
}



.jv-colspan {
	border-top: 1px solid #CDCDCC;
	/*margin: 10px auto;
	padding: 10px 0;*/
	width: 100%;
}
.jv-colspan h3 {
	background: none;
	padding: 0;
	text-transform: uppercase;
}
.jv-colspan div.module {
	width: auto;
 	padding-right: 10px;
}
/* BOX ROUNDED STYLE 
---------------------*/

div.jvmod-t,
div.jvmod-c,
div.jvmod-b {
	clear: both;
	display: block;
	overflow: hidden;
}
div.jvmod-t {
	height: 7px;
}
div.jvmod-c {
	padding: 0;
}
div#jv-left div.jvmod-cc {
	padding: 5px;
	overflow: hidden;

}



/* Clearfix */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Firefox Scrollbar Hack - Do not remove */
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}
#jv-left-wrapper #jv-left .module .jvmod-c h3{
    background:url("../images/m-h3-l.png") no-repeat scroll left top #9B9B9B;
    color:#FFFFFF;
    font-size:100%;
    height:32px;
    line-height:32px;
    margin:0;
    padding:0 0 0 10px;
    text-shadow:0 1px 0 #C8C8C8;
    text-transform:uppercase;    
}
#jv-left-wrapper #jv-left .module .jvmod-c h3 span{
    background:url("../images/m-h3-r.png") no-repeat scroll right top transparent;
    display:block;
    height:32px;
    line-height:32px;
    padding:0 10px 0 0;    
}
.copyright{
    background: url(../images/bg_footer.jpg) no-repeat top;
    height: 96px;
}
.blog img{
    width: 200px;
}
.blog .buttonheading a img{
    list-style-image: none;
    width: 16px;
} 
.copyright img{
    padding: 2px;
    border: 1px solid #FEFEFE;
    background-color: #EEEEEE;
} 