/*------------------------------------------------------------------------
* JV Template 1.5 - Feb, 2009
* ------------------------------------------------------------------------
* Copyright (C) 2004-2008 APL Solutions And Vision Co., LTD. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: APL Solutions And Vision Co., LTD
* Websites:  http://www.joomgroup.com -  http://www.joomvision.com
-------------------------------------------------------------------------*/

/* TYPOGRAPHY
--------------------------------------------------------- */
pre, .code {
	background: #e9eff7;
	border-left:5px solid #5a7eab;
	font-family: "Courier News",monospace;
	font-size: 1em;
	font-size-adjust:none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	margin: 5px 0 15px;
	padding: 10px 15px;
	color: #2b2b2b;
}

blockquote {
	padding: 1em 40px 1em 15px;
}

blockquote span.open {
	background: url(../images/sq-o.gif) no-repeat left top;
	padding: 11px 0 0 32px;
}

blockquote span.close {
	background: url(../images/sq-c.gif) no-repeat bottom right;
	padding: 0 30px 11px 0;
}

blockquote.testimonial {
	padding: 0 0 15px;
	border-bottom: 1px solid #E6E6E6;
}

blockquote.testimonial span.author {
	background: url(../images/author.gif) no-repeat 5px center;
	display: block;
	font-weight: bold;
	margin-top: 5px;
	padding-left: 20px;
}
/**/
small {
	font-size: 0.85em;
}

sup {
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}

sup em {
	color: #FF0000;
	font-size: .8em;
}

sup {
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}

acronym, abbr {
	border-bottom: 1px dashed;
	letter-spacing: 1px;
	cursor: help;
}
/* @IMAGE */
img {
	border: none;
}

img.image-left {
	float: left;
	margin: .5em 1em .5em 0;
}

img.image-right {
	float: right;
	margin: .5em 0 .5em 1em;
}

img.image-border {
	border: 1px solid #E5E5E5;
	padding: 3px;
}

img.image-margin {
	margin: .5em;
}

/* Based on extension 
a.text {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-txt.png) no-repeat center right;
}

a.music {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-music.png) no-repeat center right;
}

a.archive {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-archive.png) no-repeat center right;
}

a.movie {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-film.png) no-repeat center right;
}

a.wmv {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-wmv.png) no-repeat right center;
}

a.doc, a.rtf {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-doc.png) no-repeat center right;
}

a.xls {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-xls.png) no-repeat center right;
}

a.pps {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-pps.png) no-repeat center right;
}

a.flash {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-flash.png) no-repeat center right;
}

a.pdf {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-pdf.png) no-repeat center right;
}

a.rss, a.atom {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-feed.png) no-repeat center right;
}

a.vcard {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-vcard.png) no-repeat center right;
}

a.mov {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-mov.png) no-repeat right center;
}

a.dmg, a.app {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-dmg.png) no-repeat center right;
}

a.ical {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-ical.png) no-repeat center right;
}

a.css {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-css.png) no-repeat center right;
}

a.ttf {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-ttf.png) no-repeat center right;
}

a.torrent {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-torrent.png) no-repeat center right;
}

a.mailto {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-mailto.png) no-repeat center right;
}

a.callto {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-call.png) no-repeat center right;
}

a.msnim {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-msn.png) no-repeat center right;
}

a.aim {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-aim.png) no-repeat center right;
}

a.yim {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-yim.png) no-repeat center right;
}

a.skype {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-skype.png) no-repeat center right;
}

a.noicon {
	padding: 0 !important;
	background: none !important;
}
*/
/* Reset original styles */
#jsn-mainbody a[title="PDF"], #jsn-mainbody a[title="Print"], #jsn-mainbody a[title="E-mail"] {
	padding: 0;
	background: none;
}

/* @TEXT */
.clearbreak {
	clear: both;
}

div.grid2:after, div.grid3:after, div.grid4:after, div.grid5:after, ul.hlist-left:after, ul.hlist-right:after, .clearafter:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

/* Text grid */
div.grid-col {
	float: left;
	margin-right: 2%;
	overflow: hidden;
}

div.grid-lastcol {
	float: right;
	margin-right: 0 !important;
	overflow: hidden;
}

div.grid2 div.grid-col {
	width: 48.8%;
}

div.grid3 div.grid-col {
	width: 31.9%;
}

div.grid4 div.grid-col {
	width: 23.4%;
}

div.grid5 div.grid-col {
	width: 18.3%;
}

/* Dropcap */
.dropcap {
	overflow: hidden;
}
.dropcap:first-letter {
	color: #FA6900;
	display: block;
	float: left;
	font: 50px/40px Georgia, Times, serif;
	padding: 4px 8px 0 0;
}
/* Tips, Error, Message, Hightlight*/
p.error {
	background: url(../images/error.gif) no-repeat top left;
	color: #DF0000;
	padding: 0 0 5px 30px;
}

p.message {
	background: url(../images/info.gif) no-repeat top left;
	color: #2FAFCB;
	padding: 0 0 5px 30px;
}

p.tips {
	background: url(../images/tips.gif) no-repeat top left;
	color: #FA6900;
	padding: 0 0 5px 30px;
}

p.feed {
	background: url(../images/feed.gif) no-repeat top left;
	padding-left: 30px;
	padding-bottom: 5px;
}

.highlight {
	color: #000;
	background: #fe7400;
	font-weight: bold;
	padding: 1px 5px;
}

/* Note Style 
p.stickynote {
	background: #e4e4e4 url(../images/stickynote.gif) no-repeat 15px center;
	border-top: 3px solid #CCCCCC;
	border-bottom: 3px solid #CCCCCC;
	padding: 15px 10px 15px 60px;
}

p.download {
	background: #e4e4e4 url(../images/download.gif) no-repeat 15px center;
	border-top: 3px solid #CCCCCC;
	border-bottom: 3px solid #CCCCCC;
	padding: 15px 10px 15px 60px;
}

.blocknumber {
	clear: both;
	padding: 5px 15px 10px;
	position: relative;
}
*/
/* bullet */
ul.rect {
	list-style: none;
}

ul.rect li {
	background: url(../images/bullet.gif) no-repeat 5px 5px !important;
	margin-left: 15px !important;
	padding: 0 0 0 20px !important;
}
/* Check list */
ul.checklist {
	list-style: none;
}

ul.checklist li {
	background: url(../images/checklist.gif) no-repeat 0 1px !important;
	margin-left: 15px !important;
	padding: 0 0 0 20px !important;
	line-height: 20px;
}

/* Check list (star) */
ul.stars {
	list-style: none;
}

ul.stars li {
	background: url(../images/star.jpg) no-repeat 0 0;
	margin-left: 0px;
	padding: 0 0 0 22px;
}

/* List arrow */
ul.arrow {
	list-style: none;
}

ul.arrow li {
	background: url(../images/bullet1.gif) no-repeat 6px 8px;
	margin-left: 15px;
	padding: 0 0 0 18px;
}


/* Bignumber */
.bignumber {
	background: url(../images/bignumber.gif) no-repeat top left;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 20px/normal Arial, sans-serif;
	margin-right: 8px;
	padding: 9px 10px;
}

/* Talking box. Thinking box. */
div.bubble1, div.bubble2, div.bubble3, div.bubble4 {
	margin: 15px 0;
}

div.bubble1 span.author,
div.bubble2 span.author,
div.bubble3 span.author,
div.bubble4 span.author {
	font-weight: bold;
	margin-left: 15px;
	padding-left: 0;
}

div.bubble1 div {
	background: url(../images/bub1-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble1 div div {
	background: url(../images/bub1-bl.gif) no-repeat bottom left;
}

div.bubble1 div div div {
	background: url(../images/bub1-tr.gif) no-repeat top right;
}

div.bubble1 div div div div {
	background: url(../images/bub1-tl.gif) no-repeat top left;
}

div.bubble1 div div div div div {
	margin: 0;
	padding: 10px 15px 30px;
	width: auto;
}

div.bubble2 div {
	background: url(../images/bub2-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble2 div div {
	background: url(../images/bub2-bl.gif) no-repeat bottom left;
}

div.bubble2 div div div {
	background: url(../images/bub2-tr.gif) no-repeat top right;
}

div.bubble2 div div div div {
	background: url(../images/bub2-tl.gif) no-repeat top left;
}

div.bubble2 div div div div div {
	margin: 0;
	padding: 12px 15px 32px;
	width: auto;
}

div.bubble3 div {
	background: url(../images/bub3-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble3 div div {
	background: url(../images/bub3-bl.gif) no-repeat bottom left;
}

div.bubble3 div div div {
	background: url(../images/bub3-tr.gif) no-repeat top right;
}

div.bubble3 div div div div {
	background: url(../images/bub3-tl.gif) no-repeat top left;
}

div.bubble3 div div div div div {
	margin: 0;
	padding: 14px 15px 52px;
	width: auto;
}

div.bubble4 div {
	background: url(../images/bub4-br.gif) no-repeat bottom right;
	margin: 0;
	width: 100%;
}

div.bubble4 div div {
	background: url(../images/bub4-bl.gif) no-repeat bottom left;
}

div.bubble4 div div div {
	background: url(../images/bub4-tr.gif) no-repeat top right;
}

div.bubble4 div div div div {
	background: url(../images/bub4-tl.gif) no-repeat top left;
}

div.bubble4 div div div div div {
	margin: 0;
	padding: 10px 15px 45px;
	width: auto;
}

/* Legend */
.legend-title {
	background: #FFF;
	display: block;
	font-size: 100%;
	float: left;
	font-weight: bold;
	left: 7px;
	margin: 0;
	padding: 0 3px;
	position: absolute;
	top: -10px;
}

.legend {
	border: 1px solid #CCCCCC;
	margin: 20px 0;
	padding: 0 10px;
	position: relative;
}

/* Left & Right*/
div.jv-left,
div.jv-right {
	margin: 0;
	padding: 0;
	width: 49%;
}

div.jv-left {
	float: left;
}

div.jv-right {
	float: right;
}

/* jv Tabs */
#jv-tabs {
	background: #262626;
}

#jv-tabs div.jv-box-br,
#jv-tabs div.jv-box-bl,
#jv-tabs div.jv-box-tr,
#jv-tabs div.jv-box-tl {
	margin: 0;
	padding: 0;
}

#jv-tabs div.jv-box-br {
	background: #262626;
}

#jv-tabs div.jv-box-bl {
	background: none;
}

#jv-tabs div.jv-box-tr {
	background: none;
}

#jv-tabs div.jv-box-tl {
	background: none;
}

/* @TABLES */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th {
	text-align: left;
}

/* Plain rows */
table.plainrows {
	background-color: #F2F2F2;
	color: #404040;
	border-collapse: collapse;
}

table.plainrows caption {
	padding: 6px 0;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

table.plainrows thead {
	border-bottom: solid 1px #284D73;
}

table.plainrows thead th {
	padding: 5px 10px;
	background-color: #366999;
	color: #FFFFFF;
	font-size: 1.1em;
	text-transform: capitalize;
}

table.plainrows tfoot th, table.plainrows tfoot td {
	padding: 3px 10px;
	background-color: #D9D9D9;
	color: #000000;
	font-size: 1.1em;
	text-transform: capitalize;
}

table.plainrows tfoot td {
	text-align: right;
}

table.plainrows tbody th, table.plainrows tbody td {
	border-bottom: solid 1px #D9D9D9;
	padding: 4px 10px;
}

table.plainrows tbody th {
	white-space: nowrap;
}

table.plainrows tr.odd {
}

table.plainrows tbody tr:hover {
	background: #E5E5E5;
}

/* Dark stripes */
table.colorstripes {
	border: 1px solid #162C40;
	color: #FFFFFF;
	background: #284D73;
	border-collapse: collapse;
}

table.colorstripes caption {
	padding: 6px 0;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

table.colorstripes td, table.colorstripes th {
	border: 1px dashed #366999;
	padding: 5px 10px;
}

table.colorstripes thead th {
	border: 1px solid #284D73;
	background: #162C40;
	color: #FFFFFF;
	font-size: 1.1em;
}

table.colorstripes tbody th, table.colorstripes tbody td {
	text-align: left;
	vertical-align: top;
}

table.colorstripes tbody tr.odd {
	background: #224161;
}

table.colorstripes tbody tr:hover {
	background: #1F3D59;
}

table.colorstripes tbody tr:hover th, table.colorstripes tbody tr.odd:hover th {
	background: #1F3D59;
}

table.colorstripes tfoot th, table.colorstripes tfoot td {
	border: none;
	padding: 4px 10px;
	background: #162C40;
	color: #FFFFFF;
	font-size: 1.1em;
}

table.colorstripes tfoot td {
	text-align: right;
}

/* Light stripes */
table.greystripes {
	border: 1px solid #D9D9D9;
	color: #404040;
	background: #FFFFFF;
	border-collapse: collapse;
}

table.greystripes caption {
	padding: 6px 0;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

table.greystripes td, table.greystripes th {
	border: 1px dashed #E5E5E5;
	padding: 5px 10px;
}

table.greystripes thead th {
	border: 1px solid #595959;
	border-bottom: 2px solid #000000;
	background: #404040;
	color: #FFFFFF;
	font-size: 1.1em;
}

table.greystripes tbody th, table.greystripes tbody td {
	text-align: left;
	vertical-align: top;
}

table.greystripes tbody tr.odd {
	background: #F2F2F2;
}

table.greystripes tbody tr:hover {
	background: #E5E5E5;
}

table.greystripes tbody tr:hover th, table.greystripes tbody tr.odd:hover th {
	background: #E5E5E5;
}

table.greystripes tfoot th, table.greystripes tfoot td {
	border: none;
	padding: 4px 10px;
	background-color: #D9D9D9;
	color: #000000;
	font-size: 1.1em;
}

table.greystripes tfoot td {
	text-align: right;
}

/*
a[href$='.txt'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-txt.png) no-repeat center right;
}

a[href$='.mp3'], a[href$='.wav'], a[href$='.ogg'], a[href$='.wma'], a[href$='.m4a'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-music.png) no-repeat center right;
}

a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip'], a[href$='.ace'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-archive.png) no-repeat center right;
}

a[href$='.mp4'], a[href$='.avi'], a[href$='.mpg'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-film.png) no-repeat center right;
}

a[href$=".wmv"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-wmv.png) no-repeat right center;
}

a[href$='.doc'], a[href$='.rtf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-doc.png) no-repeat center right;
}

a[href$='.xls'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-xls.png) no-repeat center right;
}

a[href$='.pps'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-pps.png) no-repeat center right;
}

a[href$='.fla'], a[href$='.swf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-flash.png) no-repeat center right;
}

a[href$='.pdf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-pdf.png) no-repeat center right;
}

a[href$='.rss'], a[href$='.atom'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-feed.png) no-repeat center right;
}

a[href$='.vcard'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-vcard.png) no-repeat center right;
}

a[href$=".mov"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-mov.png) no-repeat right center;
}

a[href$='.dmg'], a[href$='.app'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-dmg.png) no-repeat center right;
}

a[href$='.ical'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-ical.png) no-repeat center right;
}

a[href$='.css'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-css.png) no-repeat center right;
}

a[href$='.ttf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-ttf.png) no-repeat center right;
}

a[href$='.torrent'] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-torrent.png) no-repeat center right;
}

a[href ^="mailto:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-mailto.png) no-repeat center right;
}
a.none[href ^="mailto:"] {
	background: none;
}

a[href ^="callto:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-call.png) no-repeat center right;
}

a[href ^="msnim:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/icon-link-msn.png) no-repeat center right;
}

a[href ^="aim:"] {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-aim.png) no-repeat center right;
}

a[href *="edit.yahoo.com/config/send_webmesg?"] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon-link-yim.png) no-repeat center right;
}

a[href ^="skype:"] {
	padding: 5px 20px 5px 0;
   background: transparent url(../images/icon-link-skype.png) no-repeat center right;
}
*/
