@font-face{font-family:myriadpro;src:url('font/MYRIADPRO-REGULAR.OTF');}
@font-face{font-family:myriadpro-it;src:url('font/MyriadPro-It.otf');}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: myriadpro;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background:#fff;
	color:#fff;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration:none; color:#fff}
.clear{clear:both}

/** wrapper **/
#wrapper{
	width: 1026px;
	margin:65px auto;	
}


/** header **/
#header #logo {float:left;}
#header #logo h1 a{
	width:172px; height:145px;
	background:url(images/logo-head-black.png) no-repeat;
	text-indent:-99999px; display:block;	
}
#header #nav{
	float:right; margin-top:50px;
	width:820px\9;/*Tất cả cá trình duyệt IE */
}
#main-nav>li{margin-left:112px; text-transform:uppercase; font-size:22px; cursor:pointer;
	margin-left:95px\9;/*Tất cả cá trình duyệt IE */
}
#main-nav>li a{color: #333333}
#nav > ul > li > a:hover {
  color: #000;
}

/** footer **/
#footer{
	background:#333; overflow:hidden; min-width:1026px;
}
#footer #main-foot{width:1026px; margin:35px auto;overflow:hidden; position:relative}
#footer #main-foot .author{position:absolute; right:0; bottom:1px}
#footer #main-foot, #footer #main-foot h3, #footer #main-foot p{font-family:myriadpro-it}
#footer #logo-foot{
	float:left; margin-left:50px; margin-right:35px;	
}
#footer .footer-content{float:left; }
#footer .footer-content h3{text-transform:uppercase; margin-bottom:20px; font-size:18px; padding-top:5px;}
.contact-foot p{font-size:16px; margin-bottom:5px}
#footer #main-foot .social{
	float:right;	
}
#footer #main-foot .social a{margin-left:5px}
.social a img {
	transition: all 0.3s ease;
}
.social a:hover img {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}

/**************  about ********************/
#about{width:1026px; margin:0 auto; color:#414042; padding-bottom:30px; overflow:hidden}
.about-intro{
	width:460px; float:left; margin-right:80px;
}
.about-contact{
	width:470px; float:left;
}
.ab-contact{
float:left; height:100px; line-height:100px; border-right:2px solid #000; margin-right:15px; font-size:20px; padding-right:15px; font-weight:600;
}

.ab-info{
	margin-bottom:7px; padding-left:35px; height:30px; line-height:30px; font-weight:600; 
}
.ab-phone{
	background:url(images/about-phone.png) no-repeat left center;
}
.ab-email{
	background:url(images/about-email.png) no-repeat left center;

}
.ab-website{
	background:url(images/about-website.png) no-repeat left center;
}
.about-box1{padding:30px 0px;}
.about-box2{padding:30px 0px;}
/* 980px hoặc nhỏ hơn */
@media screen and (max-width: 980px) {
	#footer #main-foot{width:100%;}
}
/* 700px hoặc nhỏ hơn */
@media screen and (max-width: 700px) {
	#footer #main-foot{width:100%;}
}
