@font-face{font-family:myriadpro;src:url('font/MYRIADPRO-REGULAR.OTF');}

@font-face{font-family:myriadpro-it;src:url('font/MyriadPro-It.otf');}

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 100%;

	font-family: myriadpro;

	vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {

	display: block;

}

body {

	line-height: 1;

	color:#fff;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: '';

	content: none;

}

table {

	border-collapse: collapse;

	border-spacing: 0;

}

a{text-decoration:none; color:#fff}

.clear{clear:both}



/** wrapper **/

#wrapper{

	width: 1026px;

	margin:40px auto;

}





/** header **/

#header{

	width: 1026px;

	margin:40px auto 0px;	

}

#header #logo{float:left}

#header #logo h1 a{

	width:172px; height:145px;

	background:url(images/logo-head-black.png) no-repeat;

	text-indent:-99999px; display:block;	

}

#header #nav{

	float:right; margin-top:50px; width:820px\9;/*Tất cả cá trình duyệt IE */

}

#main-nav>li{margin-left:112px; text-transform:uppercase; font-size:22px; cursor:pointer;

	margin-left:95px\9;/*Tất cả cá trình duyệt IE */

}

#main-nav>li a{color: #333333}

#nav > ul > li > a:hover {

  color: #000;

}

/** slideshow **/

#slideshow{

	width:1196px; height:342px; background:#e7e8e9;

	margin:87px auto 200px;	

}





/** container **/

#container{

	background:#53b7e8; padding:40px 0px;

	height: 688px; position:relative; z-index:999;

}

.service-box{

	width:1026px; margin:0px auto; 

}

.service-box span,.service-box p{line-height:1.3;}

.service-box h1,.service-box h2,.service-box h3,.service-box h4,.service-box h5,.service-box h6{line-height:1}

.service-box .ser-title{

	width:510px; height:370px; float:left;	

}

.service-box .ser-title h2{

	font-size:90px;

}

.ser-product{margin:30px auto 125px; overflow:hidden; width:1026px;}

.ser-product h3{

	color:#53b7e8; font-size:40px; text-transform:uppercase; margin-top:4px; text-align:center;

}





/** footer **/

#footer{

	background:#333; overflow:hidden; position:relative; min-width:1026px;

}

#footer #main-foot{width:1026px; margin:35px auto;overflow:hidden; position:relative}

#footer #main-foot .author{position:absolute; right:0; bottom:1px}

#footer #main-foot, #footer #main-foot h3, #footer #main-foot p{font-family:myriadpro-it}

#footer #logo-foot{

	float:left; margin-left:50px; margin-right:35px;	

}

#footer .footer-content{float:left; }

#footer .footer-content h3{text-transform:uppercase; margin-bottom:20px; font-size:18px; padding-top:5px;}

.contact-foot p{font-size:16px; margin-bottom:5px}

#footer #main-foot .social{

	float:right;	

}

#footer #main-foot .social a{margin-left:5px}

.social a img {

	transition: all 0.3s ease;

}

.social a:hover img {

	-webkit-transform:rotate(360deg);

	-moz-transform:rotate(360deg);

	-ms-transform:rotate(360deg);

	-o-transform:rotate(360deg);

	transform:rotate(360deg);

}



.ser-footer{margin-top:1047px;}





/**************  contact ********************/

#contact{

	background:url(images/contact.png) no-repeat 95px 1px; overflow:hidden;

}

#contact .contact-form{

	margin-top:578px; float:left; margin-right:90px; width:466px;

}

#contact .c-title{

	font-size:30px; margin-bottom:20px; font-weight:bold;

}

.contact-form .c-form{width:100%}

.contact-form .c-form input[type=text]{width:98%; height:48px; margin-bottom:10px; font-size:20px; padding-left:10px}

.contact-form .c-form textarea{width:98%; height:146px;font-size:20px;padding-left:10px; padding-top:10px;}

#contact .contact-direct{float:left;margin-top:578px;}

.contact-form .c-form input[type=submit]{background:#999; border:none; height:48px; text-align:center; width:187px; font-size:20px; color:#fff; margin-top:25px}

/* all */

::-webkit-input-placeholder { color:#0099cc; font-family: myriadpro;  }

::-moz-placeholder { color:#0099cc; font-family: myriadpro;  } /* firefox 19+ */

:-ms-input-placeholder { color:#0099cc; font-family: myriadpro; } /* ie */

input:-moz-placeholder { color:#0099cc; font-family: myriadpro; }



.c-info{

	padding-left:70px; font-size:28px; margin-bottom:30px; overflow:hidden; margin-left:18px;

}

.c-phone{

	background:url(images/contact-phone.png) no-repeat left center; line-height:1.2; height:66px; 

}

.c-email{

	background:url(images/contact-email.png) no-repeat left center; line-height:54px; height:58px;

}

.c-facebook{

	background:url(images/contact-facebook.png) no-repeat left center; line-height:1.1; height:68px; 

}





/******* Chai lọ *******/

#slideshow-chailo{

	width:1196px; height:342px; background:#e7e8e9;

	margin:87px auto 200px;	

}

#container-chailo{

	background:#58595b; padding:40px 0px;

}

.ser-product-chailo h3{

	color:#58595b; width:1026px; margin:30px auto 125px; font-size:40px; text-transform:uppercase; text-align:center;

}

/******* Thương hiệu *******/

#container-thuonghieu{

	background:#fbb41e; padding:40px 0px;

}

.ser-product-thuonghieu h3{

	color:#fbb41e; width:1026px; margin:30px auto 125px; font-size:40px; text-transform:uppercase; text-align:center;

}

.service-box .ser-thuonghieu{text-align:center; height:310px;}

.ser-thuonghieu h2{

	color:#231f20;

}

/******* pháp lý *******/

#container-phaply{

	background:#014165; padding:40px 0px;

}

.service-box .ser-phaply{text-align:center; height:310px; width:300px}

/* 980px hoặc nhỏ hơn */

@media screen and (max-width: 800px) {

	#container{

		height: 520px;

	}

}

@media screen and (max-width: 980px) {

	#footer #main-foot{width:100%;}

}

/* 700px hoặc nhỏ hơn */

@media screen and (max-width: 700px) {

	#footer #main-foot{width:100%;}

}