/* -- Projects -- */

#projects .screen .content { width: 100%; height: 1100px; margin-left: 0; margin-top: 0; padding-top: 0; background: none; }

#projects .screen #project-content { background: url(product/ajax-loader.gif) no-repeat 42% 50%; }

#projects .screen h1 {width: 275px; height: 45px;}



/* -- Project Thumbs ----------------------------- */

#projects .screen { position: relative;}

#projects .content { position: absolute; top: 0px;}

#project-container { position: absolute; top: 395px; z-index:100; width: 100%; height: 467px;}

/* -- #thumbscreen */

.thumbscreen-slides { width: 1026px; margin: auto; }

#thumbscreen .pagination { display: none; /*position: fixed; top: 0; left: 0; z-index: 1000;*/}

#thumbscreen .prev { position: absolute; top: 395px; left: 0px; z-index: 250; width: 110px; height: 60px; display: block; text-indent: -999em; background: url(product/bg_project-slider_nav.png) no-repeat 0 0; }

#thumbscreen .next { position: absolute; top: 395px; right: 0px; z-index: 250; width: 110px; height: 60px; display: block; text-indent: -999em; background: url(product/bg_project-slider_nav.png) no-repeat 0 -180px; }

#thumbscreen .prev:hover {background-position: 0 -60px;}

#thumbscreen .prev:active {background-position: 0 -120px;}

#thumbscreen .next:hover {background-position: 0 -240px;}

#thumbscreen .next:active {background-position: 0 -300px;}

/* -- .project-thumbnails */

.project-thumbnails-wrap { width: 1026px; height: 1100px; margin: auto;}

.project-thumbnails { width: 1026px; margin: auto; }

.project-div { clear: both; height: 466px; display: none;}

.project-thumbnails li { width: 204px; height: 190px; margin: 0 1px 1px 0; float: left; }

.project-thumbnails li a { width: 204px; height: 190px; display: block; position: relative; color: #000; text-decoration: none; }

.project-thumb-client { width: 204px; display: none; position: absolute; top: 13px; left: 0; font-size: 14px; font-weight: normal; text-align: center; line-height:1.2}

.project-thumb-task { width: 185px; display: none; position: absolute; top: 67px; left: 0; font-size: 14px; line-height:1.2; margin-left:10px}

.project-thumbnails a:hover { background: #000; color:#fff}

.project-thumbnails a:hover .sl, .project-thumbnails a:hover img { display: none;}

.project-thumbnails a:hover .project-thumb-client,

.project-thumbnails a:hover .project-thumb-task {display: block;}

.project-thumbnails a:hover #slide { display: none;}

/* -- Project Thumbs [END] ----------------------------- */

/* -- Project Detail ----------------------------- */

#content {height: 467px;}

#project-wrap { width: 100%; height: 440px; background: url(product/bg_project_wrap.gif) repeat-x 0 0; }

#project-content { position: relative; width: 1026px; height: 467px; margin: 0 auto; }

#project-slider { width: 899px; height: 467px; overflow: hidden; }

.project-slide { width: 980px; height: 392px; padding: 25px 0 0 40px; }

#project-content a.project-slider-close { position: absolute; top: 8px; right: 6px; color: #9e9c9c; font-size: 14px; font-family: Times, serif; font-weight: normal; font-style: italic; background: url(product/bg_project-slider_close.png) no-repeat 100% 2px; padding-right: 15px; height: 14px; width: 60px; text-align: right;}

.project-slider-prev { position: absolute; top: 192px; left: -140px; width: 110px; height: 60px; display: block; text-indent: -999em; background: url(product/bg_project-slider_nav_text.png) no-repeat 0 0; }

.project-slider-next { position: absolute; top: 192px; right: -140px; width: 110px; height: 60px; display: block; text-indent: -999em; background: url(product/bg_project-slider_nav_text.png) no-repeat 0 -180px; }

.project-slider-prev:hover {background-position: 0 -60px;}

.project-slider-prev:active {background-position: 0 -120px;}

.project-slider-next:hover {background-position: 0 -240px;}

.project-slider-next:active {background-position: 0 -300px;}

.project-cycle { width: 641px; height: 385px; overflow: hidden; float: left; }

.project-cycle li { width: 641px; height: 385px; }

.bx-wrapper { box-shadow: 2px 2px 5px 0px #000000; -moz-box-shadow: 2px 2px 5px 0px #000000; -webkit-box-shadow: 2px 2px 5px #000000;}

.bx-pager { position: absolute; top: -16px; right: 0; width: 40px; z-index: 2000; text-align: right; color: #7f7f7f; font-family: Arial,sans-serif; font-size: 11px;}

.bx-pager .bx-pager-current { color: #fff;}

.bx-prev { position: absolute; left: -2px; top: 0px; display: block; width: 100px; height: 417px; background: url(product/bg_project-cycle_nav.gif) no-repeat 0 182px; z-index: 2000; text-indent: -999em;}

.bx-next { position: absolute; right: -2px; top: 0px; display: block; width: 100px; height: 417px; background: url(product/bg_project-cycle_nav.gif) no-repeat -100px 182px; z-index: 2000; text-indent: -999em;}

.bx-prev:hover { background-position: 0 -238px;}

.bx-next:hover { background-position: -100px -238px;}

.project-info { float: right; width: 285px; height: 417px; }

.project-info-text { min-height:150px; line-height:1.2}





.project-info h2 { height: 50px;padding: 0px 0 0px 0;color: #fff;font-size: 18px; font-family: "DINProRegular", Arial ,sans-serif;

font-weight: normal;font-style: normal;line-height: 22px;text-transform: uppercase;}

.project-info h3 { height: 50px; color: #fff; font-size: 18px; font-family: "DINProRegular", Arial ,sans-serif; font-weight: normal; font-style: normal; line-height:22px; margin-top: 15px;}

.project-info-text p { font-size:11px !important;font-family: "DINProRegular" !important; line-height:110% !important }







#projects .project-info p { width: 178px; font-family: Arial,sans-serif;color: #9e9c9c; font-size: 12px; line-height: 14px; padding-bottom: 12px; margin: 0;}

#projects .project-info .manufactured p { color: #9e9c9c; font-size: 14px; padding: 0; font-family: Times, serif; font-weight: normal; font-style: italic;}

.project-info .manufactured ul {margin-top: 3px;}

.project-info .manufactured ul li { float: left; width: 15px; height: 15px; margin-right: 5px; text-indent: -999em;position: relative;}

.ok-d-active { background: url(product/bg_manufactured.png) no-repeat 0 0;}

.ok-t-active { background: url(product/bg_manufactured.png) no-repeat -20px 0;}

.ok-l-active { background: url(product/bg_manufactured.png) no-repeat -40px 0;}

.ok-d-inactive { background: url(product/bg_manufactured.png) no-repeat -60px 0;}

.ok-t-inactive { background: url(product/bg_manufactured.png) no-repeat -60px 0;}

.ok-l-inactive { background: url(product/bg_manufactured.png) no-repeat -60px 0;}

#tooltip {position: absolute; z-index: 1000; top: -34px; left: -3px; text-indent: 0; display: block; height: 26px; width: 59px; padding: 4px 8px; background: url(product/bg_tooltip.png) no-repeat 0px 100%; color: #000; white-space: nowrap; text-align: center;}

/* -- Project Detail [END] ----------------------------- */

/**

 * Media queries for responsive design.

 *

 * These follow after primary styles so they will successfully override.

 */
#goTop {
    bottom: 50px;
    cursor: pointer;
    display: none;
    height: 35px;
    position: fixed;
    right: 55px;
    width: 44px;
    z-index: 1000;
}
@media (max-width: 1300px) {

	#home .screen .content, 

	#technik .screen .content,

	#about .screen .content,

	#jobs .screen .content { margin-left: 10%;}

}

@media (max-width: 1100px) {

	#home .screen .content, 

	#technik .screen .content,

	#about .screen .content,

	#jobs .screen .content { margin-left: 5%;}

}
