/* (C) 2007 YOOtheme.com */

div.cutted div.yoo-gallery div.corner-tl {
	background: url(styles/thumbnail_cutted/images/corner_tl_ie6.png) 0 0 no-repeat; /* ie6png:crop */
}

div.cutted div.yoo-gallery div.corner-tr {
	background: url(styles/thumbnail_cutted/images/corner_tr_ie6.png) 0 0 no-repeat; /* ie6png:crop */
}

div.cutted div.yoo-gallery div.corner-bl {
	bottom: 0px;
	background: url(styles/thumbnail_cutted/images/corner_bl_ie6.png) 0 0 no-repeat; /* ie6png:crop */
}

div.cutted div.yoo-gallery div.corner-br {
	bottom: 0px;
	background: url(styles/thumbnail_cutted/images/corner_br_ie6.png) 0 0 no-repeat; /* ie6png:crop */
}