/* (C) 2007 YOOtheme.com */

body.yootools-black div.cutted div.yoo-gallery div.thumbnail-bg {
	border: 1px solid #323232;
	background: #141414;
}

body.yootools-black div.cutted div.yoo-gallery div.corner-tl {
	background: url(styles/thumbnail_cutted/black/images/corners.png) -25px -25px no-repeat; /* ie6png:crop */
}

body.yootools-black div.cutted div.yoo-gallery div.corner-tr {
	background: url(styles/thumbnail_cutted/black/images/corners.png) 0 -25px no-repeat; /* ie6png:crop */
}

body.yootools-black div.cutted div.yoo-gallery div.corner-bl {
	background: url(styles/thumbnail_cutted/black/images/corners.png) -25px 0 no-repeat; /* ie6png:crop */
}

body.yootools-black div.cutted div.yoo-gallery div.corner-br {
	background: url(styles/thumbnail_cutted/black/images/corners.png) 0 0 no-repeat; /* ie6png:crop */
}
