/*Styles Only Pertinent to the Homepage*/


#upper {
	background: #3399cc url(../images/bg_upper.jpg) bottom repeat-x;
	padding:14px 19px 15px 0;
	}
	
#recent {
	width:260px;
	background: url(../images/bg_recent.jpg) no-repeat top right;
	float:right;
	padding:13px 15px 8px 15px;
	}

#recent ul {
	margin-top:-5px;
	}
	
#recent li {
	border-bottom:1px solid #62b1d8;
	list-style:none;
	padding:7px 0 7px 15px;
	background:url(../images/icon_page_home.gif) no-repeat 0 9px;
	}

#recent a, #recent a:visited {
	color:#ecf7ff;
	font-weight:bold;
	font-size:1em;
	}
				
#home .stripes {
	background:url(../images/bg_stripe.gif);
	padding:14px 14px 20px 14px;
	}



/*Features and Carousel*/

#carousel {
	height:151px;
	background:#e7e8df url(../images/bg_carousel.jpg) repeat-x;
	margin-bottom:5px;
	}

#carousel li {
	border-right:1px solid #cdcec7;
	float:left;
	padding:0 15px;
	}

#carousel li img {
	border:3px solid #FFF;
	display:block;
	margin-bottom:6px
	}
	
#carousel a, #carousel a:visited {
	float:left;
	color:#585b41;
	}

#carousel a:hover, #carousel a:active {
	color:#828569;
	}
	
#home #content {
	float:left;
	width:452px;
	}

.whitebox h3 a, .whitebox h3 a:visited {
	color:#FFF;
	}



/*Middle Column*/

.whitebox, #home #sidebar {
	border-top:1px solid #e0e0db;
	background:#FFF;
	padding:13px;
	color:#737373;
	}

#home #content .whitebox {
	margin-bottom:13px;
	}

.catnews a, .catnews a:visited {
	color:#22222d;
	}	
	
.catnews img {
	float:left;
	margin:3px 11px 7px 1px;
	border:1px solid #516f80;
	padding:1px;
	}
	
.headlines {	
	padding:12px;
	}

.headlines li {
	margin-left:12px;
	padding:2px 0;
	list-style:square
	}	
	
#home .commentcount {
	font-size:0.8em;
	font-weight:normal;
	margin-left:2px;
	}	
	
	
/*Ads*/

			
#ads { 	
	width:226px;
	float:right;
	}

#ads img {
	margin-bottom:12px;
	}		
	
