#comments-count, #trackbacks-count {
	display:none
	}

.domtabs {
	border-bottom:1px solid #cac9c8;
	margin:35px 0 15px 0;
	overflow:hidden;
}

.domtabs li {
	list-style:none;
	float:left;
	cursor:pointer;
	margin-right:4px;
}

.domtabs li:hover {
	cursor:pointer;
}

.domtabs li a, .domtabs li a:visited {
	padding:3px 7px;
	color:#777772;
}

.domtabs a:hover, .tabs a:active {
    text-decoration:none;
    display:block;
    background:#FFF;
    border-bottom:1px solid #FFF;
    color:#777772;
}

.domtabs li.active a {
	border:1px solid #cac9c8;
	margin-bottom:-1px;
	text-decoration:none;
	display:block;
	background:#FFF;
	border-bottom:1px solid #FFF;
}

.domtabs li a, .domtabs li a:visited {
    text-decoration:none;
    display:block;
    background:#f2f1ea;
    border:1px solid #cac9c8;
    margin-bottom:-1px;
}

.display_none {
	display: none;
}

.display_block {
	display: block;
}
