#stheme_left { margin:50px 1px 0 0; }
#blog { margin-right:0px!important; }
#rsidebar { margin-right:0px!important; margin-left:10px!important; }
#rssfeed { background:transparent url(images/rss.gif) no-repeat; width:32px; height:32px; }
#subnav { margin-left:13%!important; margin-bottom:-1px!important; }
.posttitle h2,.posttitle h2 a { height:18px; }
#comments ul { height:100%; }