<table width="50%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class="style2"><? if ($act=='add') echo "Thêm mới"; else echo "Cập nhật";?></td>	
	</tr>
</table>
<table cellpadding="4" cellspacing="0" width="50%" align="center" class="border">	
	<form name="frmadmin" action="?do=nickchat&act=<? if ($act=='add') echo "addsm"; else echo "editsm";?>" method="post" enctype="multipart/form-data">	
	<tr>
		<td align="right"><strong>Tiêu đề (Việt) :</strong></td>
		<td><input type="text" name="title_vn" value="<?=stripslashes($nickchat["title_vn"])?>" maxlength="255" size=40></td>
	</tr>
	<tr>
		<td align="right"><strong>Tiêu đề (Anh) :</strong></td>
		<td><input type="text" name="title_en" value="<?=stripslashes($nickchat["title_en"])?>" maxlength="255" size=40></td>
	</tr>
  <tr>
		<td align="right"><strong>Tiêu đề (Nga) :</strong></td>
		<td><input type="text" name="title_ru" value="<?=stripslashes($nickchat["title_ru"])?>" maxlength="255" size=40></td>
	</tr>
	<tr>
		<td align="right"><strong>Nickname :</strong></td>
		<td><input type="text" name="nick" value="<?=stripslashes($nickchat["nick"])?>" maxlength="255" size=40></td>
	</tr>
	<tr>
		<td align="right"><strong></strong></td>
		<td>
		<input type="radio" name="type" value="0" <? if ($nickchat['type']==0) echo 'checked'; ?>>Yahoo &nbsp;
		<input type="radio" name="type" value="2" <? if ($nickchat['type']==2) echo 'checked'; ?>>Skype
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		<input type="hidden" name="id" value="<?=$nickchat['id']?>">
		<input type="hidden" name="do" value="nickchat">
		<input type="submit" value=" Lưu " class="button">
		</td>
	</tr>
	</form>
</table>