/*  
Theme Name: Mimbo Pro
Theme URI: http://prothemedesign.com/themes/mimbo-pro/
Description: A slicker, full-featured, customizable version of the popular Mimbo theme
Version: 1.2
Author: Darren Hoyt, Ben Gillbanks
Author URI: http://prothemedesign.com/themes/mimbo-pro/
*/

/*Copyright 2008, Darren Hoyt and Ben Gillbanks
View license info in license.txt file 


/* 
TABLE OF CONTENTS 

  HTML Elements
  Page Structure
  Navigation
  Headings
  Content Page Styles
  WP Post Formatting  
  Comments
  Forms
  Clear
  Footer



/* HTML Elements */

* {
	margin:0;
	padding:0;
	}
	
*:focus { 
	outline: none;
	}
	
body,html {
	min-height:101%;
	}
	
body {
	background: #133346 url(images/bg.jpg) repeat-x;
	color: #737373;
	padding: 13px 0 25px 0;
	}

body, select, input, textarea {
	font: 100% Arial, Verdana, Sans-Serif;
	}

a, a:visited {
	color: #3399cc;
	text-decoration:none
	}

a:hover, a:active {
	color:#59bced;
	text-decoration:underline;
	}

small {
	font-size: 0.95em;
	background:#eef5e1;
	padding:3px 6px;
	}

hr {
	margin:22px 0;
	background:#eae9e4;
	color:#eae9e4;
	height:1px;
	border:0;
	display: block;
	}	

label {
	margin:12px 0 0 0;
	display:block
	}
	
a img {
	border:none
	}

table {
	display: table;
	margin:13px 0;
	width:100%;
	border-collapse:collapse;
	}	

th {
	background:#e4e4e4;
	text-align:left;
	width:35%
	}

th, td {
	border-bottom:1px solid #FFF;
	padding:4px 7px;
	}
	
td {
	background:#f2f2f2;
	width:65%;
	}		
			



/* Structure */

#page {
	width:946px;
	margin:0 auto;
	font-size:0.7em;
	background:#FFF;
	padding: 5px;
	}

#masthead {
	height:108px;
	background:url(images/bg_masthead.jpg);
	}
		
.left {
	float:left;
	}

.right {
	float:right;
	}

#sidebar {
	width: 188px;
	float:left;
	margin-right:13px;
	padding-bottom:25px;	
	}

#interior #sidebar {
	padding:18px 13px 35px 13px;
	}
	


/*	Headers */

/* Uncomment this block if you have a graphical logo
h1, a#logo {
	text-indent:-9999px;
	width:320px;
	height:108px;
	background:url(images/logo.gif) no-repeat;
	margin:0 auto;
	display:block;
	color:#FFF;
	font:1.6em Georgia, "Times New Roman", Times, serif;
	text-align:center
	} 
*/


h1, #logo {
	margin:0 auto;
	display:block;
	color:#FFF;
	font:2.8em Georgia, "Times New Roman", Times, serif;
	padding-top:36px;
	text-align:center;
	font-weight:bold
	}
	
h2 {
	font: 2em Georgia, "Times New Roman", Times, serif;
	padding:6px 0;
	border-bottom:1px solid #eae9e4;
	border-top:3px solid #eae9e4;
	color:#313228;
	font-weight:bold
	}

.post h2 {
	line-height:110%; 
	}
	
h2#description {
	border:none;
	padding:0;
	font-size:0.9em;
	text-align:center;
	color:#40bb7f;
	text-transform:uppercase
	}

h2.widgettitle {
	border:none;
	font:1.2em Arial, Helvetica, sans-serif;
	font-weight:bold
	}
	
h3 {
	font: 1.1em Georgia, "Times New Roman", Times, serif;
	color:#3399cc;
	margin:13px 0 5px 0;
	line-height:110%;
	font-weight:bold
	}

#sidebar h3 {
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif
	}

h3#pages {
	margin:0 0 5px 0;
	}
		
h3.green, h3.red, h3.grey {
	height:22px;
	margin:0 0 9px 0;
	padding:3px 0 0 7px;
	font:1.2em Arial, Helvetica, sans-serif;
	font-weight:bold
	}
	
h3.green {
	background: url(images/cat_green.jpg);
	}

h3.red {
	background: url(images/cat_red.jpg);
	}

h3.grey {
	background: url(images/cat_grey.jpg);
	}
				
#lead h3 {
	font-size:1.9em;
	margin:0;
	padding-right:17px;
	line-height:100%;
	}
			
#recent h3 {
	margin: 0 0 5px 0;
	color:#112f41;
	font: 1.4em Arial, Helvetica, sans-serif;
	font-weight:bold
	}

.narrow h3 {
	font:1.6em Georgia, "Times New Roman", Times, serif;
	color:#313228;
	font-weight:bold
	}
	
h4 {
	margin-bottom:3px;
	font:1.2em Arial, Verdana;
	color:#313228;
	font-weight:bold
	}

.narrow h4 {
	font:1.4em Georgia, "Times New Roman", Times, serif;
	color:#313228;
	font-weight:bold
	}
		
h4#respond {
	border-top:1px solid #eae9e4;
	margin-top:25px;
	padding-top:20px;
	}
	
h4#comments {
	margin-top:32px;
	}

h4.pagetitle {
	margin-bottom:12px;
	}

.cat-excerpt h4 {
	margin:0;
	}

.domtab h4 {
	margin:15px 0;
	}

#more-menu h4 {
	color:#4a4e4a;
	font-size:1.1em;
	}

.narrow h5 {
	font:1.2em Georgia, "Times New Roman", Times, serif;
	color:#313228;
	font-weight:bold
	}
						
#meta h5 {
	border-top:3px solid #085682;
	border-bottom:1px solid #085682;
	color:#5f9bbf;
	padding:1px 0 3px 12px;
	font: 1.6em Arial, Helvetica, sans-serif;
	margin-bottom:10px;
	}
	


		
/* Content Page Styles */

#logo:hover, #logo:active {
	text-decoration:none;
	color:#d7f0fc
	}
	
#lead {
	background:#1e3d4f;
	color:#f1f5f8;
	width:590px;
	padding:18px;
	float:left;
	font-size:0.95em;
	}

#interior #lead {
	float:none;
	width:auto;
	margin: 6px 0 10px 0;
	}

#lead .left {
	width:198px;
	}

#lead .right {
	width:368px;
	}
		
#lead a, #lead a:visited {
	color:#9cd6f3;
	}

#lead img {
	border:1px solid #516f80;
	padding:1px;
	}

#lead .date {
	color:#a7b5bd;
	margin-bottom:-15px;
	padding:4px 0;
	}

#lead p {
	margin:15px 0;
	line-height:140%;
	}
	
#fullstory {
	width:103px;
	height:20px;
	background:url(images/fullstory.png);
	display:block;
	text-indent:-9999px;
	}

#fullstory:hover {
	background:url(images/fullstory.png) 0 -20px;
	}
	
#interior #lead img	{
	float:left;
	margin:1px 16px 6px 0;
	}

#interior #lead .left {
	width:165px;
	}

#interior #lead .right {
	width:494px;
	}
		
.widget_tag_cloud a {
	display:inline;
	float:none;
}

.widget_calendar table {
	width:100%;
}

.bluebox {
	background:#edf7ff;
	border-bottom:1px solid #bfdfef;
	border-top:1px solid #bfdfef;
	padding:13px;
	}
	
.bluebox a, .bluebox a:visited {
	color:#4d6984;
	font-weight:bold
	}

.widget li {
	list-style:none;
	border-bottom:1px solid #ececec;
	padding:3px 0 3px 4px;
	}
	
li.widget {
 	list-style:none;
 	}

.bullets a, .bullets a:visited,
.widget a, .widget a:visited {
	color:#737373;
	}

.bullets a:hover, .bullets a:active,
.widget a:hover, .widget a:active {
	color:#000;
	text-decoration:none
	}

.bullets li {
	margin-left:25px;
	padding:5px 0;
	border-bottom:1px solid #ececec;
	list-style:square
	}
	
#interior #content {
	float:left;
	width:699px;
	padding:18px 0 40px 0;
	}

#breadcrumbs {
	background:#3399cc;
	padding:6px 0 6px 78px;
	color:#FFF;
	}	

#breadcrumbs a, #breadcrumbs a:visited {
	color:#ace3ff;
	font-weight:bold
	}

#interior .stripes {
	background: #FFF url(images/bg_stripe2.gif) repeat-x;
	margin-top:5px;
	padding-top:9px;
	}	

#author {
	margin-bottom: 19px;
	}

#author img {
	padding:1px;
	border:1px solid #93c0d6;
	float:left;
	margin-right:13px;
	}

#author span {
	display:block;
	border-top:1px solid #bfdfef;
	margin-top:12px;
	background:url(images/envelope.gif) no-repeat 1px 10px;
	padding:8px 0 0 17px;
	}

#author p {
	margin:0;
	width:482px;
	}	

.cat-excerpt {
	padding:10px;
	margin: 12px 0;
	}
	
.cat-excerpt img, .gallery {
	float:left;
	margin:1px 12px 7px 0;
	border:1px solid #516f80;
	padding:1px;
	}	

.gallery {
	margin:0 18px 16px 18px;
	}
				
.pagination {
	padding-top:20px;
	}
	
.narrow {
	float:left;
	width:465px;
	}

.bigger {
	font-size:1.1em;
	}
	
		

/*Post Page Formatting*/

.picleft {
	float:left;
	margin:4px 14px 10px 0;
	border:4px solid #e0e0db;
	}

.picright {
	float:right;
	margin:4px 0 10px 14px;
	border:4px solid #e0e0db;
	}	

.entry blockquote, .entry pre, .entry code, 
.commentlist blockquote, .commentlist code {
	color:#76767a;
	background:#f2f2f2;
	padding:6px 14px;
	margin:18px 35px;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	display:block;
	}	

.entry pre, .entry code {
	width:350px;
	font: 1em "Courier New", Courier, monospace;
	overflow:auto;
	padding:20px 14px;
	}
	
.entry p, .commentlist p {
	margin:15px 0;
	line-height:140%;
	}
	
.entry ul, .entry ol {
	padding:15px 0;
	}
		
.entry ol li, .entry ul li {
	margin:0 0 5px 48px;
	line-height:115%;
	}

.entry ul li {
	list-style:square
	}
	
#tags {
	padding:3px 6px 4px 15px;
	background:#edf7ff url(images/tag.gif) no-repeat 4px;
	}	

.commentcount {
	background:url(images/bubble.gif) no-repeat 1px;
	padding-left:17px;
	margin: 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal
	}

#home #lead .commentcount, 
#interior #lead .commentcount {
	background:url(images/bubble2.gif) no-repeat 1px;
	font-size:0.6em;
	}
			
.postmetadata {
	border-bottom:1px solid #eae9e4;
	padding:5px 0;
	}	

#print {
	background:url(images/icon_page.gif) no-repeat;
	padding-left:15px;
	}
	
		


/* Comments*/

.commentlist cite {
	font-style:normal;
	margin-bottom:4px;
	display:block
	}	

.commentlist blockquote {
	background:#ededed;
	}
			
.commentlist li {
	padding: 10px 14px 14px 14px;
	background:#f2f2f2 url(images/bg_comment.gif) no-repeat;
	border-bottom: 1px solid #dcdbd7;
	list-style:none;
	margin-bottom:12px;
	}

.commentlist li li {
	background:none;
	border:none;
	list-style:square;
	margin:3px 0 3px 20px;
	padding:3px 0;
	}

.commenttext {
	width:607px;
	float:right
	}
		
.commentlist cite strong {
	font-size:1.1em;
	}
	
li.my_comment {
	background: #FFF;
	border:none
	}

li.my_comment cite strong {
	font-size: 1.5em;
	color:#313228;
	}
	
#commentform small {
	background:#FFF;
	font-weight:bold;
	padding:0;
	}
	
.commentmetadata {
	display: block;
	margin-top:13px;
	text-align:right
	}

.commentmetadata a, .commentmetadata a:visited {
	color:#959382;
	}
	
.commentlist small {
	background:#e9e9e9
	}

.gravatar {
	border:1px solid #939188;
	margin:15px 8px 6px 0;
	float:left;
	padding:1px;
	width:45px;
	height:45px;
	}	

#comment {
	width:695px
	}
	
	

/* Form Elements */

#searchform {
	width:194px;
	float:right;
	text-align:right;
	padding-top:2px;	
	}
	
select {
	background:#edf7ff;
	border:1px solid #3399cc;
	width:100%
	}

#s {
	background:#7ebfdf;
	border:none;
	padding:2px;
	width:129px;
	}

#submit {
	border:1px solid #000;
	background: #1a5d80 url(images/bg_button.gif) repeat-x;
	margin-top:12px;
	color:#a4e1ff;
	padding:3px;
	display:block
	}
	
#contactform legend {
	display:none
	}

#contactform fieldset {
	border:none
	}

.field {
	border:1px solid #444;
	border-top:1px double #c4c4c4;
	border-left:1px double #c4c4c4;
	padding:5px;
	background:#FFF ! important;
	}

.field:focus {
	background:#f9f8f4 ! important;
	}

#wysiwyg {
	padding:6px 0 10px 0;
	}

#wysiwyg a, #wysiwyg a:visited {
	padding:3px;
	margin-right:4px;
	text-indent:-9999px;
	display:block;
	width:20px;
	height:20px;
	float:left;
	border:1px solid #FFF;
	border-bottom:1px solid #afafaf;
	border-right:1px solid #afafaf;
	background-color:#CCC
	}
			
a#button-bold {
	background:#CCC url(images/bg_bold.gif) no-repeat 8px;
	}	

a#button-italic {
	background:#CCC url(images/bg_italic.gif) no-repeat 8px;
	}	
	
a#button-block {
	background:#CCC  url(images/bg_block.gif) no-repeat 5px;
	}	
	
a#button-link {
	background:#CCC  url(images/bg_link.gif) no-repeat 5px;
	}		

#wysiwyg a:hover, #wysiwyg a:active {
	background-color:#dcdcdc
	}


				

/* Float Properties*/

.clearfloat:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
	}
	
.clearfloat {
	display:inline-block
	}

.clearfloat {
	display:block
	}
	


/* Footer*/

#meta {
	background:#000 url(images/bg_popular.jpg) center bottom no-repeat;
	margin-top:5px;
	padding: 21px 0 36px 0;
	}

#meta a, #meta a:visited {
	color:#ecf7ff;
	}

#meta ol {
	padding-top:15px;
	}

#meta .block {	
	width:283px;
	float:left;
	padding-left:20px;
	}
	
#meta li {
	margin-left:25px;
	color:#65a5cb;
	padding:2px 0;
	list-style:square
	}

#meta span {
	color:#316686;
	}
					
#footer {
	margin: 0 auto;
	width: 946px;
	font-size:0.7em;
	padding:15px;
	color:#ccdbe6;
	}

#footer a, #footer a:visited {
	color:#94d6f7;
	}

#footer .left, #footer .right {
	width:400px;
	}
	
#footer .right {
	text-align:right
	}
	
	
