a:link, a:visited {
color : #ae5f17;
text-decoration : none;
}
a:hover {
color : #ff4e00;
text-decoration : none;
}
input, textarea, select {
color : #6d6d6d;
background-color : #101010;
border : 1px solid #363636;
}
input:hover, textarea:hover, select:hover {
color : #8f8f8f;
background-color : #212121;
border : 1px solid #434343;
}
input:focus, textarea:focus, select:focus {
color : #78b100;
background-color : #1c2900;
border : 1px solid #385400;
}
body {
color : #787878;
font-size : 11px;
background-color : #000;
font-family : Tahoma;
margin : 0;
padding : 0;
}
form {
font-size : small;
margin : 0;
padding : 0;
}
h3 {
margin : 0;
padding : 0;
padding-bottom : 2px;
}
hr {
margin-top : 2px;
margin-bottom : 2px;
border-top : 1px solid #434343;
border-right-style : none;
border-right-width : 0;
border-bottom-style : none;
border-bottom-width : 0;
border-left-style : none;
border-left-width : 0;
}
p {
margin-top : 6px;
margin-bottom : 6px;
}
ul {
margin : 0;
padding-left : 20px;
}
.bmenu, .phdr, .hdr {
color : #804405;
background-color : #000406;
background-image : url(images/bmenu.jpg);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #2F200E;
}
.bmenu a {
color : #0084b5;
border-bottom : 1px dotted #004354;
}
.bmenu a:hover {
color : #25c5ff;
border-bottom : 1px dotted #006882;
}
.clip {
color : #459bb1;
border : 1px solid #3f3f3f;
font-size : x-small;
background-color : #292929;
padding : 4px 4px 8px;
}
.end {
text-align : center;
}
.func {
border-left : 4px solid #659300;
color : #757575;
font-size : x-small;
margin-top : 4px;
margin-left : 2px;
padding-left : 4px;
border-top : 1px dotted #4f4f4f;
}
.gmenu {
color : #734400;
background-color : #030500;
background-image : url(images/gmenu.gif);
background-repeat : repeat-x;
background-position : 100% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #734400;
}
.gmenu a {
color : #633400;
border-bottom : 1px dotted #734400;
}
.gmenu a:hover {
color : #734400;
border-bottom : 1px dotted #734400;
}
.gray {
color : #586776;
}
.green {
color : #58a400;
}
.header {
background-image : url(images/header.jpg);
color : #a95500;
background-color : #0a0a0a;
background-repeat : repeat-x;
background-position : 50% top;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #3E2F13;
border-bottom : 1px solid #3E2F13;
}
.footer a:link {
color : #a9a9a9;
text-decoration : none;
border-bottom : 1px dotted #3f3f3f;
}
.footer a:hover {
color : #d2d2d2;
text-decoration : none;
border-bottom : 1px dotted #696969;
}
.left {
float : left;
}
.list1, .b {
background-color : #101010;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #323232;
}
.list2, .c {
background-color : #212121;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #323232;
}
.maintxt {
padding-right : 1px;
padding-left : 1px;
border : 1px solid #30200b;
}
.menu, .news {
background-color : #040404;
background-image : url(images/menu.jpg);
background-repeat : yes-repeat;
background-position : left;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #352000;
}
.phpcode {
color : #00798f;
background-color : #001114;
border : 1px dotted #00272e;
margin-top : 4px;
padding : 0 2px;
}
.quote {
border-left : 4px solid #5c5c5c;
color : #878787;
font-size : x-small;
padding : 2px 0 2px 4px;
margin-left : 2px;
}
.red, .red a:link, .red a:visited {
color : #d20000;
}
.reply {
border-left : 4px solid #ca0000;
color : #db0000;
padding : 2px 0 2px 4px;
}
.rmenu, .alarm {
color : #734400;
background-color : #050000;
background-image : url(images/gmenu.gif);
background-repeat : repeat-x;
background-position : 100% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #734400;
}
.status {
color : #3fa400;
font-weight : bold;
font-size : x-small;
padding-left : 0;
}
.sub {
border-top : 1px dotted #4b4b4b;
font-size : x-small;
margin-top : 4px;
}
.sub a:link, .sub a:visited {
text-decoration : none;
}
.tmn {
color : #b94201;
background-color : #020100;
background-image : url(images/tmn.jpg);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #281516;
border-bottom : 1px solid #281516;
}
.tmn a:link, .tmn a:visited, .fmenu a:link, .fmenu a:visited {
color : #b94201;
text-decoration : none;
border-bottom : 1px dotted #602200;
}
.tmn a:hover, .fmenu a:hover {
color : #ff5a00;
border-bottom : 1px dotted #933400;
}
.footer {
background-image : url(images/footer.jpg);
color : #a9a9a9;
background-color : #0a0a0a;
background-repeat : repeat-x;
background-position : 50% top;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #3E2F13;
border-bottom : 1px solid #3E2F13;
.fmenu {
color : #b94201;
background-color : #020100;
background-image : url(images/tmn.jpg);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #0c0001;
border-bottom : 1px solid #0c0901;
/*Design by Screamer
Icq: 13-79-55-15*/