<!-- BEGIN: main -->
<div class="block-stat">
    <ul style="display:block">
        <li class="online">
            {LANG.online}: <strong>{COUNT_ONLINE}</strong>
        </li>
        <!-- BEGIN: guests -->
        <li class="guest">
            {LANG.guests}: <strong>{COUNT_GUESTS}</strong>
        </li>
        <!-- END: guests --><!-- BEGIN: users -->
        <li class="user">
            {LANG.users}: <strong>{COUNT_USERS}</strong>
        </li>
        <!-- END: users --><!-- BEGIN: bots -->
        <li class="bot">
            {LANG.bots}: <strong>{COUNT_BOTS}</strong>
        </li>
        <!-- END: bots -->
        <li class="today">
            {LANG.today}: <strong>{COUNT_DAY}</strong>
        </li>
        <li class="month">
            {LANG.current_month}: <strong>{COUNT_MONTH}</strong>
        </li>
        <li class="statistics">
            {LANG.hits}: <strong>{COUNT_ALL}</strong>
        </li>
    </ul>
</div>
<!-- END: main -->
