html
 {
 height: 100%;
 min-height: 100%;
 border-width: 0px;
 }

body
 {
 height: 100%;
 min-height: 100%;
 margin: 0px;
 padding: 0px;
 font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 background-color: #fff;
 color: #000000;
 }
td {
 font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
}
.screenLayout {
  position: relative;
  min-height: 100%;
}
* html .screenLayout {
  height: 100%;
}

.footerContainer
 {
 position: absolute; 
 visibility:hidden;
 bottom: 0px;
 height: 40px; 
 width: 100%;
 border-top: solid 1px #6E89DD;
 background-color: #8EA5EC;
 }

.contentLayout
 {
 text-align: center;
   padding-bottom: 120px;
 }

.contentContainer
 {
 width: 620px;
 text-align: left;
 margin-left: auto;
 margin-right: auto;
 /* 
 border-left: solid 1px #dddddd;
 border-right: solid 1px #dddddd;
 */
 }

.pageContent
 {
 margin-top: 49px;
 }

.domainName
 {
 color: #000000;
 }

.pageContent p
 {
 margin: 0px;
 margin-top: 10px;
 padding: 5px;
 }

.pageContent li
 {
 padding: 2px;
 }

.formContainer
 {
 padding: 5px;
 }

form
 {
 margin: 0px;
 padding: 0px;
 }

.buttonsContainer
 {
 margin-top: 10px;
 text-align: right;
 }

.buttonsContainer .commonButton span
 {
 display: none;
 }

.buttonsContainer .commonButton button 
 {
 width: 91px;
 height: 21px;
 text-align: center;
 }

.buttonsContainer .commonButton button 
 {
 white-space: nowrap;
 }

.buttonsContainer .commonButton 
 {
 margin-left: 14px;
 }

.buttonsContainer .commonButton span,
 {
 background-position: 0 1px;
 background-repeat: no-repeat;
 background-color: transparent;
 padding-left: 20px;
 text-decoration: underline;
 cursor: hand;
 cursor: pointer;
 padding-top: 1px;
 padding-bottom: 4px;
 }

.formFields td.name
 {
 font-size: 11px;
 vertical-align: top;
 padding-left: 0;
 padding-right: 10px;
 padding-bottom: 10px;
 width: 200px;
 }

.name
 {
 font-weight: bold;
 color: #555555;
 }

legend 
 {
 color: #0046D5;
 margin-bottom: 5px;
 margin-left: 0px;
 padding-right: 3px;
 vertical-align: middle;
 padding-bottom: 3px;
 }

.pageNavigation
 {
 padding: 5px;
 background-color: #eeeeee;
 }

.pageNavigation ul
 {
 list-style: none;
 padding: 0px;
 margin: 0px;
 }

.pageNavigation li
 {
 display: inline;
 padding: 5px;
 padding-right: 0px;
 white-space: nowrap;
 }

.pageNavigation a,
.pageNavigation a:link,
.pageNavigation a:visited,
.pageNavigation a:active,
.pageNavigation a:hover
 {
 color: #000000;
 text-decoration: none;
 font-weight: bold;
 padding-left: 5px;
 }

.pageNavigation a:hover
 {
 color: #666666;
 text-decoration: underline;
 }

.poweredBy
 {
 float: right;
 padding: 5px;
 padding-left: 0px;
 }

a img
 {
 border-width: 0px;
 }

.footDescription
 {
 float: left;
 padding: 5px;
 color: #2A3D9E;
 height: 30px;
 line-height: 30px;
 vertical-align: middle;
 }

a,
a:link,
a:visited,
a:active,
a:hover
 {
 text-decoration: underline;
 color: #324290;
 }

a:hover
 {
 color: #6F85F0;
 }

.iconsArea
 {
 padding-top: 20px;
 }

.iconsArea a,
.iconsArea a:link,
.iconsArea a:visited,
.iconsArea a:hover
 {
 color: #000000;
 text-decoration: none;
 }

.wrapper {
clear: both;
height: 0;
overflow: hidden;
}


