			<div id="contentleft">
      	<? include("./templates/site/top_main.tpl"); ?>
        <div id="contentleft_cell">
        	<div class="title1"><?=$lang['news']?></div>
          <div class="space_content">
          	<div align="center" class="title2"><?=stripslashes($news['title'])?><? if ($news["special"]) echo ' <img src="images/hot.gif" border="0" align="absmiddle">';?><? if ($news["new"]) echo ' <img src="images/new.gif" border="0" align="absmiddle">';?></div>
						<div align="center" class="black11" style="padding-top:2px;"><em>(<?=date($lang['DATE_FORMAT'],strtotime($news["date"]))?>)</em></div>					
						<div id="line1"><img src="images/spacer.gif" /></div>
						<div><? if ($news["img"]) { ?><img src="upload/news/<?=$news['img']?>" width="160" height="120" align="left" border="0" vspace="3" style="margin-right:8px;" class="imgbor"><? } ?><?=stripslashes($news['content'])?></div>
							
            <? if ($others) { ?>		
            <div id="line2"><img src="images/spacer.gif"></div>
            <div class="title2"><?=$lang['othernews']?> :</div>
            <? for ($i=0;$i<count($others);$i++) { ?>
            <div style="padding-top:6px;"><img src="images/icon4.gif">&nbsp; <a href="?do=news&act=detail&id=<?=$others[$i]['id']?>" class="black12"><?=stripslashes($others[$i]["title"])?></a><? if ($others[$i]["special"]) echo ' <img src="images/hot.gif" border="0" align="absmiddle">';?><? if ($others[$i]["new"]) echo ' <img src="images/new.gif" border="0" align="absmiddle">';?> <span class="black11"><em>(<?=date($lang['DATE_FORMAT'],strtotime($others[$i]["date"]))?>)</em></span></div>
            <? } ?>
            <div id="line1"><img src="images/spacer.gif"></div>
            <? } ?>          
         
            <div align="right"><img src="images/top.gif" align="absmiddle"> <a href="#top" class="green11"><?=$lang['top']?></a></div>
          </div>
        </div>
			</div>