/*------------------------------------------------------------------------
# JA Rutile for Joomla 1.5 - Version 1.0 - Licence Owner JA122250
# ------------------------------------------------------------------------
# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
-------------------------------------------------------------------------*/

h2.jazin-title, h4.jazin-title {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	margin-bottom: 5px;
}

/* CONTENT
--------------------------------------------- */
#jazin-wrap {
	padding: 0;
	border-bottom: 5px solid #ABABAB;
}

#jazin {
	padding: 0;
	border-bottom: 3px solid #FFFFFF;
}

.jazin-left {
	float: left;
	background: url(../images/vline.gif) repeat-y right;
}

.jazin-center {
	float: left;
	background: url(../images/vline.gif) repeat-y right;
}

.jazin-right {
	float: right;
}

.jazin-box {
	background: url(../images/dot.gif) repeat-x bottom;
	margin: 10px;
	padding-bottom: 15px;
}

.jazin-left .jazin-box {
	margin-left: 0;
}

.jazin-right .jazin-box {
	margin-right: 0;
}

div.jazin-section {
	display: block;
	margin-bottom: 5px;
}

div.jazin-section a {
	display: block;
	float: left;
	background: url(../images/zin-section-bg.gif) no-repeat left top #ABABAB;
	padding: 0 2px 2px 0;
	font-weight: bold;
}

div.jazin-section a span {
	background: #666666;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 1px 10px;
	margin: 0;
	display: block;
	font-family: Cambria, "Times New Roman", Times, serif;
}

div.jazin-section a:hover,
div.jazin-section a:active,
div.jazin-section a:focus {
	text-decoration: none;
}

.jazin-box:hover div.jazin-section a span,
.hover div.jazin-section a span {
	background: #006699;
}

.jazin-more {
	color: #999999;
	text-transform: uppercase;
	display: block;
	clear: both;
	margin: 10px 0 2px;
	font-size: 92%;
	letter-spacing: 1px;
}

ul.jazin-links {
	padding: 0;
	margin: 0;
}

ul.jazin-links li {
	padding-left: 10px;
	background-position: 1px 7px;
}

.jazin-content img {
	padding: 5px 10px 0 0;
}

.jazin-pagedesc {
	display: block;
	padding: 10px;
	margin: 10px 0;
	font-family: Cambria, "Times New Roman", Times, serif;
	font-size: 125%;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: #F7F7F7;
	font-style: italic;
}

.jazin-pagedesc p {
	padding: 0;
	margin: 0;
}

/*SUB PAGE HEADLINE*/
#jazin-hlwrap-sub {
	clear: both;
	margin-bottom: 3px;
}

#jazin-hlwrap-sub .jazin-box,
#jazin-hlwrap-sub .jazin-content {
	padding: 0;
	margin: 0;
	background: none;
}

#jazin-hlwrap-sub h4.jazin-title {
	font-size: 200%;
	font-weight: normal;
}

#jazin-hlwrap-sub .article_separator {
	height: 15px;
	background: none;
	border-bottom: 5px solid #ABABAB;
	font-size: 1px;
}

/*mis
-------------------------------------------------*/
#jazin-fp .article_separator {
	clear: both;
	display: block;
	height: 3px;
	background: none;
	font-size: 1px;
}

.jazin-pagenav, .jazin-pagenav-counter {
	text-align: center;
}

/*THEMES
------------------------------------------------*/
.jazin-boxwrap:hover.jazin-theme-red div.jazin-section a span,
.jazin-boxwrap.jazin-theme-red .hover div.jazin-section a span {
	background: #CC0000; /*red*/
}

.jazin-boxwrap:hover.jazin-theme-orange div.jazin-section a span,
.jazin-boxwrap.jazin-theme-orange .hover div.jazin-section a span {
	background: #E77B13; /*orange*/
}

.jazin-boxwrap:hover.jazin-theme-pink div.jazin-section a span,
.jazin-boxwrap.jazin-theme-pink .hover div.jazin-section a span {
	background: #CA0789; /*pink*/
}

.jazin-boxwrap:hover.jazin-theme-green div.jazin-section a span,
.jazin-boxwrap.jazin-theme-green .hover div.jazin-section a span {
	background: #1A661A; /*green*/
}

.jazin-boxwrap:hover.jazin-theme-lime div.jazin-section a span,
.jazin-boxwrap.jazin-theme-lime .hover div.jazin-section a span {
	background: #678000; /*lime*/
}

.jazin-boxwrap:hover.jazin-theme-cyan div.jazin-section a span,
.jazin-boxwrap.jazin-theme-cyan .hover div.jazin-section a span {
	background: #0E9C9A; /*cyan*/
}

.jazin-boxwrap:hover.jazin-theme-deepblue div.jazin-section a span,
.jazin-boxwrap.jazin-theme-deepblue .hover div.jazin-section a span {
	background: #004B80; /*deepblue*/
}