/* CSS Document */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

	margin: 0;

	padding: 0;

	border: 1;

	font-size: 100%;

	font: bold;

	vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

	display: block;

}

body {

	line-height: 1.4;
	font-family: Arial,Tahoma,Verdana,Helvetica,sans-serif;
	font-size:75%;
	color:#111;
	background:url(../images/background2.jpg) repeat fixed center top #0095DA;
	background-size:1680px auto;
	backgroundc-color:#0095DA;

}

ol, ul {

	list-style: none;

}
	blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after,
	q:before, q:after {
	content: '';
	content: none;

}

table {

	border-collapse: collapse;
	border-spacing: 0;

}

#header-wrap

{
	height:320px;
	width:100%;
	background:url(../images/header-wrap.png) repeat-x left top;

}

#header

{

	height:296px;
	width:980px;
	margin:0 auto;
	padding:5px;

}

#banner
{
	height:200px;
	position:relative;
}

#line

{

	 background: url("../images/topline4.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 178px;
    position: absolute;
    width: 10px;

}

#menutop
{
	height:50px;
	margin:50px 0px;
    border: 1px solid #DDDDDD;
    border-radius: 12px 12px 12px 12px;
   	background:url("../images/nav.png") repeat-x scroll 0 0 transparent;
	width:960px; 
}
#menutop ul
{
	margin-left:10px;
	width:100%;
	list-style:none;
}
#menutop ul li
{
	fbackground: transparent url(../images/but_r.jpg) center right no-repeat;
	float: left;
	margin: -5px;
	padding: 5px;
width:128px;
text-align:center;
}
#menutop li a
{
	
	font-family: "verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif", sans-serif;
	font-size: 14px;
	float: left;
	display: block;
	color: #525252;
	text-decoration: none;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	padding: 0 10px;
	margin: 10px 0;
	cursor: pointer;
	border: 0px solid;
	border-radius: 5px 5px 5px 5px;
width:100px;
background:url("../images/bg_menu.gif") repeat scroll -5px -2px transparent;
}

#menutop li a:hover
{
	background: none repeat scroll 0 0 #fa9100;
	border-radius:5px 5px 5px 5px;
	box-shadow:2px 2px 2px #666666 inset;
	color: #525252;
	height: 31px;
background:url("../images/bg_menu_o.gif") repeat scroll -5px -2px transparent;

}
#menutop ul li.active a,#menutop ul li.current a
{
	background:url(../images/bg_menu_o.gif) -5px -2px;
	
	border-radius:5px 5px 5px 5px;
	box-shadow:2px 2px 2px #666666 inset;
	float: left;
	margin: 10 5px;
	padding: 0;ont-family: "verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif", sans-serif;
	font-size: 14px;
	float: left;
	display: block;
	color: #525252;
	text-decoration: none;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	padding: 0 10px;
	margin: 10px 0px;
	cursor: pointer;
	border: 0px solid;
width:100px;
}

#menutop ul li.active a,#menutop ul li.current a
{
	border-color:#ffffff;
	color:#525252;
}
#wrapper-wrap

{

	overflow:hidden;

	/*background:url(../images/wrap-bg.png) repeat-x top center;*/
	background-attachment:fixed;

}

.content

{
	position:relative;
	margin:0 auto;
	padding:0 10px;
	width:960px;
	background:url(../images/bg.png) repeat-y;
	overflow:hidden;
}

#content-top

{
	background:url(../images/bg-top.png) no-repeat;
	width:980px;
	height:20px;
	margin:0 auto;
	padding:0;
}

#content-bottom
{
	background:url(../images/bg-bot.png) no-repeat;
	width:980px;
	height:26px;
	margin:0 auto;
	padding:0;

}

#slide

{
	border: 0px solid #0093dd;
    margin: 5px auto;
    width: 960px;

}

#content-slide

{
	width:0px;
	height:0px;
	padding:0px;

}

#column-left
{
	width:250px;
	padding:10px 10px 10px 20px;
	float:right;
}

#column-right
{  float: right;
    padding: 10px 10px ;
    width: 640px;
}

#ner

{
	position:absolute;
	background:url(../images/isline.png) no-repeat;
	height: 268px;
    left: 228px;
    top: 120px;
    width: 57px;

}

#fotter

{

	background:url(../images/bg-footer.png) no-repeat;

	height:110px;

	width:980px;

	margin:0 auto;

	padding:0px 0px 10px 0px;

}

#slide-shadown

{

	height:10px;

	width:980px;

	margin:0 auto;

	padding:0;

	background:url(../images/slide-shadown.png) no-repeat;

}

.moduletable h3

{

	font-style:tahoma;

	font-size:15px;

	color:#666666;

	font-weight:bold;

}

.hotelsearch h3

{

	background:url(../images/search.png) no-repeat left center;

	padding-left:30px;

	font-style:tahoma;

	font-size:18px;

	color:#ffffff;

	font-weight:inherit;
	font-family: georgia;

}

.line 

{

	background:url(../images/hr.png) repeat-x;

	width:100%;

	height:1px;

	margin:5px 0;

}

.hotelsearch form

{

	margin:0;

	padding:0;

}

.hotelsearch

{

	padding:10px 5px;

	border:0px solid #FFB21E;

}

#bookit_search_button2

{

	background:url(../images/small-button.png) no-repeat;

	float:right;

	margin:8px 0;

	border:none;

	width:87px;

	height:24px;

}
#language
{
	position:absolute;
	right:10px;
	top:10px;
}
.jflanguageselection option
{
	height:30px !important;	
}
#jflanguageselection select.jflanguageselection
{
	height:20px;
}
#bannerimg {
    background: url("../images/banner.png") no-repeat scroll 0 0 transparent;
    height: 136px;
    margin-left: 10px;
    position: absolute;
    width: 980px;
}
.info1,.info2,.info3{
    float: left;
    margin: 10px;
    padding: 10px;
}.info1 h3,.info2 h3,.info3 h3 {
    background: url("../images/sand.png") no-repeat scroll left center transparent;
    color: #FF7400;
    font-size: 18px;
    font-weight: bold;
    padding-left: 35px;
}
.intro{
	width:400px;
}
.blog{
	width:500px;

}
.blog .contentpaneopen{
 width:620px;
}
.blog .article_separator{
 	float: left;
    width: 620px;
	border-bottom: 1px dotted;
}
.maps{
	width:0px;
	float:right;
}
.maps img{
	float:left;
}
.maps p{
	color:#ddd;
}
ul.menutable {

    list-style-type: none;

    margin: 0 0 20px 10px;


}

ul.menutable li {

    border: 1px solid #FFFFFF;

    margin: 0 0 2px;

}

ul.menutable li a {

    display: block;

    padding: 3px 4px 3px 10px;

    text-decoration: none;

}

ul.menutable li a:link, ul.menutable li a:visited {

    background: none repeat scroll 0 0 #0093dd;

    border-bottom: 1px solid #E0C1E0;

    color: #FFFFFF;

    font-weight: normal;

}

ul.menutable li a:hover, ul.menutable ul li a:active, #left ul li a:focus {

    background: none repeat scroll 0 0 #cccccc !important;

    color: #FFFFFF !important;

}

ul.menutable li ul {

    -moz-border-bottom-colors: none;

    -moz-border-image: none;

    -moz-border-left-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    background: none repeat scroll 0 0 #FFFFFF;

    border-color: -moz-use-text-color #E0C1E0 #93246F #93246F;

    border-right: 1px solid #E0C1E0;

    border-style: none solid solid;

    border-width: 0 1px 0 4px;

    margin: 0;

}

ul.menutable li ul li {

    border: 1px solid #FFFFFF;

}

ul.menutable li ul li {

    margin: 0;

}

ul.menutable li ul li a:hover, ul.menutable li ul li a:active, #left ul li ul li a:focus {

    background: none repeat scroll 0 0 #93246F;

    color: #FFFFFF;

}

ul.menutable li ul li ul {

    border: 0 solid #E0C1E0;

    padding: 10px 0 10px 5px;

}

ul.menutable li.active a:link, ul.menutable li.active a:visited {

    background: none repeat scroll 0 0 #AE2A15;

    border-bottom: 1px solid #93246F;

    border-left: 4px solid #AE2A15;

    color: #FFFFFF;

    padding: 3px 0 3px 6px;

}

ul.menutable li.active ul li a:link, ul.menutable li.active ul li a:visited {

    background: none repeat scroll 0 0 #FFFFFF;

    border-bottom: 1px solid #E0C1E0;

    border-left: 0 solid #DD75BB;

    color: #000000;

    font-weight: normal;

    padding: 3px 4px 3px 20px;

}

ul.menutable li.active ul li ul li a:link, ul.menutable li.active ul li ul li a:visited {

    background: none repeat scroll 0 0 #FFFFFF;

    border-bottom: 1px solid #E0C1E0;

    color: #000000;

    font-weight: normal;

    margin: 0 0 0 10px;

}

ul.menutable li.active ul li.active a:link, ul.menutable li.active ul li.active a:visited {

    background: none repeat scroll 0 0 #FFFFFF;

    border-left: 0 solid #DD75BB;

    color: #000000;

    font-weight: bold;

}

ul.menutable li.active ul li.active ul li a:link, ul.menutable li.active ul li.active ul li a:visited {

    background: url("../images/arrow.gif") no-repeat scroll left top #FFFFFF;

    color: #000000;

    font-weight: normal;

    margin: 0 0 0 15px;

    padding: 3px 0 3px 15px;

}

ul.menutable li.active ul li.active ul li.active span.active_link {

    background: url("../images/arrow.gif") no-repeat scroll left top #FFFFFF;

    border-bottom: 1px solid #E0C1E0;

    color: #000000;

    font-weight: bold;

    margin: 0 0 0 15px;

    padding: 3px 0 3px 15px;

}

ul.menutable form a:hover, #left form a:active, #left form a:focus {

    color: #FFFFFF;

}

table.contentpaneopen table,table.contentpaneopen table tr,table.contentpaneopen table tr td

{

	border: 1px solid #000;

	border-collapse:none;

}

	.contentheading, .componentheading {
    color: #CC0000;
    font-family: Geneva,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;