body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Tahoma;	
	background-image:url(../images/back.jpg);
}
.hei
{height:1px;
}
/*-------------------------*/
.do {
	color: #FF0000;
	font-weight: bold;
}
/*-------------------------*/
.cat_name {
	font-family: Tahoma;
	font-size: 13px;
	color: #0490E0;
	font-weight: bold;
}
.name {
	color: #52544D;
	font-family: Tahoma;
	font-size: 11px;
}
/*-------------------------*/
.name_cat a:link{
	color:#52544D;
	font-family: Tahoma;
	font-size: 11px;
}
.name_cat a:visited{
	color:#52544D;
	font-family: Tahoma;
	font-size: 11px;
}
.name_cat a:hover{
	color:#FF6600;
	font-family: Tahoma;
	font-size: 11px;
}
/*----------------------------*/
.name a:link{
	color:#52544D;
	font-family: Tahoma;
	font-size: 11px;
}
.name a:visited{
	color:#52544D;
	font-family: Tahoma;
	font-size: 11px;
}
.name a:hover{
	color:#FFFFFF;
	font-family: Tahoma;
	font-size: 11px;
}
.name a:active{
	color:#52544D;
	font-family: Tahoma;
	font-size: 11px;
}
/*-------------------------*/
.menutop A:link{
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color:#000000; 
	text-decoration:none
	
}
.menutop A:hover{
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color:#000000; 
	text-decoration:underline;
	
}
.menutop A:visited{
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color:#000000; 
	text-decoration:none;
	
}
/*-------------------------*/
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

/*-------------------------*/
.newstop a:link {
color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:11px;
}
.newstop a:visited {
color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:11px;
}
.newstop a:hover {
color:#000000;
	text-decoration:underline;
	font:tahoma;
	font-size:11px;
	
}
.newstop a:active {
color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:11px;
}
/*-------------------------*/
.dangky a:link{
	font-family: Tahoma;
	font-size: 11px;
	color: #333333; 
}
.dangky a:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333; 
	text-decoration:underline;
}
.dangky a:active {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333; 
}
.dangky a:visited {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333; 
}

.username{
	font-family: Tahoma;
	font-size: 11px;
	color: #333333; 
	font-weight:bold;
}
/*-------------------------*/
td
{
	font:tahoma;
	font-size:11px;
}
/*-------------------------*/
.Cat_detail A:link {
	font-family: Tahoma;
	font-size: 13px;
	color: #0490E0;
	font-weight: bold;	
	
}
.Cat_detail A:hover {
	font-family: Tahoma;
	font-size: 13px;
	color: #0490E0;
	font-weight: bold;	
	text-decoration:underline;	
}
.Cat_detail A:visited {
	font-family: Tahoma;
	font-size: 13px;
	color: #0490E0;
	font-weight: bold;	
	
}
/*-------------------------*/
.sub_detail A:link {
	font-family: Tahoma;
	font-size: 11px;
	color:#000000;
	
	text-decoration:none;
}
.sub_detail A:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	
	text-decoration:underline;	
}
.sub_detail A:visited {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	
	text-decoration:none;
}
/*-------------------------*/
.news_top {
	font-family: tahoma;
	font-size: 11px;
	background-color: e9e9e9;
	border-bottom:#FFFFFF solid 1px;
	height:25px;
	
}
/*-------------------------*/
.newpro_name {
	font-family: Tahoma;
	font-size: 12px;
}
.newpro_intro {
	font-family: Tahoma;
	font-size: 10px;
	color: #7C7878;
}
.news_image {
	border-left:#CCCCCC solid 1px;
	border-right:#CCCCCC solid 1px;
	border-top:#CCCCCC solid 1px;
	border-bottom:#CCCCCC solid 1px;
		
}
.newsname a{
font:tahoma;
	color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:12px;
	
}
.newsname a:link {
font:tahoma;
	color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:12px;
}
.newsname a:visited {
font:tahoma;
	color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:12px;
}
.newsname a:hover {
	color:#000000;
	text-decoration: underline;
	font:tahoma;
	font-size:12px;
}
.newsname a:active {
font:tahoma;
color:#666666;
text-decoration: none;	
	font-size:12px;	
}
/*-------------------------*/
.news_category a:link {
font:tahoma;
	color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:12px;
	font-weight:bold;
}
.news_category a:visited {
font:tahoma;
	color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:12px;
	font-weight:bold;
}
.news_category a:hover {
	color:#000000;
	text-decoration: underline;
	font:tahoma;
	font-size:12px;
	font-weight:bold;
}
/*-------------------------*/
.mess {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
/*-------------------------*/
.chitiet a:link {
color:#660000;
	text-decoration: none;
	font:tahoma;
	font-size:11px;
}
.chitiet a:visited {
color:#660000;
	text-decoration: none;
	font:tahoma;
	font-size:11px;
}
.chitiet a:hover {
color:#000000;
	text-decoration:underline;
	font:tahoma;
	font-size:11px;
}
.chitiet a:active {
color:#000000;
	text-decoration: none;
	font:tahoma;
	font-size:11px;
}
/*-------------------------*/
.category
{
	font:tahoma;
	font-size:15px;
	color:#000000;
	font-weight:bold;
	text-shadow:#999999;
}
/*-------------------------*/
.p_name A:link
{
	font:tahome;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}
.p_name A:hover
{
	font:tahome;
	font-size:12px;
	color:#000000;
	text-decoration:underline;
}
.p_name A:visited
{
	font:tahome;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}
.p_sologan
{
	font:tahoma;
	color:#928e8e;
	font-size:11px;
}
.p_image {
	padding: 2px;
	border-left:#CCCCCC solid 1px;
	border-right:#CCCCCC solid 1px;
	border-top:#CCCCCC solid 1px;
	width:148px;
	height:141px;
}
.p_nametd
{
	font:tahoma;
	color:#000000;
	background-color:#d4d0c8;
	font-size:12px;
	height:15px;
	text-align:center;
	border-bottom:#CCCCCC solid 1px;
}
.product_name
{
	font:tahoma;
	font-size:12px;
	font-weight:bold;
	
}
.product_image
{
	padding: 1px;
	border: 1px solid #CCCCCC;
}
.product_intro
{
	text-align:center;
}
.p_member
{
	font:tahome;
	font-weight:bold;
	color:	#000099;
	text-align:left;
}
.raovatname {
	font:Tahoma;
	font-weight:bold;
	color:#ffffff;
	font-size:12px;
	background-color:#D6D6D6;
}
.raovatbg1 {
	background-color:#EEEEEE;
}
.raovatbg2 {
	background-color:#F4F4F4;
	
}
.price {
	color: #ff0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.ngay_dang {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.bo_cat
{
border:#D6D6D6 solid 1px}
/*-------------------------*/	
