<table width="534" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
	<!--START BLOCK : about -->
      <tr>
        <td height="10"></td>
      </tr>
	  
      <tr>
        <td class="category"><img src="images/banhxe.gif" align="absmiddle" />&nbsp;&nbsp;{name}</a></td>
      </tr>

      <tr>
        <td valign="top"><span class="content">
          <div align="justify">{content}
            </div>
        </span></td>
      </tr>
     <!--END BLOCK : about --> 

    </table></td>
  </tr>
</table>


