
              <table width="780" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tr>
                  <td height="10" colspan="2" background="images/phancach.gif"></td>
                </tr>
                <tr>
                  <td height="13" colspan="2" background="images/searchtop.gif"></td>
                </tr>
                <tr>
                  <td width="619" height="78">
                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <form id="search" name="search" method="post" action="?page=S_result">
					  <input type="hidden" value="1" name="gone" />
					  <tr>
                        <td><img src="images/search.gif" width="122" height="17" /></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        </tr>
                      <tr>
                        <td width="249">
		 				 <select name="cat_pd" id="cat_pd"  style="width:200px" onchange="loadSubCat('subS',this.value)" >		  
		  			<option value="ALL">Danh mục Xe ÔTÔ</option>
		  				<!-- START BLOCK : catpd -->
		  				<option value="{id_catpd}" {selected}>{name}</option>
  		 			 <!-- END BLOCK : catpd -->
		  				</select>
					</td>
                        <td width="313"><input type="text" name="keyword" style="width:260px"  value="Từ khóa"/></td>
                        <td width="75">&nbsp;</td>
                        </tr>
                      <tr>
                        <td width="249">
						<div id="subS">
					  <select name="sub_catS" id="sub_catS" style="width:200px">	  
					  <!-- START BLOCK : subcat -->
					  <option value="{id_catpd}" {selected}>{name}</option>
					  <!-- END BLOCK : subcat -->
					  </select>
					</div></td>
                        <td width="313"><select name="kieu" style="width:200px">
                          <option value="ten">Tên</option>
						  <option value="gia">Gi&#225;</option>						  
                        </select>
                          <input type="submit" name="btnSearch" value="Chi ti&#7871;t" /></td>
                        <td width="75">&nbsp;</td>  
                        </tr></form>
                    </table>
                                  
                  </td>
                  <td width="80" height="80" valign="top" background="images/searchbgright.gif">&nbsp;</td>
                </tr>
                <tr>
                  <td height="10" colspan="2" background="images/searchbutton.gif"></td>
                </tr>
</table><table width="779" align="center" bgcolor="#FFFFFF">
  <!-- START BLOCK : address -->
  <tr>
    <td align="center"><p>{address}</p></td>
  </tr>
  <!-- END BLOCK : address --> 
</table>

 <DIV id=divAdLeft 
style="LEFT: -100px; WIDTH: 100px; POSITION: absolute; TOP: 71px">
<!--START BLOCK : logotrai --> 
<A 
href="{linktrai}" target=_blank><IMG 
 alt="" src="upload/images/{imageleft}" width="100" border="0"></A><br />
 <!--END BLOCK : logotrai -->
 </DIV>

<DIV id=divAdRight 
style="LEFT: -100px; WIDTH: 100px; POSITION: absolute; TOP: 71px"> 
<!--START BLOCK : logophai -->
<A href="{linkphai}" target=_blank>
<IMG src="upload/images/{imageright}" width="100" border="0"></A><br />
<!--END BLOCK : logophai -->
</DIV>
<SCRIPT language=JavaScript src="js/ads.js" 
type=text/javascript></SCRIPT>

</body>

</html>
