<script language="javascript1.2">
	function checkform(frm){
		if(frm.current_password.value==''){
			alert("Ban phai nhap vao mat khau hien tai !");
			frm.current_password.focus();
			return false;
		}
		if(frm.password.value==''){
			alert("Ban phai nhap vao mat khau !");
			frm.password.focus();
			return false;
		}
		if(frm.password.value!=frm.re_password.value){
			alert("Mat khau va mat khau nhap lai khong trung nha, hay nhap lai !");
			frm.password.focus();
			return false;
		}
	}
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="category" height="10"></td>
  </tr>
  <tr>
    <td class="category">&nbsp;&nbsp;&#272;&#7893;i m&#7853;t kh&#7849;u</td>
  </tr>
  <tr>
    <td><form name="form1" method="post" action="" onSubmit="return checkform(this)">
		<input type="hidden" name="gone" value="1">
      <table width="387" border="0" align="center" cellpadding="5">
        <tr>
          <td colspan="2" height="10"></td>
        </tr>
		<!--START BLOCK : msg -->
        <tr>
          <td colspan="2" align="center" class="do">{msg}</td>
          </tr>
		 <!-- END BLOCK : msg -->
        <tr>
		
          <td width="124" >Username</td>
          <td width="237" class="menutop">{username}</td>
        </tr>
        <tr>
          <td>H&#7885; t&#234;n</td>
          <td class="menutop">{name}</td>
        </tr>
        <tr>
          <td>M&#7853;t kh&#7849;u hi&#7879;n t&#7841;i * </td>
          <td><input type="password" name="current_password"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>M&#7853;t kh&#7849;u m&#7899;i * </td>
          <td><input type="password" name="password"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>M&#7853;t kh&#7849;u nh&#7853;p l&#7841;i * </td>
          <td><input type="password" name="re_password"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><table width="238" border="0" align="right">
            <tr>
              <td width="115"><input type="submit" name="Submit" value="L&#432;u" style="width:60px"></td>
              <td width="118"><input type="button" name="Submit2" onClick="window.location='?'"  value="B&#7887; qua" style="width:60px"></td>
            </tr>
          </table></td>
          </tr>
      </table>
        </form>    </td>
  </tr>
</table>
