<script language="javascript1.2">
	function clearother(){
		document.getElementById('other').innerHTML = "";
	}
	function loadother1(){
		document.getElementById('other').innerHTML = "<table width='100%'>       <tr>          <td>Th&#244;ng tin li&#234;n h&#7879;</td>          <td><textarea name='thongtinkhac' cols='' rows='5' style='width:400px'></textarea></td>        </tr></table>";
			}
			
	
</script>
<script language="javascript" type="text/javascript">

		function checkform(frm)
		{
			if(frm.name.value=='')
			{
				alert('Ban can nhap vao ho ten !');
				
				return false;	
			}

			
		}

</script>

<table width="534" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="14"></td>
  </tr>
  <tr>
    <td>&nbsp;<strong>S&#7916;A TIN</strong></td>
  </tr><tr>
    <td align="left" class="price"><table width="150" border="0">
      <tr>
        <td background="images/hr_mn.gif" height="1" ></td>
      </tr>
    </table></td>
  </tr>
  <!--START BLOCK : msg -->
  
  <tr>
    <td align="center" class="price">{msg}</td>
  </tr>
  <!--END BLOCK : msg -->
  <tr>
    <td><form id="form1" name="form1" method="post" enctype="multipart/form-data" action="" onsubmit="return checkform(this)">
	<input type="hidden" name="gone" value="1" />
      <table width="96%" border="0" align="center">
        <tr>
          <td colspan="2"><strong>Th&#244;ng tin xe</strong></td>
          </tr>
        <tr>
          <td>&#272;&#259;ng v&#224;o m&#7909;c</td>
          <td><select name="id_catrv" style="width:200px">
		<!--START BLOCK : category -->
		  <option value="{id_cat}" {selected}>--&nbsp;{cat_name}</option>
		  <!--END BLOCK : category -->
          </select>          </td>
        </tr>
        <tr>
          <td width="24%">T&#234;n</td>
          <td width="76%"><input type="text" name="name"  style="width:300px" value="{name}"/></td>
        </tr>
        <tr>
          <td>H&#236;nh &#7843;nh</td>
          <td>{image}
            <input type="file" name="image" style="width:300px" /></td>
        </tr>
		<!--START BLOCK : vip -->
        <tr>
          <td>H&#236;nh &#7843;nh th&#234;m </td>
          <td>{image1}
            <input type="file" name="image1" style="width:300px" /></td>
        </tr>
        <tr>
          <td>H&#236;nh &#7843;nh th&#234;m </td>
          <td>{image2}
            <input type="file" name="image2" style="width:300px" /></td>
        </tr>
        <tr>
          <td>H&#236;nh &#7843;nh th&#234;m </td>
          <td>{image3}
            <input type="file" name="image3" style="width:300px" /></td>
        </tr>
        <tr>
          <td>H&#236;nh &#7843;nh th&#234;m </td>
          <td>{image4}
            <input type="file" name="image4" style="width:300px" /></td>
        </tr>
		<!--END BLOCK : vip -->
        <tr>
          <td>Gi&#225;</td>
          <td><input type="text" name="price"  style="width:120px" value="{price}"/>            &nbsp;&#272;&#417;n v&#7883; ti&#7873;n 
            <input type="text" name="don_vi"  style="width:120px" value="{don_vi}"/></td>
        </tr>
        <tr>
          <td>Ghi ch&#250; t&#243;m t&#7855;t</td>
          <td><textarea cols="" name="title" rows="5" style="width:300px">{title}</textarea></td>
        </tr>
		<tr><td colspan="2">Th&#244;ng s&#7889; k&#7929; thu&#7853;t</td></tr>
        <tr>
          
          <td colspan="2"><textarea id="intro" name="intro" rows=10 cols=30 style="width:500px">{intro}</textarea></td>
        </tr>
        <tr><td colspan="2">Th&#244;ng chi ti&#7871;t</td></tr>
        <tr>
          
          <td colspan="2"><textarea id="content" name="content" rows=10 cols=30 style="width:500px">{content}</textarea></td>
        </tr>
        <tr>
          <td><strong>Th&#244;ng tin li&#234;n h&#7879;</strong></td>
		 
          <td><input name="radioother" type="radio" value="0" onclick="clearother();" />
            Th&#244;ng tin user<input name="radioother" id="radioother" type="radio" value="1" onclick="loadother1();" checked="checked"/>Th&#244;ng tin kh&#225;c</td>
        </tr>
        <tr>
          <td colspan="2"><div id="other">
		  <!--START BLOCK : thongtinlienhe -->		  
		  <table width='100%'>                                        <tr>          <td>Th&#244;ng tin li&#234;n h&#7879;</td>          <td><textarea name='thongtinkhac' cols='' rows='5' style='width:400px'>{thongtinkhac}</textarea></td>        </tr></table>
		  <!--END BLOCK : thongtinlienhe -->
		  </div></td>
          </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><table width="365" border="0" align="center">
            <tr>
              <td width="180" align="center"><input type="submit" name="Submit2" value="&#272;&#259;ng tin"  onclick="return checkform1()"/></td>
              <td width="124" align="center"><input type="reset" name="Submit3" value="Nh&#7853;p l&#7841;i" /></td>
              <td width="137" align="center"><input type="button" name="Button" value="B&#7887; qua"  onClick="window.location='?page=list_news'"/></td>
            </tr>
          </table></td>
        </tr>
      </table>
        </form>    </td>
  </tr>
</table>


