</div>
<!-- configurable script -->
<script language="JavaScript">
theimage = new Array();


// The dimensions of ALL the images should be the same or some of them may look stretched or reduced in Netscape 4.
// Format: theimage[...]=[image URL, link URL, name/description]

<!-- START BLOCK : library -->
theimage[{i}]=["{normal_image}", "#"];
<!-- END BLOCK : library -->

///// Plugin variables

playspeed=3000;// The playspeed determines the delay for the "Play" button in ms
//#####
//key that holds where in the array currently are
i=0;


//###########################################
window.onload=function(){

	//preload images into browser
	preloadSlide();

	//set the first slide
	SetSlide(0);

}

//###########################################
function SetSlide(num) {
	//too big
	i=num%theimage.length;
	//too small
	if(i<0)i=theimage.length-1;

	//switch the image
	document.images.imgslide.src=theimage[i][0];

}


//###########################################
function PlaySlide() {
	if (!window.playing) {
		PlayingSlide(i+1);
		if(document.slideshow.play){
			document.slideshow.play.value="   Stop   ";
		}
	}
	else {
		playing=clearTimeout(playing);
		if(document.slideshow.play){
			document.slideshow.play.value="   Play   ";
		}
	}
	// if you have to change the image for the "playing" slide
	if(document.images.imgPlay){
		setTimeout('document.images.imgPlay.src="'+imgStop+'"',1);
		imgStop=document.images.imgPlay.src
	}
}


//###########################################
function PlayingSlide(num) {
	playing=setTimeout('PlayingSlide(i+1);SetSlide(i+1);', playspeed);
}


//###########################################
function preloadSlide() {
	for(k=0;k<theimage.length;k++) {
		theimage[k][0]=new Image().src=theimage[k][0];
	}
}
</script>


<!-- slide show HTML -->
</td></tr></table>
</td>


    <td width="240" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" onmousemove="clear_menu()">
      <tr>  <td><img src="images/danhmucsanpham.gif" width="235" height="28" border="0" />	</td>      
      </tr>
	  <tr ><td height="1"  background="images/hr_mn.gif" ></td></tr>
	   <tr ><td height="10" ></td></tr>
      <tr>
        <td>
		<!--################### List Category #############################-->
		
	<!--################### List Category #############################-->	</td>
      </tr>
	  <tr><td height="10">
	  <table width="100%" border="0" cellspacing="0" cellpadding="3">
	  <form id="danhmuc" name="danhmuc" method="post" action="javascript: product_list('show_hang','sub_catS')" enctype="multipart/form-data" >	
	  <tr><td width="" align="right">
		 			 <select name="cat_pd" id="cat_pd"  style="width:200px" onchange="getScriptPage('danhmucdv','cat_pd')" >		  
		  			<option value="ALL">Danh mục Xe ÔTÔ</option>
		  				<!-- START BLOCK : catpd -->
		  				<option value="{id_catpd}" {selected}>{name}</option>
  		 			 <!-- END BLOCK : catpd -->
		  				</select>	
						</td></tr>				
                      <tr>
                        <td align="right" >
						<div id="danhmucdv">
					  <select name="sub_catS" id="sub_catS" style="width:200px">	  
					  <!-- START BLOCK : subcat -->
					  <option value="{id_catpd}" {selected}>-- {name}</option>
					  <!-- END BLOCK : subcat -->
					  </select>
					</div></td></tr>
					<tr>    <td width="313" align="right">
                          <input type="submit" name="btnSearch" value="Chi ti&#7871;t" /></td>
        
                        </tr></form>
      </table></td></tr>
      <tr>
        <td><img src="images/Tintuc_top.gif" /></td>
      </tr>
	  <tr ><td height="1"  background="images/hr_mn.gif" ></td></tr>
	  	  <tr><td height="10"></td></tr>
      <tr>
        <td bgcolor="e9e9e9">
		<marquee behavior="scroll" direction="up" scrollamount="1" scrolldelay="2" onmouseover="this.stop()" onmouseout="this.start()" >
		<!-- ############ Tin tức chạy ###############################-->
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		<tr><td height="5"></td></tr>
			<!-- START BLOCK : newstop -->	
		  <tr>
			<td class="news_top"><span class="newstop"><a href="{link}">{name}</a></span></td>
		  </tr>		  
		  <!-- END BLOCK : newstop -->			  
		</table>
		  </marquee>
		<!--######################ket thuc ###########################-->
</td>
      </tr>
	  <tr><td height="10"></td></tr>
	  <tr><td><img src="images/weblink.gif" /></td></tr>	  
	  <tr ><td height="1"  background="images/hr_mn.gif" ></td></tr>
	  <tr><td height="10"></td></tr>
	   <tr><td align="right"><form action="" method="get">
	   <select name="select"  style="font-family: Arial; font-size: 8.5pt; width: 200px;" onchange="window.open(this.options[this.selectedIndex].value,'_blank');this.options[0].selected=true" size="1">
                          <option  >Li&#234;n k&#7871;t website</option>
						  <!--START BLOCK : weblink -->
                          <option value="{link}"  >--{weblink}</option>
						  <!--END BLOCK : weblink -->
	      </select>
	   </form></td></tr>
	  <tr><td><img src="images/thuvienxe.gif" /></td></tr>	  
	  <tr ><td height="1"  background="images/hr_mn.gif" ></td></tr>
	  <tr><td height="10"></td></tr>
	   <tr>
	   <td>
	   <a href="?page=gallery&code=show_cat&idc=1">
	   <form name="slideshow" >
	   <script language="javascript">
		document.write('<img name="imgslide" width=240 height=150 id="imgslide" src="'+theimage[0][0]+'" border="0">')
		PlaySlide();
	   </script>
	   </form></a></td></tr>
	    <tr><td height="10"></td></tr>
	  <tr><td><img src="images/nguoidepvaxe.gif" /></td></tr>	  
	   <tr ><td height="1"  background="images/hr_mn.gif" ></td></tr>
	   <tr><td height="10"></td></tr>
	  <!--START BLOCK : nguoidepvaxe -->
	   <tr><td><a href="?page=gallery&code=show_cat&idc=2">{image}</a></td></tr>
	   <!--END BLOCK : nguoidepvaxe -->
	   <tr><td height="10"></td></tr>
	  <tr><td><img src="images/thongke.gif" /></td>
	  </tr>	  
	  <tr ><td height="1"  background="images/hr_mn.gif" ></td></tr>
	  <!--truy cap -->
	  <tr><td height="10"></td></tr>
	  
	   <tr>
	   
	   <td align="right"><table width="100%" border="0">
  <tr>
  <!--START BLOCK : online-->
    <td width="46%">&#272;ang truy c&#7853;p:&nbsp;<span class="do">{online} </span></td>
	<!--END BLOCK : online -->
	<!--START BLOCK : visted -->
	<td width="54%"> L&#432;&#7907;t truy c&#7853;p: <strong>{visted}</strong></td>
	<!--END BLOCK : visted -->
  </tr>
</table>
</td>   
	   </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" background="images/hr_mn.gif" height="1" valign="top" align="center"></td>   
  </tr>
 <!-- START BLOCK : footer --> 
  <tr>
    <td colspan="2" valign="top" align="center">{footer}</td>   
  </tr>
   <!-- END BLOCK : footer -->
</table>