
<table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="10"></td>
              </tr>
            </table>
              <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="24" class="category">&nbsp;&nbsp;&nbsp;<span class="trang">L&#7845;y l&#7841;i m&#7853;t kh&#7849;u</span></td>
              </tr>
              <tr>
                <td height="1" bgcolor="#424242"></td>
              </tr>
              <tr>
                <td height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="1" bgcolor="#424242" ></td>
                    <td height="1" ></td><td height="1" bgcolor="#424242" ></td>
                  </tr>
                  <tr>
                    <td width="1" bgcolor="#424242"></td>
					
                    
					<td><span class="st_name"><TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                              <TBODY>
                                <TR>
                                  <TD rowspan="2"><img src="image/spaceblack.gif" width="1" height="1"></TD>
                                  <TD>&nbsp;</TD>
                                  <TD rowspan="2"><img src="image/spaceblack.gif" width="1" height="1"></TD>
                                </TR>
                                <TR>
                                  <TD vAlign=top><TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                                      <TBODY>
                                        <TR>
                                          <TD width=53>&nbsp;</TD>
                                          <TD vAlign=top width="100%"><TABLE cellSpacing=0 cellPadding=0 width="97%" 
                              align=center border=0>
                                              <TBODY>
                                                <TR>
                                                  <TD vAlign=top><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tr>
                                                        <th rowspan="6" scope="col">&nbsp;</th>
                                                        <td scope="col">&nbsp;</td>
                                                      </tr>
                                                      <tr>
                                                        <td scope="col" class="trang"><strong>N&#7871;u b&#7841;n qu&#234;n m&#7853;t kh&#7849;u, xin h&#227;y nh&#7853;p T&#234;n &#273;&#259;ng nh&#7853;p c&#7911;a b&#7841;n v&#224;o h&#7897;p d&#432;&#7899;i &#273;&#226;y:</strong></td>
                                                      </tr>
                                                      <tr>
                                                        <td scope="col"><img src="image/spacer.gif" width="1" height="2"></td>
                                                      </tr>
                                                      <tr>
                                                        <td scope="col"><TABLE border=0 align="center" cellPadding=1 cellSpacing=0>
                                                          <TBODY>
                                                            <TR>
                                                              <TD align=right class="trang"><BR>
															  <script language="javascript1.2">
															  function check(frm){
															  	if(frm.username.value=='' || frm.username.value==null){
																	alert("Ban phai nhap vao username !");
																	frm.username.focus();
																	return false;
																}
															  }
															  
															  </script>
                                                                  <form action="?page=forgetpass&code=getuser" method="post" enctype="application/x-www-form-urlencoded" name="user" onsubmit="return check(this)" >
																  <input type="hidden" name="code" value="getuser">
																  
                                                                    <FONT 
                  class=email><BR>
                                                                      T&#234;n truy c&#7853;p&nbsp;&nbsp;&nbsp;</FONT>
                                                                    <input 
                  style="BORDER-RIGHT: #000000 1px ridge; BORDER-TOP: #000000 1px ridge; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px ridge; BORDER-BOTTOM: #000000 1px ridge; FONT-FAMILY: Arial" 
                  size=25 name=username />
                                                                    <br>
				  <div align="right"><input type="submit" value="X&#225;c nh&#7853;n"></div>
                                                                </FORM></TD>
                                                            </TR>
															
                                                          </TBODY>
                                                        </TABLE></td>
                                                      </tr>

                                                    </table>
                                                      <P 
                                align=center class=noidungpg><B><FONT face=Arial color=#0066ff size=2> </FONT></B></P></TD>
                                                </TR>
                                              </TBODY>
                                          </TABLE></TD>
                                          <TD width=8><DIV align=right><IMG height=1 
                            width=8></DIV></TD>
                                        </TR>
                                      </TBODY>
                                    </TABLE>
                                      <TABLE cellSpacing=0 cellPadding=0 
                        width="100%" border=0>
                                        <TBODY>
                                          <TR>
                                            <TD vAlign=top><img src="image/spacer.gif" width="1" height="1"></TD>
                                          </TR>
                                        </TBODY>
                                  </TABLE></TD>
                                </TR>
                              </TBODY>
                            </TABLE></span></td>
                    
					
					<td width="1" bgcolor="#424242"></td>
                  </tr>
                  <tr>
                    <td height="1" colspan="3" bgcolor="#424242"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
</table>