<!-- START BLOCK : detail -->
<table width="100%" border="0" cellspacing="0" cellpadding="5">
		<tr><td height="20"></td></tr>
	  <tr>
		<td align="center"  valign="top">
		<table width="500" border="0" cellspacing="0" cellpadding="0" >
		  <tr>
			<td  align="center" valign="top">{image}</td>			
		  </tr>	
		   <tr>
			<td  align="center" valign="top" class="p_sologan" >{sologan}</td>			
		  </tr>		  
		   <tr>
		     <td  valign="top" >{photo_name}</td>
	      </tr>
		   <tr>
			<td  valign="top"  >{intro}</td>			
		  </tr>
		   <tr>
		     <td align="right"  valign="top"  colspan="10" >[ <a href="javascript: history.back();">Tr&#7903; l&#7841;i</a> ]&nbsp;&nbsp;</td>
	      </tr>			   	  
</table>
</td></tr></table>
<!-- END BLOCK : detail -->