
<table width="534" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="14"></td>
  </tr>
  <tr>
    <td>&nbsp;<strong>DANH S&#193;CH TIN &#272;&#195; &#272;&#258;NG</strong></td>
  </tr>
  <tr>
    <td><table width="150" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td background="images/hr_mn.gif" height="1" ></td>
      </tr>
    </table></td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
  </tr>
  <!--START BLOCK : msg -->
	<tr>
    <td align="center">{msg}</td>
  </tr>
  <!--END BLOCK : msg -->
  <tr>
    <td><table width="100%" border="0" cellpadding="1" cellspacing="1">
      <tr class="raovatname">
        <td width="10%" align="center" >&nbsp;H&#236;nh &#7843;nh</td>
        <td width="53%" height="22" >&nbsp;T&#234;n</td>
        <td width="16%" align="center" >&nbsp;Gi&#225;</td>
        <td width="9%" align="center" >&nbsp;L&#432;&#7907;t xem</td>
        <td width="6%" align="center" >&nbsp;</td>
        <td width="6%" align="center" >&nbsp;</td>
      </tr>
      <!--START BLOCK : raovat -->
      <tr class="{bg}" onmouseover="navBar(this,1,1)" onmouseout="navBar(this,0,1)">
        <td height="22"  ><a href="{link_detail}">{image}</a></td>
        <td >&nbsp;<span class="newstop"><a href="{link_detail}"><strong>{name}</strong></a>&nbsp;<span class="ngay_dang">({ngay_dang})</span><br />
          <a href="{link_detail}">{title}</a></span></td>
        <td align="center" ><span class="price">{price}</span></td>
        <td align="center" >{hit}</td>
        <td align="center" ><a href="?page=editnews&id={id}">S&#7917;a</a></td>
        <td align="center" ><a href="{link_del}">X&#243;a</a></td>
      </tr>
      <!--END BLOCK : raovat -->
    </table></td>
  </tr>
  <!--START BLOCK : phan_trang -->
  <tr>
    <td align="center">{cac_trang}</td>
  </tr>
  <!-- END BLOCK : phan_trang-->
</table>


