<table width="533" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <!--START BLOCK : cat -->  
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><img src="images/banhxe.gif" align="absmiddle" />&nbsp;&nbsp;<span class="news_category"><a href="{link_cat}">{cat_name}</a></span></td>
      </tr>
	  <!--START BLOCK : news -->
      <tr>
        <td valign="top"><a href="{link_detail}">{image}</a><span class="newsname"><a href="{link_detail}" >{news_name}</a></span> 
         <span style="padding-top:4px;">
		 <div align="justify">{intro}
            <table width="138" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td align="right"><span class="chitiet"><a href="{link_detail}">Chi ti&#7871;t ...</a> </span>&nbsp;</td>
              </tr>
            </table>
          </div></span></td>
      </tr>
      <tr>
        <td valign="top" height="5"></td>
      </tr>
	  <!--START BLOCK : other -->
      <tr>
        <td>&nbsp;<img src="images/icon.gif" />&nbsp;<span class="newsname"><a href="{link_detail}">{other_name}</a></span>&nbsp; <span class="content">({creat_date})</span></td>
      </tr>
	  <!-- END BLOCK : other -->
	  <!--END BLOCK : news -->
    </table></td>
  </tr>
  <!--END BLOCK : cat -->
</table>


