<table width="533" border="0" cellspacing="0" cellpadding="0">
<tr><td height="10"></td></tr>
  <tr>
    <td height="30" class="category"><img src="images/banhxe.gif" border="0" width="20" height="20" align="absmiddle">&nbsp;&nbsp;<strong>{cat_name}</strong></td>
  </tr>
  <tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0">
      <tr> 
	  <!-- START BLOCK : dochoixe -->
        <td width="25%" align="center"><table width="100%"  cellspacing="0" cellpadding="4">
              <tr>
                  <td height="20" align="center"  class="bo_cat"><span  class="name_cat"><a href="{link_cat}" title="{title}">{name}</a></span></td>
                  </tr>               
           </table></td> 
		{br}
		<!-- START BLOCK : dochoixe -->
      </tr>
    </table></td>
  </tr>
</table>
</td></tr>
<tr><td height="10"></td></tr>
<tr><td align="center">
	<table width="96%" border="0" cellspacing="0" cellpadding="0">
	  	<tr><td><b>Các sản phẩm tiêu biểu:</b></td></tr>
		<tr><td height="1" background="images/hr_mn.gif"></td></tr>
		<tr><td><table width="100%" border="0" cellspacing="0" cellpadding="5">
	  <tr>
	   <!-- START BLOCK : product -->
		<td align="center"  valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="p_image">
		  <tr>
			<td  align="center" valign="top"><a href="{link}">{image}</a></td>			
		  </tr>	
		   <tr>
			<td  align="center" valign="top" class="p_sologan" >{sologan}</td>			
		  </tr>
		  
		   <tr>
			<td  valign="top" class="p_nametd" ><span class="p_name"><a href="{link}">{name}</a></span></td>			
		  </tr>			   	  
		</table>
		</td>
		{break}    
	   	 <!-- END BLOCK : product -->	
	  </tr>
</table>
		</td></tr>
	</table>
</td></tr>
</table>
