
<table width="534" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="12"></td>
  </tr>
  <tr>
    <td><img src="images/banhxe.gif" border="0" width="20" height="20" align="absmiddle">&nbsp;&nbsp;<strong>RAO V&#258;T</strong></td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="1" cellspacing="1">
      <tr class="raovatname">
        <td width="12%" align="center" >&nbsp;H&#236;nh &#7843;nh</td>
        <td width="52%" height="22" >&nbsp;T&#234;n</td>
        <td width="24%" align="center" >&nbsp;Gi&#225;</td>
        <td width="12%" align="center" >&nbsp;L&#432;&#7907;t xem</td>
      </tr>
	  <!--START BLOCK : raovat -->
      <tr class="{bg}" onmouseover=navBar(this,1,1) onmouseout=navBar(this,0,1)>
        <td height="22"  ><a href="{link_detail}">{image}</a></td>
        <td >&nbsp;<span class="newstop"><a href="{link_detail}"><strong>{name}</strong><br />
          {title}</a></span></td>
        <td align="center" ><span class="price">{price}</span></td>
        <td align="center" >{hit}</td>
      </tr>
	  <!--END BLOCK : raovat -->
    </table></td>
  </tr>
  <!--START BLOCK : phan_trang -->
  <tr>
    <td align="center">{cac_trang}</td>
  </tr>
  <!--END BLOCK : phan_trang -->
</table>


