<script language="javascript1.2">
	function checkform(frm){
		if(frm.username.value==''){
			alert('Ban phai nhap vao username !');
			frm.username.focus();
			return false;
		}
		if(frm.email.value==''){
			alert('Ban phai nhap vao email !');
			frm.email.focus();
			return false;
		}
		checkEmail = frm.email.value;
	
		if ((checkEmail.indexOf('@') < 0) || ((checkEmail.charAt(checkEmail.length-4) != '.') && (checkEmail.charAt(checkEmail.length-3) != '.'))) 
		{
			alert("Dia chi email khong dung !");
			frm.email.focus();
			return false;
		} 	
		if(frm.tel.value==''){
			alert('Ban phai nhap vao tel !');
			frm.tel.focus();
			return false;
		}
		if(frm.password.value==''){
			alert('Ban phai nhap vao password !');
			frm.password.focus();
			return false;
		}
		if(frm.password.value!=frm.confirm_password.value){
			alert('Mat khau va mat khau nhap lai khong trunh nhau !');
			frm.password.focus();
			return false;
		}
	}
</script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="category"><img src="images/banhxe.gif" align="absmiddle" />&nbsp;&nbsp;&#272;&#259;ng k&#253; th&#224;nh vi&#234;n</td>
  </tr>
  <tr>
    <td><form id="form1" name="form1" method="post" action="" onsubmit="return checkform(this)">
	<input name="gone" value="1" type="hidden" />
      <table width="95%" border="0" align="center" cellpadding="5">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
		<!--START BLOCK : msg -->
        <tr>
          <td colspan="2" align="center" class="do">{msg}</td>
          </tr>
		  <!-- END BLOCK : msg -->

	    <tr>
          <td width="26%">Username</td>
          <td width="74%" class="menutop"><input name="username" type="text" id="username"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>M&#7853;t kh&#7849;u  * </td>
          <td><input type="password" name="password"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>M&#7853;t kh&#7849;u nh&#7853;p l&#7841;i * </td>
          <td><input name="confirm_password" type="password" id="confirm_password"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>H&#7885; t&#234;n * </td>
          <td><input type="text" name="name"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>Email * </td>
          <td><input type="text" name="email"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>&#272;i&#7879;n tho&#7841;i * </td>
          <td><input type="text" name="tel"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>&#272;&#7883;a ch&#7881;</td>
          <td><textarea name="address" rows="5" id="address" style="width:300px"></textarea></td>
        </tr>
        <tr>
          <td>Th&#244;ng tin kh&#225;c </td>
          <td><textarea name="other" rows="5" id="other" style="width:300px"></textarea></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="checkbox" name="nhanmail" value="1" /> G&#7917;i mail cho t&#244;i khi c&#243; tin m&#7899;i</td>
        </tr>
        <tr>
          <td colspan="2"><table width="427" border="0">
            <tr>
              <td width="27">&nbsp;</td>
              <td width="218" align="right"><input type="submit" name="Submit" value="&#272;&#259;ng k&#253;"  style="width:60px"/></td>
              <td width="168" align="center"><label>
                <input type="button" name="Submit2" onClick="window.location='?'"  value="B&#7887; qua" style="width:60px">
              </label></td>
            </tr>
          </table></td>
          </tr>
      </table>
        </form> </td>
  </tr>
</table>


