<script language="javascript" src="AjaxLib/ActionForm.js" type="text/javascript"></script>
<script language="javascript" src="AjaxLib/loadContent.js" type="text/javascript"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="3">
	  <form id="danhmuc" name="danhmuc" method="post" action="?page=test2" enctype="multipart/form-data">	
	  <tr><td width="" align="right">
		 			 <select name="cat_pd" id="cat_pd"  style="width:200px" onChange="loadCat(this.value,'danhmucdv')" >		  
		  			<option value="ALL">Danh mục Xe ÔTÔ</option>
		  				<!-- START BLOCK : catpd -->
		  				<option value="{id_catpd}" {selected}>{name}</option>
  		 			 <!-- END BLOCK : catpd -->
		  				</select>	
						</td></tr>				
                      <tr>
                        <td align="right" >
						<div id="danhmucdv">
					  <select name="sub_catS" id="sub_catS" style="width:200px">	  
					  <!-- START BLOCK : subcat -->
					  <option value="{id_catpd}" {selected}>{name}</option>
					  <!-- END BLOCK : subcat -->
					  </select>
					</div></td></tr>
					<tr>    <td width="313" align="right">
                          <input type="submit" name="btnSearch" value="Chi ti&#7871;t" /></td>
        
                        </tr></form>
      </table>
	  