<form id="form1"  name="newsndat" method="post" action="?page=advansearch">
                       
<INPUT type=hidden value=search name=mod> 
	<SELECT  onfocus=javascript:populate(this.value) onchange=javascript:populate(this.value) size=1 name=main> 
	
<OPTION value="combo0" selected >-----------------</OPTION> 
	<OPTION value="combo41" >Đà Nẵng</OPTION> 
	<OPTION value="combo9" >B&#7855;c Ninh</OPTION> 
	<OPTION value="combo16" >H&#224; T&#226;y</OPTION> 
	<OPTION value="combo17" >H&#432;ng Y&#234;n</OPTION> 
	<OPTION value="combo10" >H&#7843;i Ph&#242;ng</OPTION> 
	<OPTION value="combo33" >Hải Dương</OPTION> 
	<OPTION value="combo8" >Hà Nội</OPTION> 
	<OPTION value="combo46" >Huế</OPTION> 
	<OPTION value="combo40" >Nghệ An</OPTION> 
	<OPTION value="combo31" >Ninh Bình</OPTION> 
	<OPTION value="combo54" >Thái nguyên</OPTION> 
	<OPTION value="combo55" >Toàn Quốc</OPTION> 
	<OPTION value="combo39" >TP.HCM</OPTION> 
	<OPTION value="combo45" >Vũng Tàu</OPTION> 
</SELECT>
	
    Huy&#7879;n/Qu&#7853;n
   
	<SELECT size=1 name=place > 
              <OPTION value>Chon tinh</OPTION>
	 </SELECT>
	
  
 <SCRIPT>

var combo41=new Array() 
combo41[0]=new Option("-------------","0")

combo41[1]=new Option("Quận Hải Châu","44")
var combo9=new Array() 
combo9[0]=new Option("-------------","0")

combo9[1]=new Option("Từ Sơn","14")
combo9[2]=new Option("TX.Bắc Ninh","15")
var combo16=new Array() 
combo16[0]=new Option("-------------","0")

combo16[1]=new Option("Ba Vì","23")
combo16[2]=new Option("Hà Đông","64")
var combo17=new Array() 
combo17[0]=new Option("-------------","0")

combo17[1]=new Option("TX. Hưng Yên","25")
var combo10=new Array() 
combo10[0]=new Option("-------------","0")

combo10[1]=new Option("Tp.Hải Phòng","12")
var combo33=new Array() 
combo33[0]=new Option("-------------","0")

combo33[1]=new Option("TP Hải Dương","34")
var combo8=new Array() 
combo8[0]=new Option("-------------","0")

combo8[1]=new Option("Huyện Đông Anh","59")
combo8[2]=new Option("Huyện Gia lâm","62")
combo8[3]=new Option("Huyện Sóc Sơn","61")
combo8[4]=new Option("Huyện Từ Liêm","36")
combo8[5]=new Option("Huyện Thanh Trì","60")
combo8[6]=new Option("Quận Đống Đa","56")
combo8[7]=new Option("Quận Ba Đình","26")
combo8[8]=new Option("Quận Cầu Giấy","27")
combo8[9]=new Option("Quận Hai Bà Trưng","35")
combo8[10]=new Option("Quận Hoàn Kiếm","30")
combo8[11]=new Option("Quận Hoàng Mai","29")
combo8[12]=new Option("Quận Long Biên","57")
combo8[13]=new Option("Quận Tây Hồ","58")
combo8[14]=new Option("Quận Thanh Xuân","28")
var combo46=new Array() 
combo46[0]=new Option("-------------","0")

combo46[1]=new Option("TP.Huế","53")
var combo40=new Array() 
combo40[0]=new Option("-------------","0")

combo40[1]=new Option("TP.Vinh","42")
var combo31=new Array() 
combo31[0]=new Option("-------------","0")

combo31[1]=new Option("Tam Điệp","32")
var combo54=new Array() 
combo54[0]=new Option("-------------","0")

var combo55=new Array() 
combo55[0]=new Option("-------------","0")

var combo39=new Array() 
combo39[0]=new Option("-------------","0")

combo39[1]=new Option("Quận 1","48")
combo39[2]=new Option("Quận 2","49")
combo39[3]=new Option("Quận 3","52")
combo39[4]=new Option("Quận 5","50")
combo39[5]=new Option("Quận 8","51")
combo39[6]=new Option("Quận Bình Thạch","47")
var combo45=new Array() 
combo45[0]=new Option("-------------","0")

 var cacheobj=document.newsndat.place
function populate(x){
for (m=cacheobj.options.length-1;m>0;m--)
cacheobj.options[m]=null
selectedarray=eval(x)
for (i=0;i<selectedarray.length;i++)
cacheobj.options[i]=new Option(selectedarray[i].text,selectedarray[i].value)
cacheobj.options[0].selected=true
}
//SHOW first combo by default
//populate(combo9)
        </SCRIPT>         
                        </form>	