/*

Extend CSS file for Discuz! X
(C) Comsenz Inc.
http://www.comsenz.com
Created & Modified by Monkey, Lushnis, Pony, Dfox & DragonLee.

1. 一些通用模块的样式
	1. 公告
	2. 在线会员列表
	3. 类似群组中邀请好友中的好友列表
	4. 动态列表
	5. 进度条
	6. 广场以外的引用、代码样式
	7. 版主管理(包括2.3、2.4)
	8. 登录注册
	9. 标签
2. 发帖相关样式
	1. 编辑器中的功能样式
	2. 主题图标
	3. 提交表单
	4. 发特殊主题帖
3. 列表样式
	1. 广场版块、群组分类列表
	2. 房屋列表
	3. 主题列表
4. 帖子内容区域样式
	1. 结构
	2. 作者、时间、楼层等一些属性
	3. 帖子正文
		1. 回帖推荐、点评等
		2. 用户详细信息
		3. 帖子附件及一些特殊样式(如锁定、引用、代码等)
	4. 特殊帖样式
	5. 广场和空间共用的商品、辩论等样式
	6. 显示原始图片弹出层样式
5. 群组相关样式
6. 文章、日志等页面样式
7. 空间相关样式
8. 门户相关样式
9. 漫游相关样式
10.搜索相关样式
11.排行榜相关样式
12.统计相关样式

* 全局 CSS 样式参见 common.css
* 以下为模块 CSS 写法举例
* 分类之间空三行，模块之间空两行，区块之间空一行 */

/** group::index **/
	/* 群组 index 模块使用的CSS */
/** end **/

/** group::index,forum::index **/
	/* 群组 index 和 论坛 index 模块使用的CSS */
/** end **/

/** forum **/
	/* 论坛 所有模块使用的CSS */
/** end **/



/* ------------------------------------------------------------------------ 一些通用模块的样式 */

/** forum::index **/
#pt .y { width: 550px; height: 29px; overflow: hidden; }
#chart { margin-bottom: 5px; }
	.chart { padding-left: 22px; background: url({IMGDIR}/chart.png) no-repeat 0 50%; color: {LIGHTTEXT}; }
		.chart em { color: {TABLETEXT}; }
/*
	Name:			mod_announcement
	Level:			Function
	Explain:		公告。放置在不同位置时注意调整 #anc, #an li 的高度
	Last Modify:	Pony 1203191111
*/
	#an { margin-bottom: 5px; }
		#an dt { display: none; }
		#an li { float: right; clear: both; width: 526px; text-align: right; }
			#an li span { float: left; width: 450px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
			#an li em { float: left; width: 75px; color: {LIGHTTEXT}; }
			#anc, #an li { height: 29px; overflow: hidden; }
			#anc i { font-style: italic; }

/* 在线会员列表 */
	.oll li { float: left; overflow: hidden; white-space: nowrap; width: 19.9%; height: 24px; line-height: 24px; }
		.oll img { vertical-align: middle; }

/* 论坛首页热点 by Pony */
	.heat { width: 370px; }
	.heatl { padding-left: 15px; margin-left: 385px; background: url({IMGDIR}/vline.png) repeat-y 0 0; }
/** end **/


/** misc::faq **/
/*
	Explain:		帮助页面的标题要显示出来
	Last Modify:	Pony 1203231449
*/
	.ct2_a h1.mt { display: block; }
/** end **/

/** misc::invite,group,forum::viewthread,portal::view,home::space **/
	/* .usl -> 用于类似群组中邀请好友中的好友列表 by Pony */
		.usl { overflow: scroll; overflow-x: hidden; padding: 5px; width: 580px; height: 280px; }
		.usl2 { width: auto; border: dashed {WRAPBORDERCOLOR}; border-width: 0 1px 1px; }
			.usl li { overflow: hidden; float: left; margin: 3px; width: 134px; height: 64px; }
			.usl a { display: block; padding: 4px; border: 1px solid {WRAPBG}; }
				.usl a:hover { text-decoration: none; border: 1px solid; border-color: #DDD #999 #999 #DDD; background: {COMMONBG}; }
			.usl .avt { float: left; margin-right: 5px; width: 52px; height: 52px; border: 1px solid {COMMONBORDER}; background-color: {WRAPBG}; background-position: 2px 2px; background-repeat: no-repeat; zoom: 1; }
			.usl .d { float: left; width: 65px; height: 54px; overflow: hidden; word-wrap: break-word; }
			.usl li.a a, .usl li.a a:hover { border-color: #F90; background-color: #FFF1E1; }
			.usl li.a .avt span { display: block; margin-left: 2px; width: 50px; height: 50px; background: url({IMGDIR}/mark.png) no-repeat left bottom; }
		.usd { padding: 5px 10px 0; border: solid {WRAPBORDERCOLOR}; border-width: 1px 0; background-color: {COMMONBG}; }
		.usd2 { border-width: 1px; border-style: dashed; }
			.usd li { float: left; margin-right: 1%; width: 48%; }
/** end **/


/** home::space,home::spacecp,group::group,userapp::userapp,misc::ranklist,portal::view,forum::viewthread,group::viewthread,home::medal,misc::tag **/
	/* .el -> feed_list 动态列表 by Pony */
	.e { overflow: hidden; }
		.e .i, .el .i { padding: 6px 10px; border-bottom: 1px dashed {COMMONBORDER}; background: #F7F7F7; }
	.el {}
		.et { margin: 20px 0 10px; }
		.el li { padding: 10px 20px; min-height: 20px; border-bottom: 1px dashed {COMMONBORDER}; }
			.ie6 .el, .ie6 .el li { zoom: 1; }
		.el .t { position: absolute; margin: 1px 0 0 -20px; }
		.el .o { overflow: hidden; float: right; margin: 4px -20px -4px 0; width: 16px; height: 16px; text-indent: 20px; background: url({IMGDIR}/op.png) no-repeat -2px -62px; }
			/* 外宽改变时 .ie6 .el .o, .ie6 .xlda .el .o 的 margin 值需要更改 */
			.ie6 .el .o { position: absolute; margin: 2px 0 0 525px; }
			.el .del { background-position: -2px -22px; }
		.el .d { padding-top: 10px; color: {MIDTEXT}; }
		.ec .tn { margin: 10px 10px 0 0; cursor: pointer; }
		.ec a .tn { float: left; padding: 2px; max-width: 90px; max-height: 90px; border: 1px solid {COMMONBORDER}; }
			.ie6 .ec a .tn { width: expression(this.width > 90 && this.width >= this.height ? 90 : true); height: expression(this.height > 90 && this.width <= this.height ? 90 : true); }
		.el .ec .hot { float: right; margin: 10px 0 0 10px; width: 55px; height: 50px; background: url({IMGDIR}/hotspot.gif) no-repeat; }
			.el .ec .hot a { display: block; line-height: 20px; text-align: center; color: #FFF; }
				.el .ec .hot a:hover { text-decoration: none; }
				.el .ec .hot em { display: block; line-height: 30px; font-size: 16px; color: {HIGHLIGHTLINK}; cursor: pointer; }
		.el a { color: {HIGHLIGHTLINK}; }
		/* 有头像的动态列表 */
		.xlda .el { overflow: hidden; float: left; margin-top: -4px; width: 100%; }
			.xlda .el li { margin-bottom: -4px; padding-top: 14px; }
				.ie6 .xlda .el .o { margin: 2px 0 0 460px; }
		#share_preview .h { display: none; }
/** end **/


/** forum::viewthread,group::viewthread,home::task,misc::stat,home::space **/
	/* 进度条 */
		.pbg { height: 16px; background: url({IMGDIR}/pllb.png) 0 0 repeat-x; -webkit-border-radius: 0 6px 6px 0; -moz-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0; }
		.pbr { height: 16px; width: 470px; background-image: url({IMGDIR}/pllb.png); background-color: #5AAF4A; background-position: 0 -16px; background-repeat: repeat-x; -webkit-border-radius: 0 6px 6px 0; -moz-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0; }

	/* 勋章链接hover时不显示下划线 by Pony 20110519 */
	.md_ctrl a:hover { text-decoration: none; }
/** end **/


/**  forum::forumdisplay,forum::viewthread,group::viewthread,home::space,home::spacecp,home::invite,portal::view,portal::comment,forum::post,group::post **/
	/* 广场以外的引用、代码样式 by Pony */
		.quote { overflow: hidden; margin: 10px 0; padding-left: 16px; background: url({IMGDIR}/qa.gif) no-repeat 0 0; color: {MIDTEXT}; }
			.quote blockquote { display: inline; margin: 0; padding-right: 16px; background: url({IMGDIR}/qz.gif) no-repeat 100% 100%; }
			.m_c .quote { width: 585px; }
		.blockcode { overflow: hidden; margin: 10px 0; padding: 5px 10px; background: #F7F7F7; color: {MIDTEXT}; }
			.blockcode code { font-family: Monaco, Consolas, 'Lucida Console', 'Courier New', serif; font-size: 12px; line-height: 1.8em; }
			* html .blockcode code { font-family: 'Courier New', serif; }
/** end **/


/** forum::modcp,misc::stat **/
	/* 版块管理 */
		.mdcp {}
			.stl { float: left; width: 15%; }
			.str { float: left; overflow: auto; overflow-y: hidden; width: 84%; *padding-bottom: 17px; }
/** end **/

/** misc::tag **/
/* 标签列表 by Pony */
	.taglist { min-height: 270px; }
		.ie6 .taglist { height: 270px; }
		.taglist a { margin-right: 20px; line-height: 30px; white-space: nowrap; }
/** end **/



/* ------------------------------------------------------------------------ 发帖相关样式 */
/** forum::post,forum::forumdisplay,forum::viewthread,group::post,group::forumdisplay,group::viewthread **/
.ct2_a .mn { float: left; }
.appl { float: right; margin-top: 8px; border: none; background-color: transparent; }
.upf { width: 500px; }
*+html .upf { width: 520px; }

.upnf { white-space: normal; }
.upbk { zoom: 1; }
	.fldt { margin-bottom: 8px; }

.p_pop .flb { position: absolute; right: 10px; top: 18px; *top: 13px; }

.fnm { width: 130px !important; }
.fszm { width: 55px !important; line-height: normal; }
.fnm li, .fszm li, .simm li { cursor: pointer; }
.qsv { padding-left: 16px; width: 16px; height: 16px; background: url({IMGDIR}/repquote.gif) no-repeat 50% 50%; cursor: pointer; }

/* 发帖时选择标签 by Pony */
	.marked { padding-right: 16px; background: url({IMGDIR}/mark.png) no-repeat 100% 50%; }
	#taglistarea a { white-space: nowrap; zoom: 1; }
		#taglistarea .marked { padding-right: 0; background: none; font-weight: 700; color: {NOTICETEXT} !important; }
/** end **/

/** forum::post,group::post **/
#post_extra_tb { position: relative; z-index: 2; }
	#post_extra_tb label { float: left; margin-right: 3px; height: 21px; border: 1px solid {COMMONBORDER}; line-height: 21px; white-space: nowrap; }
		#post_extra_tb label.a { border-bottom-color: {SPECIALBG}; background: {SPECIALBG} none; box-shadow: none; }
			#post_extra_tb label span { float: left; padding: 0 8px 0 20px; background: url({IMGDIR}/dot.gif) no-repeat 8px 8px; line-height: 21px; }
				#post_extra_tb span.a { background-image: url({IMGDIR}/dot_c.gif); }

#post_extra_c { position: relative; z-index: 1; }
	#post_extra_c .exfm { margin: -1px 0 0; border: 1px solid {COMMONBORDER}; }

#draftlist { border-style: solid; border-width: 1px 1px 0; border-color: {WRAPBG}; }
	#draftlist.a { position: relative; z-index: 302; border-color: {DROPMENUBORDER}; {DROPMENUBGCODE} }
	#draftlist_menu { margin-top: -1px; padding: 10px; border: 1px solid {DROPMENUBORDER}; {DROPMENUBGCODE}; }
/** end **/


/** forum::post,forum::forumdisplay,forum::viewthread,group::post,group::forumdisplay,group::viewthread,portal::portalcp,home::spacecp **/
.p_tbl { height: auto; line-height: 160%; border-bottom: none; }
	.p_tbl table { *table-layout: fixed; }
		.p_tbl table td { height: 28px; line-height: 28px; border-bottom: 1px solid {COMMONBG}; }
			.atnu { width: 16px; }
			/*.attachctrl { width: 40px; }*/
			.atna {}
				.atna p img, .attswf p img { vertical-align: middle; height: 16px; }
				.atna .lighttxt, .attswf .lighttxt { color: {MIDTEXT} !important; }
			.attpr { width: 40px; text-align: center; }
				.attv .px, .attp .px { width: 25px; }
				.attv { width: 100px; }
			.atturl img { height: 20px !important; }
			.attc { width: 20px }
			*+html .attc { width: 40px; }
			.atds { width: 80px; text-align: center; }
				.atds .px { width: 60px; }
			.attp { text-align: center; width: 40px; }
			.attach_preview { border: 1px solid {COMMONBORDER}; box-shadow: 0 0 5px rgba(96, 96, 96, 0.3); }
				.ie8 .attach_preview, .ie9 .attach_preview { top: 57px; right: 18px; }
/** end **/


/** forum::post,group::post,portal::portalcp,home::spacecp **/
/* 发帖、日志、文章时上传的图片列表样式 by Pony 11090615 */
.upfl { margin-top: -1px; height: auto !important; height: 165px; max-height: 300px; overflow: auto; overflow-x: hidden; }
	.upfl a, #imgattachlist a { color: {HIGHLIGHTLINK}; }
	.upfl table td { border-bottom: 1px solid {COMMONBORDER}; height: 30px; line-height: 24px; }
.imgl { margin-bottom: 5px; width: 100%; *width: 99.6%; }
	.imgl td { padding: 8px 0; text-align: center; vertical-align: bottom; }
		.imgl tr:last-child td { border-bottom: none; }
	.imgl img { border: 1px solid {LIGHTTEXT}; max-width: 110px; }
		.ie6 .imgl img { width: expression(this.width > 110 ? 110 : true); }
	.imgf .px { width: 106px; padding: 2px; height: 14px; line-height: 14px; }
	.imgdeleted { opacity: 0.3; filter: alpha(opacity=30); }

/*
	Name:			mod_opattach
	Level:			Function
	Explain:		发文章时上传的图片上的操作区域的样式
	Last Modify:	Pony 11082416
*/
	.opattach { display: block; position: relative; margin: 0 auto; width: 110px; border: 1px solid #CDCDCD; }
		.opattach:hover { text-decoration: none; }
		.opattach_ctrl { display: none; position: absolute; bottom: 0; left: 0; width: 100%; color: #FFF; background: transparent; background: rgba(0, 0, 0, 0.3); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #30000000, endColorstr = #30000000); }
		.opattach:hover .opattach_ctrl { display: block; }
		.opattach img { border: none; }

/* 重定义日志和文章的编辑器弹窗 by Pony 11082217 */
.tfm .fwin .t_l, .tfm .fwin .t_c, .tfm .fwin .t_r, .tfm .fwin .m_c, .tfm .fwin .b_l, .tfm .fwin .b_c, .tfm .fwin .b_r { padding: 0; }
.tfm .fwin th { padding: 0; width: auto; }
.tfm .fwin .px { width: auto; }
.tfm .fwin .upfl table td { border-bottom: none; }
/** end **/


/** forum::viewthread,forum::forumdisplay,forum::post,group **/
/* 主题图标 by michael */
#newspecial_menu { width: 90px; }
	#newspecial_menu li, #sti .wx { display: block; background: url({IMGDIR}/folder_new.gif) no-repeat 8px 50%; zoom: 1; }
		#newspecial_menu .poll, #sti .poll { background-image: url({IMGDIR}/pollsmall.gif); }
		#newspecial_menu .trade, #sti .trade { background-image: url({IMGDIR}/tradesmall.gif); }
		#newspecial_menu .reward, #sti .reward { background-image: url({IMGDIR}/rewardsmall.gif); }
		#newspecial_menu .activity, #sti .activity { background-image: url({IMGDIR}/activitysmall.gif); }
		#newspecial_menu .debate, #sti .debate { background-image: url({IMGDIR}/debatesmall.gif); }
		#newspecial_menu a { display: block; padding: 3px 0 3px 30px; white-space: normal; }
			#newspecial_menu a:hover { background: none; color: {HIGHLIGHTLINK}; text-shadow: none; text-decoration: underline; }
#sti {}
	#sti .wx { padding-left: 25px; background-position: 0 50%; }
	#sti .tb { margin-top: 0; }
/** end **/


/** forum::modcp,forum::post,group::post,home::spacecp,portal::portalcp **/
/* 提交表单 */
	.exfm { margin: 10px 0; padding: 10px 14px; border: 1px dashed {SPECIALBORDER}; background: {SPECIALBG}; }
		.exfm .pn { height: 22px; line-height: 22px; font-size: 12px; }
		.ie6 .exfm .pn, .ie7 .exfm .pn { line-height: 16px; }
		.exfm .rq { float: right; padding-right: 2px; }
		.exfm table { width: 100%; }
			.exfm table th, .exfm table td { padding: 4px 2px; }
		.mdcp .um { margin-bottom: 0; padding: 10px 5px; }

/* 发特殊主题帖 by dfox */
	.sinf p, .sadd p { padding: 2px 0; height: 30px; line-height: 30px; }
	.sinf .px, .sadd .px { width: 120px; }
	.sinf { float: left; padding-right: 14px; width: 380px; border-right: 1px dashed {WRAPBORDERCOLOR}; }
		.sinf h4 { padding: 6px 0; }
		.sinf textarea { width: 368px; height: 80px; }
		.onum { float: left; margin-right: 6px; width: 16px; }
		.oinf { width: 270px !important; }
			.sinf dl, .sadd dl { overflow: hidden; }
			.sinf dl dt, .sadd dl dt { float: left; padding-top: 3px\9; width: 75px; clear: left; }
			.sinf dl dd, .sadd dl dd { margin-bottom: 10px; overflow: hidden; }
			.sinf dl dd { width: 300px; }
			.sinf span.fb, .sadd span.fb { display: block; float: left; margin-right: 6px; height: 26px; line-height: 26px; white-space: nowrap; }
				.sinf dl dd strong { padding: 0 8px; }
	.sadd { float: left; margin-left: 10px; width: 520px; overflow: hidden; }
		.sadd dl dd { width: 420px; }
		.ct2_a .sadd { width: 360px; }
		.ct2_a .sadd dl dd { width: 260px; }
		.spl em { float: left; margin-right: 9px; height: 20px; line-height: 20px; }
		.spl input[type=radio] { margin: 0 3px 0 0; }
	.spimg { margin: 0 10px 0 0; width: 200px; border: 1px solid #AAA; }
	.spmp { width: 30px; }
	.spmf { width: 300px; }
		.spmf, .spmf3 { overflow: hidden; _height: 1%; }
		.spmf label, .spmf3 label{ display: block; padding-top: 5px; }
			.spmf em{ float: left; width: 150px;  }
			.spmf3 em{ float: left; margin-right: 12px; }
				.spmf3 .px { margin: 0 !important; width: 72px; }
/** end **/


/** forum::forumdisplay,forum::viewthread,group::forumdisplay,group::viewthread **/
	/* 开启快速发帖和推荐表情时的样式 by Pony */
	#f_pst .bm_c { padding: 20px; }
		#f_pst .tedt { width: auto; }
		.hasfsl { zoom: 1; }

	#f_pst .upfl { height: auto; max-height: 100%; }
		#f_pst .upfl td { padding: 4px 0; }
		#f_pst .atds { width: 100px; }
		#f_pst .px { padding: 2px; }
	/*
		Name:			mod_mobile-type
		Level:			Function
		Explain:		手机发帖的相关样式
		Author:			Lushnis
		Last Modify:	Pony 1204111343
	*/
	.mobile-type { position: absolute; margin: -5px 0 -85px 103px; width: 58px; height: 80px; background: url({IMGDIR}/mobile-type.png) no-repeat 100% 100%; }
		.ie6 .mobile-type, .ie7 .mobile-type { margin-left: 88px; }
		.mobile-type a { display: block; width: 46px; height: 80px; background: url({IMGDIR}/mobile-type.png) no-repeat 0 0; }
			.mobile-type-2 a { background-position: 0 -80px; }
			.mobile-type-3 a { background-position: 0 -160px; }
			.mobile-type-4 a { background-position: 0 -240px; }
		.ie6 .mobile-type, .ie6 .mobile-type a { background-image: url({IMGDIR}/mobile-type-ie6.png) !important; }
	.mobile-location { padding-left: 20px; background: url({IMGDIR}/mobile-attach-2.png) no-repeat 0 0; }
/** end **/



/* ------------------------------------------------------------------------ 广场版块、群组分类等列表样式 */
/** forum::index,forum::forumdisplay,group::index,group::group,search::group **/
/* 版块列表 */
.fl {}
	.fl_tb { width: 100%; }
		.fl_tb td { padding: 10px 0; }
		.fl_icn { padding-right: 10px !important; width: 31px; }
		.fl_by { width: 220px; }
			.fl_by div { margin-left: 10px; width: 210px; padding-left: 8px; word-break: keep-all; word-wrap: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
				.fl_by div .xi2 { zoom: 1; }
			.fl_by cite { display: block; }
		.fl_i { width: 150px; text-align: right; }
			.fl_i em { display: block; width: 5em; }
			.fl .i_z { margin-right: 8px; padding-right: 8px; border-right: 1px solid {CONTENTSEPARATE}; }
	.fl_icn_g { float: left; width: 31px; }
	.fl_g { vertical-align: top; }
		.fl_g dl { margin-left: 31px; padding-left: 10px; }
			.fl_g dt { font-weight: 700; }
	.fl_row td { border-top: 1px dashed {COMMONBORDER}; }

/* 群组分类列表 */
	.flt {}
		.flt .flc { width: 294px; }
		.gcop { margin-right: 15px; clear: left; }
		.ghfl dt, .flt dt { font-size: 14px; font-weight: 700; }
			.ghfl dt span, .flt dt span, .flt dd span { font-size: 12px; font-weight: 200; color: {LIGHTTEXT}; }
			.ghfl dd, .flt dd { line-height: 1.8em; }
/** end **/


/** forum::forumdisplay **/
/*
	Name:			mod_board_navigation
	Level:			Function
	Explain:		看贴页左侧的版块导航。宽度在CSS里没有默认值，宽度在后台设置
	Last Modify:	Pony
*/
.bdl { float: left; overflow: hidden; border: 1px solid #BDD7E3; background-color: #F5F9FB; }
	.ie6 .bdl { position: relative; }
	.bdl_h { height: 32px; line-height: 22px; }
.bdl .tbn { margin: 10px; }
	/* 分区 */
	.bdl dl { margin: -1px -10px 0; }
		.bdl dt { overflow: hidden; height: 27px; line-height: 27px; border: solid #CCE0EB; border-width: 1px 0; background: #F5F9FB url({IMGDIR}/titlebg_sd.png) repeat-x 100% 0; }
			.bdl dt a { display: block; padding: 0 15px 0 10px; }
				.bdl dt a:hover, .bdl_a a:hover { text-decoration: none; }
	/* 版块，默认收起 */
	.bdl dd { display: none; }
		.bdl dd a { display: block; margin: 0 3px; padding: 0 7px; height: 26px; line-height: 26px; overflow: hidden; }
	/* 展开的分区 */
	.bdl dl.a { padding-bottom: 4px; background-color: #FFF; }
		.bdl dl.a dt { margin-bottom: 3px; background-position: 100% -27px; }
		.bdl dl.a dd, .bdl_fav dd { display: block; overflow: hidden; zoom: 1; }
			/* 当前版块 */
			.bdl dd.bdl_a a { background-color: #F5F9FB; font-weight: 700; color: {HIGHLIGHTLINK}; }

/*
	Level:			Channel
	Explain:		板块新帖提醒
	Last Modify:	Max.Cong
*/
	#forumnew{ position: absolute; right: 0; top: 0; z-index: -1; }
	.tl #forumnewshow { background: #FFFAF3; font-size: 12px; text-align: center; }
	.tl #forumnewshow th, .tl #forumnewshow td { padding: 0; border: 0; }
	.tl #forumnewshow th:hover, .tl #forumnewshow td:hover{ background: #FFFFE9; }
	.tl #forumnewshow a { display: block; border-top: 1px solid #F4E4B4; border-bottom: 1px solid #F4E4B4; text-indent: 25px; height: 29px; line-height: 29px; color: #EFAA00; }
	.tl #forumnewshow a:hover { text-decoration: none; }
	#checknewline tr td, #checknewline tr th { background: #FFFFEB; text-align: center; color: #666; }

	.newthread tr th, .newthread tr td { background: #FFFAF3; }
	.newthread .new em { margin-right: 4px; }
	.newthread .new em, .newthread .new em a { color: #007CD5; font: {FONTSIZE} {FONT}; }
	/*
	.tl .newthread tr:hover th, .tl .newthread tr:hover td{ background-color: transparent; }
	*/

.forumrefresh { padding-right: 14px; background: url({IMGDIR}/refresh.png) no-repeat 100% 50%; }
/** end **/


/** forum **/
/*
	Name:			mod_forum_jump
	Level:			Function
	Explain:		快速跳转菜单
	Last Modify:	Pony 11080915
*/
#fjump_menu { overflow-x: hidden; max-height: 600px; }
	#fjump_menu dl { width: 200px; }
		#fjump_menu dt { font-weight: 700; }
		#fjump_menu dd { text-indent: 1em; }
		#fjump_menu li.a a { background-color: {SPECIALBG}; }
/** end **/



/* ------------------------------------------------------------------------ 主题列表样式 */
/** forum::forumdisplay,forum::viewthread,forum::modcp,forum::collection,group,home::space,home::task,home::follow,search::forum,search::group,member::groupexpiry,misc::ranklist,misc::stat,misc::tag,forum::guide,portal::block **/
/* fct --> froumatction 板块功能按钮 */
	.fct a { float: left; margin-left: 8px; }
	.fa_fav_0, .fa_fav, .fa_rss, .fa_achv, .fa_bin, .fa_ivt { padding-left: 20px; background: no-repeat 0 50%; }
		.fa_fav_0 { background-image: url({IMGDIR}/fav_grey.gif); }
		.fa_fav { background-image: url({IMGDIR}/fav.gif); }
		.fa_rss { background-image: url({IMGDIR}/feed.gif); }
		.fa_achv { background-image: url({IMGDIR}/clock.gif); }
		.fa_bin { background-image: url({IMGDIR}/recyclebin.gif); }
		.fa_ivt { background-image: url({IMGDIR}/user_add.gif); }

/* 主题列表相关 */
	/*.tl .th th a { float: left; margin-right: 10px; padding-right: 17px; background: url({IMGDIR}/arw_d2.gif) no-repeat 100% 50%; }*/
	#fh { width: 644px; }
		.mw #fh { width: 100%; }
	#fh .bm { padding-top: 5px; padding-bottom: 0; }
	#nv_group #fh { margin-bottom: 1em; }
		#fh #gh { padding-top: 10px; }
		#fh .h { margin-top: 10px; }
			#fh .h * { float: left; }
			#fh h1 { margin-right: 10px; font-size: 16px; }
			#fh .h .y { float: right; }
			#fh .o a { float: left; margin-right: 10px; }
	#fh.m { padding-top: 0; background-color: {COMMONBG}; }
	.xst { font-family: {THREADTITLEFONT}; font-size: {THREADTITLEFONTSIZE}; }
		.xst i { font-style: italic; }

	/* threadtype 帖子类型 */
	.ttp { margin-bottom: 5px; padding-top: 10px; border-width: 2px 0 0; background: transparent; }
		.ttp li { float: left; padding-bottom: 5px; }
		.ttp a, .ttp strong { float: left; margin-right: 5px; padding: 4px 8px 3px; height: 18px; border: 1px solid {COMMONBORDER}; background: {WRAPBG}; white-space: nowrap; }
			.ttp a:hover { border-color: {HIGHLIGHTLINK}; color: {HIGHLIGHTLINK}; text-decoration: none; }
		.ttp .a a { padding-right: 12px;  padding-left: 12px; border-color: {HIGHLIGHTLINK}; background: {SPECIALBG}; color: {HIGHLIGHTLINK}; }
		.ttp .pipe { float: left; margin-right: 10px; padding: 0; width: 2px; height: 27px; background: {SPECIALBORDER}; text-indent: -9999px; }
	/* 版块有大量主题分类时的展开收起样式 by Pony */
	.cttp { overflow: hidden; padding-right: 35px; height: 32px; }
		.cttp .unfold, .cttp .fold { float: right; display: inline; margin: 5px -35px 9px 0; padding: 0 0 0 10px; width: 25px; height: 18px; background-color: transparent; color: {HIGHLIGHTLINK}; font-weight: 400; }

	/* tl --> Thread list modify by lushnis */
	.tl .bm_c { padding-top: 0; }
	.tl table { width: 100%; table-layout: fixed; border-collapse: separate; }
		.tl th, .tl td { padding: 5px 0; border-bottom: 1px solid {CONTENTSEPARATE}; }
			.emptb th, .emptb td { padding: 0; border-bottom: none; }
			.tl tr:hover th, .tl tr:hover td { background-color: {COMMONBG}; }
			.tl th { padding-right: 1.5em; zoom: 1; }
				.tl th a:visited { color: {MIDTEXT}; }
				.fromg { visibility: hidden; }
				.ie6 .fromg, tr:hover .fromg { visibility: visible; }
			.tl .icn { padding-left: 5px; width: 25px; text-align: left; }
				.tl .icn a:hover { text-decoration: none; }
			.tl .new {}
			.tl .comm {}
			.tl .frm { width: 150px; }
			.tl .o { width: 20px; }
			.tl .num { width: 60px; line-height: 14px; }
			.tl .by { width: 105px; line-height: 14px; }
				.tl cite, .tl .num em { display: block; }
				.tl th em { margin-right: 4px; zoom: 1; }
					.tl th em, .tl th em a { color: #007CD5; }
				.tl td em { font-size: 11px; font-family: Arial, Psimsun, sans-serif; -webkit-text-size-adjust: none; }
					.tl td em, .tl td em a { color: {LIGHTTEXT}; }
			/*.tl .th th, .tl .th td { padding: 8px 0; background: {SPECIALBG}; border-top: 1px solid {SPECIALBORDER}; }*/
			.tl .ts th, .tl .ts td { padding: 3px 0; border-bottom-color: {COMMONBORDER}; background: {COMMONBG}; }
	.tl .th { margin-top: 1px; padding: 0 10px; border-bottom: 1px solid {COMMONBORDER}; background: {COMMONBG}; }
		.tl .th table { border: none; }
		.tl .th td, .tl .th th { height: 20px; border: none; vertical-align: baseline; }
	.tl .tf { padding: 3px 0; }
		.tf .showmenu:hover { border-color: {SPECIALBORDER}; }

	.tl_reply { padding-left: 10px; background: url({IMGDIR}/dot.gif) no-repeat 0 7px; }

	/* recy --> recyclebin 主题列表的回收站主题样式 by shuaishuai*/
	.recy { text-decoration: line-through; }

	/* 主题分页 */
	.tps { white-space: nowrap; }
		.tps a { padding: 2px 4px; color: {TABLETEXT}; }
			.tps a:hover { background-color: {COMMONBG}; color: #007CD5; }

/*
	Name:			mod_thread_type_index
	Level:			Function
	Explain:		分类信息检索
	Last Modify:	Pony 12020309
*/
.tsm { overflow: hidden; margin-bottom: -10px; width: 100%; border-collapse: collapse !important; }
	.ie6 .tsm, .ie7 .tsm { margin-bottom: 0; }
	.tsm th { padding: 5px 0 5px 10px; border: none; vertical-align: top; }
	.tsm td { padding: 5px 10px 5px 0; border: none; vertical-align: top; }
	.tsm tr:hover th, .tsm tr:hover td { background: none !important; }
	.tsm li { float: left; margin-right: 4px; padding: 0 4px; white-space: nowrap; }
	.tsm .a a { color: {TABLETEXT}; font-weight: 700; }
		.tsm .a a:hover { text-decoration: none; }
	.subtsm { margin-top: 5px; padding: 5px; border: 1px dotted {SPECIALBORDER}; }

/*
	Name:			mod_thread_type_search
	Level:			Function
	Explain:		分类信息搜索
	Last Modify:	Pony 11050314
*/
	.mfm .mtm { margin-right: 10px; }
	.mfm span { height: 26px; }
/** end **/


/** forum::forumdisplay,group::forumdisplay,group::my **/
/*
	Name:			mod_thread_type
	Level:			Function
	Explain:		论坛群组的帖子主题分类分类信息等的筛选样式
	Author:			lushnis
	Last Modify:	Pony
*/
	.ttp .a a:hover { background: {SPECIALBG} url({IMGDIR}/close-s.png) no-repeat 100% 11px; }
	#ttp_all a:hover { background-image: none !important; }
/** end **/



/* ----------------------------------------------------------------------- 帖子内容区域样式 */
/** forum::viewthread,group::viewthread **/
.plh { line-height: 46px; }
	.plh .plc { padding-bottom: 0; }

/*
	Name:			mod_viewthread_header
	Level:			Function
	Explain:		看帖页标题区域
	Last Modify:	Pony 201201181105
*/
	.vwthd { padding-right: 80px !important; }
		.vwthd div.y { display: inline; margin-right: -60px; }
		.ts { display: inline; font: 700 16px 'Microsoft Yahei', 'Hei', Tahoma, 'SimHei', sans-serif; }

#nv_forum #ct { border-color: {SPECIALBORDER}; }

.pattl_c .tip { margin-top: 30px; padding: 5px; width: 88px; }
.pattimg { float: left; margin: 0 10px 10px 0; width: 100px; height: 100px; overflow: hidden; }
.pattimg_zoom { position: absolute; display: block; width: 100px; height: 100px; line-height: 300px; overflow: hidden; }
	.ie_all .pattimg_zoom { background-color: #FFF; filter:alpha(opacity=0); }
.attl_g, .attl_m { margin-left: 10px; padding-left: 16px; background: url({IMGDIR}/attl_icon.png) no-repeat 0 3px; }
	.attl_m { background-position: -100px 3px; }

/* 默认分类信息 by michael */
.ie6 .cgtl { width: auto; }
	.cgtl { overflow: hidden; }
	.cgtl td, .cgtl th, .cgtl caption { padding: 5px; border-bottom: 1px solid {SPECIALBORDER}; }
	.cgtl caption { background: {SPECIALBG}; border-top: 1px solid {SPECIALBORDER}; font-size: 14px; font-weight: 700; }
	.cgtl th { width: 16%; }

/*
	Name:			mod_cp_pls
	Level:			Function
	Explain:		帖子页每个楼层用户信息下方的管理链接
	Author:			Pony 12010414
*/
.cp_pls a { float: left; margin-right: 4px; line-height: 1.231; }
/** end **/


/** forum::forumdisplay,group::forumdisplay **/
/* 帖子列表“新窗”、“图片模式”等按钮样式 modified by Pony */
	#atarget, .unchk, .chked { padding-left: 15px; line-height: 16px; background: url({IMGDIR}/atarget.png) no-repeat 0 3px; color: {HIGHLIGHTLINK}; cursor: pointer; }
		.ie_all #atarget, .ie_all .unchk, .ie_all .chked { display: inline-block; height: 20px; line-height: 20px; }
		#atarget.atarget_1, .chked { background-position: 0 -37px; }
		.unchk:hover, .chked:hover { text-decoration: none; }

#a_magic_doodle { padding-left: 20px; background: url({STATICURL}image/magic/doodle.small.gif) 0 50% no-repeat; }

/*
	Name:			mod_media_list_thread
	Level:			Global
	depentend:		.ml
	Explain:		图片模式的帖子列表
	Author:			lushnis
	Last Modify:	Pony 11121511
*/
	.mlt {}
		.mlt li { display: inline; margin: 0 4px 10px; padding-top: 5px; border: 1px solid {SPECIALBG}; border-bottom-color: {SPECIALBORDER}; background: #FFF; text-align: left; }
			.mlt .sum { display: inline-block; padding: 0 5px; height: 16px; line-height: 16px; border-radius: 5px; background: {SPECIALBG}; }
				.mlt .pin { background: #7B3; color: #FFF; }
				.mlt .digest { background: #0BC; color: #FFF; }
			.mlt .c .nopic { display: block; background:{WRAPBG} url({IMGDIR}/nophototiny.png) no-repeat 50% 50%; cursor: pointer; }
			.mlt img.vm { display: inline; }

			.mlt h3 { height: 30px; line-height: 30px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
			.mlt li .cl { height: 18px; overflow: hidden; }
				.mlt li .c { height: auto !important; }
			.mlt li span { display: inline; color: {TABLETEXT}; }

/*
	Name:			mod_threadlist_last-child
	Level:			Function
	Explain:		帖子列表页支持 last-child 的浏览器不显示最后一条线
	Last Modify:	Pony
*/
.tl tbody:last-child th, .tl tbody:last-child td { border-bottom: none; }
/** end **/


/** forum::viewthread,group::viewthread,forum::trade,forum::misc **/
#a_magic_doodle { padding-left: 20px; background: url({STATICURL}image/magic/doodle.small.gif) 0 50% no-repeat; }

.pl {}
	.pl table { table-layout: fixed; width: 100%; }
		.pl .dt { width: 100%; }
	.plm { vertical-align: bottom !important; }
	.plc, .pls { vertical-align: top; overflow: hidden; }
		.plc { padding: 0 5px; }
		.pls { width: 160px; background: {SPECIALBG}; overflow: hidden; border-right: 1px solid {CONTENTSEPARATE}; }
		.pls .avatar { margin: 10px 15px; }
			.pls .avatar img { padding: 5px 5px 8px; background: #FFF url({IMGDIR}/midavt_shadow.gif) 0 100% repeat-x; }

		.pls p, .pls .pil, .pls .o { margin: 5px 10px 5px 20px; }
			.pls p em, .pls dt em { color: {NOTICETEXT}; }
			.pls dd, .pls dt { float: left; overflow: hidden; height: 1.6em; line-height: 1.6em; }
				.pls dt { margin-right: 3px; width: 55px; }
				.pls dd { width: 70px; }
					.pls dd img { margin-top: -2px; max-width: 65px; }
						.ie6 .pls dd img, .ie7 .pls dd img { margin-top: 2px; width: expression(this.width > 65 ? 65 : true); }
	.ad .pls { background: {CONTENTSEPARATE}; padding: 0; height: 4px; }
	.ad .plc { background: {SPECIALBG}; padding: 0; overflow: hidden; }
	.pl .pnv .pls { background: {SPECIALBG}; border: solid {SPECIALBORDER}; border-width: 0 1px 1px 0; line-height: 16px; }
		.pl .pnv .tns p { font-size: 12px; }
	.pl .pnv .plc { border-bottom: 1px solid {SPECIALBORDER}; }

	.pnh { padding: 11px 20px; }
	.tnv { text-align: center; vertical-align: middle; } /* Threads navigation by lushnis */

	#threadstamp { position: relative; width: 100%; height: 0; overflow: visible; }
		#threadstamp img { position: absolute; top: -20px; right: 170px; }

	#pl_top .ad .pls, #pl_top .ad .plc { height: 1px;overflow: hidden; }
		#pl_top .pls { text-indent: 15px; }

/* 帖子作者、时间、楼层等一些属性所在区块 */
	.pi { overflow: hidden; margin-bottom: 10px; padding: 10px 0; height: 16px; border-bottom: 1px dashed {COMMONBORDER}; }
		.pi strong a { float: right; margin-top: -6px; padding: 4px 6px; border: 1px solid {WRAPBG}; font-weight: 400; }
			.pi strong a:hover { border-color: {COMMONBORDER}; }
		.pls .pi { padding-left: 15px; }
		.pi em {}
		.pti {}
			.authicn { cursor: pointer; }

/* 帖子正文区块 */
	.pcb { clear: left; margin-right: 130px; }
		.ie6 .pcbs table, .ie6 .t_fsz table { width: auto; }
		.pcb h1, .pcb h2 { margin: 8px 0; font-size: 1.17em; }
			.pcb h1 a { font-weight: 400; }
			.pcb h2 em { float: right; font-size: 12px; font-weight: 400; }
			#ph { padding: 17px 0 0; }
				#ph h1 { font-size: 20px; }
			#fj { margin-left: 5px; }
				#fj label, #fj input { margin-right: 4px; padding: 0; height: 16px; line-height: 16px; }
		.pcb .jammer { font-size: 10px; color: {WRAPBG}; }

		.pcb strong { font-weight: 700; }
		.pcb em { color: {MIDTEXT}; }
		.pcb span.t_tag { cursor: pointer; border-bottom: 1px solid red; white-space: nowrap; }
			.pcb span.t_tag:hover { border-bottom: 1px solid {NOTICETEXT}; }
		.pct { padding-bottom: 1em; }
		.t_fsz { min-height: 100px; }
			* html .t_fsz { height: 100px; overflow: visible; }
		.t_f, .t_f td { font-size: {MSGFONTSIZE}; }
			.t_f a { color: {HIGHLIGHTLINK}; text-decoration: underline; }
		.t_f ul { margin-left: 14px; }
			.t_f li { margin-left: 2em; }
			.t_f ul li { list-style-type: disc; }
				ul.litype_1 li { list-style-type: decimal; }
				ul.litype_2 li { list-style-type: lower-alpha; }
				ul.litype_3 li { list-style-type: upper-alpha; }
		.t_f i { font-style: italic; }
		.sign { overflow: hidden; margin-bottom: 10px; padding-top: 20px; line-height: 1.6em; background: url({IMGDIR}/sigline.gif) no-repeat 0 0; }
			* html .sign { height: expression(signature(this)); }
			.sign * { line-height: normal; }
		.po { border-top: 1px dashed {COMMONBORDER}; }
			.po .y { margin: 8px 0 0 5px; }
			.po p { float: right; }
				.po p a, .po p label { margin-right: 6px; }
		.pob { line-height: 36px; }
			.pob em { float: left;}
				.pob em a { padding: 5px 10px 5px 25px; }
			.cmmnt { background: url({IMGDIR}/cmmnt.gif) no-repeat 0 50%; }
			.fastre { background: url({IMGDIR}/fastreply.gif) no-repeat 0 50%; }
			.req { background: url({IMGDIR}/repquote.gif) no-repeat 0 50%; }
			.editp { background: url({IMGDIR}/edit.gif) no-repeat 4px 50%; }
			.appendp { background: url({IMGDIR}/icon_append.png) no-repeat 4px 50%; }
			.psave { background: url({IMGDIR}/pubsave.gif) no-repeat 4px 50%; }
			.push { background: url({IMGDIR}/push.png) no-repeat 4px 50%; }
		.modact { display: block; height: 32px; text-align: center; }
			.modact, .modact a { line-height: 32px !important; }

		#p_btn { line-height: 24px; }
			#p_btn a { float: left; margin-right: 3px; padding-right: 4px; padding-left: 8px; background: url({IMGDIR}/share_btn.png) no-repeat 0 0; vertical-align: top; white-space: nowrap; }
				#p_btn a:hover { text-decoration: none; }
				#p_btn i { display: block; padding-right: 8px; background: url({IMGDIR}/share_btn.png) no-repeat 100% 100%; font-style: normal; cursor: pointer; }
					#p_btn img { float: left; margin: 4px 3px 0 0; }
					#p_btn span { padding-left: 2px; color: {LIGHTTEXT}; }
			.tshare { padding-bottom: 10px; }
				.tshare strong { float: left; margin-right: 10px; }
				#p_btn .tshare a, #p_btn .tshare i { padding: 0; background-image: none; }
					#p_btn .tshare a { margin-right: 10px; color: {HIGHLIGHTLINK}; }
					#p_btn .tshare a:hover { text-decoration: underline; }

		.rate { margin: 20px 0; font-size: 12px; }
			.rate dt { float: left; padding-top: 7px; width: 80px; text-align: center; }
				.rate dt strong { padding: 12px 8px; height: 46px; font-size: 24px; background: #FFF4DD; }
				.rate dt p { padding-top: 10px; }
					.rate dt strong a, .rate dt strong a em { line-height: 48px; height: 48px; color: {NOTICETEXT}; }
			.rate dd { margin-left: 80px; }
				.rate dd ul li { float: left; overflow: hidden; margin:0 4px; width: 67px; height: 84px; text-align: center; }
				.rate .ratt { border-bottom: 1px dotted {WRAPBORDERCOLOR}; padding: 6px 0; }
				.ratl th, .ratl td, .ratc { overflow: hidden; padding: 5px 2px; height: 24px; line-height: 24px; border-bottom: 1px dashed {WRAPBORDERCOLOR}; white-space: nowrap; }
				.ratl img { height: 24px; width: 24px; vertical-align: middle; }
			.rate_collapse .ratl_l { display: none; }
				.rate_collapse i { visibility: hidden; }
				.rate .op { padding-right: 16px; background: url({IMGDIR}/arrow_top.gif) no-repeat 100% 50%; }
					.rate_collapse .op { background-image: url({IMGDIR}/arrow_down.gif); }
			.rate i { font-style: normal; }

/* 回帖推荐 post sticklist by dfox */
	.psth { margin: 2em 0 2em -20px; padding: 5px 45px 5px 20px; width: 240px; background: #FFF4DD url({IMGDIR}/arw.gif) no-repeat 100% 50%; color: {NOTICETEXT}; font-size: 14px; }
	.tpst .psth { margin-left: -15px; }
	.pstl { clear: left; margin-bottom: 2em; }
		.psta { float: left; width: 30px; }
			.psta img { width: 24px; height: 24px; }
		.psti { margin-left: 30px; }

/* 点评 by monkeye */
	.f_c .cm { overflow: hidden; }
	.cm .psth { background-color: #FFF4DD; color: {NOTICETEXT}; background-position: 100% 50%; font-size: 12px; }
		.cm .pg { float: none; }
			.cm .pg a, .cm .pg strong { margin: 0 4px 0 0; }
		.cm i { color: #F30; font-style: normal; }
		.cmstar { display: block; margin-top: 5px; width: 100px; height: 16px; background: url({IMGDIR}/starlevel.gif) no-repeat 10px 0; cursor: pointer; }
			.cmstarv { padding-right: 100px; width: 100px; height: 16px; background: url({IMGDIR}/starlevel.gif) no-repeat 12px 0; }
			.cmm .cmstar { margin-top: 0; }
			.cmstar em { float: left; width: 16px; height: 16px; overflow: hidden; text-indent: -9999px; }

/*
	Name:			mod_viewthread_author
	Level:			Function
	Explain:		第二页以后显示主题作者
	Author:			lushnis
	Last Modify:	Pony 11042913
*/
	#tath { padding: 0 10px 0 15px; width: 130px; line-height: 24px; white-space: nowrap; word-break: keep-all; word-wrap: normal; text-overflow: ellipsis; overflow: hidden; }
		#tath img { width: 24px; height: 24px; vertical-align: middle; }

#f_pst .plc { padding: 20px; }
	#f_pst .fpp label { zoom: 1; }
	#f_pst .avatar { margin-top: 15px; }

i.pstatus { display: block; margin-bottom: -30px; font-size: 12px; text-align: center; font-style: normal; line-height: 32px; color: {LIGHTTEXT}; }

/* 用户详细信息 */
	.bui { position: absolute; margin: -1px 0 0 -1px; padding: 15px 0 15px 20px; width: 430px !important; border: 1px solid {COMMONBORDER}; background: {WRAPBG}; box-shadow: 2px 2px 3px {WRAPBORDERCOLOR}; -webkit-box-shadow: 2px 2px 3px {WRAPBORDERCOLOR}; -moz-box-shadow: 2px 2px 3px {WRAPBORDERCOLOR}; }
		.bui dl { margin: 5px 0 10px; }
			.bui dt { width: 4.5em; }
			.bui dd { margin-right: 10px; width: 75px; }
		.bui .m img { margin-bottom: 12px; }
		.bui .i { width: 290px; }
			.imicn img { vertical-align: middle; margin-right: 8px; }
				.imicn .xi2:hover { text-decoration: none; }
				.imicn .xi2 img { margin-right: 0; }

	/*
		Name:			mod_user_interaction
		Level:			Function
		Explain:		帖子左侧用户互动操作
		Last Modify:	Pony
	*/
	.pls .o li { background-position: 0 50%; background-repeat: no-repeat; text-indent: 18px; }
		.pls .o .callon { background-image: url({IMGDIR}/home.gif); }
		.pls .o .buddy { background-image: url({STATICURL}image/feed/friend.gif); }
		.pls .o .poke2 { background-image: url({STATICURL}image/feed/poke.gif); }
		.pls .o .pm2 { background-image: url({IMGDIR}/pmto.gif); }
		.pls .o .addflw { background-image: url({IMGDIR}/flw_ico.png); }
	/* 帖子左侧用户组升级提示细微调整 Last Modify Pony */
	.pls .tip_4 { margin-left: -5px; }

	/*
		Name:			mod_thread_attr
		Level:			Function
		Explain:		帖子中类似“游客，如果您要查看本帖隐藏内容请”等地方的样式
		Last Modify:	Pony 11060209
	*/
	.locked { overflow: hidden; margin: 10px 0; padding: 8px 8px 8px 24px; border: 1px dashed #FF9A9A; background: {WRAPBG} url({IMGDIR}/locked.gif) no-repeat 6px 50%; font-size: 12px; zoom: 1; }
		.locked:hover background-color: #F7F7F7; }
		.locked strong { color: {NOTICETEXT}; }
		.locked a, .attach_nopermission a { color: {HIGHLIGHTLINK}; }
	.attach_nopermission { margin: 10px 0; width: 600px; border: 1px dashed #AAAA92; background: #FFFFEE url({IMGDIR}/attach_nopermission_bg.png) no-repeat 100% 0; }
		.attach_nopermission div { padding: 20px 0 20px 70px; border: 3px solid #FFF; background: url({IMGDIR}/attach_nopermission.png) no-repeat 15px 15px; }
		.attach_nopermission:hover div { border-color: #DADAB1; }
	.viewpay { overflow: hidden; margin: 0 6px; padding: 1px 0 1px 24px; background: url({IMGDIR}/viewpay.gif) no-repeat 6px 60%; color: {HIGHLIGHTLINK}; font-weight: 700; zoom: 1; }
	.showhide { overflow: hidden; border: 1px dashed #FF9A9A; margin: 8px 0; padding: 10px; zoom: 1; }
		.showhide h4 { margin-bottom: 10px; color: #F66; font-size: 12px; text-align: center; }

	/*
		Name:			mod_thread_code_quote
		Level:			Function
		Explain:		帖子代码/引用等样式
		Author:			lushnis
		Last Modify:	Pony 1205241556
	*/
	.pl .quote, .pl .blockcode { margin: 10px 0; padding: 10px 10px 10px 65px; zoom: 1; }
	.pl .quote { padding-bottom: 5px; background: #F9F9F9 url({IMGDIR}/icon_quote_s.gif) no-repeat 20px 6px; }
		.pl .quote blockquote { display: inline-block; margin: 0; padding: 0 65px 5px 0; background: url({IMGDIR}/icon_quote_e.gif) no-repeat 100% 100%; line-height: 1.6; zoom: 1; }
			.ie6 .pl .quote blockquote, .ie7 .pl .quote blockquote { display: inline }

	.pl .blockcode { padding: 10px 0 5px 10px; border: 1px solid {WRAPBORDERCOLOR}; background: #F7F7F7 url({IMGDIR}/codebg.gif) repeat-y 0 0; overflow: hidden; }
		.pl .blockcode ol { margin: 0 0 0 10px !important; padding: 0 !important; }
			.pl .blockcode ol li { padding-left: 10px; list-style-type: decimal-leading-zero; font-family: Monaco,Consolas,'Lucida Console','Courier New',serif; font-size: 12px; line-height: 1.8em; }
				.pl .blockcode ol li:hover { background: {WRAPBG}; color: {HIGHLIGHTLINK}; }
			* html .pl .blockcode ol li { font-family: 'Courier New',serif; }
		.pl .blockcode em { margin-left: 43px; color: {HIGHLIGHTLINK} !important; font-size: 12px; cursor: pointer; }

/*投票 poll optionvessel by dfox */
	.pcht { margin-bottom: 15px; }
		.pcht h4 a { color: {HIGHLIGHTLINK}; text-decoration:underline; }
		.pcht table { table-layout: fixed; }
		.pcht table td { padding: 4px 2px; vertical-align: middle; }
			.pslt { width: 20px; }
			.pvt { width: auto; }
				.pvt label { cursor: pointer; }
			.pvts { width: 100px; }
				.pcht table tr.ptl td { padding: 8px 2px; border-bottom: 1px solid {WRAPBORDERCOLOR}; }
		.pcht { width: 600px; }
		.pinf { margin: 15px 0; color: {LIGHTTEXT}; }
			.pinf strong { color: {MIDTEXT}; }
			.pinf a { color: {HIGHLIGHTLINK}; }
		.ptmr { margin: -10px 0 15px; }

	/*
		Name:			mod_voter_list
		Level:			Function
		Explain:		投票者列表样式
		Last Modify:	Pony
	*/
	.voterlist { width: 495px; height: 195px; overflow: auto; }
		.voterlist .ps { max-width: 495px; }
	.voterl li { padding: 0 5px 5px 0; width: 90px; text-align: left; }

	/*
		Name:			mod_thread_trade_activity
		Level:			Function
		Explain:		spvimg,spi 为活动、商品公用部分
		Author:			dfox
		Last Modify:	Pony 11082511
	*/
	.act {}
		.act .c { line-height: 28px; font-size: 14px; }
		.spvimg { float: left; position: relative; width: 300px; background: #FAFAFA; text-align: center; border: 1px solid {COMMONBORDER}; }
		.spvimg em.hot { width: 120px; height: 102px; background-position: 0 -104px; }
		.spi { margin-left: 315px;}
			.spi dl { font-size: 14px; }
				.spi dl dt { float: left; padding: 2px 0; width: 80px; height: 1em; }
				.spi dl dd { margin-left: 90px; padding: 2px 0; min-height: 21px; height: auto !important; height: 21px; }
				.spi dl dd em { color: #F30; }
			dl.nums {}
				.spi dl.nums dt { padding-top: 15px; }
				.spi dl.nums dd em { font-size: 26px; }
		.actl { table-layout: fixed; width: 320px; border-top: 3px solid {COMMONBORDER}; }
			.actl th, .actl td { padding: 8px 2px; border-top: 1px dashed {COMMONBORDER}; }
			.actl th { width: 60px; }
		.actfm { height: auto !important; height: 220px; max-height: 220px; overflow-x: hidden; overflow-y: auto; }
		.actl_pop { overflow: auto; max-width: 200px; max-height: 300px; }
			.ie6 .actl_pop { width: 200px !important; height: expression(this.offsetHeight > 300 ? 300 : 'auto'); }
			.actl_pop li { display: block; padding: 3px 0; border-bottom: 1px dashed {COMMONBORDER}; }
			/* 重定义弹窗里的链接 */
			.actl_pop a { display: inline; position: static; padding: 0; border: none; white-space: normal; }
				.actl_pop a:hover { background: transparent; text-decoration: underline; }

/* 悬赏 by dfox */
	.rwd {}
		.rsld, .rusld { width: 90px; height: 118px; background: url({IMGDIR}/rwd.gif) no-repeat 0 0; text-align: center; color: #F30; }
		.rsld { background-position: 0 -118px; color: {LIGHTTEXT}; }
			.rsld cite, .rusld cite { display: block; margin: 26px auto 6px; _margin-bottom: -6px; height: 30px; font-size: 28px; }
		.rwdn { margin-left: 110px; }
	.rwdbst {}

/* 辩论观点样式 by michael */
	.pdbt { float: right; margin: -5px 10px 0 0; }

	.pdbts { float: left; overflow: hidden; height: 25px; line-height: 25px; background: url({IMGDIR}/pdbt.gif) no-repeat 0 0; }
		.pdbts a { float: left; margin: 0; height: 25px; line-height: 25px; }
			.pdbts a:hover { text-decoration: none; }
		.pdbts .v { padding-right: 3px; width: 39px; color: {LIGHTLINK}; text-align: center; font-weight: 700; }
		.pdbts .b { padding: 0 10px; background: url({IMGDIR}/pdbt.gif) no-repeat 100% -25px; }
	.pdbts_0 { background-position: 0 -100px; }
		.pdbts_0 a { width: 110px; text-align: center; }
	.pdbts_2 { background-position: 0 -50px; }
			.pdbts_2 .b { background-position: 100% -75px; }

/* 商品 trade by michael & dfox*/
	.trdc { margin-top: 20px; background: #09C; height: 30px; line-height: 30px; color: {LIGHTLINK}; }
		.trdc a { margin: 0 6px; height: 30px; line-height: 30px; color: {LIGHTLINK}; }
		.trdc em { float: right; padding-right: 6px; line-height: 30px; color: {LIGHTLINK}; }
	.trdb { border-bottom: 1px dashed {WRAPBORDERCOLOR}; }
		.trdb .y * { vertical-align: middle; }
		.trdb .c { clear: both; padding: 10px; font-size:14px; }
			.trdb .c .pattl { border: none !important; }
		.spi h4 { font-size: 18px; font-weight: 700; padding: 4px 2px 8px; }

		.trdl { padding: 10px 0; }
			.trdl .tt { float: left; position: relative; width: 90px; text-align: center; }
				.trdl .tt img { vertical-align: middle; cursor: pointer; }
				.trdl .tt .hot { width: 43px; height: 37px; }
			.ta { margin-left: 100px; overflow: hidden; }
				.ta h4 { padding: 2px; font-size: 14px; font-weight: 700; }
				.ta dl { margin: 0; width: 200px; }
				.ta strong { font-size:16px; color: #F30; }

		.torder .spvimg { width: 90px; }
		.torder .spi { margin-left: 110px; }
			.torder .spi strong { color: #F30; }

/* 门户 viewthread 显示 */
.vw .pcb { margin-right: 0; }
	.vw dd .pcb { width: 640px; }
	.vw dd .rate { padding-left: 0; }
	.vw .pcb table { table-layout: fixed; width: 100%; overflow: hidden; }
		.vw .t_fsz { min-height: 30px; }
			.ie6 .vw .t_fsz { height: 30px; }
	.vw .pstl { margin-bottom: 1.4em; }
		.vw .psth { margin-left: 0; }
	.vw .pdbts { margin-right: 10px; height: 20px; line-height: 20px; background: url({IMGDIR}/pdbtm.gif) no-repeat 0 0; }
		.vw .pdbts a { height: 20px; line-height: 20px; }
		.vw .pdbts .b, .vw .pdbts .b:hover { padding: 0 5px; background: url({IMGDIR}/pdbtm.gif) no-repeat 100% -20px; }
		.vw .pdbts .v { width: 30px; }
	.vw .pdbts_0 { background-position: 0 -80px; }
		.vw .pdbts_0 a { width: 90px; text-align: center; }
	.vw .pdbts_2 { background-position: 0 -40px; }
			.vw .pdbts_2 .b, .vw .pdbts_2 .b:hover { background-position: 100% -60px; }

	.vw .dr .sr_2 h5, .vw .dr h5 { width: 172px; }

#modopt, #modopttmp { margin-left:5px; }
/** end **/


/** forum::viewthread,group::viewthread,forum::forumdisplay,group::forumdisplay **/
/*
	Name:			mod_visited_t&b
	Level:			Function
	Explain:		返回列表中显示的访问过的帖子和版块
	Last Modify:	Pony
*/
#visitedforums_menu { width: 150px; }
	#visitedforums_menu li { display: block; float: none; }
	#visitedforums_menu td { padding: 5px 10px; vertical-align: top; }
	#visitedforums_menu a { white-space: normal !important; display: inline-block; overflow: hidden; height: 1.5em; }
	#v_forums { width: 120px; }
#v_threads li, #v_forums li { padding-left: 10px; background: url({IMGDIR}/dot.gif) no-repeat 0 7px; }

/* 快速表情 */
#fastsmilies { text-align: right; }
	#fastsmilies table { table-layout: auto; width: 160px; height: 133px; }
	#fastsmilies td { text-align: right; vertical-align: middle; cursor: pointer; }
		#fastsmilies img { vertical-align: middle; }
/** end **/


/** home::space,forum::viewthread,forum::trade **/
/*
	Name:			mod_trade_list
	Level:			Function
	Explain:		帖子以及交易单中的商品列表
	Last Modify:	Pony 11060710
*/
.tradl {}
	.tradl li { padding: 10px; width: 138px; height: 235px; }
		.pg_trade .tradl li { float: none; padding: 10px 0; width: auto; height: 224px; }
	.tradl .u { text-align: left; }
	.tradl h4 { overflow: hidden; height: 38px; font-weight: 400; }
	.tradl .tn { display: block; position: relative; margin: 5px auto; padding: 1px; width: 130px; height: 130px; border: 1px solid {COMMONBORDER}; }
		.tradl .tn em.hot { width: 53px; height: 46px; background-position: 0 -48px; }
		.tradl img { max-width: 130px; max-height: 130px; }
			* html .tradl img { width: expression(this.width > 130 && this.width>=this.height ? 130 : true); height: expression(this.height > 130 && this.width<=this.height ? 130 : true); }
	.tradl .p { font-family: Arial, sans-serif; font-size: 16px; color: {LIGHTTEXT}; }
	.tradl .stat { background: url({IMGDIR}/closed.png); color: {LIGHTLINK}; }
/** end **/


/** forum::viewthread,group::viewthread,home::space **/
/* 辩论 debatesquare by michael & dfox */
	.dtm { padding: 10px 0; text-align: center; font-weight: 700; }
	.ds { margin-top: 1em; background: url({IMGDIR}/debate_bg.gif) no-repeat 50% 100%; line-height: normal; }
		.ds th { width: 60px; vertical-align: bottom; }
		.ds th div { background: url({IMGDIR}/debate_vs.gif) no-repeat 50% 50%; height: 150px; }
		.ds td { vertical-align: bottom; }
			.ds td p{ font-size: 14px; padding: 5px 0 15px; line-height: 20px; text-align: left; }
		.ds .si_1, .ds .si_2 { text-align: center; vertical-align: middle; }
		.ds .sc_1, .ds .sc_2 { width: 62px; }
			.ds .point_chart{ position: relative; width: 62px; height: 150px; background: url({IMGDIR}/debate_chart.gif) no-repeat 0 0; }
			.ds .point { margin: 0 auto; padding: 0 20px 0 10px; text-align: center; font-size: 14px; }
				.ds .si_2 .point { padding: 0 20px; }
					.ds .si_1 .point strong{ color: #F04700; }
					.ds .si_2 .point strong{ color: #0092C5; }
			.ds .chart{ position:absolute; left: 0; bottom: 0; width: 62px; background: url({IMGDIR}/debate_chart.gif) no-repeat; }
				.ds .sc_1 .chart{ background-position: -62px 0; }
				.ds .sc_2 .chart{ background-position: -124px 0; }
		/* 空间中的辩论列表 by Pony */
		#nv_home .ds table { table-layout: fixed; width: 100%; }
		#nv_home .ds th div, #nv_home .ds .point_chart { height: 120px; }
		#nv_home .ds .ph { font-size: 16px; text-align: center; }
	.dr { margin: 2px 0; padding-top: 6px; min-height: 80px; height: auto !important; height: 80px; background: url({IMGDIR}/debate_dr.jpg) no-repeat 50% 0; }
		.dr th { width:50px; }
		.dr td { vertical-align: top; }
		.dr h5 { padding-left:10px; width: 193px; text-align: center; font-size: 14px; font-weight: 400; }
			.dr h5 a { color: #F04700; font-weight: 700; }
			.dr .sr_1 .pn { float: right; margin-right: 5px; }
			.dr .sr_2 .pn { margin-left: 5px; }
			.dr .sr_2 h5 { float: right; padding: 0 20px 0 0; width: 183px; }
				.dr .sr_2 h5 a { color: #0092C5; }
			.dr .mls { padding-top: 15px; clear: both; }
			.dr .mls li { width: 70px; }

/* 标签 */
	.ptg { padding-left: 20px; background: url({IMGDIR}/tag.gif) no-repeat 0 2px; }
		.ptg a { color: {HIGHLIGHTLINK}; }
/** end **/


/** forum::viewthread,group::viewthread,forum::trade,portal::view **/
/* 帖子附件 by dfox */
	.pattl { overflow: hidden; padding: 1em 0; width: 100%; font-size: 12px; }
	.tatt, .t_attach_img { padding: 5px; color: {LIGHTTEXT}; font-size: 12px; }
		.tatt { width: 240px; }
		.tatt em { color: {LIGHTTEXT}; }
		.t_attachinsert{ margin:1em 0; font-size: 12px; }
		.t_attachinsert p img{ margin-bottom: -4px; }
	.t_table{ border: 1px solid #E3EDF5; empty-cells: show; border-collapse: collapse; }
		.pl table.t_table { table-layout: auto; }
		.t_table td { padding: 4px; border: 1px solid #E3EDF5; overflow: hidden; }
	.tattl { float: left; overflow: hidden; padding: 10px 10px 10px 0; width: 45%; height: 64px; }
		.tattl a { color: {HIGHLIGHTLINK}; text-decoration: underline; }
		.tattl dt { float: left; width: 40px; font-weight: 700; }
		.tattl strong { margin-right: 6px; color: {NOTICETEXT}; font-weight: 400; }
		.tattl dt img { width: 32px; height: 32px; }
		.tattl dd { margin-left: 40px; color: {LIGHTTEXT}; }
	.attnm { height: 18px; margin-bottom: 3px; overflow: hidden; white-space: nowrap; }
		*html .attnm { white-space: normal; }
	.attm { overflow: visible; float: none; width: 580px; height: auto; }
		.attm dt { width: 0; }
		.attm dd { margin-left: 0; }
		.zoom { cursor: pointer; }

	.attp { width: 180px; text-align: left; }
		.tattl .attp { width: 240px; }

	/* 版主浏览包含收费附件的帖子，且附件插入到帖子内容中去的时候 by Pony */
	.attprice { padding: 5px; border: 1px dashed #FF9A9A; }

	/*
		Name:			mod_zoominner
		Level:			Function
		Explain:		显示原始图片弹出层
		Last Modify:	Pony
	*/
	.zoominner { padding: 5px 10px 10px; background: {WRAPBG}; text-align: left; }
		.zoominner p { padding: 8px 0; }
			.zoominner p a { float: left; margin-left: 10px; width: 17px; height: 17px; background: url({IMGDIR}/imgzoom_tb.gif) no-repeat 0 0; line-height: 100px; overflow: hidden; }
				.zoominner p a:hover { background-position: 0 -39px; }
			.zoominner p a.imgadjust { background-position: -40px 0; }
				.zoominner p a.imgadjust:hover { background-position: -40px -39px; }
			.zoominner p a.imgclose { background-position: -80px 0; }
				.zoominner p a.imgclose:hover { background-position: -80px -39px; }

.zimg_c { position: relative; }
.zimg_prev, .zimg_next { display: block; position: absolute; width: 80px; height: 100%; background: url({IMGDIR}/pic-prev.png) no-repeat 0 -100px; cursor: pointer; }
.zimg_next { right: 10px; background-image: url({IMGDIR}/pic-next.png); background-position: 100% -100px; }
.zimg_c img { margin: 0 auto; }
.zimg_p strong { display: none; }
/** end **/


/** forum::misc **/
/* 非弹窗时显示出来的页面的样式重定义 */
	.mn .flb { padding-left: 0; }
	.f_c .list { margin-left: 0; }
/** end **/


/** portal::portalcp,portal::view,forum::viewthread,group::viewthread,home::space **/
/* 自动给关键词增加的链接的样式 by Pony */
	.relatedlink, .relatedlink:hover { text-decoration: none !important; color: {TABLETEXT} !important; border-bottom: 1px solid blue; }

/* 模块标识后面的收藏图片样式 by Pony */
	.favmark { margin-bottom: -3px; }
/** end **/


/* ----------------------------------------------------------------------- 群组相关样式 by dfox */
/** group::index **/
	#g_focus { width: 320px; }
	#g_commend {}
		#g_commend .xld { float: left; margin-right: 0.3%; width: 24.5%; height: 64px; overflow: hidden; }
		#g_commend dt { padding-bottom: 0; }
	#g_guide { background: url({IMGDIR}/g_guide.png) no-repeat 10px 18px; }
		#g_guide li { border-bottom: 1px dashed {COMMONBORDER}; }
		#g_guide a, #g_guide label { display: block; padding: 7px 0 7px 40px; height: 36px; }
			#g_guide label { cursor: text; }
		#g_guide strong { display: block; }
	.fl .bm_h { border-bottom: none; background-color: transparent; }

/* 群组列表 by Pony */
	.fl_icn, .fl_icn_g { width: 48px; }
	.fl_g dl { margin-left: 48px; padding: 0 5px; }
/** end **/

/** group::group **/
#gh { border: 1px solid {COMMONBORDER}; }
	#gh .bm { margin-bottom: 0; }
	#gh .bm_h { background-color: {SPECIALBG}; }
/** end **/

/** group,search::group **/
.gl .flc .icn { float: left; width: 60px; }
.gl .flc dl { margin-left: 60px; }
	.gl .flc dl dt { height: 20px; overflow: hidden; }

	.mls li p { margin: 5px 4px 0; width: 58px; }

.gl .flc .i { margin-top: -14px; width: 127px; }
	.gl .flc .i em, .gl .flc .i span { float: right; width: 55px; color: {LIGHTTEXT}; text-align: right; line-height: 20px; }
	.gl .flc .i em { border-right: 1px solid {COMMONBORDER}; padding-right: 10px; }
		.gl .flc .i p { color: {LINK}; }
		.gl .flc .i span p { font-weight: 700; }

#nv_group .flg dd em { float: left; margin-right: 1em; color: {LIGHTTEXT}; white-space: nowrap; }

#nv_group {}
/** end **/


/** group::my **/
/* 设置关注的群组弹窗 by Pony */
	.attgroup { width: 450px; }
		.attgroup li { float: left; overflow: hidden; margin-right: 5px; width: 145px; white-space: nowrap; }

/* 关注按钮和所有群组的按钮 by Shuaishuai*/
	.groupbtn { float: left; margin: 0 2px; padding: 0 0 0 7px !important; height: 25px; background: url({IMGDIR}/n_rate.png) no-repeat 0 0 !important; line-height: 25px; text-align: center; cursor: pointer; }
	.groupbtn:hover{ text-decoration: none; }
		.groupbtn span { display: block; background: url({IMGDIR}/n_rate.png) no-repeat right 100% !important; padding-right: 7px; }
/** end **/



/* ----------------------------------------------------------------------- 文章、日志等页面样式 */
/** portal::list,home::space **/
.bm_h .addnew { margin-left: 10px; padding-left: 20px; background: url({IMGDIR}/addbuddy.gif) no-repeat 0 45%; }
.bm_h .rss { margin-left: 10px; padding-left: 20px; background: url({IMGDIR}/feed.gif) no-repeat 0 45%; }
/** end **/


/** forum::viewthread,portal::view,portal::comment,home::space **/
/* Article/Blog View by lushnis */
	.vw {}
		.vw .h { padding-bottom: 15px; border-bottom: 1px solid {COMMONBORDER}; }
			.vw .ph { padding: 15px 0 10px; color: #000; }
		.vw .hot { margin-right: 5px; color: {NOTICETEXT}; }
		.vw .s { margin-top: 10px; padding-bottom: 10px; border-bottom: 1px solid {COMMONBORDER}; line-height: 2; color: {HIGHLIGHTLINK}; }
			.vw .s strong { font-weight: 400; color: red; }
		.vw .d { margin: 15px 0; min-height: 100px; font-size: 14px; line-height: 1.8; color: #000; }
			.vw .d i { font-style: italic; }
			.vw .d img { max-width: 620px; }
			.ie6 .vw .d img { width: expression(this.width > 620 ? 620:true); }
			.vwtb { table-layout: fixed; width: 100%; height: 300px; }
			.vw .pattl_c .tip { line-height: 1.5; }
			#article_content { vertical-align: top; }
		.vw .d ol, .vw .d ul { margin: 1em 2em; }
			.vw .d ul li { list-style-type: disc; }
			.vw .d .ml, .vw .d .xl { margin: 0; }
				.vw .d .ml li { list-style-type: none; }
		.vw .attach { padding-left: 20px; background: url({IMGDIR}/fach.gif) no-repeat 0 50%; color: {HIGHLIGHTLINK}; }
		.vw .o { margin-top: 15px; padding-top: 5px; border-top: 1px solid {COMMONBORDER}; text-align: right; }
			.vw .o .mgcmn { width: auto; text-align: left; }
		#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .o,#nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d { margin-right: 15px; margin-left: 15px; }

/* .atd -> attitude 表态 by Pony */
	.atd { margin: 15px auto; }
		.atd img { margin-bottom: 10px; }
		.atd a { display: block; }
			.atd a:hover { text-decoration: none; }
		.atd td { padding: 10px; text-align: center; vertical-align: bottom; }
			.atd .atdc { position: relative; margin: 0 auto 10px; width: 20px; height: 50px; }
				.atdc div { position: absolute; left: 0; bottom: 0; width: 20px; text-align: left; }
				.atd .ac1 { background: #C30; }
				.atd .ac2 { background: #0C0; }
				.atd .ac3 { background: #F90; }
				.atd .ac4 { background: #06F; }
				.atdc em { position: absolute; margin: -25px 0 0 -5px; width: 30px; font-size: 11px; text-align: center; color: {LIGHTTEXT}; }
/** end **/


/** portal::portalcp,portal::view **/
.pgm { clear: both; padding: 5px 0; }
	.pgm .pg { float: left; }

/* 管理相关文章 */
.bart { position: relative; padding: 10px; width: 640px; }
	.bartl { overflow-y: scroll; padding: 10px; width: 270px; height: 270px; border: 1px solid {COMMONBORDER}; }
		.bartl li { overflow: hidden; width: 250px; height: 20px; }
			.bartl li em { float: left; width: 200px; }
	.barto { position: absolute; top: 190px; left: 315px; height: 30px; }
		.barto .pn * { padding: 0 8px; }
	.bart .chkall { padding-left: 10px; }
	#chkalldiv p { width: 292px; }

/* 管理模块 */
	.ptblk li { padding: 7px 0; border-bottom: 1px solid {COMMONBORDER}; }
	.ptblk em { margin-right: 30px; }

/* 文章标题颜色、加粗、斜体、下划线等样式 by Pony */
.colorwd { margin-right: 3px; }
.dopt input { float: left; }
/** end **/



/* ----------------------------------------------------------------------- 空间相关样式 */
/** home::space,misc::ranklist **/
/* .mi --> my_infomation 空间首页个人信息部分 */
	.mi {}
		.mi th, .mi td { vertical-align: top; }
		.mi th { width: 145px; }
		.mi .avatar a { position: relative; }
			.ie6 .avatar a { float: left; }
			.mi .avatar a:hover { text-decoration: none; }
			.mi .avatar a span { display: none; position: absolute; bottom: 3px; padding: 5px 0; width: 100%; text-align: center; background: transparent; background: rgba(255, 255, 255, 0.5); cursor: pointer; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #50FFFFFF, endColorstr = #50FFFFFF); }
				.mi .avatar a:hover span { display: block; }
				.mi .avatar img { padding: 3px; border: 1px solid {COMMONBORDER}; }
		.mifm { position: relative; margin: 10px 0 20px; padding: 5px; width: 370px; background: {COMMONBG}; zoom: 1; }
	.mipm { padding: 5px 0; border: 1px solid {COMMONBORDER}; }
		.mipm li { float: left; padding: 5px 15px; white-space: nowrap; }
		.mi a.o { margin-right: 5px; padding-left: 18px; background: url({IMGDIR}/mine_icn.png) no-repeat 0 50%; }
	#moodfm {}
		#moodfm textarea { width: 600px; height: 56px; border: 1px solid; border-color: {INPUTBORDERDARKCOLOR} {INPUTBORDER} {INPUTBORDER} {INPUTBORDERDARKCOLOR}; overflow-y: auto; }
		.mi .moodfm_input { width: 350px; height: 58px; background: {COMMONBORDER} url({IMGDIR}/mood_input.png) no-repeat 0 0; }
			.mi .hover .moodfm_input { background-color: {SPECIALBORDER}; }
			.mi #moodfm textarea { margin: 3px 0 0 6px; padding: 0; width: 341px; height: 51px; outline: none; border: none; }
		.moodfm_btn { padding-left: 5px; background: url({IMGDIR}/mood_input_btn.png) no-repeat 5px 0; }
			.moodfm_btn button { width: 58px; height: 58px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
		.moodfm_f { padding: 5px 0 0 3px; }

/*
	Name:			mod_share_form
	Level:			Function
	Explain:		发布分享的表单
	Last Modify:	Pony
*/
	.sfm { margin: 0 0 20px 10px; }
		.sfm .c { width: 442px; }
		.sfm .px { width: 432px; }
		.sfm .pt { width: 432px; height: 67px; }

/* 分享视频有截图时 by Pony */
.vdtn { width: 126px; height: 95px; border: 1px solid {COMMONBORDER}; cursor: pointer; }

/* .pic -> picture 查看图片 by Pony */
	.osld { padding-left: 18px; background: url({IMGDIR}/slide.png) no-repeat 0 50%; }
	.pic {}
		.pic .c { margin-top: 20px; text-align: center; }
			.pic .c img { max-width: 764px; }
			* html .pic .c img { width: expression(this.width > 764 ? 764 : true); }
		.pic p { margin: 5px 0; }
	.albim_pic_title { padding: 5px; border-top: 1px dashed {COMMONBORDER}; background: {COMMONBG}; }

/* 侧边图片导航 Media list navigation */
	.mlnv { text-align: center; }
		.mlnv img { margin: 0 5px; padding: 2px; max-width: 100px; max-height: 100px; _width: expression(this.width > 100 && this.width>=this.height ? 100 : true); height: expression(this._height > 100 && this.width<=this.height ? 100 : true); border: 1px solid {WRAPBORDERCOLOR}; background: {WRAPBG};}
			.mlnv img.a { border-color: {NOTICETEXT}; background: #FFEAA8; }
		.mlnv .btn img { padding: 0; border: 0; background: none;  }


/* .sl -> share_list 分享列表 by Pony */
	.sl {}
		.sl li { padding: 10px 0; border-bottom: none; }
		.sl .h { padding: 6px 10px; _height: 1%; background: {COMMONBG}; border-bottom: 1px solid {COMMONBORDER}; }

/* .favl -> fav_list 收藏列表 by Pony */
	.favl .o { background: url({IMGDIR}/op.png) no-repeat -4px -2px; }
		.favl .o:hover { background-position: -4px -22px; }
		.ie6 .favl li { position: relative; }
			.ie6 .favl .o { margin: 0; right: 0; top: 12px; }

/* .cmt -> comment feed中的评论区域 by Pony */
	.cmt { margin: 10px 24px 0 0; padding: 10px; border: 1px solid #EAEAEA; background: {COMMONBG}; zoom: 1; }
		.cmt form { margin-top: 10px; }
			.cmt input, .cmt button { vertical-align: middle; }
		.cmt .pt { width: 95%; margin: 3px 0; }
		.cmt .tri { margin: 10px 0 -23px; width: 19px; height: 13px; background: url({IMGDIR}/cmt_ico.png) no-repeat; }
		.cmt .xlda dl { padding-left: 50px; }
		.cmt .xlda .m { margin-left: -50px; }
		.cmt .avt img { width: 36px; height: 36px; }
		.cmt .pg a, .cmt .pg strong { background-color: transparent; }
		.cmt .pg a { border-color: {COMMONBG}; }
			.cmt .pg a:hover { border-color: {WRAPBORDERCOLOR}; }
		/* feed 区域里的评论 */
		.el .cmt li { padding-right: 0; border-bottom: none; }
		.el .tri { display: none; }
		/* feed 区域中评论的验证码 */
		.el .cmt .sec .px { width: 80px !important; }

/* .pll -> poll_list 投票列表 */
	.pll {}
		.pll li { padding: 10px 0; min-height: auto; }
		.pll .h { font-size: 14px; }
			.pll .h span { font-weight: 400; }
		.pll .c { margin: 0 84px 0 74px; }
		.pll ol { margin: 5px 0 0 20px; }
			* html .pll ol { margin-left: 25px; }
			*+html .pll ol { margin-left: 25px; }
			.pll ol li { list-style-type: decimal; padding: 0; border-bottom: none; }
		.pll .u { overflow: hidden; width: 74px; text-align: center; }
			.pll .u p { white-space: nowrap; }
		.pll .s { display: inline; margin: 5px 10px 0 0; width: 60px; background:url({IMGDIR}/polljoins.gif) no-repeat 0 0; }
			.pll .s a.joins { margin: 0 0 5px; padding: 12px 0; width: 60px; height: 36px; display: block; overflow: hidden; text-align: center; text-decoration: none; }
				.pll .s a.joins span { display: block; font-size: 16px; font-weight: 700; }
			.pll .s a.go { padding: 0 0 0 17px; width: 43px; height: 24px; line-height: 24px; display:block; }

/* .acl -> activity_list 活动列表 by Pony */
	.acl { width: 100%; table-layout: fixed; }
		.acl h3 { padding: 10px 0; font-size: 14px; }
			.acl h3 span { float: left; margin: 1px 10px 0 0; width: 34px; text-align: center; }
			.acl h3 strong { display: block; background-color: #C00; color: {LIGHTLINK}; font-size: 12px; }
			.acl h3 em { display: block; line-height: 22px; border: solid {COMMONBORDER}; border-width: 0 1px 1px; font-size: 16px; font-weight: 400; }
		.acl td { padding: 10px 3px; border-top: 1px dashed {COMMONBORDER}; vertical-align: top; }
		.acl .type { padding: 10px 3px 10px 0; width: 80px; }
		.acl .addr { padding-left: 20px; width: 130px; }
		.acl .orgr { width: 74px; }
		.acl .ml li { margin-top: 6px; padding-bottom: 0; }

/* .tlog -> trade_log 交易记录 by Pony */
	.tlog th, .tlog td { padding: 10px 4px !important; }

/* .rwdl -> reward_list 悬赏列表 by Pony */
	.rwdl {}
		.rwdl li { overflow: hidden; float: left; padding: 15px 10px 15px 100px; width: 290px; height: 92px; }
		.rwdl .uslvd { position: absolute; margin-left: -100px; width: 90px; height: 92px; background: url({IMGDIR}/rwd2.gif) no-repeat 0 0; }
			.rwdl .uslvd cite { display: block; line-height: 28px; font-size: 28px; margin-top: 10px; text-align: center; color: {NOTICETEXT}; }
			.rwdl .uslvd span { display: block; line-height: 12px; font-size: 12px; }
			.rwdl .uslvd em { position: absolute; bottom: 11px; bottom /*\**/: 9px\9; left: 37px; color: {LIGHTLINK}; }
				* html .rwdl .uslvd em { bottom: 11px; }
				*+html .rwdl .uslvd em { bottom: 9px; }
		.rwdl .slvd { background-position: 0 -92px; }
			.rwdl .slvd cite { color: {LIGHTTEXT}; }
		.rwdl h4 { overflow: hidden; height: 36px; font-weight: 400; }
		.rwdl p { white-space: nowrap; }

/* .facel -> face_list 空间部分的表情 by Pony */
	.facel { padding: 8px; width: 240px; }
		.facel img { margin: 5px; }

/* 提醒的内容中会用到。这里使用独立class，以便个性化。若想使提醒内容更醒目，可对summary下的span进行定义 */
	.summary { margin: 10px 0; }
/** end **/


/** home::space,misc::ranklist,home::follow **/
/*
	Name:			mod_pprl
	Level:			Function
	Explain:		空间、广播等个人资料页面
	Last Modify:	Pony 1109271712
*/
	#pprl a { color: {HIGHLIGHTLINK}; }
	#pprl li { clear: both; padding: 3px 0 3px 90px; }
		#pprl li em { float: left; margin-left: -90px; width: 85px; white-space: nowrap; overflow: hidden; }
	.pf_l li { float: left; width: 300px; }
		.pf_l em { padding-right: 10px; color: {MIDTEXT}; }
/** end **/


/** home::space,home::spacecp,home::medal,misc::ranklist **/
	/* 空间图片列表 */
	.mla li, .mlp li { width: 150px; }
/** end **/


/** home::space **/
/* 快速好友查找链接按钮样式 by ShuaiShuai */
	.sc_display{ display:inline-block; width:36px; text-align:right;}

	#mood_mystatus { width: 410px; word-break: break-all; overflow: hidden; }
	#newprompt { background: url({IMGDIR}/info.gif) no-repeat 12px 50%; }

	/* .dtls -> doing_treeline_short 记录回复树状背景 by shuaishuai */
		.dtls { background:url({IMGDIR}/treeline_short.gif) no-repeat 0 2px; }
	/* .dtll -> doing_treeline_long 记录回复树状背景 by shuaishuai */
		.dtll { background:url({IMGDIR}/treeline_long.gif) no-repeat 2em 2px; }

	.nts { padding-left: 20px; }
		.nts dl { border-bottom: 1px dashed {COMMONBORDER}; }
		.nts .more { border-top: 1px dashed {COMMONBORDER}; padding:10px 0 0 64px; }

/*
	Name:			mod_pm_list
	Level:			Channel
	Explain:		短消息列表
	Last Modify:	Pony
*/
	.pml {}
		.pml dl { padding-left: 75px; padding-right: 110px; }
		.pml .hover { background-color: {SPECIALBG}; }
		.pm_o { display: inline; margin-right: -100px; width: 100px; text-align: right; }
			.pm_o .o { overflow: hidden; float: right; margin-left: 10px; width: 16px; height: 16px; text-indent: 20px; background: url({IMGDIR}/op.png) no-repeat 0 -120px; }
				.pm_o .o:hover { background-position: 0 -140px; }
			.pm_o .p_pop { text-align: left; }
		.pml .newpm { background: {SPECIALBG}; }
		.pml .newpm .newpm_avt { position: absolute; margin: -2px 0 0 40px; width: 16px; height: 14px; background: url({IMGDIR}/new_pm_2.png) no-repeat 100% 0; }
		.pm_c { padding-left: 25px; }
			.pm_c .o { float: left; display: inline; margin: 2px 0 0 -25px; }
			.ie7 .pm_c .o { margin-top: -2px; }
		.pm_op { padding-left: 75px; }
		.pm_op_r { padding-right: 110px; }

/*
	Name:			mod_pm_group
	Level:			Function
	Explain:		短消息群聊
	Last Modify:	Pony
*/
	.pm_g { padding: 10px 15px; border: 1px solid #C2D5E3; background: #F2F7FA; }
		.pm_sd, .pm_b { border: 1px solid #C2D5E3; background: {WRAPBG}; }
			.pm_mn { margin-right: 175px; }
				.pm_mn dl { padding: 0; }
				.pm_mn dd.ptm { margin-top: -1px; padding-top: 0 !important; }
				.pm_mn .tedt { margin-bottom: 5px; width: 591px; }
					.ie6 .pm_mn .tedt { width: 587px; }
					.pm_mn .area { height: 70px; }
					.pm_mn .tedt .pt { height: 68px; }
				.pm_mn .avt { display: none; }
			.pm_sd { float: right; width: 160px; height: 425px; }
				.pm_mem_l { overflow-x: hidden; overflow-y: auto; height: 425px; }
					.pm_admin { height: 380px; }
					.pm_mem_l li { overflow: hidden; padding-left: 25px; height: 25px; line-height: 25px; background: url({IMGDIR}/pm_member.png) no-repeat 5px 50%; }
				.pm_add { padding: 10px; }
					.pm_add .px { width: 90px; }
		.pm_b { overflow-x: hidden; overflow-y: auto; padding: 10px; height: 300px; }
			.pm_b img { padding: 2px; max-width: 575px; height: expression(this.height > 575 ? 575 : true); }
	.syn_signature, .syn_signature_check { background: url({IMGDIR}/connect_post_syn.png) no-repeat scroll 0 0 transparent; cursor: pointer; display: inline-block; height: 19px; line-height: 64px; opacity: 1; overflow: hidden; vertical-align: -6px; width: 19px; }
	.syn_signature { background-position: 0 -66px }
	.syn_signature_check { background-position: -22px -66px; }
/** end **/


/** home::spacecp **/
/* 空间图片列表 */
	.mls li { width: 90px; }
/*
	Name:			mod_my_credits_list
	Level:			Function
	Explain:		上传图片
	Last Modify:	Pony 11082413
*/
	.up_row { width: 100%; table-layout: fixed; }
		.up_row td { vertical-align: middle; padding: 5px 0; border-bottom: 1px solid {SPECIALBORDER}; }
		.up_row .c { width: 150px; }
			.up_row .c img { width: 120px; }
		.up_row .d { width: 400px; }
		.up_row strong { margin-right: 5px; }
	#creatalbum { padding-top: 1px; border-top: 1px solid {SPECIALBORDER}; }

.doodle { padding-left: 3px; width: 65px; text-align: left; background: url({STATICURL}image/magic/doodle.small.gif) no-repeat 0 50%; }
	.doodle a { padding-left: 2px; }

/*
	Name:			mod_my_credits_list
	Level:			Function
	Explain:		我的积分列表
	Last Modify:	Pony 11061714
*/
	.creditl {}
		.creditl li { float: left; margin-right: 5px; width: 24%; height: 30px; }
		.creditl .cl { clear: both; float: none; width: auto; }
			.creditl li em { font-weight: 700; }
		.creditl u { text-decoration: none; }
/** end **/


/** home::spacecp,home::magic **/
/* 查找好友 .scf --> Search friend */
	.scf h2 { padding-left: 20px; line-height: 2.2; background: url({IMGDIR}/scf.gif) no-repeat 0 50%; font-weight: 700; font-size: 14px; }
/* 用来展示复杂统计数据的表格，目前仅用户组页面用到 */
	.tdats { overflow: hidden; zoom: 1; margin: 10px 0; *padding-bottom: 10px; }
		.tdats th, .tdats td { overflow: hidden; padding: 0 5px; height: 26px; border-width: 0 1px 0 0; border-color: {WRAPBG}; white-space: nowrap; }
		.tdats th { height: 40px; font-weight: 700; }
			.tdats .h th { height: 24px; border-top: 1px solid {COMMONBORDER}; border-bottom: 1px solid #E5E5E5; background: url({IMGDIR}/tb.png) repeat-x 0 -4px; color: {MIDTEXT}; zoom: 1; }
		.tdats .tdat { float: left; width: 150px; border: none; table-layout: fixed; }
		.tdats .tfx { width: 300px; }
			.tdats .tfxf { width: 650px; }
			.tfx th, .tfx td { border-width: 0 3px !important; background: #FFF2DF; }
			.tfx .alt, .tfx .alt th, .tfx .alt td { background: #FAEDDA; }
			.tfx .h th { padding: 1px 5px; }
		.tscr { float: left; overflow: hidden; width: 350px; }
			.tscr .tdat th, .tscr .tdat td { width: 350px; }
			.nwp { word-wrap: normal; white-space: nowrap; }
		.tdats .c0 { padding: 0; height: 46px; text-align: center; vertical-align: bottom; background: transparent; }
			.tdats .c0 h4 { line-height: 38px; background-color: #F60; color: {LIGHTLINK}; }
		 	.tdats .c0 h4, .tdats .tb li { -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
		.tdats .tb { float: left; margin-top: 8px; padding-left: 0; width: 350px; border-bottom-width: 4px; }
			.tdats .tb li { padding: 0 10px; line-height: 33px; font-weight: 700; color: {LIGHTLINK}; }
			.tdats .c0 h4, .tdats #c1, .tdats #c2, .tdats #c3, .tdats #c4 { background-image: url({IMGDIR}/bg_usergroup.png); }
			.tdats .c1 { border-color: #158B00; }
				.tdats #c1 { border-color: #158B00; background-color: #158B00; background-position: 0 -40px; }
			.tdats .c2 { border-color: #057373; }
				.tdats #c2 { border-color: #057373; background-color: #057373; background-position: 0 -80px; }
			.tdats .c3 { border-color: #1F57A9; }
				.tdats #c3 { border-color: #1F57A9; background-color: #1F57A9; background-position: 0 -120px; }
			.tdats .c4 { border-color: #1A588D; }
				.tdats #c4 { border-color: #1A588D; background-color: #1A588D; background-position: 0 -160px; }
			.tdats .c1 #c1, .tdats .c2 #c2, .tdats .c3 #c3, .tdats .c4 #c4 { line-height: 35px; }
		.ftb td { width: 12%; }
/** end **/


/** home::space,home::spacecp **/
/*
	Name:			mod_ct_vw
	Level:			Function
	Explain:		日志、好友列表页用到的两栏框架
	Last Modify:	Pony
*/
	.ct_vw {}
		.ct_vw_mn { float: left; width: 70%; }
		.ct_vw_sd { float: right; width: 28%; }

/*
	Name:			mod_buddy
	Level:			Function
	Explain:		好友列表
	Last Modify:	Pony
*/
	.buddy { margin: 0 -4px 10px -2px; }
		.buddy li { overflow: hidden; display: inline; float: left; margin: 10px 5px 0; padding: 10px 10px 10px 70px; width: 175px; height: 58px; border: 1px solid #F3F3F3; background: #F9F9F9; }
			.ct_vw_mn .buddy li { width: 190px; }
		.buddy h4 { overflow: hidden; height: 20px; }
		.buddy .avt { position: absolute; margin-left: -60px; }
		.buddy .maxh { overflow: hidden; height: 20px; }
		.buddy .note { color: green; }
		.addbuddy { padding-left: 20px; background: url({IMGDIR}/addbuddy.gif) no-repeat 0 50%; }

/*
	Name:			mod_buddy_group
	Level:			Function
	Explain:		好友分组
	Last Modify:	Pony
*/
	.buddy_group { margin-top: -5px; }
		.buddy_group li { overflow: hidden; padding: 5px 0; line-height: 20px; border-bottom: 1px dashed {COMMONBORDER}; }
			.buddy_group li.a { font-weight: 700; }
		.buddy_group .b, .buddy_group .o { float: right; width: 20px; height: 20px; overflow: hidden; line-height: 100px; background: url({IMGDIR}/op.png) no-repeat 0 -40px; }
			.buddy_group .b:hover { background-position: 0 -60px; }
		.buddy_group .o { background-position: 0 -80px; }
			.buddy_group .o:hover { background-position: 0 -100px; }

.ntc_body .summary { margin-left: 2em; padding-left: 10px; border-left: 1px solid {COMMONBORDER}; }
	.ntc_body .summary span { color: {LIGHTTEXT}; }

/* .pmform -> 短消息表单非弹窗 by Pony */
	.pmform {}
		.pmform .px { width: 408px; }
		.pmform .tedt { width: 416px; }

/*
	Name:			mod_user_selector
	Level:			Function
	Explain:		用户名提示选择效果
	Last Modify:	Pony 11061311
*/
	.un_selector { height: auto; cursor: text; overflow: hidden; }
		.un_selector input { width: 95px; height: 19px; border-width: 0; outline: none; }
			.ie6 .un_selector input, .ie7 .un_selector input { height: 17px; }
			.un_selector #subject { width: 408px; }
		.un_selector span { float: left; margin: 1px 2px 1px 0; width: 100px; height: 19px; line-height: 19px; background: #F7F6ED url({IMGDIR}/un_selector.png) no-repeat 0 0; color: {HIGHLIGHTLINK}; overflow: hidden; }
			.un_selector em { padding-left: 5px; width: 80px; }
			.un_selector .x { float: right; width: 15px; height: 19px; background: url({IMGDIR}/un_selector.png) no-repeat 100% -19px; text-indent: -9999px; overflow: hidden; }
				.un_selector .x:hover { background-position: 100% -38px; }
		a.appendmb, a.appendmb span { height: 25px; line-height: 25px !important; }
	/* 发短消息时根据输入显示出的用户名列表样式 */
	.pmfrndl { position: absolute; margin-top: 3px; padding: 4px; width: 120px; border: solid {DROPMENUBORDER}; border-width: 0 1px 1px; background: #FFF; }
		.ie6 .pmfrndl, .ie7 .pmfrndl { margin-top: 4px; }
		.pmfrndl li { display: inline; }
			.pmfrndl a { display: block; padding: 4px 2px; color: {HIGHLIGHTLINK}; }
				.pmfrndl a:hover { text-decoration: none; }
				.pmfrndl a.a { background: {SPECIALBG}; }
	#showSelectBox_menu { padding: 10px; width: 300px; white-space: nowrap; }
	#selBox { margin: 0 -10px 10px; padding-left: 10px; height: 110px; border: solid {COMMONBORDER}; border-width: 1px 0; overflow-y: auto; }
/** end **/


/** home::task **/
.pbg { position: relative; width: 80%; }
	.pbg .xs0 { position: absolute; top: 0; right: 8px; font-family: PMingLiU, sans-serif; }
/** end **/


/** home::magic,home::medal **/
/* .mgcl -> Magic list by lushnis */
	.mgcl li { float: left; width: 132px; height: 180px; text-align: center; }
		.mgcl .mg_img { margin: 0 auto 5px; }
			.pg_medal .mgcl img { margin-top: 20px; width: auto; height: auto; }

/* 勋章记录重定义 by Pony */
	.el li { padding-left: 40px; }
	.el .t { margin: -2px 0 0 -30px; }
		.el .t img { width: 24px; height: 24px; }
/** end **/



/* ------------------------------------------------------------------------ 门户相关样式 */



/* ------------------------------------------------------------------------ 漫游相关样式 */
/** userapp::userapp **/
/* 管理漫游应用 by Pony */
	.myset { margin-top: 15px; padding: 5px 0; background: url({IMGDIR}/vline.png) repeat-y 50% 0; }
		.mgapp { float: left; padding: 0 15px; width: 374px; }
		.apps { padding: 7px 0; height: 20px; line-height: 20px; border-bottom: 1px dashed #DDD; }
			.dragable { padding-left: 25px; background: url({IMGDIR}/drag.gif) no-repeat 2px 50%; cursor: move; }
			.dragable:hover { background-color: {COMMONBG}; }
		.apps img { vertical-align: middle; }
		.apps .y a { margin-right: 20px; }
	.note { padding: 0 15px; }
		.note li { margin-left: 20px; *margin-left: 25px; }

/* 应用首页应用列表定高 by Pony */
	.appmaxh .bm_c { height: 140px; }
	.apl li { margin: 5px 0; }

/* 应用列表中新应用和热门应用图标 by Pony */
	.appl li { position: relative; }
		.ie6 .appl li { width: 100%; }
		.appnew, .apphot { position: absolute; right: 0; width: 20px; height: 100%; background-color: {SIDEBGCOLOR}; background-repeat: no-repeat; background-position: 100% 50%; }
			.appnew { background-image: url({IMGDIR}/appnew.png); }
			.apphot { background-image: url({IMGDIR}/apphot.png); }
/** end **/


/** home::space,home::spacecp,userapp::userapp,forum::forumdisplay **/
/* 折叠按钮 by Pony */
	.unfold, .fold { float: right; padding-left: 10px; background: url({IMGDIR}/arrwd.gif) no-repeat 0 50%; cursor: pointer; outline: none; }
	.fold { background-image: url({IMGDIR}/arrow_top.gif); }
/** end **/



/* ------------------------------------------------------------------------ 搜索相关样式 */
/** search **/
a { color: #369; }
body { background: #FFF none !important; }
	#toptb { padding: 0 15px; border-bottom: 1px solid #EFEFEF; }
#ct { margin: 0 20px; }
#scform { margin: 10px 0;}
	#scform h1 { margin-right: 20px; }
	#scform_tb a { float: left; display: inline; margin: 0 15px 0 3px; height: 26px; line-height: 26px; }
		#scform_tb .y a { margin: 0 3px 0 15px; }
		#scform_tb .a  { background: url({IMGDIR}/searchbar.png) no-repeat 50% 100%; color: #333; font-weight: 700; }
	#scform_form { background: url({IMGDIR}/searchbar.png) repeat-x 0 0; }
		.td_srchtxt { background: url({IMGDIR}/searchbar.png) no-repeat 0 -35px; }
		.td_srchbtn { background: url({IMGDIR}/searchbar.png) no-repeat 0 -70px; }
		#scform_srchtxt { padding: 0 10px; width: 460px; background: transparent; outline: none; }
		#scform_submit { width: 107px; opacity: 0; filter: alpha(opacity=0); cursor: pointer; }
		#scform_srchtxt, #scform_submit { height: 35px; border: none; }
			.ie_all #scform_srchtxt { height: 33px; line-height: 33px; }
	.sttl { margin: 10px 0; padding: 5px; border-bottom: 1px solid #CCC; background: #F5F5F5; }
	.slst { width: 760px; }
		.slst a { color: #00C; text-decoration: underline; font-weight: 400; }
		.slst a:visited { color: purple; }
			.slst a strong { font-weight: 400; }
			.slst p span { color: #3A8000; }
				.slst p span a, .slst p span a:visited { color: #666; }
		.pbw strong { font-weight: 400; }
			.pbw p { color: #000; }
		.p_pop span { display: none; }
#ft { margin: 20px; text-align: center; }
.pg { float: none; }
#myspace_menu li a, #navs_menu li a { background-repeat: no-repeat; background-position: -200px 0; }
/** end **/



/* ------------------------------------------------------------------------ 排行榜相关样式 */
/** misc::ranklist **/
.rankicn { width: 20px; }

/* .rnk1 每行一个区块 */
.rnk1 {}
	.rnk1 .mlp .d { width: 120px; height: 120px; }
	.rnk1 .mlp img { max-width: 100px; max-height: 75px; }
		.ie6 .rnk1 .mlp img { width: expression(this.width > 100 && this.width>=this.height ? 100 : true); height: expression(this.height > 75 && this.width<=this.height ? 75 : true); }
	.rnk1 .mlp .bigpic { width: 295px; height: 240px; }
		.rnk1 .bigpic img { max-width: 286px; max-height: 200px; }
			.ie6 .rnk1 .bigpic img { width: expression(this.width > 286 && this.width>=this.height ? 286 : true); height: expression(this.height > 200 && this.width<=this.height ? 200 : true); }

/* 图片排名上的序号 */
.picrank { position: absolute; margin: 14px 0 0 8px !important; }

/* 竞价排名 by Pony */
.bid { margin: 2px -4px -2px 2px; zoom: 1; }
.biduser { width: 780px; background: url({IMGDIR}/avatar_blank.gif); }
	.biduser li { float: left; margin: 0 4px 4px 0; }
	.biduser a { display: block; }
		.biduser img { width: 48px; height: 48px; }
	.bidtop { overflow: hidden; width: 100px; height: 100px; background-color: {COMMONBG}; }
		.bidtop img { width: auto; height: 100px; }


/* 重定义 */
.xl2 { background: url({IMGDIR}/vline.png) repeat-y 50% 0; }
	.xl2 li { margin-right: 20px; width: 378px; }
		.xl2 li.xl2_r { margin-right: 0; }

.hasrank dl { padding-left: 110px; }
	.ranknum { position: absolute; margin: 8px 0 0 -100px; }

.el .t {  }
.pll li { padding-left: 20px; }

.acl td { border-top: none; border-bottom: 1px dashed {COMMONBORDER}; }
/** end **/



/* ------------------------------------------------------------------------ 统计相关样式 */
/** misc::stat **/
.dt a { color: {HIGHLIGHTLINK}; }
.dt th, .dt td { border-right: 1px solid {COMMONBORDER}; }
.dt .stat_subject { border-right: none; }
.dt .stat_num { padding-right: 15px; text-align: right; }
.pbg { float: left; width: 372px; }
.bm_h { padding-left: 0; background: none; border: none; }
/* 重定义 tab 标签样式 by Pony 11081614 */
.ttp .a a { padding-left: 8px; padding-right: 8px; }
.ttp li.xw1 { font-weight: 400; }
/** end **/


/** forum::collection,forum::viewthread **/
.clct_list .xld { float: left; margin-bottom: 5px; width: 49.9%; height: 105px; overflow: hidden; }
	.clct_list .xld .m, .clct_list .xld .m a { width: 55px; height: 50px; overflow: hidden; cursor: pointer; }
		.clct_list .xld .m { background: url({IMGDIR}/hotspot.gif) no-repeat 100% 0; }
		.clct_list .xld .m a:hover { text-decoration: none; }
		.clct_list .xld .m strong { display: block; height: 32px; line-height: 32px; }
		.clct_list .xld .m span { display: block; color: #FFF; }
.clct_flw { float: right; margin-top: 5px; height: 25px; line-height: 25px; line-height: 25px; overflow: hidden; }
.clct_flw i { float: right; width: 42px; text-align: center; background: url({IMGDIR}/pdbt.gif) no-repeat 0 0; color: #FFF; font-style: normal; }
	.clct_flw .u { width: 66px; background-position: 0 -125px; }
.clct_flw strong { float: right; padding: 0 20px; background: url({IMGDIR}/pdbt.gif) no-repeat 100% -25px; }
.clct_flw a { color: #FFF; }
.clct_ratestar { float: left; width: 80px; height:  24px; background: url({IMGDIR}/fav_grey.gif) repeat-x 0 0; }
	.clct_ratestar .btn { position: absolute; width: 80px; height:  24px; z-index: 2; }
	.clct_ratestar a { float: left; width: 16px; height: 20px; text-indent: -9999px; overflow: hidden; }
	.clct_ratestar .star { position: absolute; width: 0; height:  24px; background: url({IMGDIR}/fav.gif) repeat-x 0 0; z-index: 1; }
		.clct_ratestar .star1 { width: 16px; }
		.clct_ratestar .star2 { width: 32px; }
		.clct_ratestar .star3 { width: 48px; }
		.clct_ratestar .star4 { width: 64px; }
		.clct_ratestar .star5 { width: 80px; }
.tbmu { padding-left: 10px; line-height: 23px; }
/*
	Name:			mod_collection_tag
	Level:			Function
	Sample:			<span class="ctag ctag0">tag</span>
	Explain:		淘帖标签样式，从 0 到 2，颜色越来越不醒目
	Last Modify:	Pony 2012022311
*/
.ctag { padding: 1px 3px; font-weight: 400; border-radius: 3px; }
	.ctag0 { background:#F6C5BE; color: #822111; }
	.ctag1 { background:#FEF1D1; color: #AA8831; }
	.ctag2 { background:#EEE; color: #666; }
/** end **/


/** home::follow **/
/* 广播头像通用样式 */
.flw_avt { width: 80px; }
	.flw_avt img { float: left; margin-left: 15px; width: 48px; }
/* 广播区域样式 */
.flw_article { margin: 0 0 10px 70px; padding: 5px 10px 15px; border-bottom: 1px solid #DBDBDB; }
	.flw_thread .flw_article { margin-left: 0; }
	.flw_article h2 { font-size: 16px; }
		.flw_article h2 img { vertical-align: middle; }
	.flw_reply { margin-left: 20px; }
.flw_author, .flw_author a { color: #79869E; }
.flw_article .c { font-size: 14px; line-height: 1.8; }
	.flw_article .c img { display: block; margin: 10px 0; max-width: 600px; }
		.ie6 .flw_article .c img { width: expression(this.width > 600 ? 600 : true); }
	.flw_article .c .s { display: inline; margin: 0; }
	.unread .flw_article { background-color: #FEFEEE; }
		.unread .flw_article h2 a { color: {HIGHLIGHTLINK}; font-weight: 700; }
.flw_image { margin-bottom: 10px; max-height: 400px; zoom: 1; overflow: hidden; }
	.flw_image li { float: left; width: 120px; max-height: 400px; background: #FFF; }
		.flw_image li img { margin: 0 !important; width: 120px; max-height: 400px; }
	.flw_image_1 { float: left; margin: 0 15px 10px 0; }
		.flw_image_1 img { margin: 0 !important; }
.flw_attach { margin-top: 10px; clear: both; }
	.flw_attach li { width: 300px; margin-bottom: 5px; height: 31px; line-height: 31px; font-size: 12px; border: 1px solid #DBDBDB; border-radius: 3px; background: url({IMGDIR}/flw_attach_bg.png) repeat-x 0 -31px; box-shadow: 0 1px 0 #FFF; }
		.flw_attach a { display: block; padding: 0 10px 0 32px; height: 31px; background: url({IMGDIR}/flw_attach_bg.png) no-repeat 10px 8px; color: #369; }
			.flw_attach a.flw_attach_price { background-image: url({IMGDIR}/viewpay.gif); }
			.flw_attach a:hover { text-decoration: none; background-color: #EDF1F4; }
			.flw_attach strong { float: left; width: 160px; font-weight: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
			.flw_attach span { float: right; width: 90px; color: #999; text-align: right; overflow: hidden; }
.flw_video, .flw_music { margin: 10px 0; }
	.flw_article .flw_video img { display: inline; }
.flw_quote { margin-left: 10px; padding-left: 15px; border-left: 3px solid #B1CCD8; }
.flw_readfull { padding: 3px 5px; border: 1px solid #DDD; border-radius: 3px; background: #FFF; }
	.flw_readfull:hover { border-color: #9EB4C2; text-decoration: none; }
.flw_delete { visibility: hidden; float: right; width: 20px; height: 20px; background: url({IMGDIR}/cls.gif) no-repeat 0 0; text-indent: -9999px; overflow: hidden; }
	.ie8 .flw_delete { position: relative; z-index: 1; }
	.flw_delete:hover { background-position: 0 100%; }
	.flw_feed_hover .flw_delete { visibility: visible; }
.flw_loading { margin: 0 0 10px 80px; padding: 10px; box-shadow: 0 1px 0 rgba(0,0,0,0.05); border: 1px solid #DBDBDB; border-radius: 4px; background: #F4F7F9; }
.flw_more { margin: 0 0 10px 80px; }
	.flw_more a { display: block; padding: 10px; box-shadow: 0 1px 0 rgba(0,0,0,0.05); border: 1px solid #DBDBDB; border-radius: 4px; background: #F4F7F9; text-align: center; }
		.flw_more a:hover { border-color: #9EB4C2; text-decoration: none; }

/* 收听按钮通用样式 */
.flw_btn_fo, .flw_btn_unfo { float: right; width: 70px; height: 21px; background: url({IMGDIR}/flw_btn_s.png) no-repeat 0 0; text-indent: -9999px; overflow: hidden; }
	.flw_btn_unfo { background-image: url({IMGDIR}/flw_btn_unfo_s.png); }
	.ie6 .flw_btn_fo, .ie7 .flw_btn_fo { position: relative; z-index: 1; }
	.flw_uheader .flw_btn_fo, .flw_uheader .flw_btn_unfo, .flw_hd .flw_btn_fo, .flw_hd .flw_btn_unfo { float: left; }

/* 发广播 */
#flw_header { padding: 10px; }
#flw_post_subject { width: 628px; height: 30px; line-height: 30px; border: 1px solid #9EB4C2; border-radius: 4px; background: #FFF url({IMGDIR}/input_shadow.png) repeat-x 0 0; }
#flw_header #subject { margin: 5px; width: 580px; height: 20px; border: none; outline: none; background: transparent; line-height: 20px; }
#flw_checklen { padding-right: 10px; }
#flw_post_extra { width: 629px; }
	#flw_post_extra .sec { padding: 8px 15px; border: 1px solid #EFEFEF; background: #F9FBFC; border-radius: 4px; }
.tedt { width: auto; border: 1px solid #9EB4C2; border-radius: 4px; overflow: hidden; }
#flw_header .bar { padding-left: 10px; border-top: 1px solid #EFEFEF; border-bottom: none; background: #F9FBFC; border-radius: 0 0 4px 4px; }
#flw_header .area { background: #FFF url({IMGDIR}/input_shadow.png) repeat-x 0 0; border-radius: 4px 4px 0 0; }
	#flw_header .area .pt { height: 4em; }
#flw_header .ftid { margin-left: 5px; }
#fastpostsubmit { margin-right: 0; width: 77px; height: 33px; border: none; background: transparent url({IMGDIR}/flw_post.png) no-repeat 0 0; text-indent: -9999px; }
#flw_header .tb { padding-left: 0; height: 32px; border-bottom: none; line-height: 32px; }
	#flw_header .tb a { padding: 0 15px; border: none; background: transparent none; color: #369; }
		#flw_header .tb .a a { box-shadow: 0 -1px 0 rgba(0,0,0,0.15); border-radius: 4px 4px 0 0; background: #FFF; color: #333; }

.flw_tab { padding-top: 0; border-bottom: none; }

.sd { border-radius: 5px; background: #F4F7F9; }

/* 侧边和主区域头像及统计信息 */
#flw_avt { padding: 20px; }
	#flw_avt img { margin: 0 auto 10px; border: 6px solid #FFF; }
		.sd #flw_avt img { display: block; }

	.flw_user_info { margin: 10px 0; padding: 10px; box-shadow: 0 1px 0 #FFF, 0 -1px 0 #D7DBDF; border-radius: 5px; background: #E9EEF2; }
		.flw_linktohome { padding: 2px 0 2px 20px; background: url({IMGDIR}/homelink.gif) no-repeat 0 2px; }
	/* 主区域头像 */
	.flw_uheader { padding-right: 0; padding-left: 0; }

		.flw_stat_mn { margin-left: 20px; width: 490px; }
.pg_follow .sd .bm { border-width: 1px 0 0; border-color: #E8EAEB; background: transparent; }
	.pg_follow .sd .bm_h { padding-left: 20px; border-width: 1px 0 0; border-color: #FFF; background: transparent; }

/* 用户单页顶部 */
#flw_header.flw_uheader { padding-top: 20px; border-bottom: 1px solid rgba(0,0,0,0.15); background: #F4F7F9 none !important; }
	.flw_uheader .tb { margin-bottom: -1px; }
	.flw_uheader h1 { font-size: 16px; }
	.flw_uheader .tns { margin-left: -10px; padding: 0; width: 240px; }
		.flw_uheader .tns th, .flw_uheader .tns td { padding-left: 10px; text-align: left; }
	.flw_uheader .o { line-height: 21px; }
	.flw_status_1, .flw_status_2 { padding: 0 10px 0 20px; background: url({IMGDIR}/flw_statusico.png) no-repeat 0 4px; }
		.flw_status_2 { background-position: 0 -35px; }
.flw_specialfo, .flw_specialunfo { float: right; margin-right: 9px; width: 14px; height: 21px; background: url({IMGDIR}/flw_btn_specialfo.png) no-repeat 0 4px; text-indent: -9999px; overflow: hidden; }
	.flw_specialunfo { background-position: 0 -26px; }
	#specialflag_2_menu { width: 80px; }
	.flw_uheader .flw_linktohome { padding: 0 0 0 20px; background-position: 0 3px; }

/* 回复区域 */
.flw_replybox { margin: -11px 0 20px 70px; padding: 15px 20px; box-shadow: 0 1px 0 rgba(0,0,0,0.05); border: 1px solid #DBDBDB; background: #E9EEF1; }
	.flw_replybox li { padding: 10px 80px 10px 0; border-top: 1px solid #DBE2E6; }
		.flw_replybox li .d { margin-right: 10px; }
	.flw_replybox .px, .flw_autopt { border: 1px solid #CCDBE5; border-radius: 4px; background: #FFF url({IMGDIR}/input_shadow.png) repeat-x 0 0; }
		.flw_autopt { display: inline-block; vertical-align: top; margin: 0 5px 0 0; padding: 5px; width: 420px; }
			td.flw_autopt { margin-right: 0; }
			.flw_autopt .pts { padding: 0; width: 100%; height: 19px; min-height: 19px; border: 0; }
			.ie8 .flw_autopt .pts, .ie9 .flw_autopt .pts { min-height: 21px; }
	.flw_replybox .pnc { width: 77px; height: 33px; border: none; background: transparent url({IMGDIR}/pn_reply.png) no-repeat 0 0; }
		.flw_replybox .pnc span { line-height: 99px; }
		.flw_replybox td table .pnc { background-image: url({IMGDIR}/pn_rt.png); }
	/* 回复并转播选项 */
	.flw_rert { display: inline-block; padding-right: 5px; width: 95px; text-align: right; }
	.flw_replybox .cnr { position: relative; float: right; overflow: hidden; display: inline; margin: -22px 16px 0 0; width: 11px; height: 7px; background: transparent url({IMGDIR}/flw_cnr_t.png) no-repeat 0 0; }

/* 侧边切换 */
#flw_side_tab { margin: 10px 0; }
	#flw_side_tab li { line-height: 32px; }
	#flw_side_tab a { display: block; height: 32px; padding-left: 20px; background: url({IMGDIR}/flw_side_tab.png) repeat-x 0 0; }
		#flw_side_tab li.a a { background-position: 0 -32px; }
		#flw_side_tab a img { float: left; margin: 8px 10px 0 0; }

/* 侧边用户列表 */
.flw_side_promote {  }
	.flw_side_promote .xlda dl { margin-bottom: 8px; }
	.flw_side_promote .xlda .m { margin: 0 0 8px -55px; }
	.flw_side_promote .xlda dt { padding-top: 0; }
	.flw_side_promote .flw_btn_fo { float: left; }

/* 类似听众页面的用户列表 */
.flw_ulist {}
	.flw_ulist li { padding: 10px 0 10px 100px; border-bottom: 1px solid #DBDBDB; }
	.flw_ulist .flw_avt { float: left; margin: 0 0 0 -80px; }

.my_flw_stats { width: 120px; }
	.my_flw_stats li { margin-bottom: 7px; padding-bottom: 7px; border-bottom: 1px solid {COMMONBORDER}; }
		.my_flw_stats .xg1 { padding-right: 10px; }

.ie6 .tb .a { position: static; }
#flw_bar .fpd { position: relative; zoom: 1; }
.ie6 #flw_bar object { position: absolute; }

/*
	Name:			mod_follow_flashupload
	Level:			Global
	Explain:		重定义 follow 页面的 Flash 上传时的处理界面，结构参见 /static/js/fileprogress.js
	Last Modify:	Pony 2012022813
*/
.progressWrapper { overflow: hidden; float: left; width: auto; }
	.progressWrapper table { float: left; margin: 5px 1px 0 0; width: 209px; border:  1px solid #C3DCEA; border-radius: 4px; background: #FFF; }
	.progressWrapper td { border-radius: 4px; }
.attswf p { padding-left: 5px; width: 170px; height: 26px; line-height: 26px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.attswf p img { width: 16px; height: 16px; }
.attc { padding-top: 3px; width: 20px; }
	.attc .d { background-position-y: 0 !important; }

.progressContainer { overflow: hidden; margin: 5px 0 0; width: 620px; border: 1px dashed #9EB4C2; background-color: transparent; }
.red { border: none; background-color: transparent; color: red; }
/** end **/