                    <div id="left_col" style="width:620px; float:left; margin:10px 0px 0px 0px; padding:0px; display:inline; background:#fff;">
                        <h2 style="font-size: 24px; color: #f33408; margin-left: 20px;">{$lang193}</h2>
                        <div id="processPage">
                        <div id="columnLeft" style="margin-bottom: 30px;">

                                {if $msg ne ""}
                                <div id="" class="error " style="">*** {$msg} ***</div>
                                {/if}

                        </div>
                    </div>
                    </div>
                    <div id="right_col" style="position:relative; display:inline; float:right; width:328px; margin:10px 0px 50px 0px;">
                        <div id="ads">
                            <div class="adtext">{$lang76}</div>
                            {insert name=get_advertisement AID=1}
                        </div>
                    </div>

                </div>
            </div>