<form name="frmdel" action="?do=services&act=delselect" method="post" style="margin:0px;">
<table align="center" width="100%" border="1" cellpadding="4" cellspacing="0" class="border1">    
	<tr>
		<th width="10" align="center" class="style2">
		<input type="checkbox" name="checkall" id="checkall" title="Select or deselect all items" onClick="checkAll(this)" value="checkall">
		</th>
		<th class="style2">Thông tin</th>
    <th class="style2">Link</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="16">&nbsp;</th>
		<th width="80" class="style2">Hành động</th>		
	</tr>
<? 
if ($services) {
for ($i=0;$i<count($services);$i++) {
?> 
  <tr<? if ($services[$i]["menu"]) echo "  bgcolor='#DCDCDC'"; ?>>
		<td align="center"><input type="checkbox" name="checkid[]" onClick="checkboxClicked(this.form)" value="<?=$services[$i]['id']?>" /></td>		
		<td><a href="?do=services&act=edit&id=<?=$services[$i]['id']?>"><?=stripslashes($services[$i]["title_vn"])?></a></td>
    <td>?do=services&id=<?=$services[$i]['id']?></td>
		<td align="center">
		<? if ($i>0) { ?>
			<a href="?do=services&act=move&id1=<?=$services[$i]['id']?>&pos1=<?=$services[$i-1]['order']?>&id2=<?=$services[$i-1]['id']?>&pos2=<?=$services[$i]['order']?>"><img src="images/up.gif" border="0"/></a>
		<? } ?>
		</td>
		<td align="center">
		<? if ($i<count($services)-1) { ?>
			<a href="?do=services&act=move&id1=<?=$services[$i]['id']?>&pos1=<?=$services[$i+1]['order']?>&id2=<?=$services[$i+1]['id']?>&pos2=<?=$services[$i]['order']?>"><img src="images/down.gif" border="0"/></a>
		<? } ?>
		</td>			
		<td align="center">
			<a href="?do=services&act=edit&id=<?=$services[$i]['id']?>" class="link_admin">Cập nhật</a> | <a href="?do=services&act=del&id=<?=$services[$i]['id']?>" onClick="return check();" class="link_admin">Xóa</a>
		</td>
  </tr>
<? } } ?>
	<tr>
		<td colspan="6"><input type="submit" value="Xóa các thông tin được chọn" class="button" onClick="return check();" style="width:200px;"/></td>
 	</tr>
</table>
</form>