<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="style3">	
			Dịch vụ &rsaquo;&rsaquo; <a href="?do=services" class="link_admin"><b>Danh sách</b></a> | <a href="?do=services&act=add" class="link_admin"><b>Thêm mới</b></a>
		</td>
	</tr>
	<tr>
		<td class="line"></td>
	</tr>	
</table>
<br />