@charset "utf-8";
/* CSS Document */
.lof-slidecontent{
	position:relative;
	overflow:hidden;
	border:#F4F4F4 solid 1px;
	width:620px;
	height:240px;
	font-size:12px;
}

.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center;
}

.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	background:transparent url(../images/yahoo/load-indicator.gif) no-repeat scroll 50% 50%;
}

.lof-main-outer{
	position:relative;
	height:100%;
	width:395px;
	z-index:3px;
	overflow:hidden;
}

/*******************************************************/
.lof-main-item-desc{
	z-index:100px;
	position:absolute;
	top:170px;
	left:8px;
	width:380px;
	background:url(../images/yahoo/transparent_bg.png);

	/* filter:0.7(opacity:60) */
}

.lof-main-item-desc p{
	color:#FFF;
	margin:0 8px;
	padding:8px 0
}

.lof-main-item-desc h3 a{
	color:#FFF;	
	margin:0;
	font-size: 12px;
	padding:10px 8px 2px;
	font-family:Arial,Verdana,sans-serif;
}

.lof-main-item-desc h3 a:hover{
	color:#FF6;
	text-decoration:none;
}


/* main flash */
ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
	background:transparent url(../images/yahoo/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	margin:0;
	height:240px;
	width:600px;
	position:absolute;
	overflow:hidden;
}

ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	height:100%;
	width:600px;
	float:left;
}

.lof-opacity  li{
	position:absolute;
	top:0;
	left:0;
	float:inherit;
}

ul.lof-main-wapper li img{
	padding:0px;	
	width:400px;
	min-width:400px;
	width: expression(this.width &gt; 460 ? 460: true);
	min-height:240px;
	height: expression(this.height &gt; 320 ? 320: true);
	max-width:400px;
	width: expression(this.width &gt; 460 ? 460: true);
	max-height:240px;
	height: expression(this.height &gt; 320 ? 320: true);
}

li-desc{
	z-index:100px;
	position:absolute;
	top:150px;
	left:50px;
	width:400px;
	background:url(../images/yahoo/transparent_bg.png);
	/* filter:0.7(opacity:60) */
}

li-desc p{
	color:#FFF;
	margin:0 8px;
	padding:8px 0
}

li-desc h3 a{
	color:#FFF;	
	margin:0;
	font-size:140%;
	padding:20px 8px 2px 5px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
}

li-desc h3 a:hover{
	color:#FF6;
	text-decoration:underline;
}

/* item navigator */
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}

ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

.lof-navigator-outer{
	position:absolute;
	right:0;
	top:0px;
	z-index:100;
	height:300px;
	width:310px;
	overflow:hidden;
	color:#FFF
}

.lof-navigator li.active{
	background:url(../images/yahoo/arrow-bg.png) no-repeat scroll left center; 
	color:#FFF;
	position:relative;
	z-index: 10000;
}

.lof-navigator li:hover{
	
}

.lof-navigator li h3{
	color:#FFF;
	font-size:100%;
	padding:8px 0 0 5px !important;
	margin:0;

}

.lof-navigator li div{
	background:url(../images/yahoo/transparent_bg.png);
	color:#FFF;
	height:100%;
	position:relative;
	margin-left:15px;
	padding-left:15px;
	border-top:1px solid #E1E1E1;
}

.lof-navigator li.active div{
	background:url(../images/yahoo/grad-bg.gif);
	color:#FFF;
}
.lof-navigator li img{
	height:50px;
	width:60px;
	margin:10px 10px 10px 0px;
	float:left;
	padding:3px;
	border:#C5C5C5 solid 1px;
}

.lof-navigator li.active img{
	border:##6C8E5C  solid 1px;
}

.lof-navigator li.active h3{
	color:#FFF;
}