#jv-slide-frame {
	margin: 0px;
	padding: 0px;
	padding-left: 13px;
	width: 48%;
	float: left;
	overflow: hidden;
	position: relative;
}
.jv-headline-news {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	overflow: hidden;
}

.jv-headline-news .buttons{
	text-align:center;
	clear:both;
}
.jv-headline-news .mask1{
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	width: 50%;
	overflow: hidden;
	background: none;
}

#titledirect {
	margin: 0px;
	padding: 0px;
	width: 300px;
	float: right;
	background: url(../images/bg_slide_news.jpg) no-repeat bottom left !important;
}
#titledirect ul {
	margin: 0px;
	padding: 0px;
}
#titledirect li {
	margin: 0px;
	padding: 7px 5px 7px 30px;
	color: #6E6E6E;
	background: url(../images/arrow_slide.gif) no-repeat 15px 10px;
}
#titledirect li.active {
	color: #2A5B9E;
	background: url(../images/arrow_slide_acitve.gif) no-repeat 15px 10px #ffffff;
}
.sliderwrapper {
	position: relative; /*leave as is*/
	overflow: hidden; /*leave as is*/
	width: 295px;
	height: 360px;
}

.sliderwrapper .contentdiv {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #FFF;
	width: 295px;
	height: 360px;
}

.sliderwrapper .contentdiv h2 {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma;
	font-size: 150%;
	font-weight: 100;
	color: #2A5B9E;
}
.sliderwrapper .contentdiv a.readone {
	padding-right: 15px;
	color: #E60000;
	background: url(../images/DetailR.jpg) no-repeat bottom right;
}
.sliderwrapper .contentdiv p {
	clear: both !important;
}
.jv-headline-pagination{
	margin: 0px;
	padding: 0px;
	width: 300px;
	float: right;
	overflow: hidden;
	background: url(../images/bg_slide_news.jpg) no-repeat top left !important;
}
.jv-headline-pagination ul {
	margin: 0px;
	padding: 0px;
	background: none;
	list-style: none;
}
.jv-headline-pagination li {
	margin: 0px;
	padding: 0px;
	background: none;
}
.jv-headline-pagination a.toc {
	display: block;
	margin: 0px;
	padding: 0px;
	background: none;
	cursor: pointer;
}
.jv-headline-pagination a.toc span {
	display: block;
	margin: 0px;
	padding: 7px 5px 7px 30px;
	color: #6E6E6E;
	background: url(../images/arrow_slide.gif) no-repeat 15px 10px !important;
}

.jv-headline-pagination a.toc:hover span,
.jv-headline-pagination a.selected span{
	display: block;
	margin: 0px;
	padding: 7px 5px 7px 30px;
	color: #2A5B9E;
	background: url(../images/arrow_slide_acitve.gif) no-repeat 15px 10px #FFF !important;
}
.jv-headline-pagination a.toc:active,
.jv-headline-pagination a.toc:active span {
	background: none;
}