div.jv_lagoheadline_wrap {
	width: 100%;
	overflow: hidden;
}
.jv_lagoheadline_wrap div.jv-maskslide{
	float:left;	
	overflow:hidden;
}
.jv_lagoheadline_wrap div.jv-pagislide{
	float:left;
	margin-left:10px;
	background: #3D3D3D  url(../images/bg-gradient-black.jpg) repeat-x center bottom;
	overflow:hidden;
}
.jv_lagoheadline_wrap .slideitem {
	margin: 10px 0;
	padding: 5px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	background: #343434 none repeat;	
}

.jv_lagoheadline_wrap div.slideitem img{	
	float:left;
	margin:0 10px 0 0;
}
.jv_lagoheadline_wrap .slideitem .slidetitle{
	font-size:120%;
	color:#FFFFFF;
	margin:0;
	padding:0;
	display:block;
	font-weight:bold;
	text-transform:uppercase;
}
.jv_lagoheadline_wrap .slideitem .slideextra {
	display: block;
	color: #97ce00;
}
.slideitem .slidedes {
	color:#FFFFFF;
	display:block;
	margin:0;
}
.slide_outer .slide{
	overflow:hidden;
	position:absolute;
}
.slide_outer .slide .slide_inner{	
	margin:0;
	overflow:hidden;
	height:100%;
	color:#FFFFFF;
	background:#141414 none repeat;	
}
.slide_outer .slide_inner .jv_vheadline_intro{
	background:url(../images/transparent_bg.png);
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
	right:0;
}
.slide_outer .slide_inner .jv_vheadline_intro .slidetext{
	margin:0;
	padding:4px 12px;
}
.slidetext h1.slide_title{
	font-size:20px;
	line-height:20px;
	margin:0;
	padding:0;
	color:#FFFFFF;
}
.slidetext h1.slide_title a{
	color:#FFFFFF;
	font-size:20px;
	margin:0;
	padding:0;
}
.slidetext p{
	color:#FFFFFF;
	margin:4px 0;
	padding:0;
}
.jv_lagoheadline_wrap .slideactive{
	background: #5a5a5a;
}
.jv_lagoheadline_wrap .slideactive1{
	background: #5a5a5a;
}
a.smooth_link{
    color:#FFFFFF !important;
}