@charset "utf-8";
div {
    padding: 9px 10px;
}
a {
    color: #0000CC;
    text-decoration: none;
}

body {
    font:80% Arial;
    background: #ebebeb;
    margin:0 auto;
    text-align:left;
    max-width:550px;
    border: 1px solid #999;
    color: #000;
}

form, input, textarea, select {
  font: 13px Trebuchet MS, Tahoma;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0 0 2px 0;
}

hr {
  border: 0;
  border-top: 1px dotted #E1E1E1;
  margin: 5px 0;
}

input, textarea, select {
  background: #fff;
  border: 1px solid #d8d8d8;
  color: #686868;
  padding: 3px;
  margin: 1px 0;
}

input[type="file"] {
  margin: 2px 0;
}

input[type="submit"] {
  background: url(images/input.gif) repeat-x bottom #fefefe;
  padding: 3px 8px;
}

textarea {
  width: 99%;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.alarm {
  background: #E61313;
  margin: 0 0 2px 0;
  color: #fff;
  font-weight: bold;
  padding: 3px 0 3px 4px;
}

.bblist {
  color: #4A5663;
  background: transparent url(../../images/dot.gif) no-repeat left;
  padding: 2px 0 2px 10px;
}

.bmenu, .phdr {
    background: #EBF3FE url(images/phdr.gif) bottom repeat-x;
    margin: 0;
    color: #70b3fe;
}

.bmenu a, .phdr a {
    color: #70b3fe;
    font-weight: bold;
}
.copy {
  border-top: 1px solid #c2c2c2;
  text-align: center;
  color: #3f5864;
  padding: 3px 1px 1px 1px;
  margin: 1px 0;
}

.copy a {
  color: #2688B3;
}

.end {
    text-align: center;
    padding: 1px;
    font-size: xx-small;
}

p, .list1, .list2, .menu, .footer, .fmenu, .topmenu, .gmenu {
    background: #f5f5f5 url(images/gr.gif) repeat-x bottom;
    border-bottom: 1px solid #b3b3b3;
    margin: 0;
}
.footer {
    text-align: center;
}
.footer a {
    color: #555;
}

.func {
  border-left: 4px solid #2FB0D0;
  color: #757575;
  font-size: 10px;
  padding: 0 0 0 4px;
}

.gray {
  color: gray;
}

.green {
  color: green;
}

.header {
  background: url(images/footer.gif) repeat-x top #c0c0c0;
  border-bottom: 2px solid #cbcbcb;
  color: #8b8b8b;
  border-top: 2px solid #FFFFFF;
}

.header b {
  color: #45aad0;
}

.left {
  float: left;
}

.logo {
    background: #F5F5F5;
    padding: 7px 10px;
}

.maintxt {
    background: #fff;
    color: #989898;
    padding: 0;
}

.news {
  background-color: #EEEEEE;
  border: 1px solid white;
  color: #333333;
  font-size: x-small;
  padding: 3px 4px 4px 4px;
}

.phpcode {
  background-color: #E0E6E9;
  border: 1px dotted #9FAEBB;
  margin-top: 4px;
  padding: 0 2px 0 2px;
  overflow: auto;
}

.quote {
  border-left: 4px solid #c0c0c0;
  color: #878787;
  font-size: x-small;
  padding: 2px 0 2px 4px;
}

.red, .red a {
  color: #f00;
}

.reply {
  border-left: 4px solid red;
  color: #f00;
  padding: 2px 0 2px 4px;
}

.rmenu {
  background: #F5E9EB;
  border: 1px solid #E2C0C7;
  margin: 1px 0;
  padding: 4px;
}

.rmenu input, .rmenu textarea, .rmenu select {
  border: 1px solid #E2C0C7;
}

.sitemap {
  background-color: #f0f0f0;
  margin: 0;
  padding: 2px 4px 3px 4px;
  font-size: xx-small;
  height: 38px;
  overflow: auto;
}

.status {
  color: #CD853F;
  font-weight: bold;
}

.sub {
  border-top: 1px dotted #c6c17f;
  font-size: x-small;
  margin-top: 4px;
}

.tmn {
    background: #677fb3;
    color: #beb39c;
    padding: 9px 4px;
    text-align: right;
}
.tmn a {
    color: #fff;
}

.user {
    background: #edeff4;
}

.rmenu input:focus, .rmenu textarea:focus {
  border: 1px solid #DBB0B9;
  background: #FDFBFB;
}

.tmn a:hover, .fmenu a:hover {
  text-decoration: underline;
}

a:hover {
    color: #f80000;
    text-decoration: underline;
}

input:focus, textarea:focus {
  background: #F4F4F4;
  border: 1px solid #BCBCBC;
}

.currentpage {
    background-color: #edebeb;
    border: 1px solid #cccccc;
    padding: 0 5px 0 5px;
}

a.pagenav {
    border: 1px solid #c0c0d5;
    padding: 0 3px 0 3px;
    text-decoration: none;
}

a.pagenav:hover {
    background-color: #f7f7f7;
    border: 1px solid #dedede;
}
img {
    vertical-align: middle;
}