a:link, a:visited {
color : #Ff0000;
text-decoration : none;
}
a:hover {
color : #C0c0c0;
text-decoration : none;
}
input, textarea, select {
col
or : #6d6d6d;
background-color : #101010;
border : 1px solid #363636;
}
input:hover, textarea:hover, select:hover {
color : #004000;
background-color : #202520;
border : 1px solid #434343;
}
input:focus, textarea:focus, select:focus {
color : #Ff0000;
background-color : #1c2900;
border : 1px solid #385400;
}
body {
color : #787878;
font-size : 11px;
background-color : #000;
font-family : Tahoma;
margin : 0;
padding : 0;
}
form {
font-size : small;
margin : 0;
padding : 0;
}
h3 {
margin : 0;
padding : 0;
padding-bottom : 2px;
}
hr {
margin-top : 2px;
margin-bottom : 2px;
border-top : 1px solid #434343;
border-right-style : none;
border-right-width : 0;
border-bottom-style : none;
border-bottom-width : 0;
border-left-style : none;
border-left-width : 0;
}
p {
margin-top : 6px;
margin-bottom : 6px;
}
ul {
margin : 0;
padding-left : 20px;
}
.bmenu, .phdr, .hdr {
color : #0084b5;
background-color : #000406;
background-image : url(images/bmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #005064;
}
.bmenu a {
color : #0084b5;
border-bottom : 1px dotted #004354;
}
.bmenu a:hover {
color : #Efefef;
border-bottom : 1px dotted #006882;
}
.clip {
color : #459bb1;
border : 1px solid #3f3f3f;
font-size : x-small;
background-color : #292929;
padding : 4px 4px 8px;
}
.end {
text-align : center;
}
.func {
border-left : 4px solid #659300;
color : #757575;
font-size : x-small;
margin-top : 4px;
margin-left : 2px;
padding-left : 4px;
border-top : 1px dotted #4f4f4f;
}
.gmenu {
color : #75bf00;
background-color : #030500;
background-image : url(images/gmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #415f00;
}
.gmenu a {
color : #777777;
border-bottom : 1px dotted #223200;
}
.gmenu a:hover {
color : #96f400;
border-bottom : 1px dotted #395400;
}
.gray {
color : #C0c0c0;
}
.green {
color : #58a400;
}
.header, .footer {
background-image : url(images/header.gif);
color : #F00000;
background-color : #0a0a0a;
background-repeat : repeat-x;
background-position : 50% top;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #4e4e4e;
border-bottom : 1px solid #4e4e4e;
}
.footer a:link {
color : #a9a9a9;
text-decoration : none;
border-bottom : 1px dotted #3f3f3f;
}
.footer a:hover {
color : #d2d2d2;
text-decoration : none;
border-bottom : 1px dotted #696969;
}
.left {
float : left;
}
.list1, .b {
background-color : #101010;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #323232;
}
.list2, .c {
background-color : #212121;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #323232;
}
.maintxt {
padding-right : 1px;
padding-left : 1px;
border : 1px solid #3b3b3b;
}
.menu, .news {
background-color : #040404;
background-image : url(images/menu.gif);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #353535;
}
.phpcode {
color : #00798f;
background-color : #001114;
border : 1px dotted #00272e;
margin-top : 4px;
padding : 0 2px;
}
.quote {
border-left : 4px solid #5c5c5c;
color : #878787;
font-size : x-small;
padding : 2px 0 2px 4px;
margin-left : 2px;
}
.red, .red a:link, .red a:visited {
color : #d20000;
}
.reply {
border-left : 4px solid #ca0000;
color : #db0000;
padding : 2px 0 2px 4px;
}
.rmenu, .alarm {
color : #bd0000;
background-color : #050000;
background-image : url(images/rmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #590000;
}
.status {
color : #3fa400;
font-weight : bold;
font-size : x-small;
padding-left : 0;
}
.sub {
border-top : 1px dotted #4b4b4b;
font-size : x-small;
margin-top : 4px;
}
.sub a:link, .sub a:visited {
text-decoration : none;
}
.tmn, .fmenu {
color : #b94201;
background-color : #020100;
background-image : url(images/tmn.gif);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #5c2901;
border-bottom : 1px solid #5c2901;
}
.tmn a:link, .tmn a:visited, .fmenu a:link, .fmenu a:visited {
color : #b94201;
text-decoration : none;
border-bottom : 1px dotted #602200;
}
.tmn a:hover, .fmenu a:hover {
color : #110000;
border-bottom : 1px dotted #c0c0c0;
}
/*Design by Streloy
http://streloy.h2m.ru
Icq: 61-14-61-446*/