body {
	text-align: center;
	margin: 0;
	padding: 0;
	color: burlywood;
	font-family: Tahoma, "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #000;
	background-image: url(images/bg.jpg);
	background-repeat: repeat;
	background-position: center top;
}a:link,a:visited,a:hover,a:active {color: #528f6c;text-decoration: none;}a:hover {color: #326a4a;}::selection {background: #c0d5f1;color: #7789a1;}::-moz-selection {background: #c0d5f1;color: #7789a1;}input:-moz-placeholder {color: #999 !important;}img {border: 0;vertical-align: top;}#content img {vertical-align: middle;}h1,h2,h3,h4,h5,h6,p {margin: 0;padding: 0;}h1{display: none;}h2,h3{font-family: 'Droid Sans', Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 22px;line-height: 100%;font-weight: normal;}h5 {color: #528f6c;font-weight: bold;font-size: 12px;}ul,li,dl,dt,dd {margin: 0;padding: 0;list-style: none;}table { width: 100%; }table,td { padding: 0; }.clear { clear: both; }.clearfix { overflow: hidden; }.floatleft { float: left; }.floatright { float: right; }.padding { padding: 10px; line-height: 25px; }.margin { margin: 5px; }.margintop { margin-top: 5px; }.marginright { margin-right: 5px; }.marginbottom { margin-bottom: 5px; }.marginleft { margin-left: 5px; }#background_top {background: url(images/background_top.jpg) no-repeat 50% 0;height: 100%;}#container {margin: 0 auto 0 auto;text-align: left;width: 990px;}#banner{height: 84px;}a#header_logo {float: left;outline: none;}a#header_logo img{-moz-transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-o-transition: all 0.2s ease;}a#header_logo:hover img{opacity: 0.7;}
#nav {
margin: 0;
margin-top: 12px;
background: rgba(0, 0, 0, 0.4);
background:#222\9;
width: 758px;
height: 60px;
float: right;
overflow: hidden;
font-weight: bold;
font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
border:1px solid #111;

    box-shadow: 0 0 5px #111111;

    border-top:0px;
}

#nav ul {margin:0;padding:0;width: 780px;}
#nav li {display: inline;margin: 0;padding: 0;}
#nav li a {float: left;color: #d5eaf8;padding: 12px 14px;text-decoration: none;outline: none;-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
#nav a strong{font-size: 16px;/*font-family: "Puritan";*/font-weight: bold;display: block;line-height: 20px;-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
#nav a span{display: block;padding-left: 21px;font-size: 11px;color: #637d8f;font-weight: normal;-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
#nav li a:hover,#nav li a.current {color: #fff;}
#nav li a.current strong,#nav li a:hover strong{text-shadow: #fff 0px 0px 3px;}
#nav li a.current span,#nav li a:hover span{color: #d5eaf8;}#nav img {vertical-align: middle;}
#content{width: 782px;float: left;}
#skin_shop #content,#testimonials #content,#portfolio_page #content,#home #content{ width: auto; float: none; }
.wrap{
	 background: rgba(0, 0, 0, 0.4);
     background:#222\9;
	  border:1px solid #111;

    box-shadow: 0 0 5px #111111;
	 }
#home .wrap_bl{ min-height: 260px; }
#sidebar{float: right;width: 208px;background: url(images/sidebar.png) repeat-y 0 0;margin-top: 5px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
#skin_shop #sidebar,#testimonials #sidebar,#portfolio_page #sidebar{ display: none; }
#sidebar h3{/*color: #b1d6ee;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 14px;*/display: none !important;padding: 10px 0px 5px 20px;font-size: 10px;text-transform: uppercase;display: block;color: #2c5674;}
#sidebar h3 span{}#sidebar img{ vertical-align: middle; }
#sidebar_t{ background: url(images/sidebar_t.png) no-repeat 0 0; 
}#sidebar_b{ background: url(images/sidebar_b.png) no-repeat 0 100%; padding-bottom: 6px; padding-top: 2px; }
#sidebar a{display: block;background: url(images/sidebar_links.png) no-repeat 0 0;height: 91px; /* 103 */color: #b1d6ee;outline: none;margin-bottom: -4px;text-decoration: none;padding: 12px 12px 0px 5px;}
#sidebar a:hover{background-position: 0 -103px;}
#sidebar strong{display: block;font-size: 14px;margin-bottom: 2px;}
#sidebar a:hover{color: #fff;}#sidebar a span{color: #5989aa;display: block;padding-left: 21px;font-size: 11px;line-height: 14px;}
#sidebar a.active:link,#sidebar a.active:visited,#sidebar a.active:hover,#sidebar a.active:active{background-position: 0px -206px;color: #075289;}#sidebar a.active:hover{color: #075289;}
#sidebar a.active span{color: #6796b8;}
.main_padding {padding: 3px 0 15px 0;line-height: 150%;}
.copyright {text-align: right;padding: 5px;line-height: 18px;}
.content {padding: 6px;}#loading {position: fixed;color: #74b797;font-weight:bold;font-size: 20px;top: 50%;left: 50%;display: none;margin: -19px 0 0 -64px;background: #e5eefa;border: 1px solid #c7d7eb;padding: 10px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}/* custom_request.php */
a.custom_info_link{display: block;text-decoration: none;font-weight: bold;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;float: right;margin-top: -50px;height: 40px;line-height: 40px;padding: 0 10px;background: #0b3656;color: #fff;outline: none;}a.custom_info_link:hover{background: #4a6c88;}
a.custom_info_link.active{padding-bottom: 10px;background: #4a6c88;-moz-border-radius: 3px 3px 0px 0px;-webkit-border-bottom-left-radius: 0px;-webkit-border-bottom-right-radius: 0px;border-radius: 3px 3px 0px 0px;}
.custom_info{background: #4a6c88;padding: 10px;color: #fff;-moz-border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius-topright: 0px;-webkit-border-top-right-radius: 0px;border-radius: 3px 0px 3px 3px;margin-bottom: 6px;display: none;}
.custom_info a{color: #fff;text-decoration: underline;}
.request_table{background: #d4e5f1;}
.request_table td{background: #f7fcff;border: 1px solid #fff;padding: 5px;}
.request_table td.label{width: 140px;text-align: right;padding-right: 5px;padding-top: 6px;font-weight: bold;vertical-align: top;font-size: 11px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
.request_table .altlabel{float: right;font-size: 11px;font-weight: bold;display: block;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}.request_table td.label span{font-weight: 100;font-size: 10px;}
.request_table td.input_con{padding-left: 15px;}
.request_table textarea,.request_table input.request_input{width: 100%;padding: 4px;font-family: Tahoma, Geneva, sans-serif;font-size: 11px;color: #363636;border: 1px solid #d4e5f1;margin: 0;margin-left: -10px;}
.request_table input.request_input:focus,.request_table textarea:focus{border: 1px solid rgb(126, 157, 189);box-shadow: #5c9cdf 0px 0px 3px; -webkit-box-shadow: #5c9cdf 0px 0px 3px; -moz-box-shadow: #5c9cdf 0px 0px 3px;}
.request_table textarea{ resize: vertical; }
.request_table .checkboxes span{display: block;}
.request_table .checkboxes label{cursor: pointer;}
.multi_description{font-size: 10px;color: #a0b4c3;}
.what_you_get{background: #354e62;margin: 5px 0 0 0;line-height: 150%;}.what_you_get td{background: #3e5a71;padding: 5px 2px 5px 30px;border: 1px solid #4b657a;width: 50%;}.what_you_get img{position: relative;margin-left: -25px;margin-right: 5px;}.color_box{border: 1px solid #ccc;width: 106px;background: #fff;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;height: 50px;padding: 3px;display: block;float: left;margin: 0 2px 0 0;}.color_box input{border: 0;width: 106px;height: 50px;display: block;padding: 0;margin: 0;background-image: url(images/colour_box.png);background-position: 0 0;background-repeat: no-repeat;text-align: center;cursor: pointer;font-size: 14px;font-weight: bold;color: #000;color: rgba(139,139,139,0.6);}.MultiFile-list{padding-top: 4px;overflow: hidden;}.MultiFile-label{background: #4a6c88;margin: 2px 2px 0 0;white-space: nowrap;float: left;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;color: #fff;padding: 3px;padding-right: 5px;}.MultiFile-label:hover{background: #0a283e;}#sending_email{position: fixed;z-index: 10000;top: 0;left: 0;width: 100%;height: 100%;background: url(images/email_overlay.png) repeat;background: rgba(0,0,0,0.7);display: none;}#email_box{background: #f7fcff;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 5px;width: 500px;height: 125px;position: absolute;left: 50%;top: 50%;margin: -65px 0 0 -255px;-moz-box-shadow: #000 0px 0px 40px;-webkit-box-shadow: #000 0px 0px 40px;box-shadow: #000 0px 0px 40px;}#email_box_content{width: 478px;height: 103px;text-align: center;padding: 10px;border: 1px solid #d4e5f1;background: #eef7fd;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}input#submit_request{border: 1px solid #0e1f2f;background: #0b3758;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(11,55,88)),color-stop(1, rgb(9,70,114)));background-image: -moz-linear-gradient(center bottom,rgb(11,55,88) 0%,rgb(9,70,114) 100%);-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;color: #fff;text-shadow: #0e1f2f 0px -1px 0px;font-weight: bold;font-size: 15px;text-align: center;width: 582px;margin: 0 auto;padding: 10px 0;display: block;cursor: pointer;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}input#submit_request:hover{background: #0d426a;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(13,66,106)),color-stop(1, rgb(11,84,137)));background-image: -moz-linear-gradient(center bottom,rgb(13,66,106) 0%,rgb(11,84,137) 100%);}#submit_request.request_disabled{opacity: 0.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter: alpha(opacity=40);cursor: default;}/* Select skin type */.skin_form{ display: none; }.show_skin_form{ display: block; }#select_upgrade_type{border-bottom: 1px dashed #d4e5f1;margin-bottom: 10px;padding-bottom: 10px;}#select_upgrade_type a{display: block;background: #0a2e4a url(images/select_form.png) repeat-x 0 100%;padding: 10px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;/*width: 353px;height: 70px;*/color: #b1d6ee;/*margin: 0 3px 3px 0;*/margin-bottom: 3px;/*float: left;*/font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;text-decoration: none;line-height: 130%;outline: none;text-shadow: #051828 0px -1px 0px;}#select_upgrade_type a:hover{color: #fff;background-color: #163d5a;}#select_upgrade_type strong{font-size: 14px;}#select_upgrade_type strong em{float: right;font-style: normal;font-size: 11px;font-weight: 100;color: #5989aa;}#select_upgrade_type span{display: block;padding-top: 4px;color: #5989aa;padding-left: 20px;}#select_upgrade_type a.inactive,#select_upgrade_type a.inactive:hover{background-color: #a0a5a9;color: #e2e7eb;text-shadow: #808487 0px -1px 0px;}#select_upgrade_type a.inactive:hover{background-color: #aaafb2;}#select_upgrade_type a.inactive img{opacity: 0.2;}#select_upgrade_type a.inactive strong em,#select_upgrade_type a.inactive span{color: #c2c8cb;}/* Premade skins *//* premade_skins.php */.premade_skin{float: left;width: 378px;height: 222px;overflow: hidden;margin-left: 3px;margin-bottom: 3px;}.premade_skin div{width: 358px;padding-left: 14px;padding-top: 6px;height: 216px;overflow: hidden;}a.premade_overlay{width: 352px; /* 378 */height: 54px; /* 222 */overflow: hidden;position: relative;display: block;margin-top: -222px;background: url(images/premade_overlay.png) no-repeat 0 0;outline: none;color: #fff !important; /* ie6 fix: important */text-decoration: none;font-weight: bold;font-size: 18px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;padding: 168px 0 0 26px;}/*a[href*="uniform"].premade_overlay,a[href*="navia"].premade_overlay,a[href*="marble"].premade_overlay,a[href*="imperial"].premade_overlay,a[href*="slate"].premade_overlay,a[href*="iskin"].premade_overlay,a[href*="checkered"].premade_overlay,a[href*="engraved"].premade_overlay,a[href*="deflection"].premade_overlay,a[href*="animate"].premade_overlay,a[href*="overlay"].premade_overlay,a[href*="gravity"].premade_overlay,a[href*="carbon"].premade_overlay,a[href*="chameleon"].premade_overlay,a[href*="infinite"].premade_overlay,a[href*="baisik"].premade_overlay,a[href*="splat"].premade_overlay{ background-image: url(images/premade_overlay_32.png); }*/a.premade_overlay:hover{text-shadow: #fff 0px 0px 2px;}a.premade_overlay span{float: right;font-size: 11px;visibility: hidden;margin-right: 25px;padding-top: 1px;}a.premade_overlay:hover span{visibility: visible;text-shadow: none;}/* End premade_skins.php */.premade {background: #e5eefa;border: 1px solid #c7d7eb;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 10px;height: 100%;}.premade a {outline: none;}.premade_name {font-size: 20px;font-weight: bold;padding-bottom: 10px;border-bottom: 1px dotted #d3dae2;}.premade_desc {padding: 8px;}.premade_pay {background: #ccf2a3;border: 1px solid #78b95f;border-right: 1px solid #4f8a41;border-bottom: 1px solid #4f8a41;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 10px;color: #5a842d;margin-top: 3px;}.premade_pay img,.confirm_purchase img {vertical-align: middle;}.premade_pay a:link,.premade_pay a:visited,.premade_pay a:hover,.premade_pay a:active {color: #5a842d;}.ps_con {float: left;text-align: left;width: 148px;font-weight: bold;padding: 8px 8px 0px 12px;height: 153px;width: 134px;background: url(images/custom_bg.gif) no-repeat 0 136px;}.ps_con a:link,.ps_con a:visited,.ps_con a:hover,.ps_con a:active {background: #ecf1f6;border: 1px solid #5e6b78;padding: 3px;display: block;width: 124px;}.ps_page {background: #000;padding: 4px 0 4px 0;text-align: center;font-weight: bold;color: #fff;width: 122px;position: relative;left: 5px;top: -29px;font-size: 10px;display: none;}.ps_group {text-align: center;font-weight: bold;height: 100%;}.ps_con img {vertical-align: middle;margin:1px;padding: 0px;border: 1px solid #5e6b78;}.skin_desc {padding: 10px 0 10px 0;border-top: 2px solid #d1d6de;border-bottom: 2px solid #d1d6de;}.description {text-align: center;padding: 20px 10px 10px 10px;}.description.skin_name{text-align: left;padding-top: 27px;}.description.skin_name h2{font-size: 30px;}.description h2 {/*font-family: Qlassik, Georgia, "Times New Roman", Times, serif;font-size: 23px;line-height: 100%;font-weight: 100; */}.description a:link,.description a:visited,.description a:hover,.description a:active {text-decoration: none;}.description a:hover {text-decoration: underline;}.pay_button {float: right;padding: 0 10px 0 0;width: 230px;}.pay_button input,.pay_button form {margin: 0;padding: 0;}.confirm_purchase {background: #efc7c7;border: 1px solid #d2a6a6;border-right: 1px solid #965858;border-bottom: 1px solid #965858;margin-top: 5px;color: #5e1f1f;text-align: center;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 8px;}.confirm_purchase a:link,.confirm_purchase a:visited,.confirm_purchase a:hover,.confirm_purchase a:active {color: #5e1f1f;}.box {background: #e7effa;border: 1px solid #cedae9;border-bottom: 1px solid #a7b6ca;border-right: 1px solid #a7b6ca;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 8px;}h4.click {width: 680px;height: 37px;margin: 0 auto;}.click_upgrade a:link,.click_upgrade a:visited,.click_upgrade a:hover,.click_upgrade a:active {background: url(images/click_upgrade.gif) no-repeat 0 0;}.click_convert a:link,.click_convert a:visited,.click_convert a:hover,.click_convert a:active {background: url(images/click_convert.gif) no-repeat 0 0;}.click_custom a:link,.click_custom a:visited,.click_custom a:hover,.click_custom a:active {background: url(images/click_custom.gif) no-repeat 0 0;}.click_convert a:hover,.click_upgrade a:hover,.click_custom a:hover {background-position: 0 -37px;}h4.click a:link,h4.click a:visited,h4.click a:hover,h4.click a:active {display: block;width: 680px;height: 37px;text-decoration: none;text-indent: -9000px;}.preview_large,.skin_info_img {border: 1px solid #d5d5d5;border-right: 1px solid #bcbcbc;border-bottom: 1px solid #bcbcbc;background: #fff;padding: 3px;height: 160px;width: 672px;overflow: hidden;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;margin-bottom: 10px;}.preview_large{margin-bottom: 40px;}.preview_large .preview_img,.skin_info_img .preview_img {height: 160px;width: 672px;overflow: hidden;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}.preview_large .clickable,.skin_info_img .clickable {height: 122px;}.preview_large .clickable img,.skin_info_img .clickable img {height: 122px;width: 672px;}.preview_large .overlay,.skin_info_img .overlay {height: 38px;background: #000;opacity: 0.8;filter: alpha(opacity=80);-moz-border-radius: 0px 0px 3px 3px;-webkit-border-bottom-left-radius: 3px;-webkit-border-bottom-right-radius: 3px;border-radius: 0px 0px 3px 3px;}.preview_large .details,.skin_info_img .details {height: 32px;position: relative;top: -38px;color: #fff;line-height: 100%;padding: 6px 7px 0 7px;}.preview_large .details h4,.skin_info_img .details h4 {font-size: 20px;font-family: Myriad, "Myriad Pro", Tahoma, Arial, Helvetica, sans-serif;color: #fff;padding-top: 3px;}.details a.details_btn,.details a.purchase_btn {float: right;display: block;width: 96px;height: 26px;line-height: 24px;padding-left: 22px;overflow: hidden;background: url(images/premade_info_btn.png) no-repeat 0 0;font-weight: bold;color: #fff;text-transform: uppercase;/*margin-right: 5px;*/}.details a.purchase_btn {background: url(images/premade_purchase_btn.png) no-repeat 0 0;}.preview_large .details a:link,.preview_large .details a:visited,.preview_large .details a:hover,.preview_large .details a:active,.skin_info_img .details a:link,.skin_info_img .details a:visited,.skin_info_img .details a:hover,.skin_info_img .details a:active {color: #fff;}.preview_large a,.skin_info_img a {text-decoration: none;}.preview_large a:hover,.skin_info_img a:hover {text-decoration: underline;}#construction {position: fixed;bottom: 0;left: 0;width: 100%;height: 30px;background: #952525;border-top: 1px solid #300c0c;color: #fff;line-height: 30px;font-weight: bold;font-size: 14px;text-align: center;z-index: 100;}.skin_info {width: 400px;float: left;margin-left: 15px;border-top: 1px solid #cbdcee;border-bottom: 1px solid #fff;}.skin_info img {float: left;margin-right: 5px;margin-top: 6px;}.skin_info span {display: block;padding: 3px 0 3px 21px;border-bottom: 1px solid #cbdcee;border-top: 1px solid #fff;}.skin_info_img {float: left;width: 326px;height: 300px;}.skin_info_img .preview_img {width: 326px;height: 300px;background-repeat: no-repeat;background-position: 50% 0;}.skin_info_img .clickable,.skin_info_img .clickable img {height: 262px;width: 326px;}.steps li {padding-bottom: 10px;}.steps li span.num {color: #bfc9d6;font-weight: bold;font-size: 13px;float: left;}.steps li div{padding-left: 20px;}#float_bar {position: fixed;display: none;bottom: 0;left: 0;width: 100%;height: 35px;text-align: left;color: #949494;font-family: Arial, Tahoma, Helvetica, sans-serif;font-size: 14px;background: #232323 url(images/float_nav.gif) repeat-x 0 0;font-weight: bold;z-index: 100;line-height: 35px;}#float_bar p {float: left;margin: 0;padding: 0;line-height: 35px;padding-left: 20px;padding-right: 5px;background: url(images/float_nav_hover.gif) no-repeat 100% -35px;}#float_bar_version {width:500px;line-height:normal;height: 35px;overflow: hidden;}#float_bar_version ul {float:left;list-style-type: none;margin:0;padding:0;}#float_bar_version li {margin:0;padding:0 0 0 8px;background: url(images/float_nav_hover.gif) no-repeat 0 -35px;float: left;}#float_bar_version span {float:left;display:block;padding: 0px 8px 0px 0px;font-weight:bold;color:#949494;line-height: 35px;background: url(images/float_nav_hover.gif) no-repeat 100% -35px;}/* Commented Backslash Hack hides rule from IE5-Mac \*/#float_bar_version span {float:none;}#float_bar_version .current {background: url(images/float_nav_active.gif) no-repeat 0 0;padding:0 0 0 30px;}#float_bar_version .current span {background: url(images/float_nav_active.gif) no-repeat 100% 0;color: #fff;padding: 0px 8px 0px 0px;}.notice{background: #c55656;padding: 3px;border: 1px solid #7e2929;color: #fff;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;text-align: center;font-weight: bold;}a.notice_link:link,a.notice_link:visited,a.notice_link:hover,a.notice_link:active{background: #c55656;padding: 3px;border: 1px solid #7e2929;color: #fff;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;text-align: center;display: block;text-decoration: none;font-weight: bold;}a.notice_link:hover{background: #d26969;}a.select_ipb2:link,a.select_ipb2:visited,a.select_ipb2:hover,a.select_ipb2:active,a.select_ipb3:link,a.select_ipb3:visited,a.select_ipb3:hover,a.select_ipb3:active {display: block;float: left;width: 339px;height: 44px;padding-top: 45px;background: url(images/select_ipb.jpg) no-repeat 0 0;text-indent: 155px;color: #2f533e;font-size: 18px;font-family: Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;font-weight: bold;overflow: hidden;letter-spacing: -1px;text-decoration: none;text-shadow: #5bb37f 0px 1px 0px;}a.select_ipb2:hover {background-position: 0 -89px;color: #fff;text-shadow: #294e38 0px -1px 0px;}a.select_ipb3:link,a.select_ipb3:visited,a.select_ipb3:hover,a.select_ipb3:active {background-position: -339px 0;text-indent: 190px;}a.select_ipb3:hover {background-position: -339px -89px;color: #fff;text-shadow: #294e38 0px -1px 0px;}.skin_magnify {float: right;width: 48px;height: 48px;background: url(images/skin_magnify.png) no-repeat;position: relative;top: -95px;left: -10px;}.questions_list strong {display: block;cursor: pointer;cursor: hand;}.questions_list span{float: right;display: none;}.questions_list li:hover span{display: block;}.questions_list li {border-bottom: 1px solid #d2ddeb;padding: 5px 0;}/* Portfolio */ul#filter {font-size: 13px;display: block;list-style: none;font-weight: bold;padding-bottom: 5px;overflow: hidden;}ul#filter li {float: left;margin-right: 2px;color: #87a3b8;}ul#filter a {color: #495f6e;text-decoration: none;padding: 5px 15px;display: block;}ul#filter li.current a,ul#filter a:hover {}ul#filter li.current a {color: #495f6e;background: #cbdce8;text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;-webkit-box-shadow: inset rgba(0,0,0,0.75) 0px 1px 3px, #fff 0px 1px 0px;-moz-box-shadow: inset rgba(0,0,0,0.75) 0px 1px 3px, #fff 0px 1px 0px;box-shadow: inset rgba(0,0,0,0.75) 0px 1px 3px, #fff 0px 1px 0px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}ul#filter span{position: absolute;font-size: 9px;margin-top: -20px;float: left;padding: 2px;font-weight: bold;background: #528f6c;color: #fff;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;display: none;}ul#portfolio {float: left;list-style: none;margin: 0;width: 963px;padding: 0;}ul#portfolio li {width: 132px;height: 134px;overflow: hidden;padding: 0;margin: 0 5px 5px 0;float: left;}ul#portfolio span.image_overlay{position: relative;top: -134px;display: block;width: 132px;height: 134px;background: url(images/custom_overlay.png) no-repeat 0 0;}ul#portfolio a {display: block;}ul#portfolio a:hover {text-decoration: none;}ul#portfolio a.custom_name{padding-left: 5px;width: 125px;overflow: hidden;}ul#portfolio img {/*border: 1px solid #626262;display: block;-moz-border-radius: 3px;-webkit-border-radius: 3px;*/}.transparent{filter:alpha(opacity=30);opacity: 0.3;}.warez_warning{background: #913939;border: 1px solid #6f1c1c;color: #fff;padding: 8px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;margin-top: 15px;}.pay_form{/*padding: 8px;*/margin-top: 10px;font-size: 11px;margin-bottom: 10px;background: #f5f9fd;border: 1px solid #cbdcee;/*-moz-border-radius: 3px;-webkit-border-radius: 3px;*/}.pay_form .must{text-decoration: underline;color: #b4453b;}.pay_form form{margin: 0;padding: 0;}.pay_form td{padding: 4px;border-bottom: 1px solid #cbdcee;border-top: 1px solid #fff;vertical-align: middle;}.pay_form tr:nth-child(2n+1) td{background: #fbfdfe;}.pay_form tr:last-child td{border-botom:0;}.pay_form input{margin-right: 8px;}.pay_form .label{text-align: right;padding-right: 6px;font-weight: bold;width: 120px;}.pay_form td.fill_form img{vertical-align: middle;margin-right: 2px;}.input_text{border: 1px solid #c1c1c1;border-bottom: 1px solid #e0e0e0;border-top: 1px solid #848484;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;background: #fff url(images/input_text.gif) repeat-x 0 0;font-family: Tahoma, Geneva, sans-serif;font-size: 11px;color: #333;padding: 3px;width: 200px;}.input_text:focus{border: 1px solid #848484;}#index_skins{margin: 0 auto;height: 450px;background: url(images/index_skins.jpg) no-repeat 50% 0;cursor: pointer;}#index_skins p{margin: 0;padding: 323px 0 0 385px;}#index_skins strong{display: block;color: #4f9371;font-size: 19px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;line-height: 28px;}#index_stats span{padding-top: 10px;display: block;font-size: 12px;}.why_text{border-top: 1px dotted #cbdcee;padding-top: 5px;margin-top: 5px;}#footer_links{clear: both;padding: 9px 208px 10px 0;color: #bde2fb;font-size: 11px;}#testimonials #footer_links,#skin_shop #footer_links,#portfolio_page #footer_links,#home #footer_links{ padding-right: 0; }#footer_links a{color: #bde2fb;text-decoration: none;font-weight: bold;}#footer_links img{float: right;margin-top: -4px;}#footer_links a:hover{color: #fff;}/* Testimonials */.testimonial{background-color: #F7FBFE;background-image: -moz-linear-gradient(center bottom , #F7FBFE 0%, #FFFFFF 100%);border: 1px solid #CCD9E8;border-radius: 3px 3px 3px 3px;box-shadow: 1px 1px 2px #DEE5EE;line-height: 170%;margin-left: 50px;margin-right: 50px;padding: 10px;position: relative;}.pointer{border-bottom: 0 none;border-right: 19px solid transparent;border-top: 10px solid #CCD9E8;height: 0;margin: -1px 0 0 80px;position: absolute;width: 0;}.pointer_in{width:0;height:0;border-right: 16px solid transparent;border-top: 8px solid #f7fbfe;border-bottom: 0;position: absolute;margin-top: -10px;margin-left: 1px;}.testimonial_author{margin-left: 50px;margin-right: 50px;padding: 6px 30px 20px 16px;text-align: left;}.testimonial_author a{text-decoration: none;font-weight: bold;}.post_testimonial{border-top: 2px solid #ccd9e8;border-bottom: 2px solid #ccd9e8;background: #fefeff;padding: 5px;text-align: center;margin-bottom: 10px;}.ie6_only{display: none;}/* Step by step */#step_by_step{position: fixed;z-index: 10000;top: 0;left: 0;width: 100%;height: 100%;background: url(images/email_overlay.png) repeat;background: rgba(0,0,0,0.7);display: none;}#step_container{background: #f7fcff;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 5px;width: 700px;margin: 150px auto 0 auto;-moz-box-shadow: #000 0px 0px 40px;-webkit-box-shadow: #000 0px 0px 40px;box-shadow: #000 0px 0px 40px;}#step_container h4{padding: 8px 10px 13px 10px;font-size: 13px;}#step_by_step ul{border: 1px solid #d4e5f1;background: #eef7fd;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}#step_by_step li{padding: 10px;border-bottom: 1px solid #d4e5f1;border-top: 1px solid #fff;}#step_by_step li:first-child{border-top: 0;}#step_by_step li:last-child{border-bottom: 0;}/* Confirmation page */#confirmation_page p{padding: 20px 0;border-top: 1px dashed #d4e5f1;line-height: 150%;}.skin_screenshots{overflow: hidden;padding-top: 10px;margin: 0 -8px 0 -6px;}.screenshot{float: left;width: 303px;padding: 0 10px;height: 320px;}.screenshot img{border: 1px solid #d4e5f1;padding: 1px;background: #fff;text-align: left;}.screenshot p{padding: 6px 3px;line-height: 200%;}.screenshot strong{font-size: 1.2em;display: block;padding-bottom: 4px;}.top_support{background: #093d62 url(images/icon_support.png) no-repeat 8px 8px;padding: 8px 8px 8px 32px;color: #dfebf3;text-shadow: #07314e 0px -1px 0px;border-bottom: 5px solid #07314e;border-top: 5px solid #07314e;margin: 6px 8px;}.top_support a{color: #fff;text-decoration: none;}.top_support a:hover{ text-decoration: underline; }.away_feb{border: 1px solid #6a1010;background: #a03434;color: #fff;text-shadow: #a03434 0px -1px 0px;padding: 8px;margin-bottom: 5px;margin-top: 5px;}.top_boxes{height: 127px;padding-bottom: 4px;display: none;}.top_boxes.bottom_boxes{padding-top: 9px;padding-bottom: 0;}.bottom_boxes span{display: block;text-align: left;line-height: 19px;padding: 10px 5px 0 120px;}#home .top_boxes{ display: block; }.top_box,a.top_box{
	height: 100px;
	padding: 10px 0;
	width: 322px;
	outline: none;
	overflow: hidden;
	display: block;
	text-decoration: none;
	color: #d0e7f7;
border:1px solid #111;

    box-shadow: 0 0 5px #111111;
background: rgba(0, 0, 0, 0.4);

    background:#222\9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0px 1px 4px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0px 1px 4px;
	box-shadow: rgba(0,0,0,0.4) 0px 1px 4px;
	float: left;
	text-align: center;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}.top_box h3{font-size: 14px;padding: 0;padding-top: 7px;margin: 0;display: block;height: 16px;text-shadow: rgba(0,0,0,0.8) 0px 1px 3px;}.top_box a{text-decoration: none;color: #b1d4ec;}.top_box a:hover{ color: #fff; }.top_box .top_image{display: block;height: 85px;overflow: hidden;}.top_box.middle{margin-left: 9px;}a.top_box:hover{color: #fff;}.top_box:hover{
	background-image: url(images/black.png);
	background-repeat: repeat;
}.top_box img{-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}.top_box:hover img{-moz-transform: translateY(-3px);-webkit-transform: translateY(-3px);-o-transform: translateY(-3px);}/* Tweets */.tweet, .query {padding-left: 78px;text-align: left;line-height: 19px;width: 240px;}.tweet .tweet_list, .query .tweet_list {list-style-type: none;margin: 0;padding: 0;overflow-y: hidden;}.tweet .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic {text-transform: uppercase;}.tweet .tweet_list li, .query .tweet_list li {overflow-y: auto;overflow-x: hidden;padding: .5em;}.tweet .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar {padding-right: .5em;float: left;border-radius: 2px;-webkit-border-radius: 2px;display: none;}.tweet .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img {vertical-align: middle;}.tweet .tweet_time{ display: block; opacity: 0.4; }a.view_cart,a.purchase_download{background: -moz-linear-gradient(center top , #1771AF 0%, #105A8E 100%) repeat scroll 0 0 transparent;border: 1px solid #0D5385;border-radius: 3px 3px 3px 3px;box-shadow: 0 1px 0 #39B9EA inset;color: #FFFFFF;float: right;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 15px;font-weight: bold;height: 40px;line-height: 40px;margin: 10px 10px 0 -18px;outline: medium none;overflow: hidden;padding: 0 20px;position: relative;text-decoration: none;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);text-transform: uppercase;}a.view_cart.small_view_cart{line-height: 40px;height: 40px;font-size: 14px;margin: 8px 8px 0 0;}a.purchase_download{background: #87b54c;background: -moz-linear-gradient(top, #87b54c 0%, #719e36 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87b54c), color-stop(100%,#719e36));background: -webkit-linear-gradient(top, #87b54c 0%,#719e36 100%);background: -o-linear-gradient(top, #87b54c 0%,#719e36 100%);background: -ms-linear-gradient(top, #87b54c 0%,#719e36 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87b54c', endColorstr='#719e36',GradientType=0 );background: linear-gradient(top, #87b54c 0%,#719e36 100%);border: 1px solid #68932f;-webkit-box-shadow: inset #cade77 0px 1px 0px;-moz-box-shadow: inset #cade77 0px 1px 0px;box-shadow: inset #cade77 0px 1px 0px;text-shadow: rgba(0,0,0,0.3) 0px -1px 0px;}a.purchase_download span{float: right;color: #e2ecd0;margin-left: 30px;}a.view_cart,a.purchase_prev{background: -moz-linear-gradient(center top , #1771AF 0%, #105A8E 100%) repeat scroll 0 0 transparent;border: 1px solid #0D5385;border-radius: 3px 3px 3px 3px;box-shadow: 0 1px 0 #39B9EA inset;color: #FFFFFF;float: right;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 15px;font-weight: bold;height: 40px;line-height: 40px;margin: 10px 10px 0 0;outline: medium none;overflow: hidden;padding: 0 20px;position: relative;text-decoration: none;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);text-transform: uppercase;}a.purchase_prev{background: #1771AF;background: -moz-linear-gradient(top, #1771AF 0%, #105A8E 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1771AF), color-stop(100%,#105A8E));background: -webkit-linear-gradient(top, #1771AF 0%,#105A8E 100%);background: -o-linear-gradient(top, #1771AF 0%,#105A8E 100%);background: -ms-linear-gradient(top, #1771AF 0%,#105A8E 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1771AF', endColorstr='#105A8E',GradientType=0 );background: linear-gradient(top, #1771AF 0%,#105A8E 100%);border: 1px solid #0D5385;-webkit-box-shadow: inset #39B9EA 0px 1px 0px;-moz-box-shadow: inset #39B9EA 0px 1px 0px;box-shadow: inset #39B9EA 0px 1px 0px;text-shadow: rgba(0,0,0,0.3) 0px -1px 0px;}a.purchase_prev span{float: right;color: #e2ecd0;margin-left: 30px;}a.purchase_prev:hover{background: #1D8DC3;background: -moz-linear-gradient(top, #1D8DC3 0%, #1471AA 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1D8DC3), color-stop(100%,#1471AA));background: -webkit-linear-gradient(top, #1D8DC3 0%,#1471AA 100%);background: -o-linear-gradient(top, #1D8DC3 0%,#1471AA 100%);background: -ms-linear-gradient(top, #1D8DC3 0%,#1471AA 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D8DC3', endColorstr='#1471AA',GradientType=0 );background: linear-gradient(top, #1D8DC3 0%,#1471AA 100%);-webkit-box-shadow: inset #39B9EA 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;-moz-box-shadow: inset #39B9EA 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;box-shadow: inset #39B9EA 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;}a.view_cart,a.purchase_buy{background: -moz-linear-gradient(center top , #1771AF 0%, #105A8E 100%) repeat scroll 0 0 transparent;border: 1px solid #FF5353;border-radius: 3px 3px 3px 3px;box-shadow: 0 1px 0 #39B9EA inset;color: #FFFFFF;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 15px;font-weight: bold;line-height: 40px;padding: 12px;position: relative;text-decoration: none;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);text-transform: uppercase;}a.purchase_buy{background: #D70000;background: -moz-linear-gradient(top, #D70000 0%, #AE0000 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D70000), color-stop(100%,#AE0000));background: -webkit-linear-gradient(top, #D70000 0%,#AE0000 100%);background: -o-linear-gradient(top, #D70000 0%,#AE0000 100%);background: -ms-linear-gradient(top, #D70000 0%,#AE0000 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D70000', endColorstr='#AE0000',GradientType=0 );background: linear-gradient(top, #D70000 0%,#AE0000 100%);border: 1px solid #FF5353;-webkit-box-shadow: inset #FF0000 0px 1px 0px;-moz-box-shadow: inset #FF0000 0px 1px 0px;box-shadow: inset #FF0000 0px 1px 0px;text-shadow: rgba(0,0,0,0.3) 0px -1px 0px;}a.purchase_buy span{float: right;color: #e2ecd0;margin-left: 30px;}a.purchase_buy:hover{background: #FB0000;background: -moz-linear-gradient(top, #FB0000 0%, #C10000 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FB0000), color-stop(100%,#C10000));background: -webkit-linear-gradient(top, #FB0000 0%,#C10000 100%);background: -o-linear-gradient(top, #FB0000 0%,#C10000 100%);background: -ms-linear-gradient(top, #FB0000 0%,#C10000 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB0000', endColorstr='#C10000',GradientType=0 );background: linear-gradient(top, #FB0000 0%,#C10000 100%);-webkit-box-shadow: inset #FF0000 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;-moz-box-shadow: inset #FF0000 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;box-shadow: inset #FF0000 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;}a.view_cart:hover{background: #1d8dc3;background: -moz-linear-gradient(top, #1d8dc3 0%, #1471aa 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d8dc3), color-stop(100%,#1471aa));background: -webkit-linear-gradient(top, #1d8dc3 0%,#1471aa 100%);background: -o-linear-gradient(top, #1d8dc3 0%,#1471aa 100%);background: -ms-linear-gradient(top, #1d8dc3 0%,#1471aa 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D8DC3', endColorstr='#1471AA',GradientType=0 );background: linear-gradient(top, #1d8dc3 0%,#1471aa 100%);-webkit-box-shadow: inset #39b9ea 0px 1px 0px, inset rgba(255,255,255,0.15) 0px 0px 0px 5px;-moz-box-shadow: inset #39b9ea 0px 1px 0px, inset rgba(255,255,255,0.15) 0px 0px 0px 5px;box-shadow: inset #39b9ea 0px 1px 0px, inset rgba(255,255,255,0.15) 0px 0px 0px 5px;}a.purchase_download:hover{background: #97bf56;background: -moz-linear-gradient(top, #97bf56 0%, #80ab3d 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97bf56), color-stop(100%,#80ab3d));background: -webkit-linear-gradient(top, #97bf56 0%,#80ab3d 100%);background: -o-linear-gradient(top, #97bf56 0%,#80ab3d 100%);background: -ms-linear-gradient(top, #97bf56 0%,#80ab3d 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97bf56', endColorstr='#80ab3d',GradientType=0 );background: linear-gradient(top, #97bf56 0%,#80ab3d 100%);-webkit-box-shadow: inset #cade77 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;-moz-box-shadow: inset #cade77 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;box-shadow: inset #cade77 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 0px 5px;}/* Widescreen skin page */.widescreen_preview_container{background: #fff;padding: 5px;border: 1px solid #bfcfda;margin: 20px 0;}.widescreen_preview{height: 250px;overflow: hidden;/*-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;*/background-color: #000;text-shadow: rgba(0,0,0,0.8) 0px 1px 3px;font-size: 22px;font-weight: bold;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;-webkit-box-shadow: inset rgba(0,0,0,0.8) 0px 0px 10px;-moz-box-shadow: inset rgba(0,0,0,0.8) 0px 0px 10px;box-shadow: inset rgba(0,0,0,0.8) 0px 0px 10px;-webkit-transition: all ease-in-out 0.2s;-o-transition: all ease-in-out 0.2s;-moz-transition: all ease-in-out 0.2s;}.side_preview{float: left;margin: 0 20px 20px 0;}.widescreen_preview:hover{-webkit-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 20px;-moz-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 20px;box-shadow: inset rgba(0,0,0,0.9) 0px 0px 20px;}.widescreen_preview a{display: block;outline: none;text-decoration: none;color: #fff;height: 250px;}.widescreen_spacer{display: block;height: 186px;}.widescreen_overlay{background: url(images/widescreen_overlay.png) repeat;background: rgba(0,0,0,0.9);height: 64px;padding: 0 20px;line-height: 64px;display: block;/*-webkit-border-bottom-left-radius: 4px;-webkit-border-bottom-right-radius: 4px;-moz-border-radius: 0px 0px 4px 4px;border-radius: 0px 0px 4px 4px;*/}.widescreen_magnify{float: right;margin-right: -13px;margin-top: 7px;background: url(images/widescreen_magnify.png) no-repeat 100% 50%;background-color: rgba(255,255,255,0.3);height: 50px;line-height: 50px;padding-right: 50px;padding-left: 12px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-moz-transition: all ease-in-out 0.2s;-webkit-transition: all ease-in-out 0.2s;box-shadow: inset rgba(255,255,255,0.08) 0px 0px 0px 1px, inset rgba(255,255,255,0.2) 0px 1px 0px;/*-o-transition: all ease-in-out 0.2s;*/}.widescreen_preview a:hover .widescreen_magnify{background-color: rgba(255,255,255,0.4);}ul.widescreen_info_list {border-top: 1px solid #cbdcee;border-bottom: 1px solid #fff;padding: 0;margin: 15px 0 30px 0;}ul.widescreen_info_list li{border-top: 1px solid #fff;border-bottom: 1px solid #cbdcee;padding: 8px 5px 8px 160px;}ul.widescreen_info_list li .label{float: left;display: block;margin-left: -160px;width: 150px;font-weight: bold;text-align: right;}.widescreen_info_list img {margin-right: 5px;margin-top: 6px;vertical-align: middle;display: none;}/* Terms and conditions */h3.terms_header{margin: 0;padding: 7px 12px;font-size: 18px;background: #dfecf7;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;color: #5e85a1;font-family: Georgia, "Times New Roman", Times, serif;font-weight: normal;}ul.terms_list{list-style: none;margin: 0;margin-bottom: 20px;padding: 0;padding-left: 10px;}ul.terms_list li{padding: 10px 0;}/* Copyright removal */.code{background: #d5eaf8;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;box-shadow: inset #a9c3d6 0px 1px 3px, #fff 0px 1px 0px;padding: 8px;white-space: nowrap;overflow: scroll;overflow-y: hidden;margin: 6px 0;color: #4a6c88;text-shadow: #fff 0px 1px 0px;font-family: "Courier New", Courier, monospace;}.being_upgraded_32{background: #fddeb1;border: 1px solid #cf8a27;padding: 10px;color: #815a22;margin: 0 8px 6px 8px;}.being_upgraded_32 a{color: #815a22;}.vbform{margin:20px;}.nnt-pages span{margin:2px;font-size: 14px;}.selected{font-weight:bold;}.nnt-timkiem{padding:20px;min-height: 210px;}#nnt img{border: 6px solid white;border-radius: 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;max-width: 900px;}.nnt-buy{padding-bottom: 20px;padding-top: 10px;text-align: center;}
#block-left, #block-right{
	font-family: Segoe UI, Tahoma, Arial;
	width:47%;
	margin-right:20px;
	float:left;
	border: 2px solid #999;
	padding:5px;
	color:#fff;
	height:320px;
	border-radius:3px;
}

#block-left:hover{
	border-radius:3px;
	background-image: url(images/black.png);
	background-repeat: repeat;
}

#block-right:hover{
    border-radius:3px;
	background-image: url(images/black.png);
	background-repeat: repeat;
}

#block-left li{
    list-style: none;
    padding-left:20px;
    margin-top:15px;
    }

#block-right{
    margin-right:0px;
	border: 2px solid #999;
	border-radius:3px;
}

#block-right li{
    list-style: none;
    padding-left:20px;
    margin-top:15px;
    }

p.importantMessage {
    background-color: #FFF4E5;
    border: 1px solid #EFC38A;
    border-radius: 5px 5px 5px 5px;
    color: #6D3F03;
    margin: 10px 0;
    padding: 5px;
	width:auto;
    line-height: 25px;
}

#box #left-box{
	width:400px;
	float:left;
	margin-right:10px;
}

#box #right-box{
	width:518px;
	float:left;
}

table.data{
	width:100%;
	text-align:center;
	border:1px solid #ccc;
	border-right:0px;
	font-family:Segoe UI, Tahoma;
	font-size:13px;
}

table.data th{
	background: -moz-linear-gradient(
		top,
		#a7cc38 0%,
		#8ba432);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a7cc38),
		to(#8ba432));
	padding:10px;
}

table.data td{
	padding:5px;
	border:1px solid #ccc;
	border-left:0px;
	border-bottom:0px;
	background:#EDF8DA;
}

table.data td:hover{
	background:#C7E7AB;
	color:green;
}

table.payment{
    background: #fff;
	width:100%;
	text-align:center;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font-family:Segoe UI, Tahoma;
	font-size:13px;
}

table.payment td{
	padding:5px;
	border:1px solid #ccc;
	border-left:0px;
	border-bottom:0px;
	line-height:25px;
}