﻿
<head>
<style type="text/css">
@import url('../style.css');
</style>
</head>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
								<td style="height:5px" colspan="3" class="style8"></td>
								</tr>

	<tr>
		<td class="menu2">
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 213px">
										<img alt="" src="images/bg1.gif" width="20" height="22" /></td>
				<td class="mainbg"><span style="color:white"><strong>Đơn đặt 
				hàng của bạn</strong></span></td>
				<td>
										<img alt="" src="images/bg2.gif" width="20" height="22" /></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="timb">
		<table border="0" width="100%" cellspacing="1" bgcolor="#C0C0C0">
			<tr>
				<td bgcolor="#FFFFFF">
				<table style="width: 100%">
					<tr>
						<td style="width: 10%">
						<table style="width: 100%">
							<tr>
								<td>Xin chào <strong>{$hovaten}</strong></td>
								<td style="width: 30%"><strong>
								<a href="index.php?act=doithongtincanhan">Thay đổi thông 
								tin cá nhân</a></strong></td>
								<td style="width: 10%"><strong>
								<a href="index.php?act=dondathang&amp;thoat=1">Thoát</a></strong></td>
							</tr>
						</table>
						</td>
					</tr>
					<tr>
						<td><table style="width: 100%" cellspacing="1">
									<tr class="chucam">
										<td style="width: 5%; height: 22px" class="style10">
										<strong>STT</strong></td>
										<td style="width: 13%; height: 22px" class="style10">
										Ngày mua</td>
										<td style="width: 15%; height: 22px" class="style10">
										<strong class="chucam">Số Sim</strong></td>
										<td style="width: 15%; height: 22px" class="style10">
										<strong class="chucam">Giá Tiền</strong></td>
										<td style="width: 12%; height: 22px" class="style10">
										Trạng thái</td>
										<td style="width: 17%; height: 22px" class="style10">
										Mã bưu phẩm</td>
										<td style="width: 15%; height: 22px" class="style10">
										Ngày chuyển</td>
									</tr>
									{section name = d loop = $data}
									<tr class="{$data[d].class}">
										<td style="width: 5%" class="dv">{$data[d].stt}</td>
										<td style="width: 13%" class="tampx">
										{$data[d].ngaymua}</td>
										<td style="width: 15%" class="tampx">
										<strong>{$data[d].sosim}</strong></td>
										<td style="width: 15%" class="tampx">
										{$data[d].giatien}</td>
										<td style="width: 12%" class="chucam">
										{$data[d].trangthai}</td>
										<td style="width: 17%" class="dv">
										<strong>{$data[d].mabuupham}</strong></td>
										<td style="width: 15%" class="dv">
										<strong>{$data[d].ngaychuyen}</strong></td>
									</tr>
									{/section}
									
									<tr class="b2">
										<td align="center" colspan="7">
										{$paging}
										</td>
									</tr>
								</table>
</td>
					</tr>
				</table>
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>