﻿<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">

		<a>Liên Hệ</a></li>

	</ul>

	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" style="text-align: center">


<strong><span style="font-size: medium">{$my_slo}</span><br>
<br>
Hotline: {$my_hl1} - {$my_hl2}</strong><br>
Web:
<a target="_blank" href="{$my_domain}">{$my_add_web}</a><br>
Email: <a href="mailto:{$my_email}?subject=Liên Hệ Với {$my_web_add}">
{$my_email}</a><br>
{$my_add}<br>
<br>
<form method="post">
	<span style="color: #FF0000; font-size:11px"><strong>{$thongbao}</strong></span><br>
	<table style="width: 100%">
		<tr>
			<td style="text-align: center">
			<table style="width: 267px; height: 58px;">
				<tr>
					<td style="width: 100%; text-align: left;">
					<p style="margin-left: 10px; margin-top: 0; margin-bottom: 0">
					<strong>Họ và tên:</strong></p>
					</td>
					<td style="width: 100%; text-align: left;">
					<input name="hovaten" type="text" value="{$hovaten}"></td>
				</tr>
				<tr>
					<td style="width: 100%; text-align: left;">
					<p style="margin-left: 10px; margin-top: 0; margin-bottom: 0">
					<strong>Email:</strong></p>
					</td>
					<td style="width: 100%; text-align: left;">
					<input name="email" type="text" value="{$email}"></td>
				</tr>
				<tr>
					<td style="width: 100%; text-align: left;">
					<p style="margin-left: 10px; margin-top: 0; margin-bottom: 0">
					<strong>Điện thoại:</strong></p>
					</td>
					<td style="width: 100%; text-align: left;">
					<input name="dienthoai" type="text" value="{$dienthoai}"></td>
				</tr>
				<tr>
					<td style="text-align: left;" colspan="2">
					<p style="margin-left: 10px"><strong>Chủ đề: </strong>
					<input name="chude" type="text" style="width: 203px" value="{$chude}"></p>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;" colspan="2">
	<textarea name="noidung" style="width: 283px; height: 131px" rows="1" cols="20">{$noidung}</textarea></td>
				</tr>
				<tr>
					<td style="text-align: center;" colspan="2">
	<input name="submit" type="submit" value="Gửi liên hệ" class="sub"><input name="Reset1" type="reset" value="Làm Lại" class="sub"></td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<br>
	</form>


</div>

</div>

