﻿<body style="margin-top: 0">

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default" style="width: 120px">

		<a>Tìm kiếm sim</a></li>

	</ul>

	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

		<form name="timkiemsim" method="GET" action="index.php" onsubmit="return checksearch()">

			<input name="act" value="search" type="hidden">

			<div>

				<table style="width: 100%" cellspacing="0" cellpadding="0">

					<tbody style="text-align: left; word-spacing: 2px; line-height: 150%;">

						<tr>

							<td style="height: 26px" valign="middle">

							<div id="soption2" style="display: none; text-align: center;">

								<br>

								<select name="smang" style="width: 93px">

								<option selected="" value="0">Các mạng</option>

								{section name=d loop=$tenmang}

								<option value="{$tenmang[d]}">- {$tenmang[d]}

								</option>

								{/section}</select> <strong>

								<span class="style12">&nbsp;Giá từ: </span>&nbsp;</strong><input onkeyup="executeComma(event,document.timkiemsim.sgiatu)" onclick="this.value='';this.className='vienxanh'" name="sgiatu" type="text" style="width: 61px" id="g1" /><span class="style12"><strong>&nbsp; 

								Đến:&nbsp; </strong></span>

								<input onkeyup="executeComma(event,document.timkiemsim.sgiaden)" onclick="this.value='';this.className='vienxanh'" name="sgiaden" type="text" style="width: 62px" id="g2" />

								<strong>Tổng điểm:</strong>

								<select name="tongnut" style="width: 46px">

								<option selected="" value="11">Tất</option>

								<option value="1">1</option>

								<option value="2">2</option>

								<option value="3">3</option>

								<option value="4">4</option>

								<option value="5">5</option>

								<option value="6">6</option>

								<option value="7">7</option>

								<option value="8">8</option>

								<option value="9">9</option>

								<option value="0">10</option>

								</select><br>

								Dãy số không bao gồm:

								<input name="n[]" type="checkbox" value="1">1<input name="n[]" type="checkbox" value="2">2<input name="n[]" type="checkbox" value="3">3<input name="n[]" type="checkbox" value="4">4<input name="n[]" type="checkbox" value="5">5<input name="n[]" type="checkbox" value="6">6<input name="n[]" type="checkbox" value="7">7<input name="n[]" type="checkbox" value="8">8<input name="n[]" type="checkbox" value="9">9</div>

							</td>

						</tr>

						<tr>

							<td style="height: 11px;" align="center">

							<table style="width: 306px" cellspacing="0" cellpadding="0">

								<tr>

									<td style="height: 26px; width: 282px;">

									<table style="width: 70%" cellspacing="0" cellpadding="0">

										<tr>

											<td>

											<input onkeyup="checkmobis(this);" onclick="this.className='vienxanh'; this.value='';" name="Textsim" type="text" value="{$thiskey}" style="width: 277px; height: 21px; color: #000000" id="csearch" /></td>

										</tr>

										</table>

									</td>

									<td style="height: 26px;padding-left:3px">

									<input value="Tìm sim" name="submit" type="submit" class="sub"></td>

								</tr>

							</table>

							</td>

						</tr>

				</table>

				<table style="width: 100%" cellspacing="0" cellpadding="0">

					<tr>

						<td style="height: 19px; text-align: center; font-size:11px">

						<span>VD: </span>

						<a onclick="document.timkiemsim.Textsim.value='*1986'" href="javascript:void(0)" rel="nofollow">

						<span class="style24">*</span>1986</a><span class="style21">,

						</span>

						<a onclick="document.timkiemsim.Textsim.value='09*6868'" href="javascript:void(0)" rel="nofollow">

						09*6868</a>,

						<a onclick="document.timkiemsim.Textsim.value='0913*'" href="javascript:void(0)" rel="nofollow">

						0913*</a>,

						<a onclick="document.timkiemsim.Textsim.value='01234*'" href="javascript:void(0)" rel="nofollow">

						01234*</a>,

						<a onclick="document.timkiemsim.Textsim.value='091xxxx678'" href="javascript:void(0)" rel="nofollow">

						091xxxx678</a>,

						<a onclick="document.timkiemsim.Textsim.value='09*99x99'" href="javascript:void(0)" rel="nofollow">

						09*99x99</a>&nbsp;

						<span id="tnc">

						<a href="javascript:void(0)" rel="nofollow" onclick="oshow();">

						<strong>Tìm Nâng Cao</strong></a></span><span id="tbt" style="display: none"><a href="javascript:void(0)" rel="nofollow" onclick="ohide();"><strong>Tìm 

						nhanh</strong></a></span></td>

					</tr>

				</table>

				<table style="width: 100%" cellspacing="0" cellpadding="0">

					<tbody style="text-align: left; word-spacing: 2px; line-height: 150%;">

						<tr>

							<td class="style22" style="height: 19px; text-align: center;">

							<div id="soption" style="display: none">

								<br>

								<table style="width: 100%">

									<tr>

										<td>

										<div align="center">

											<table style="width: 90%;" cellspacing="0" cellpadding="0">

												<tr>

													<td style="border-style: solid; border-color: #F5F5F5">

													<p style="word-spacing: 2px; line-height: 150%; text-align: left; margin-top: 2px; margin-bottom: 2px">

													<span>

													<strong>Hướng dẫn kiếm nâng 

													cao:</strong><br>

													Để tìm sim đuôi tận cùng là 

													888 nhập *888<br>

													Để tìm đầu số 0169 và đuôi là 

													888 nhập 0169*888<br>

													Để tìm sim bắt đầu 09132 nhập 

													09132*<br>

&nbsp;+ Sử dụng dấu &quot;</span><span style="color: #FF0000">x</span><span>&quot; 

													đại điện cho 1 số và dấu &quot;</span><span style="color: #FF0000">*</span><span>&quot; 

													đại điện cho một chuỗi số.<br>

&nbsp; - Nếu tìm dạng 0912a33b44 nhập 0912x33x44<br>

&nbsp; - Nếu tìm dạng&nbsp; 09aa2b2c2d nhập 09*2x2x2x</span><br>

													<strong><a href="javascript:dialoga('aindex.php?act=page&pcode=huongdantimsim',0,0,'Hướng dẫn tìm sim')">

													Tìm hiểu thêm...</a></strong></p>

													</td>

												</tr>

											</table>

										</div>

										</td>

									</tr>

								</table>

							</div>

							</td>

						</tr>

				</table>

				</div>

		</form>

		<div class="ui-widget-content" style="text-align:left;line-height:21px;width:200px; padding-left:20px; float:left">

			<strong>Lựa chọn theo đầu số</strong></div>

		<table style="width: 100%;" cellspacing="0" cellpadding="0">

			<tr>

				<td style="height: 48px">

				<select name="sx" onchange="window.location.href='dau-so-'+this.options[selectedIndex].value+'.html';" style="height: 20px">

				<option>Vinaphone</option>

				{section name=d loop=$dauvina}

				<option value="{$dauvina[d]}">- {$dauvina[d]} -</option>

				{/section}</select></td>

				<td style="height: 48px">

				<select name="sv" onchange="window.location.href='dau-so-'+this.options[selectedIndex].value+'.html';" style="height: 20px">

				<option>Mobifone</option>

				{section name=d loop=$daumobi}

				<option value="{$daumobi[d]}">- {$daumobi[d]} -</option>

				{/section}</select></td>

				<td style="height: 48px">

				<select name="sa" onchange="window.location.href='dau-so-'+this.options[selectedIndex].value+'.html';" style="height: 20px">

				<option>Viettel</option>

				{section name=d loop=$dauviettel}

				<option value="{$dauviettel[d]}">- {$dauviettel[d]} -</option>

				{/section}</select></td>

				<td style="height: 48px">

				<select name="sa0" onchange="window.location.href='dau-so-'+this.options[selectedIndex].value+'.html';" style="height: 20px">

				<option>VietNamobile</option>

				{section name=d loop=$dauVietNamobile}

				<option value="{$dauVietNamobile[d]}">- {$dauVietNamobile[d]} -

				</option>

				{/section}</select></td>

				<td style="height: 48px">

				<select name="sa1" onchange="window.location.href='dau-so-'+this.options[selectedIndex].value+'.html';" style="height: 20px;">

				<option>Beeline</option>

				{section name=d loop=$dauBeeline}

				<option value="{$dauBeeline[d]}">- {$dauBeeline[d]} -</option>

				{/section}</select></td>

			</tr>

		</table>

	</div>

</div>

<br />

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">

		<a>{$muc}</a></li>

	</ul>

	

		{if $loaisim ==1}

		<table style="width: 100%" class="bo2">

			{section name=l loop = $vloai} {if $l[l] ==0}

			<tr>

				{/if}

				<td style="text-align: center" class="ui-state-default">

				<a title="{$my_keyword} - {$vloai[l]}" href="{$vlink[l]}">

				<span style="font-size: 12px; font-family:Tahoma;font-weight:bold">

				{$vloai[l]}</span></a></td>

				{if $l[l] ==4}

			</tr>

			{/if} {/section}

		</table>

		{/if}

		<table style="width: 100%" cellspacing="1">

			<tr class="ui-widget-header" style="height:30px">

				<td style="width: 7%; height: 22px; text-align: center;"><strong>STT</strong></td>

				<td style="width: 18%; height: 22px">

				<strong>Số Sim</strong></td>

				<td style="width: 18%; height: 22px">

				<strong>Giá Tiền</strong></td>

				<td style="width: 6%; height: 22px; text-align: center;">

				<strong>Mạng</strong></td>

				<td style="width: 15%; height: 22px; text-align: center;">

				<strong>Đặt Mua</strong></td>

			</tr>

			{section name = d loop = $data}

			<tr class="{$data[d].class}">

				<td style="width: 7%; text-align: center;">{$data[d].stt}</td>

				<td style="width: 18%; font-size:13px">

				<a href="{$my_domain}/dat-mua-sim-so-dep-{$data[d].sim2}.html">

				<strong>{$data[d].sim1}</strong></a></td>

				<td style="width: 18%; padding-left:10px"><strong>{$data[d].giaban}</strong></td>

				<td style="width: 6%; text-align: center;"><strong>{$data[d].mang}</strong></td>

				<td style="width: 15%; text-align: center;">

				<a href="dat-mua-sim-so-dep-{$data[d].sim2}.html" rel="nofollow">

				<span class="sub" style="font-size:11px;">Đặt mua</span></a>

				</td>

			</tr>
			
			{/section}

			<tr>

				<td class="dvc" colspan="5" align="center">

				

					{$paging}	</td>

			</tr>

		</table>

	</div>

