<!-- BEGIN: main -->
{FILE "header.tpl"}
<div class="contentwrapper">
	[HEADER]
    <div class="span-5">
		 <form action="{NV_BASE_SITEURL}" method="get" class="search " onsubmit="return {THEME_SEARCH_SUBMIT_ONCLICK}">
		    <fieldset>
		    <center>
			<img alt="NukeViet" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/icons/search.png" />
			<form action="{NV_BASE_SITEURL}" method="get" class="search fr" onsubmit="return {THEME_SEARCH_SUBMIT_ONCLICK}">
                    	<input type="hidden" id="topmenu_search_checkss" value="{CHECKSS}" />
                        <input class="txt" type="text" name="topmenu_search_query" id="topmenu_search_query" maxlength="{THEME_SEARCH_QUERY_MAX_LENGTH}" />
                       <input class="submitt" type="submitt" value="" name="topmenu_search_submit" id="topmenu_search_submit" onclick="{THEME_SEARCH_SUBMIT_ONCLICK}"/>
		    </fieldset>
			</center>
                </form>
				<div class="clear"></div>
        [LEFT]
    </div>
    <div class="span-13 contentcolumn">
         <!-- BEGIN: mod_title -->
	    <h3 class="breakcolumn">
	    	<a title="{LANG.Home}" href="{NV_BASE_SITEURL}"><img src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/icons/home.png" alt="{LANG.Home}" /></a>
	    	<!-- BEGIN: breakcolumn -->
				<span class="breakcolumn">&raquo;</span>	    	
	    		<a href="{BREAKCOLUMN.link}" title="{BREAKCOLUMN.title}">{BREAKCOLUMN.title}</a>
	    	<!-- END: breakcolumn -->
	    </h3>
         <!-- END: mod_title -->
        [TOP]
        {MODULE_CONTENT}
        [BOTTOM]
    </div>
    <div class="span-6 last">
		<div id="time">
                	<div style=" width:26px; height:23px; float:left;"><img src="{NV_BASE_SITEURL}themes/{TEMPLATE}/img/time_clock.jpg" /></div>
                    <div style="width:187px; height:23px; float:left; font-weight:bold; text-align:center; line-height:22px; color:#5e5d62;">{THEME_DIGCLOCK_TEXT}</div>
                </div>
	   </div>
	     <div class="span-6 last">
        [RIGHT]
    </div>
	[FOOTER]
</div>{FILE "footer.tpl"} 
<!-- END: main -->