<!--{subtemplate common/header}-->


<div id="pt" class="cl">
	<!--{if empty($gid) && $announcements}-->
	<div class="y">
		<div id="an">
			<dl class="cl">
				<dt class="z xw1">{lang announcements}:&nbsp;</dt>
				<dd>
					<div id="anc"><ul id="ancl">$announcements</ul></div>
				</dd>
			</dl>
		</div>
		<script type="text/javascript">announcement();</script>
	</div>
	<!--{/if}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a><em>&raquo;</em><a href="forum.php"{if $_G['setting']['forumjump']} id="fjump" onmouseover="delayShow(this, 'showForummenu($_G[fid])');" class="showmenu"{/if}>{$_G[setting][navs][2][navname]}</a>$navigation
	</div>
	<div class="z"><!--{hook/index_status_extra}--></div>
</div>


<!--{if empty($gid)}-->
	<!--{ad/text/wp a_t}-->
<!--{/if}-->

	<style id="diy_style" type="text/css"></style>

<!--{if empty($gid)}-->
	<div class="wp">
		<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
	</div>
<!--{/if}-->

<div id="ct" class="wp cl{if $_G['setting']['forumallowside']} ct2{/if}">
	<div class="mn">
		<!--{hook/index_top}-->
		<!--{if empty($gid)}-->
			<div class="fll bm cl">
			<!--{loop $catlist $key $cat}-->
				<!--{hook/index_catlist $cat[fid]}-->
				<div class="bm bmw item cl">
					<div class="cl title-gray">
						<!--{eval $caturl = !empty($cat['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$cat['domain'].'.'.$_G['setting']['domain']['root']['forum'] : '';}-->
						<h2><span class="ic ic_$cat[fid]">&nbsp;</span><a href="{if !empty($caturl)}$caturl{else}forum.php?gid=$cat[fid]{/if}" style="{if $cat[extra][namecolor]}color: {$cat[extra][namecolor]};{/if}"><span>$cat[name]</span></a></h2>
					</div>
					<div id="category_$cat[fid]" class="bm_c item-cont" style="{echo $collapse['category_'.$cat[fid]]}">
						<ul id="ul_$cat[fid]" class="list-col" style="overflow: hidden; height: 180px;">
							<!--{loop $cat[forums] $forumid}-->
							<!--{eval $forum=$forumlist[$forumid];}-->
							<!--{eval $forumurl = !empty($forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$forum['fid'];}-->
							<li><a href="$forumurl" {if $forum[description]}title="$forum[description]"{/if} {if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a></li>
							<!--{/loop}-->
						</ul>
						<p align="right" class="bottom">
							<a class="ic_more1 show" maxheight="180" id="$cat[fid]" href="javascript:void(0)" onclick="open_more(this)" rel="nofollow">Xem thêm</a>
						</p>
					</div>
				</div>
				<!--{ad/intercat/bm a_c/$cat[fid]}-->
			<!--{/loop}-->
			</div>
		<!--{else}-->
			<!--{loop $catlist $key $cat}-->
			<div class="box_dot bottom10 cl">
				<div class="box-cont1 cl">
					<ul id="list_cat" class="list-col cl" style="margin-left:0">
						<!--{loop $cat[forums] $forumid}-->
						<!--{eval $forum=$forumlist[$forumid];}-->
						<!--{eval $forumurl = !empty($forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$forum['fid'];}-->
						<li class="relative" style="display:block;">
						<a href="$forumurl" {if $forum[description]}title="$forum[description]"{/if} {if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>
						<strong>$forum[name]</strong>
						</a>
						</li>

						<!--{/loop}-->
					</ul>
				</div>	
			</div>	
	
			<!--{/loop}-->
		<!--{/if}-->
			<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->

	</div>
		<!--{hook/index_middle}-->
	<!--{if $_G['setting']['forumallowside']}-->
		<div id="sd" class="sd">
			<!--{hook/index_side_top}-->
			<div class="drag">
				<!--[diy=diy2]--><div id="diy2" class="area"><div id="frame6VB3m8" class="frame move-span cl frame-1"><div id="frame6VB3m8_left" class="column frame-1-c"><div id="frame6VB3m8_left_temp" class="move-span temp"></div><!--{block/3}--></div></div></div><!--[/diy]-->
			</div>
			<!--{hook/index_side_bottom}-->
		</div>
	<!--{/if}-->		
		<!--{hook/index_bottom}-->
</div>


	<img src="http://img195.imageshack.us/img195/7913/discuzvn28042013.jpg"/>
</div>

<!--{subtemplate common/footer}-->