<div align="center" style="padding-bottom:10px;">
<form name="frmsearch" action="" method="get" style="margin:0px;">
	<input type="hidden" name="do" value="roomtypes" />
	<b>Tìm loại phòng : </b>
	<input type="text" name="key" value="<?=$_GET['key']?>" size="30"/>		
	<INPUT type="submit" value="Tìm" class="button" style="width:65px;">
</form>
</div>

<form name="frmdel" action="?do=roomtypes&act=delselect&page=<?=$page?>" method="post" style="margin:0px;">
<table align="center" width="100%" border="1" cellpadding="4" cellspacing="0" class="border1">    
	<tr>
		<th class="style2" align="center" width="10">
		<input type="checkbox" name="checkall" id="checkall" title="Select or deselect all items" onClick="checkAll(this)" value="checkall">
		</th>
		<th class="style2">Loại phòng</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="115">Hành động</th>		
	</tr>
<? 
if ($roomtypes) {
for ($i=0;$i<count($roomtypes);$i++) {
?> 
  <tr>
		<td align="center"><input type="checkbox" name="checkid[]" onClick="checkboxClicked(this.form)" value="<?=$roomtypes[$i]['id']?>" /></td>
		<td>
			<!--<? if ($roomtypes[$i]['img']) { ?>
			<a href="?do=roomtypes&act=edit&id=<?=$roomtypes[$i]['id']?>&page=<?=$page?>"><img src="upload/roomtypes/<?=$roomtypes[$i]['img']?>" width="100" border="0" align="left" vspace="3" style="margin-right:8px;" class="imgbor"></a>
			<? } ?>-->
			<a href="?do=roomtypes&act=edit&id=<?=$roomtypes[$i]['id']?>&page=<?=$page?>"><b><?=stripslashes($roomtypes[$i]["title_vn"])?></b></a><? if ($roomtypes[$i]["special"]) echo ' <img src="images/hot.gif" border="0" align="absmiddle">';?><? if ($roomtypes[$i]["new"]) echo ' <img src="images/new.gif" border="0" align="absmiddle">';?><!-- <span class="black11"><em>(<?=date($DATE_FORMAT,strtotime($roomtypes[$i]["date"]))?>)</em></span>
			<br /><?=stripslashes($roomtypes[$i]["desc_vn"])?>-->
		</td>
		<td align="center">
		<? if ($i>0) { ?>
			<a href="?do=roomtypes&act=move&id1=<?=$roomtypes[$i]['id']?>&pos1=<?=$roomtypes[$i-1]['order']?>&id2=<?=$roomtypes[$i-1]['id']?>&pos2=<?=$roomtypes[$i]['order']?>&page=<?=$page?>"><img src="images/up.gif" border="0"/></a>
		<? } ?>
		</td>
		<td align="center">
		<? if ($i<count($roomtypes)-1) { ?>
			<a href="?do=roomtypes&act=move&id1=<?=$roomtypes[$i]['id']?>&pos1=<?=$roomtypes[$i+1]['order']?>&id2=<?=$roomtypes[$i+1]['id']?>&pos2=<?=$roomtypes[$i]['order']?>&page=<?=$page?>"><img src="images/down.gif" border="0"/></a>
		<? } ?>
		</td>		
		<td align="center">
			<a href="?do=roomimg&cid=<?=$roomtypes[$i]['id']?>" class="link_admin">Hình</a> | <a href="?do=roomtypes&act=edit&id=<?=$roomtypes[$i]['id']?>&page=<?=$page?>" class="link_admin">Cập nhật</a> | <a href="?do=roomtypes&act=del&id=<?=$roomtypes[$i]['id']?>&page=<?=$page?>" onClick="return check();" class="link_admin">Xóa</a>
		</td>
  </tr>
<? } } ?>
	<tr>
		<td colspan="5"><input type="submit" value="Xóa các loại phòng được chọn" class="button" onClick="return check();" style="width:200px;"/></td>
 	</tr>
<? if ($plpage) { ?>
	<tr>
		<td colspan="5" align="center"><?=$plpage?></td>
	</tr>
<? } ?>
</table>
</form>