/* hoangcn02 framwork - Specific css for admin panel */


body{
			padding:0px;
			margin:0px;
			text-align:center;
			color:#555555;
			font-size:10pt;
			font-family:Arial, Helvetica, sans-serif;
			background-color:#FFFFFF;
	}

p,div{
	margin:0px;
	padding:0px;
}

a 
{
	color:#666666;
	text-decoration:none;
}

a:active 
{
	color:#666666;
	text-decoration:none;

}

a:hover 
{
	color:#006666;
	text-decoration:underline;	
}

a.visited:hover
{
	color:#006699;
	text-decoration:none;	
}


/*Login field*/
.field{
	width:170px;
	color:#AA0000;
}


	
.tbl_main{
			border:#006699 solid 1px;
			border-collapse:collapse;						
			text-align:left;

		 }
.tbl_main td{
				border:#006699 solid 1px;
			}
		 
.tbl_edit{
			border:0px;
			padding-left: 10px;
			padding-top: 5px;
			padding-right: 5px;
			padding-bottom: 5px;
		  }		    		 

.tbl_add{
			border:0px;
			padding-left: 10px;
			padding-top: 5px;
			padding-right: 5px;
			padding-bottom: 5px;
		  }		    		 
		
	
.style1 {
			font-size: 14pt;
			font-weight: bold;
			color: #337700;
			font-family: Arial, Helvetica, sans-serif;
		}

.style2 {
			color: #FFFFFF;
			font-weight: bold;
			font-size:0.9em;
		}

a.style3{
			color:#666666;
			text-decoration:none;
		}

a:hover.style3{
			color:#009999;
			text-decoration:underline;
		}

.style3 {color:#FFFFFF}

.style4 {
			color:#333333;
			font-weight: bold;
		}

.style5 {
			color: #0000CC;
			font-weight: bold;
		}

a.style6 {
			color: #000000;
			text-decoration:none;
		}

a:hover.style6 {
			color: #000000;
			text-decoration:underline;
		}

.style6 {color: #000000 }
		
.style7 {
			color: #FFFFFF;
			font-weight: bold;
			font-size:18pt;
			font-family: Arial, Helvetica, sans-serif;
			
		}

.style8 {
			color: #FFFFFF;
		}
		
a.style9{
			color: #FFFF00;
			text-decoration:none;
		}

a:hover.style9{
				color: #FFFF00;
				text-decoration:underline;
		}

a.style10 {
			 color:#009900;
			 font-size:12px;
			 text-decoration:none;
		}

a:link.style10 {
				 color:#006633;
				 font-size:12px;
				 text-decoration:none;
			  }

a:visited.style10 {
					 color:#006633;
					 font-size:12px;
					 text-decoration:none;
				  }
		
a:hover.style10 {
					 color:#FF0000;
					 font-size:12px;
					 text-decoration:none;
				}
.trc{ 
		background-color:#3798B9;
		color:#FFFFFF;
		font-weight:bold;
		font-size:0.9em;
		text-align:center;
	 }
	 
	 		
tr.ho{background-color:#E5EBEE;}
tr.hr{background-color:#FAFAFA;}
/*tr.ho:hover,tr.hr:hover{background-color:#D8ECF6;}*/


.main{
		background-color:#FFFFFF;
		margin: 0px ;
		padding:0px;
	}


/* css for header part */
.header1{ 
           background-color:#99CC00;
		   PADDING-RIGHT: 0px; 
		   PADDING-LEFT: 0px; ; 
		   PADDING-BOTTOM: 0px;
		   MARGIN: 0px;
		   PADDING-TOP: 1px;
	  }

.header_main{
				background-color:#0F4B5D;
				width:100%;
				text-align:center;
				vertical-align:middle;
				height:50px;
				padding-top:15px;
				padding-bottom:20px;
				
  		   }

.header2{
				background-color:#990000;
				margin:0px;
				PADDING-RIGHT: 0px; 
		        PADDING-LEFT: 0px; ; 
		        PADDING-BOTTOM: 0px;
				padding-top:2px	;							
		}
			
			
			
/* Menu left */			
.left{
		background-color:#FFFFFF;
		width:200px;
		margin:0px;
		padding:0px;
		text-align:left;
		vertical-align:middle;
	 }

.left_title1{
				background-color:#009999;
				margin:0px;
				padding:1px 0px 0px 0px;
			}

.left_title2{
				background-color:#0F4B5D;
				/*height:15px;*/
				width:196px;
				padding:2px 2px 2px 2px;
			}
			
			
.adm_cap{
				background-color:#0F4B5D;				
				width:196px;
				padding:2px 2px 2px 2px;
				height:20px;
				line-height:20px;
				text-transform:uppercase;
				color:#FFFFFF;
				cursor:pointer;
				border-bottom:#CCCCCC solid 1px;
				font-size:0.9em;
				/*font-weight:bold;				*/
		
}

.adm_lmenu{
				background-color:#FFFFFF;
				height:16px;
				line-height:16px;
				width:196px;
				color:#FF0000;
				text-align:left;
				padding:2px;
				border-bottom:#CCCCCC solid 1px;
}


.left_title3{
				background-color:#000000;
				margin:0px;
				padding:1px 0px 0px 0px;
			}

.left_menu1{
				background-color:#CCCCCC;
				margin:0px;
				padding:1px 0px 0px 0px;
			}

.left_menu{
				background-color:#FFFFFF;
				height:16px;
				width:196px;
				color:#FF0000;
				text-align:left;
				padding:2px 2px 4px 2px;
			}



/* Footer part */
.footer1{
				background-color:#990000;
				padding:1px 0px 0px 0px;
				margin:0px;
		}

.footer{
			background-color:#333333;
			width:100%;
			height:45px;
			color:#FFFFFF;
			text-align:center;
			padding-top:7px;
			padding-bottom:7px;
		}

.footer2{
			background-color:#00CCCC;
			padding:1px 0px 0px 0px;
			margin:0px;
		}

/* Css for title, caption */
.bar{
		margin-left:5px; 
		background-color:#0F4B5D;

	}

.bar1{
		background-color:#666666;
		margin-left:5px;
		padding:2px 0px 0px 0px;
	}

.bar_left{
			height:15px;
			background-color:#0F4B5D;
			text-align:left;
			color:#FFFFFF;
			width:50%; 
			float:left;
			padding-left:5px; 
			padding-top:2px; 
			padding-bottom:2px; 
			text-align:left;
		}

.bar_right{
			height:15px;
			background-color:#0F4B5D;
			text-align:right;
			color:#FFFFFF;
			margin:0px;
			text-align:right; 
			padding-bottom:2px; 
			padding-top:2px; 
			padding-right:5px;
		}			

.bar2{
		background-color:#337700;
		margin-left:5px;
		padding:2px 0px 0px 0px;
	}


/* div for main content */
.div_content{
				background-color:#FFFFFF;
				margin:0px;
				padding: 5px 5px 10px 5px;
				text-align:left;
			 }

.div_title{
			background-color:#FFFFFF;
			width:100%;
			margin:2px;
			text-align:center;
			color:#000000;
			font-weight:bold;
		}

.div_page{
			background-color:#FFFFFF;
			width:100%;
			padding:10px 5px 10px 5px;
			text-align:center;
		}

.div_blank{
				background-color:#FFFFFF;
				margin:0px;
				PADDING-RIGHT: 0px; 
			   PADDING-LEFT: 0px; ; 
			   PADDING-BOTTOM: 0px;
				padding-top:3px;
		  }	

.warning{
			padding:3px 3px 5px 3px;
			color:#000000;
		}		

.span_ok {
			color:#0033FF;
			font-weight:500;
		 }
		 
.span_err{
			color:#FF0000;
			font-weight:500;
		  }

.div_add{
			padding:5px;
			text-align:center;
			color:#0000FF;
			font-weight:bold;
		}
		


a:link.topadd {
				 color:#0099FF;
				 font-size:12px;
				 text-decoration:underline
			  }

a:visited.topadd {
					 color:#0099FF;
					 font-size:12px;
					 text-decoration:underline
				  }
		
a:hover.topadd {
					 color:#FF0000;
					 font-size:12px;
					 text-decoration:none;
				}
				
.thumbnail{
				border: #CCCCCC solid 1px;
				padding: 3px;
				width:120px;
				height:90px;
				vertical-align:middle;
				background-color:#FFFFFF;
		   }
		   
.video_thumb{
				border: #CCCCCC solid 1px;
				padding: 3px;
				width:100px;
				height:130px;
				vertical-align:middle;
				background-color:#FFFFFF;
		   }

.img{
		border:0px;
		vertical-align:middle;
		width:350px;;
		height:280px;
		padding:5px;
		border:#CCCCCC solid 1px;
		background-color:#FFFFFF;
	}
	
.div_cat{
			padding-left:15px;
			padding-right: 10px;
			padding-top:5px;
			padding-bottom:5px;
			font-weight:bold;
			color:#0000FF;
		}
		

/*Some css for news version*/
.pageset{
			width:190px;
			float:left;
			text-align:right;
		}

.paco{
		padding:5px;
	 }

.pagemain{
			width:400px;
			padding:10px;
		 }

.pagebr{
			padding:10px;
			text-align:center;
		}


/*Login form*/
.dloginForm{
	margin:0 auto;
	width:600px;
}

.plogintitle{
	font-size:1.3em;
	text-transform:uppercase;
	color:#0066FF;
	text-align:center;
	font-weight:bold;
}

/*Css that maybe used in pagination*/			
a.paginage{
	padding:2px 3px 2px 3px;
	color:#0000FF;
	background-color:#AAFFFF;
	border:#A0A0A4 solid 1px;
	text-decoration:none;
}

a.paginage:hover{
	background-color:#FFFFAA;
	border:#AA0000 solid 1px;
	text-decoration:none;
	color:#0000FF;
}   	

a.paginage:visited{
	text-decoration:none;
	color:#0000FF;
}
	
/*Show caption of upload section*/
.spupload{
	text-transform:uppercase;
	color:#007F55;
	padding:5px;
	margin:0px;
}



/*Style for banner show*/
.banner{
	width:300px;
	height:100px;
	padding:3px;
	background:#FFFBF0;
	border:#808080 solid 1px;
}


/*Style for bank info*/
.bank_caption{
	padding-left:20px;
	padding-top:10px;
	padding-bottom:5px;
	color:#0033CC;
	font-weight:bold;
	
}


/*Style for view details*/
a.viewmore{
	color:#FF0055;
	text-decoration:none;
}

a.viewmore:hover{
	color:#FF1FAA;
	text-decoration:underline;
}

a.viewmore:visited{
	text-decoration:none;
}

a.external{
	color:#3333FF;
	text-decoration:none;
}

a.external:hover{
	color:#3333FF;
	text-decoration:underline;
}

a.external:visited{
	text-decoration:none;
}	