.tieude {
	padding: 10px 0px 10px 0px;
	border: #E4E4E4 1px solid;
	margin-bottom: 2px;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	color:#3624c2;
}

.tieudetkb {
	padding: 10px 0px 10px 0px;
	border: #E4E4E4 1px solid;
	margin-bottom: 2px;
	font-size:16px;
	font-weight: bold;
	text-align: center;
	color:#3624c2;
}

#search_tkb{
	padding: 15px 0px 15px 0px;
	border: #E4E4E4 1px solid;
}

.thu {
	margin-bottom: 2px;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	color:#3624c2;
	background:#91bef4;
}

.tiet {
	margin-bottom: 2px;
	font-size:12px;
	font-weight: normal;
	text-align: center;
	color:#1b0669;
}

.buoi {
	padding: 5px 0px 5px 5px;
	margin: 6px 0px 2px 0px;
	font-size:14px;
	font-weight: bold;
	color:#3624c2;
	background:#8ff373;
}

.chuy {
	padding: 5px 0px 5px 5px;
	color:red;
	font-weight: bold;
}

.tkbck {
	color:blue;
	font-weight: bold;
	margin-left: 10px;
}

.tbsc {
	margin-left: 18px;
}

.tkbbottom {
	border: #E4E4E4 1px solid;
}

td {
	vertical-align:middle;
	margin: 0px 0px 0px 0px;
} 

.ngayad {
	text-align: center;
	font-size:13px;
	font-weight: normal;
	color:#3624c2;
}
.tengv {
	text-align: center;
	font-size:14px;
	font-weight: bold;
	color:#3624c2;
}