.panel {border: solid 0px #336699; BACKGROUND-COLOR: #f0f0f0; padding: 0 0 0 0;}
.row_head {BORDER-RIGHT: #f0f0f0 0px solid; BORDER-TOP: #f0f0f0 1px solid;
	BORDER-LEFT: #f0f0f0 0px solid; BORDER-BOTTOM: #f0f0f0 1px solid;
	BACKGROUND-COLOR: #f0f0f0; padding: 0 0 0 0;}
.head {FONT-WEIGHT: bold; FONT-SIZE: 9px; CURSOR: default; COLOR: #000000;
	FONT-FAMILY: verdana; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center}
.arrow_prev {BORDER-RIGHT: #668099 1px solid; padding: 0 2 0 2; FONT-SIZE: 9px;
	BORDER-TOP: #cce6ff 1px solid; BORDER-LEFT: #cce6ff 1px solid;
	CURSOR: pointer; COLOR: #ffffff; MARGIN-RIGHT: 1px;	BORDER-BOTTOM: #668099 1px solid;
	FONT-FAMILY: verdana; BACKGROUND-COLOR: #99b3cc; TEXT-ALIGN: center }
.arrow_prev_over {BORDER-RIGHT: #668099 1px solid; padding: 0 2 0 2;
	BORDER-TOP: #cce6ff 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #cce6ff 1px solid;
	CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: #668099 1px solid;
	FONT-FAMILY: verdana; BACKGROUND-COLOR: #afc6dd; TEXT-ALIGN: center }
.arrow_prev_down { BORDER-RIGHT: #afc6dd 1px solid; padding: 0 2 0 2;
	BORDER-TOP: #4b6077 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #4b6077 1px solid;
	CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: #afc6dd 1px solid;
	FONT-FAMILY: verdana; BACKGROUND-COLOR: #7e93aa; TEXT-ALIGN: center }
.arrow_next {BORDER-RIGHT: #668099 1px solid; BORDER-TOP: #cce6ff 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #cce6ff 1px solid; CURSOR: pointer; COLOR: #ffffff; padding: 0 2 0 2;
	BORDER-BOTTOM: #668099 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #99b3cc;
	TEXT-ALIGN: center}
.arrow_next_over {BORDER-RIGHT: #668099 1px solid; BORDER-TOP: #cce6ff 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #cce6ff 1px solid; CURSOR: pointer; COLOR: #ffffff; padding: 0 2 0 2;
	BORDER-BOTTOM: #668099 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #afc6dd;
	TEXT-ALIGN: center}
.arrow_next_down {BORDER-RIGHT: #afc6dd 1px solid; BORDER-TOP: #4b6077 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #4b6077 1px solid; CURSOR: pointer; COLOR: #ffffff; padding: 0 2 0 2;
	BORDER-BOTTOM: #afc6dd 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #7e93aa; TEXT-ALIGN: center}
.row_week {BORDER-RIGHT: #99b3cc 1px solid; BORDER-TOP: #99b3cc 1px solid;
	BORDER-LEFT: #99b3cc 1px solid; BORDER-BOTTOM: #668099 1px solid; padding: 0 0 0 0;}
.weekday {BORDER-RIGHT: #99b3cc 1px solid; BORDER-TOP: #99b3cc 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #99b3cc 1px solid; CURSOR: default; COLOR: #ffffff;
	BORDER-BOTTOM: #99b3cc 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #99b3cc;
	TEXT-ALIGN: center; padding: 0 0 0 0;}
.row_day {padding: 0 0 0 0;}
.day {BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #f0f0f0 1px solid; CURSOR: pointer; COLOR: #000000; padding: 0 0 0 0;
	BORDER-BOTTOM: #f0f0f0 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center}
.day_over {BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #ffffff 1px solid; CURSOR: pointer; COLOR: #000000; padding: 0 0 0 0;
	BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center}
.day_down {BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #9c9c9c 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #9c9c9c 1px solid; CURSOR: pointer; COLOR: #000000; padding: 0 0 0 0;
	BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #cfcfcf; TEXT-ALIGN: center}
.day_empty {BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #f0f0f0 1px solid; CURSOR: default; COLOR: #f0f0f0; padding: 0 0 0 0;
	BORDER-BOTTOM: #f0f0f0 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center}
.day_disabled {BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #f0f0f0 1px solid; CURSOR: default; COLOR: #999999; padding: 0 0 0 0;
	BORDER-BOTTOM: #f0f0f0 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f0f0f0;
	TEXT-ALIGN: center; TEXT-DECORATION: line-through}
.day_current {BORDER-RIGHT: #668099 1px solid; BORDER-TOP: #cce6ff 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #cce6ff 1px solid; CURSOR: pointer; COLOR: #ffffff; padding: 0 0 0 0;
	BORDER-BOTTOM: #668099 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #99b3cc; TEXT-ALIGN: center}
.day_special {BORDER-RIGHT: #996666 1px solid; BORDER-TOP: #ffcccc 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #ffcccc 1px solid; CURSOR: pointer; COLOR: #ffffff; padding: 0 0 0 0;
	BORDER-BOTTOM: #996666 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #cc9999; TEXT-ALIGN: center}
.row_foot {MARGIN: 1px}
.foot {BORDER-RIGHT: #668099 1px solid; BORDER-TOP: #cce6ff 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #cce6ff 1px solid; CURSOR: pointer; COLOR: #ffffff; padding: 0 0 0 0;
	BORDER-BOTTOM: #668099 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #99b3cc; TEXT-ALIGN: center}
.foot_over {BORDER-RIGHT: #668099 1px solid; BORDER-TOP: #cce6ff 1px solid; FONT-SIZE: 9px;
	MARGIN: 0px 1px; BORDER-LEFT: #cce6ff 1px solid; CURSOR: pointer; COLOR: #ffffff;
	BORDER-BOTTOM: #668099 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #afc6dd; TEXT-ALIGN: center}
.foot_down {BORDER-RIGHT: #afc6dd 1px solid; BORDER-TOP: #4b6077 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #4b6077 1px solid; CURSOR: pointer; COLOR: #ffffff;
	BORDER-BOTTOM: #afc6dd 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #7e93aa; TEXT-ALIGN: center}
.list {FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f0f0f0}
.info {FONT-SIZE: 9px; COLOR: #000000; TEXT-ALIGN: left; padding: 0 0 0 0;}
.tip_title {BORDER-RIGHT: #ffcccc 1px solid; BORDER-TOP: #996666 1px solid; FONT-SIZE: 9px;
	BORDER-LEFT: #996666 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffcccc 1px solid;
	FONT-FAMILY: verdana; BACKGROUND-COLOR: #cc9999; TEXT-ALIGN: center}
.tip_box {BORDER-RIGHT: #668099 1px solid; BORDER-TOP: #cce6ff 1px solid; FONT-SIZE: 9px; FILTER: alpha(opacity:90)
    progid:DXImageTransform.Microsoft.RandomDissolve(duration=0.5);
    OVERFLOW: auto; BORDER-LEFT: #cce6ff 1px solid; WIDTH: 200px; CURSOR: default; COLOR: #000000;
    BORDER-BOTTOM: #668099 1px solid; FONT-FAMILY: verdana; HEIGHT: 100px;
    BACKGROUND-COLOR: #cfcfcf; TEXT-ALIGN: left; moz-opacity: 0.9}