body {
    color: #575757;
    font-size: 12px;
    font-family: arial;
    line-height: 18px;
    background-color: white;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
    margin: 0;
}
/*Misc*/
a:link {
    color: #2169a4;
    text-decoration: none;
}
a:visited {
    color: #2169a4;
    text-decoration: none;
}
a:hover {
    color: #2169a4;
    text-decoration: underline;
}
#logo {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 550px top;
    width: 960px;
    height: 109px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
}
hr {
    border-color: #d9d9d9 white white;
    border-style: solid;
    border-width: 1px;
}
/*Top bar*/
#top_bar {
    position: relative;
    width: 960px;
    height: 20px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
}
#top_bar a {
    color: #575757;
    text-decoration: none;
}
#top_bar a:hover {
    color: #575757;
    text-decoration: underline;
}
#top_bar span {
    background-image: url(../images/home_sm.png);
    background-repeat: no-repeat;
    float: left;
    clear: both;
    padding-left: 20px;
}
#top_bar span.r {
    background-image: none;
    float: right;
    clear: right;
    margin-top: -5px;
}
.dr_srvice {
    color: #575757;
    width: 150px;
    border: solid 1px #c4c4c4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f5f5f5;
    behavior: url(PIE.htc);
}
/*Menu*/
#m_menu {
    position: relative;
    top: -10px;
    width: 960px;
    clear: both;
    margin-top: 9px;
    margin-right: auto;
    margin-left: auto;
}
img.menu_ico {
    position: relative;
    top: 8px;
    width: 25px;
    height: 25px;
    padding-right: 10px;
}
#m_menu li {
    background-repeat: no-repeat;
    list-style-type: none;
    display: block;
    position: relative; *
    top: 3px;
    float: left;
    padding-right: 20px;
}
#m_menu a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: -2px;
    float: left;
    text-shadow: 1px 1px 0px #3c79b2;
    padding-bottom: 15px;
}
#m_menu a.active {
    color: #385a8c;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/bg_menu.gif);
    background-repeat: no-repeat;
    background-position: left top;
    text-decoration: none;
    float: left;
    margin-top: -5px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 12px;
    text-shadow: 1px 1px 0px #fff;
}
#m_menu a.active:hover {
    color: #385a8c;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-image: url(../images/bg_menu.gif);
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: -5px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 12px;
    float: left;
    text-shadow: 1px 1px 0px #fff;
}
#m_menu span {
    background-image: url(../images/bg_menu.gif);
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    width: 12px;
    height: 44px;
    float: left;
    margin-top: -7px;
}
#m_menu span.nativ {
    background-image: none;
    position: relative;
    width: 0;
    height: 0;
    float: left;
}
#m_menu a:hover {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/mn_hover.png);
    background-repeat: no-repeat;
    background-position: center 18px;
    text-decoration: none;
    position: relative;
    float: left;
    padding-bottom: 9px;
}
/*Main*/
#main_cn {
    background-image: url(../images/mid_cnt.gif);
    background-repeat: repeat-y;
    position: relative;
    width: 902px;
    height: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
#top_maincn {
    font-size: 20px;
    font-weight: bold;
    background-image: url(../images/top_cnt.gif);
    background-repeat: no-repeat;
    position: relative;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}
#top_maincn span.id_intro {
    color: #f7941d;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 2px #fff;
}
#top_maincn span.logintro {
    color: #575757;
    position: absolute;
    left: 600px;
    z-index: 2;
    float: right;
    text-shadow: 1px 1px 1px #bbbbbb;
}
#top_maincn span.acc_free {
    color: #575757;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    z-index: 2;
    left: 600px;
    float: right;
    text-shadow: 1px 1px 1px #b2b2b2;
}
#top_maincn span.coin_free {
    color: #cc6423;
    font-size: 15px;
}
#left_colm {
    width: 535px;
    height: auto;
    float: left;
    padding: 20px;
    border-right: 1px dashed #c0c0c0;
}
.spx {
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    position: relative;
    float: left;
    padding-right: 10px;
    padding-left: 15px;
    margin-left: 120px;
}
.spx a {
    color: #cc6423;
    text-decoration: none;
}
.spx a:hover {
    color: #dc440d;
    text-decoration: none;
}
img.spxi {
    border: solid 3px #f1f1f1;
}
img.spxi:hover {
    border: solid 3px #ffc57d;
}
#full_colm {
    padding: 20px;
    width: auto;
    height: auto;
}
td.l {
    font-weight: bold;
    text-align: right;
    width: 150px;
    height: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.hi_l {
    color: #dc0000;
    font-size: 16px;
    font-weight: bold;
}
.hi_r {
    color: #dc0000;
    font-size: 12px;
    font-weight: normal;
}
.info_tit {
    color: #3e7aa5;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/li_1.gif);
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 10px;
    padding-left: 25px;
}
input.sub {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    padding-top: 0;
    position: relative;
    width: 121px;
    height: 29px;
    float: left;
    border-style: none;
}
input.dec {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-image: url(../images/button2.png);
    background-repeat: no-repeat;
    padding-top: 0;
    position: relative;
    width: 121px;
    height: 29px;
    float: right;
    border-style: none;
}
input.sub:hover {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 121px;
    height: 29px;
    border-style: none;
}
input.dec:hover {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-image: url(../images/button2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 121px;
    height: 29px;
    border-style: none;
}
textarea{
margin: 5px;
width:320px;
height:120px;
}
#ads_img {
    background-color: #c4c4c4;
    width: 170px;
    height: 200px;
    overflow: hidden;
    border: solid 1px #686868;
}
#left_colm ul {
    position: relative;
    width: 350px;
    float: right;
    margin-top: -200px;
    margin-left: 150px;
}
#left_colm ul.notice {
    position: relative;
    width: 450px;
    margin: 0 0 0 0;
    list-style-type: disc;
}
#left_colm ul.notice li {
    background-image: none;
    list-style-type: disc;
    margin: 0;
    position: relative;
    padding: 10px 0 0;
}
#left_colm li {
    background-image: url(../images/li_1.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-bottom: 15px;
    padding-left: 25px;
    list-style-type: none;
}
#type_cn {
    text-align: center;
    width: 540px;
    height: 220px;
    padding-top: 20px;
}
#type_cn span {
    line-height: 18px;
    position: relative;
    width: auto;
    float: left;
    padding-right: 25px;
    padding-left: 25px;
    display: block;
}
#right_colm {
    position: relative;
    width: 280px;
    height: 100%;
    float: right;
    padding: 20px;
}
#right_colm td {
    font-size: 14px;
    text-align: center;
    width: 100px;
    padding: 10px;
    border: solid 1px #f3f3f3;
}
#right_colm td span {
    color: #cc6423;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    display: inline;
}
#right_colm span {
    position: relative;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
    display: block;
}

#right_colm input.notice {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    width: 200px;
    height: 20px;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #f74b29;
}
#right_colm input.subutton {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    position: relative;
    width: 121px;
    height: 29px;
    padding-top: 0;
    border-style: none;
}
#right_colm input.subutton:hover {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 121px;
    height: 29px;
    border-style: none;
}
#right_colm input.subutton_1 {
    color: #575757;
    font-size: 13px;
    width: 121px;
    height: 29px;
    background: #f5f5f5;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    border: solid 1px #c4c4c4;
}
#right_colm input.subutton_1:hover {
    color: #575757;
    font-size: 13px;
    background: #f5f5f5;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    width: 121px;
    height: 29px;
    border: solid 1px #686868;
}
#right_colm li {
    line-height: 18px;
    background-image: url(../images/li.gif);
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    list-style-type: none;
}
#bot_maincn {
    background-image: url(../images/bot_cnt.gif);
    background-repeat: no-repeat;
    position: relative;
    width: 902px;
    height: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}
#acc_cn {
    position: relative;
    width: 960px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}
#acc_cnt {
    color: #3e7aa5;
    position: relative;
    height: 30px;
    z-index: 1;
    float: right;
    padding-right: 30px;
}
#acc_cnt img {
    position: relative;
    top: 7px;
    padding-left: 10px;
}
#acc_cnt span {
    color: #cc6423;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: inline;
}
span.spp_cn {
    background-color: #efefef;
    width: 760px;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #d9d9d9;
}
#guide1 {
    text-decoration: none;
}
#guide1div {
    width: 700px;
    height: auto;
    float: left;
    clear: both;
    margin-bottom: 10px;
    margin-left: 50px;
}
table.tab_card {
    background-color: #ccc;
    width: 500px;
    height: auto;
    border: solid 1px #ccc;
}
table.tab_card td {
    background-color: #fff;
}
#guide2div {
    width: 700px;
    height: auto;
    float: left;
    clear: both;
    margin-bottom: 10px;
    margin-left: 50px;
}
#ask1div {
    margin-bottom: 10px;
    margin-left: 50px;
    width: 700px;
    height: auto;
    float: left;
    clear: both;
}
#ask2div {
    margin-bottom: 10px;
    margin-left: 50px;
    width: 700px;
    height: auto;
    float: left;
    clear: both;
}
#ask3div {
    margin-bottom: 10px;
    margin-left: 50px;
    width: 700px;
    height: auto;
    float: left;
    clear: both;
}
span.acc_t {
    color: #cc6423;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
span.acc_hs a {
    background-image: url(../images/li.gif);
    background-repeat: no-repeat;
    background-position: left 4px;
    padding-left: 15px;
}
/*Transaction History*/
#menu_his {
    position: relative;
    width: 830px;
    height: 40px;
    clear: both;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px dashed #d3d3d3;
    list-style-type: none;
}
#menu_his a {
    font-weight: bold;
    text-decoration: none;
}
#menu_his a:hover {
    color: #3e86ad;
    font-weight: bold;
    text-decoration: none;
}
#menu_his li {
    background-color: #fff;
    text-align: center;
    position: relative;
    width: 320px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border: solid 1px #d3d3d3;
    display: inline;
}
#menu_his li:hover {
    background-color: #fafafa;
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 1px 1px 3px;
}
#menu_his li.active {
    background-color: #f2f2f2;
    border-color: #a1a1a1;
    border-style: solid;
    border-width: 1px 1px 3px;
}
#menu_his li:active {
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 1px 1px 3px;
    border-color: #a1a1a1;
}
table.transhis {
    background-color: #d9d9d9;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
table.transhis td.headhis {
    color: #fff;
    font-weight: bold;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
    background-position: left -154px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
    text-shadow: 1px 1px 1px #29485f;
}
table.transhis td {
    background-color: #fafafa;
    text-align: center;
    width: auto;
    padding: 5px 10px;
}
/*Footer*/
#footer_cn {
    background-image: url(../images/bg_footer.gif);
    background-repeat: repeat-x;
    width: 100%;
    padding-top: 20px;
}
#footer_des {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}
#footer_des span {
    font-size: 11px;
    line-height: 18px;
}
/*Error*/
ul.errors {
    padding-left: 0px;
    color: red;
    margin: 0px;
}
#activateTable li, #registerTable li, #changepassTable li {
    line-height: 18px;
    background-image: url(../images/li.gif);
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    list-style-type: none;
}
#activateTable td {
    padding: 10px 10px;
}
#registerTable td.l, #changepassTable td.l {
    font-weight: bold;
    text-align: right;
    width: 20%;
    white-space: nowrap;
    height: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}
#paymentTable td.l {
    font-weight: bold;
    text-align: right;
    width: 30%;
    height: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}
#captcha-input-label {
    font-weight: bold;
    text-align: right;
    width: 20%;
    height: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}
tr#captchaTr #captcha-input, tr#captchaTr ul.errors {
    margin-top: 5px;
}
#captchaTr #captcha-input {
    width: 170px;
    margin-right: 150px;
}
#paymentTable td.l {
    height: 32px;
}
#paymentTable ul.errors {
    margin: 5px 0px;
    position: inherit;
    float: none;
    width: 300px;
}
#paymentTable ul.errors li {
    line-height: 18px;
    background-image: url(../images/li.gif);
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    list-style-type: none;
    padding-bottom: 0px;
}
span.notice {
    font-style: italic;
    font-size: 12px;
    color: red;
}
.spx {
    color: #dc440d;
}
img.spxii {
    border: solid 3px #ffc57d;
}
#exchangeAmount {
    font-weight: bold;
    font-size: 12px;
    color: #DC0000;
}
#amount {
    font-size: 12px;
    color: #DC0000;
}
td#csrfTd li {
    margin-bottom: 15px;
}
.info_tit_required {
    color: red;
    font-size: 14px;
    font-weight: bold;
}
#system-message {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
}
#system-message dd {
    font-weight: bold;
    margin: 0;
    text-indent: 20px;
}
/* System Standard Messages */
#system-message dd.message ul {
    background: #C3D2E5 url(../images/notice-info.png) 4px center no-repeat;
}
/* System Error Messages */
#system-message dd.error ul {
    padding: 0px;
    color: #c00;
    background: #E6C0C0;
    border-top: 3px solid #DE7A7B;
    border-bottom: 3px solid #DE7A7B;
    margin: 0px;
    float: none;
    width: 100%;
}
#system-message dd.error ul li {
    padding: 5px 0px;
    list-style: none;
    background-image: none;
}
/* System Notice Messages */
#system-message dd.notice ul {
    color: #c00;
    background: #EFE7B8 url(../images/notice-note.png) 4px top no-repeat;
    border-top: 3px solid #F0DC7E;
    border-bottom: 3px solid #F0DC7E;
}
#goiwinxu {
    background-image: url(../images/bg_chg.gif);
    background-repeat: no-repeat;
    text-align: left;
    position: relative;
    width: 145px;
    height: 52px;
    float: left;
    margin-right: 6px;
    padding-top: 4px;
    padding-left: 4px;
}
#goiwinxu span {
    color: #962422;
    line-height: 22px;
    position: relative;
    float: right;
    padding-right: 50px;
}

.list1 {
background: #ffffff;
border-bottom: 1px solid #d5d5d5;
margin: 1px;
padding: 2px 4px 2px 4px;
}

.list2 {
background: #ffffff;
border-bottom: 1px solid #d5d5d5;
margin: 1px;
padding: 2px 4px 2px 4px;
}

.sub {
border-top: 1px dotted #417394;
font-size: x-small;
margin: 3px 2px 2px 2px;
padding: 3px 0px 0px 0px;
}



#GATE_card { background-image: url(../images/gate.gif); background-repeat: no-repeat; text-align: left; margin-right: 6px; padding-top: 4px; padding-left: 4px; position: relative; width: 100px; height: 52px; float: left; }
#MOBI_card { background-image: url(../images/mobi.gif); background-repeat: no-repeat; text-align: left; margin-right: 6px; padding-top: 4px; padding-left: 4px; position: relative; width: 100px; height: 52px; float: left; }
#VINA_card { background-image: url(../images/vina.gif); background-repeat: no-repeat; text-align: left; margin-right: 6px; padding-top: 4px; padding-left: 4px; position: relative; width: 100px; height: 52px; float: left; }