{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		               		<td>
		               			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" id="menu1" dir="ltr" style="color: #CF242F;">ĐĂNG KÝ THÀNH VIÊN</td>
				                              	</tr>
				                            	</table>
				                            </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
									</td>
								</tr>
				                <tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD" style="padding-left: 5px;">
				                          		<form action="?hdl=auth/regist" name="frmregist" id="frmregist" method="post">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
					                            {if $result ne ''}
					                            <tr>
					                              	<td colspan="3" height="25" align="left" valign="middle" style="color: #FF0000; padding-top: 10px;">
														<fieldset style="text-align:left;">
															<legend accesskey="Q" style="font-weight: bold;">Thông báo hệ thống</legend>
															{$result}
														</fieldset>
					                                </td>
	                            				</tr>
					                            {else}
					                            {if $message ne ''}
					                            <tr>
					                              	<td colspan="3" height="25" align="left" valign="middle" style="color: #FF0000; padding-top: 10px;">
														<fieldset style="text-align:left;">
															<legend accesskey="Q" style="font-weight: bold;">Thông báo hệ thống</legend>
															{$message}
														</fieldset>
					                                </td>
	                            				</tr>
	                            				{/if}
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-top: 10px; padding-bottom: 5px;">
				                            			Tên đăng nhập
				                            		</td>
				                            		<td align="left" style="padding-top: 10px; padding-bottom: 5px;">
				                            			<input type ="text" name="object[member_user]" id="object[member_user]" value="{$object.member_user}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-top: 10px; padding-bottom: 5px;">
				                            			Bao gồm các ký tự a-z, A-Z, 0-9 dài từ 6-50 ký tự. 
				                            		</td> 
				                            	</tr>
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-bottom: 5px;">
				                            			Mật khẩu
				                            		</td>
				                            		<td align="left" style="padding-bottom: 5px;">
				                            			<input type ="password" name="object[member_pass]" id="object[member_pass]" value="{$object.member_pass}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-bottom: 5px;">
				                            			Bao gồm các ký tự a-z, A-Z, 0-9 dài từ 6-50 ký tự. 
				                            		</td> 
				                            	</tr>
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-bottom: 5px;">
				                            			Nhập lại mật khẩu
				                            		</td>
				                            		<td align="left" style="padding-bottom: 5px;">
				                            			<input type ="password" name="object[pass_confirm]" id="object[pass_confirm]" value="{$object.pass_confirm}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-bottom: 5px;">
				                            			Bao gồm các ký tự a-z, A-Z, 0-9 dài từ 6-50 ký tự. 
				                            		</td> 
				                            	</tr>
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-bottom: 5px;">
				                            			Họ tên/Tên công ty
				                            		</td>
				                            		<td align="left" style="padding-bottom: 5px;">
				                            			<input type ="text" name="object[member_name]" id="object[member_name]" value="{$object.member_name}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-bottom: 5px;">
				                            			Dài từ 255 ký tự. 
				                            		</td> 
				                            	</tr>
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-bottom: 5px;">
				                            			Địa chỉ Email
				                            		</td>
				                            		<td align="left" style="padding-bottom: 5px;">
				                            			<input type ="text" name="object[member_mail]" id="object[member_mail]" value="{$object.member_mail}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-bottom: 5px;">
				                            			Dài 100 ký tự. VD: thunn84@hotmail.com. 
				                            		</td> 
				                            	</tr>
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-bottom: 5px;">
				                            			Địa chỉ liên lạc
				                            		</td>
				                            		<td align="left" style="padding-bottom: 5px;">
				                            			<input type ="text" name="object[member_address]" id="object[member_address]" value="{$object.member_address}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-bottom: 5px;">
				                            			Dài 255 ký tự. 
				                            		</td> 
				                            	</tr>
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-bottom: 5px;">
				                            			Số điện thoại
				                            		</td>
				                            		<td align="left" style="padding-bottom: 5px;">
				                            			<input type ="text" name="object[member_phone]" id="object[member_phone]" value="{$object.member_phone}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-bottom: 5px;">
				                            			Hãy nhập chính xác SDT của bạn. 
				                            		</td> 
				                            	</tr>
				                            	<tr>
				                            		<td align="left" style="font-weight: bold; padding-bottom: 5px;">
				                            			Website của bạn
				                            		</td>
				                            		<td align="left" style="padding-bottom: 5px;">
				                            			<input type ="text" name="object[member_website]" id="object[member_website]" value="{$object.member_website}" class="input_text" />
				                            		</td>
				                            		<td align="left" width="40%" style="color: #FF0000; padding-bottom: 5px;">
				                            			Nhập có dạng www.tenwebsitecuaban.com.
				                            		</td> 
				                            	</tr>
	                            				<tr>
					                              	<td colspan="2" align="center">
					                              		<input type="submit" name="object[regist]" id="object[regist]" value="Đăng ký" >
					                              	</td>
					                              	<td></td>
					                            </tr>
					                            {/if}
	                            				<tr>
					                              	<td colspan="3" align="center"></td>
					                            </tr>
					                          	</table>
					                          	</form>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
									</td>
								</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						<tr>
				        	<td height="5"></td>
				        </tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}