﻿.column_left_header_txt			{ color:#434A55; font-size:11px; background:url(li1.gif); height:36px; width:100%; vertical-align:middle; font-weight:bold;}


#ja-contentsliderwrap-ifd {
    margin: 10px 10px 0px 0;
    _margin: 10px 10px 0px 0;   
    padding: 0px;
    background: url(corner-br.gif) no-repeat bottom right;
}
div.ja-wrap1-ifd {
    background: url(corner-bl.gif) no-repeat bottom left;
}

div.ja-wrap2 {
    background: url(corner-tr.gif) no-repeat top right;
}

div.ja-wrap3 {
    background: url(corner-tl.gif) no-repeat top left;
    padding: 10px 0 0 0;
}
div.viewDetails {
    padding: 0 10px 10px 10px;
}
div.viewDetails-productname {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
}
div.viewDetails-img {
    text-align: center;
    padding: 10px 10px 10px 10px;
}
div.viewDetails-info {
    padding: 0 0 0 20px;
}

div.viewDetails-header {
    margin: 10px -9px 10px;
    padding: 5px 5px 5px 20px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    background: url(grad2.gif) repeat-x center #F7F7F7;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    
}
div.viewDetails-content {
    padding: 20px 0 0px 0;
    text-align: justify;
    
}
/*********VANG***************/
.head-pplshop{
    background:transparent url(bg_pplshop.png) no-repeat scroll top right;
    background-position:100% 0px; 
    height:30px;
    line-height:28px;
    padding-right:10px;
    color:#0A74F5;
    font-weight:bold;
    margin-top: 3px;       
}
.head-pplshop .head-right{
    background:transparent url(bg_pplshop.png) no-repeat scroll top;
    background-position:0 0px;
    width:10px;
    _width:10px;
    height:30px;
    float:left;
    font-size:0px !important;    
}
.bottom-pplshop{
    background:transparent url(bg_pplshop.png) no-repeat scroll top;
    background-position:100% -30px;
    height:15px;
    line-height:1px !important;
    font-size:1px !important; 
    padding-bottom: 5px;   
}
.bottom-pplshop .bottom-right{
    background:transparent url(bg_pplshop.png) no-repeat scroll top;
    background-position:100% -30px; 
    width:10px;
    height:15px;
    line-height:0px !important;
    float:left;
    font-size:0px !important;    
}
.content_pplshop{
   /* border-left:1px solid #DBDBDB; border-right:1px solid #DBDBDB;
    overflow: hidden;*/
}
.content_pplshop img{
    max-width: 550px;
}
.head_content a{
    color: #313131;
}
.content_pplshop a:hover{
    color:#F04D07;
    text-decoration: none;
}
ul.pplshop{
    float: left;
    display:inline;
    list-style:none;
    list-style-type:none; 
    padding: 0px;
    margin: 0px;
}
ul.pplshop li{
    width: 180px;
    margin: 7px;
    float: left;
    padding: 0px;
    height: 200px;
}
ul.pplshop li .bg_pplshop{
    background: url(pplshop_bg_img.png) no-repeat;
    width: 180px;
    height: 180px;
    
}
ul.pplshop li .bg_pplshop img.hinhanh{
    width: 130px;
    height: 130px;
    padding: 2px 25px 0px 25px; 
    text-align : left;
}
ul.pplshop li .bg_pplshop img.giamgia{
    width: 66px;
    height: 66px ;
    bottom:0;
    position:absolute;
    right:0;   
}
.bg_daugia{
    background: url(bg_daugia.png) no-repeat;
    width: 305px;
    height: 300px;
    float: left;
    margin-right: 10px;
    
}
.bg_daugia img.hinhanh{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.daugia div{
    margin-bottom: 5px;
}
.thongsosanpham{
    font-weight: bold;
    color: #ED850E;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.pplshop_title {
    width: 100%;
    padding: 4px 0 4px 5px;
    display: block;
    position: relative;
    background-color: #FBFBFB;
}
.pplshop_title_link {
    width: 100%;
    padding: 4px 0 4px 20px;
    display: block;
    position: relative;
}
.pplshop_clear {
    clear: both;
    height: 1px;
    border-bottom: 1px solid #EAEAEA;
}
#pplshop_img {
    width: 40%;
    float: left;
    
}
#pplshop_des {
    width: 58%;
    float: left;
    padding: 3px;
}
#pplshop_button {
    width: 100%;
    float: left;
    text-align: right; 
    clear:  both;
    padding: 3px;
}
#pplshop_btn_order, #pplshop_btn_des {
    width: 80px;
    border: 1px solid #E1E1E1;
    text-align: center; 
    padding: 1px 5px;    
    height: 25px;
    margin: 0 2px;
}
