BODY {
	FONT-SIZE: 8pt; COLOR: #000000;	
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #61CBFF;
	SCROLLBAR-SHADOW-COLOR: #61CBFF; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-MENU-COLOR: #CCEBAB; 
	SCROLLBAR-ARROW-COLOR: #61CBFF; 
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;

	background-repeat:no-repeat;
	background-position:top;
	background-attachment:fixed;
}
TABLE {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma
}
A {
	FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
UNKNOWN {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Tahoma; TEXT-DECORATION: underline
}
.Menu A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #006699; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.Menu A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0033ff; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.SubMenu A {
	FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.SubMenu A:hover {
	FONT-SIZE: 9pt; COLOR: #0033ff; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.DefaultLink A {
	FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.DefaultLink A:hover {
	FONT-SIZE: 9pt; COLOR: #0033ff; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.textbox {
	BORDER-RIGHT: #87b7ef 1px solid; BORDER-TOP: #87b7ef 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #87b7ef 1px solid; BORDER-BOTTOM: #87b7ef 1px solid; BACKGROUND-COLOR: white
}
.textbox_white {
	BORDER-RIGHT: #87b7ef 1px solid; BORDER-TOP: #87b7ef 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #87b7ef 1px solid; BORDER-BOTTOM: #87b7ef 1px solid
}
.image_border {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.news_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: tahoma
}
.news_title A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: firebrick; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.news_title A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: darkslateblue; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.8pt {
	BACKGROUND-POSITION: left center; FONT-SIZE: 8pt; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(manguon_v.gif); BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: tahoma
}
.ebook_heading {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #fccddf
}
.border {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.textbox {
	BORDER-RIGHT: #87b7ef 1px solid; BORDER-TOP: #87b7ef 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #87b7ef 1px solid; BORDER-BOTTOM: #87b7ef 1px solid; FONT-FAMILY: Tahoma
}
.text_mnu {
	FONT-SIZE: 19pt; COLOR: #ffffff; FONT-FAMILY: Tahoma
}
.text {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: tahoma, vernada, sans-serif
}
.text A {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma
}
.text A:hover {
	FONT-SIZE: 9pt; COLOR: #ff9900; FONT-FAMILY: Tahoma
}
A.boldLink:hover {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.boldLink {
	FONT-WEIGHT: bold; COLOR: #336666; TEXT-DECORATION: underline
}
A.smLink {
	FONT-WEIGHT: normal; COLOR: #006666; TEXT-DECORATION: underline
}
A.smLink:hover {
	FONT-WEIGHT: normal; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.nav {
	FONT-WEIGHT: bold; COLOR: #444444; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; COLOR: #999999; TEXT-DECORATION: underline
}
A.npLink {
	FONT-WEIGHT: bold; COLOR: #444444; TEXT-DECORATION: none
}
A.npLink:hover {
	FONT-WEIGHT: bold; COLOR: #999999; TEXT-DECORATION: underline
}
UL {
	LIST-STYLE-TYPE: square
}
HR {
	BORDER-RIGHT: #d1d7dc 0px solid; BORDER-TOP: #d1d7dc 1px solid; BORDER-LEFT: #d1d7dc 0px solid; BORDER-BOTTOM: #d1d7dc 0px solid; HEIGHT: 0px
}
INPUT {
	BORDER-RIGHT: #87b7ef 1px solid; BORDER-TOP: #87b7ef 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #87b7ef 1px solid; COLOR: #660099; BORDER-BOTTOM: #87b7ef 1px solid; FONT-FAMILY: Tahoma
}
TEXTAREA {
	BORDER-RIGHT: #87b7ef 1px solid; BORDER-TOP: #87b7ef 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #87b7ef 1px solid; BORDER-BOTTOM: #87b7ef 1px solid; FONT-FAMILY: Tahoma
}
SELECT {
	BORDER-RIGHT: #fccddf 1px solid; BORDER-TOP: #fccddf 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #fccddf 1px solid; BORDER-BOTTOM: #fccddf 1px solid; FONT-FAMILY: Tahoma
}
#specialbox {
	BORDER-RIGHT: #fc8700 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fc8700 0px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #fc8700 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fc8700 0px solid
}
.Left {
	BORDER-RIGHT: #e19406 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e19406 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; BORDER-LEFT: #e19406 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e19406 1px solid; moz-border-radius: 2px
}
.Left LEGEND {
	BORDER-RIGHT: #e19406 1px solid; PADDING-RIGHT: 100px; BORDER-TOP: #e19406 1px solid; PADDING-LEFT: 10px; BACKGROUND: #afdf5e; FLOAT: left; PADDING-BOTTOM: 5px; FONT: bold 11px Tahoma; BORDER-LEFT: #e19406 1px solid; COLOR: #333333; PADDING-TOP: 5px; BORDER-BOTTOM: #e19406 1px solid
}
#AdverBox {
	BORDER-RIGHT: #fc8700 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fc8700 0px solid; PADDING-LEFT: 5px; BACKGROUND: #fbfbff; PADDING-BOTTOM: 0px; BORDER-LEFT: #fc8700 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fc8700 0px solid
}
.Boxleft {
	BORDER-RIGHT: #e19406 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e19406 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fbfbff; PADDING-BOTTOM: 5px; BORDER-LEFT: #e19406 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e19406 1px solid; moz-border-radius: 4px
}
.Boxleft LEGEND {
	BORDER-RIGHT: #e19406 1px solid; PADDING-RIGHT: 100px; BORDER-TOP: #e19406 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fbfbff; FLOAT: left; PADDING-BOTTOM: 5px; FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #e19406 1px solid; COLOR: #369; PADDING-TOP: 5px; BORDER-BOTTOM: #e19406 1px solid; moz-border-radius: 2px
}
.right {
	BORDER-RIGHT: #fc8700 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fc8700 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fbfbff; PADDING-BOTTOM: 10px; BORDER-LEFT: #fc8700 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #fc8700 1px solid; moz-border-radius: 4px
}
.right LEGEND {
	BORDER-RIGHT: #fc8700 1px solid; PADDING-RIGHT: 14px; BORDER-TOP: #fc8700 1px solid; PADDING-LEFT: 10px; BACKGROUND: #ffffee; FLOAT: right; PADDING-BOTTOM: 5px; FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #fc8700 1px solid; COLOR: #369; PADDING-TOP: 5px; BORDER-BOTTOM: #fc8700 1px solid; moz-border-radius: 2px
}
#ListTopic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.Topic {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; FONT: bold 11px Tahoma; WIDTH: 100%; COLOR: #336699; PADDING-TOP: 0px; BORDER-BOTTOM: #e19406 1px solid; TEXT-ALIGN: left
}
.Topic_center {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; FONT: bold 13px Tahoma, Arial,Helvetica; WIDTH: 100%; COLOR: #fa8904; PADDING-TOP: 0px; BORDER-BOTTOM: #fc8700 0px solid; TEXT-ALIGN: center
}
.intro {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #369; PADDING-TOP: 5px; TEXT-ALIGN: justify
}
.DateUpdate {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; COLOR: #ff6600; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.Chitiet {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; COLOR: #0066ff; PADDING-TOP: 2px; TEXT-ALIGN: right
}
#ListMenu {
	BORDER-RIGHT: #fc8700 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fc8700 0px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #fc8700 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #fc8700 0px solid
}
.Menu {
	BORDER-RIGHT: #e19406 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e19406 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fbfbff; PADDING-BOTTOM: 10px; BORDER-LEFT: #e19406 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e19406 1px solid
}
.Menu LEGEND {
	BORDER-RIGHT: #e19406 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e19406 1px solid; PADDING-LEFT: 50px; BACKGROUND: #afdf5e; FLOAT: right; PADDING-BOTTOM: 5px; FONT: bold 12px Tahoma; BORDER-LEFT: #e19406 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #e19406 1px solid
}
.TUpper {
	TEXT-TRANSFORM: uppercase
}
.bgLeft {
	BACKGROUND-COLOR: #fbbb46
}
.imgLeft {
	PADDING-RIGHT: 5px; FLOAT: left; PADDING-BOTTOM: 5px
}
.line {
	PADDING-BOTTOM: 5px; COLOR: #333333; BORDER-BOTTOM: #a2a2a2 1px solid
}
.BUpper {
	TEXT-TRANSFORM: uppercase; COLOR: #000000; BORDER-BOTTOM: #a2a2a2 1px solid
}
.bgFeel {
	BACKGROUND-COLOR: #bbe96d
}
.button {
	BORDER-RIGHT: #578607 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9fd348 1px solid; PADDING-LEFT: 5px; FONT: bold 8pt Tahoma; BORDER-LEFT: #9fd348 1px solid; CURSOR: hand; COLOR: #333333; BORDER-BOTTOM: #578607 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #afdf5e; TEXT-ALIGN: center
}
.button A {
	COLOR: #000000; TEXT-DECORATION: none
}
.button A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #fcbb47; TEXT-DECORATION: none
}
.login {
	BORDER-RIGHT: #666666 1px inset; BORDER-TOP: #666666 1px inset; FONT-WEIGHT: normal; BORDER-LEFT: #666666 1px inset; COLOR: #0099ff; BORDER-BOTTOM: #666666 1px inset; BACKGROUND-COLOR: #cccccc
}
.btnLogin {
	BORDER-RIGHT: #578607 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9fd348 1px solid; PADDING-LEFT: 2px; FONT: bold 8pt Tahoma; BORDER-LEFT: #9fd348 1px solid; CURSOR: hand; COLOR: #333333; BORDER-BOTTOM: #578607 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #afdf5e; TEXT-ALIGN: center
}
.boxtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.thdrcell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #f3f0e7; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #c8ba92 1px solid; FONT-FAMILY: arial
}
.tdatacell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: arial
}
.dvhdr1 {
	BORDER-RIGHT: #c8ba92 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #c8ba92 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #ffffcc; PADDING-BOTTOM: 2px; BORDER-LEFT: #c8ba92 1px solid; WIDTH: 300px; PADDING-TOP: 2px; FONT-FAMILY: tahoma; TEXT-ALIGN: left
}
.dvbdy1 {
	BORDER-RIGHT: #c8ba92 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #ffffcc; PADDING-BOTTOM: 2px; BORDER-LEFT: #c8ba92 1px solid; WIDTH: 300px; PADDING-TOP: 2px; BORDER-BOTTOM: #c8ba92 1px solid; FONT-FAMILY: tahoma; TEXT-ALIGN: justify
}
H1 {
	FONT-SIZE: 13px
}
.dogvdvhdr {
	BORDER-RIGHT: #c4d5e3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c4d5e3 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #c4d5e3; PADDING-BOTTOM: 10px; BORDER-LEFT: #c4d5e3 1px solid; WIDTH: 300px; PADDING-TOP: 10px; BORDER-BOTTOM: #c4d5e3 1px solid
}
.dogvdvbdy {
	BORDER-RIGHT: #c4d5e3 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; BORDER-LEFT: #c4d5e3 1px solid; WIDTH: 300px; PADDING-TOP: 10px; BORDER-BOTTOM: #c4d5e3 1px solid
}
.pgdiv {
	BORDER-RIGHT: #c4d5e3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c4d5e3 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #e9eff4; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c4d5e3 1px solid; WIDTH: 320px; PADDING-TOP: 10px; BORDER-BOTTOM: #c4d5e3 1px solid; FONT-FAMILY: arial; HEIGHT: 250px
}
