/*
Design by Gaucer
ICQ 6981278
*/
body {
  background-color: #f2f9fa;
  color: #253032;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 10pt;
  margin: auto;
  max-width: 500px;
}

form {
  font-size: small;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0 0 2px 0;
}

hr {
  border: 0;
  border-top: 1px solid orange;
  margin: 0;
}

p {
  margin-bottom: 6px;
  margin-top: 6px;
}

textarea {
  width: 99%;
}

input, textarea, select {
  background: #fff;
  border: 1px solid #2F8D9C;
  color: #686868;
  padding: 3px;
  margin: 1px;
}

select:focus {
  border: 2px solid #73c441;
}

input:hover {
border: 1px solid #38800d;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.alarm {
  background-color: #FF0000;
  border: 1px solid white;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 0 3px 4px;
}

.bblist {
  color: #4A5663;
  background: transparent url(../../images/dot.gif) no-repeat left;
  padding: 0px 0px 0px 10px;
}

.bmenu {
  background-color: #3B555B;
  background-image: url(images/bmenu.gif);
  background-repeat: repeat-x;
  border: 1px solid white;
  margin: 0;
  padding: 2px 4px 4px 4px;
}

.end {
  text-align: center;
}

.fmenu {
  background-color: #2F8D9C;
  color: #FFFFFF;
  margin: 0;
  padding: 3px 1px 5px 3px;
}

.header {
  background-color: #42595C;
  background-image: url(images/header.gif);
  background-repeat: repeat-x;
  border-top: 2px solid #2F8D9C;
  border-bottom: 1px solid #42595C;
  color: #fff;
  padding: 4px 0 5px 4px;
  -moz-border-radius: 10px 10px 0 0;
  border-radius:10px 10px 0 0;
}

.footer {
  background-color: #42595C;
  background-image: url(images/header.gif);
  background-repeat: repeat-x;
  border-bottom: 2px solid #42595C;
  border-top: 1px solid #2F909E;
  color: #fff;
  padding: 4px 0 5px 4px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.func {
  border-left: 4px solid #FF8E30;
  color: #757575;
  font-size: x-small;
  margin-left: 2px;
  margin-top: 4px;
  padding-left: 4px;
}

.gmenu {
  background-color: #8DB2B7;
  border: 1px solid #dde8d8;
  margin: 0;
  padding: 3px 4px 3px 4px;
}

.gray {
  color: #586776;
}

.greply {
  border-left: 4px solid #009900;
  color: #009900;
  padding: 2px 0 2px 4px;
}

.hdr {
  background-color: #f1f1f1;
  border-bottom: 1px solid #595959;
  font-weight: bold;
  padding-left: 2px;
}

.left {
  float: left;
}

.list1 {
  background-color: white;
  border: 1px solid #ccc;
  margin: 0;
  padding: 3px 4px 4px 4px;
}

.list2 {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  margin: 0;
  padding: 3px 4px 4px 4px;
}

.maintxt {
  border-right: 4px solid #405E66;
  border-left: 4px solid #405E66;
  border-bottom: 4px solid #405E66;
  font-weight: normal;
  margin: 0;
  padding: 4px 4px 4px 4px;
}

.menu {
  background: #fbfbfb;
  color: #626262;
  border: 1px solid #ccc;
  margin: 1px 0;
  padding: 3px 4px 3px 4px;
}

.news {
  background-color: #8DB2B7;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #d3e7c7;
  color: #F2F2F2;
  font-size: small;
  padding: 4px;
  margin-bottom: 2px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.phdr {
  color: #FF8E30;
  font-weight: bold;
  background-color: #334C4B;
  background-image: url(images/phdr.png);
  background-repeat: repeat-x;
  padding: 5px;
}

.phpcode {
  background-color: #e4e9e0;
  border: 1px dotted #d3e0c7;
  margin-top: 4px;
  padding: 0 2px 0 2px;
  overflow: auto;
}

.quote {
  border-left: 4px solid #c0c0c0;
  color: #878787;
  font-size: x-small;
  margin-left: 2px;
  padding: 2px 0 2px 4px;
}

.reply {
  border-left: 4px solid #EE0000;
  color: #EE0000;
  padding: 2px 0 2px 4px;
}

.rmenu {
  background-color: #e9ccd2;
  border: 1px solid white;
  margin: 0;
  padding: 2px 0 3px 4px;
}

.sitemap {
  background-color: #eef1e8;
  margin: 0;
  padding: 2px 4px 3px 4px;
  font-size: xx-small;
  height: 38px;
  overflow: auto;
}

.status {
  color: #FF8E30;
  font-size: x-small;
  font-weight: bold;
  padding-left: 0;
}

.sub {
  border-top: 1px dotted #dfead7;
  font-size: x-small;
  margin-top: 4px;
}

.tmn {
  background-color: #3B555B;
  background-image: url(images/bmenu.gif);
  background-repeat: repeat-x;
  border-top: 1px solid #405E66;
  color: #ffffff;
  margin: 0;
  padding: 5px 0 5px 4px;
}

.topmenu {
  font-size: x-small;
  padding: 3px;
  margin-bottom: 1px;
  background-color: #2F8D9C;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #d3e7c7;
}

.topmenu input{
  font-size: x-small
}

.user {
  background-color: #cdcdcd;
  border: 1px solid #253032;
  padding: 3px 4px 3px 4px;
}

.alarm a:link, .alarm a:visited {
  color: #FFFFFF;
  font-size: x-small;
}

.clip a:link, .clip a:visited {
  color: #424e59;
}

.green, .green a:link, .green a:visited {
  color: #008000;
}

.greply a:link, .greply a:visited {
  color: #008800;
}

.red, .red a:link, .red a:visited {
  color: #FF0000;
}

.reply a:link, .reply a:visited {
  color: #DD0000;
}

.footer a:link, .footer a:visited, .fmenu a:link, .fmenu a:visited {
  color: #FF8E30;
  text-decoration: none;
}

.fmenu a:hover, .footer a:hover {
  color: #fff;
  text-decoration: none;
}

.tmn a:link, .tmn a:visited {
  color: #FF8E30;
  text-decoration: none;
  background-image: url(images/tmn_a.gif);
  padding: 2px 4px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.tmn a:hover {color:#fff}

.topmenu a:visited, .topmenu a:link {
	color: #fff
}

.topmenu a:hover {
	color: #ccc
}

a:active {
  color: #353535;
  text-decoration: none;
}

a:link, a:visited {
  color: #00869e;
  text-decoration: none;
}

a:hover {
  color: #FF8E30;
  text-decoration: none;
}

.currentpage {
    color: #59ab28;
    background-color: #edebeb;
    border: 1px solid #cccccc;
    padding: 0px 5px 0px 5px;
}

a.pagenav {
    border: 1px solid #cccccc;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
}

a.pagenav:hover {
    background-color: #f7f7f7;
    border: 1px solid #dedede;
}
img {border: none; vertical-align: middle;}
