<table width="53%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class="style2">Đổi mật khẩu</td>	
	</tr>
</table>
<table cellpadding="4" cellspacing="0" width="53%" align="center" class="border">
	<tr>
		<td align="center" class="style4">Đổi mật khẩu thành công.</td></tr>	  
	<tr>
</table>