<table width="53%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class="style2">Đổi mật khẩu</td>	
	</tr>
</table>
<table width="53%" cellpadding="4" cellspacing="0" align="center" class="border">
	<form name="frmadmin" method="post" action="?do=profile&act=changepasssm" onSubmit="return  nospace(oldpass, 'Vui lòng nhập mật khẩu hiện tại.') && nospace(newpass, 'Vui lòng nhập mật khẩu mới.') && nospace(connewpass, 'Vui lòng xác nhận mật khẩu mới.') && confirmpass(newpass, connewpass, 'Mật khẩu mới và xác nhận mật khẩu mới không giống nhau.');">		
	<? if ($_GET['error']) { ?>
	<TR>
		<td colspan="2" align="center" class="style4">Mật khẩu hiện tại không chính xác</td>		
	</TR>
	<? } ?>
	<tr>
		<td align="right"><strong>Mật khẩu hiện tại :</strong></td>
		<td><input name="oldpass" type="password" size="30"></td>
	</tr>
	<tr>
		<td align="right"><strong>Mật khẩu mới :</strong></td>
		<td><input name="newpass" type="password" size="30"></td>
	</tr>
	<tr>
		<td align="right"><strong>Xác nhận mật khẩu mới :</strong></td>
		<td><input name="connewpass" type="password" size="30"></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" value=" Lưu " class="button"></td>
	</tr>
	</form>
</table>