{include file=$include_header}
{literal}
<script language="javascript" type="text/javascript">
	function submitform(url, value) {
		var theform = document.frmcategory;
		theform.action = url;
		theform.issubmit.value = value;
		theform.submit();
	}
	function hiddenform() {
		var theform = document.frmcategory;
		if (theform.editgeneral.checked) {
			theform.editgeneral.value = 1;
		} else {
			theform.editgeneral.value = 0;
		}
	}

	var ajaxObj = new XMLHTTP("services.php");

	function select_parent(val){
		ajaxObj.call('action=Category&act=SelectParent&category_id='+val, select_parent_resp);
	}
	function select_parent_resp(resp) {
		if(resp.result == '1') {
			var model = document.getElementById("object[parent_id]");
			ClearOption("object[parent_id]");
  			
			var modelOption1 = document.createElement('option');
			modelOption1.text = "Lựa chọn";
  			modelOption1.value = '';
  			try {
    			model.add(modelOption1, null); // standards compliant; doesn't work in IE
  			}
  			catch(ex) {
    			model.add(modelOption1); // IE only
  			}
			if(resp.data){
			var id = resp.data.id;
			for(var i = 0; i < id.length; i++){
				var modelOption = document.createElement('option');
  				modelOption.text = resp.data.title[i];
  				modelOption.value = id[i];

  				try {
    				model.add(modelOption, null); 
  				}
  				catch(ex) {
    				model.add(modelOption); 
  				}
			}
			}
		} else {
			alert(resp.result);
		}
	}
	function ClearOption(id){
		var list = document.getElementById(id);
		for(var i=list.length-1;i>=0;i--){
			list.remove(i);
		}
	}
</script>
{/literal}
{include file=$include_left}
		<td width="80%" align="left" valign="top">
		<form name="frmcategory" id="frmcategory" action="" method="post" enctype="multipart/form-data">
			<table width="100%" cellpadding="0" cellspacing="0" class="dataTable">
			<tr>
				<td height="5px" colspan="6"></td>
			</tr>
			<!--header-->
			{if $message != ""}
			<tr valign="top">
				<td align="left" colspan="2">
					<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td align="center" valign="middle" width="5%" class="error"><img src="backend/images/error.jpg" width="40" height="40" title="Errors !" /></td>
						<td valign="middle" class="error" style="border-left: 0px;">{$message}</td>
					</tr>
					</table>
				</td>
			</tr>
			{/if}
			<tr class="stdHeader" valign="middle">
				<td style="height:20px;padding-left: 10px;">Update category</td>
			</tr>
			<tr valign="top">
				<td>
					<input type="hidden" name="categoryid" id="categoryid" value="{$categoryid}" />
					<input type="hidden" name="page" id="page" value="{$page}" />
					<table width="100%" cellpadding="0" cellspacing="0" class="dataTable">
						{if $categoryid != ''}
						<tr valign="top">
							<td width="30%" align="left" valign="middle" class="tdregisttext" style="border-top: #CAD5DB 1px solid;">{#FIELD_ID#}: </td>
							<td width="69%" align="left" valign="middle" class="tdregist" style="border-top: #CAD5DB 1px solid;" colspan="2">
								{$categoryid}
							</td>
						</tr>
						{/if}
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#CATEGORY_NAME#}: </td>
							<td align="left" valign="middle" class="tdregist">
								<select name="object[category_id]" id="object[category_id]" class="dropdown" onChange="select_parent(this.options[selectedIndex].value)">
									{foreach item=categoies from=$categoryList}
									<option value="{$categoies.category_id}" {if $categoryData.category_id eq $categoies.category_id}selected="selected"{/if}>{$categoies.category_name}</option>
									{/foreach}
								</select>					
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#CHILD_NAME#}: </td>
							<td align="left" valign="middle" class="tdregist">
								<input type ="text" name="object[child_name]" id="object[child_name]" value="{$categoryData.child_name}" class="input_text" />
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#CHILD_PARENT#}: </td>
							<td align="left" valign="middle" class="tdregist">
								<select name="object[parent_id]" id="object[parent_id]" class="dropdown">
									<option value="0">{#SELECTED#}</option>
									{foreach item=parent from=$parentList}
									<option value="{$parent.child_id}" {if $categoryData.parent_id eq $parent.child_id}selected="selected"{/if}>{$parent.child_name}</option>
									{/foreach}
								</select>					
							</td>
						</tr>
						<tr valign="top">
							<td valign="middle" class="tdregisttext">{#CHILD_SORT#}: </td>
							<td colspan="3" align="left" valign="middle" class="tdregist">
								<input type ="text" name="object[child_sort]" id="object[child_sort]" value="{$categoryData.child_sort}" class="input_text" />			
							</td>
						</tr>
						<tr valign="top">
							<td align="left" valign="middle" class="tdregisttext" style="border-top: #CAD5DB 1px solid;">{#STATUS#}: </td>
							<td colspan="3" align="left" valign="middle" class="tdregist" style="border-top: #CAD5DB 1px solid;" colspan="2">
								<select name="object[status]" id="object[status]" class="dropdown">
									{foreach item=status from=$statusList}
									<option value="{$status.value}" {if $categoryData.status eq $status.value && $categoryData.status ne ''}selected="selected"{/if}>{$status.text}</option>
									{/foreach}
								</select>					
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="stdHeader" valign="top">
				<td style="height:15px;"></td>
			</tr>
			<tr valign="top">
				<td colspan="2" align="center" valign="middle" style="padding:10px;">
					<input type="button" name="update" id="update" value="{#UPDATE#}" class="button_new" onclick="javascript: submitform('?hdl=child/regist', 1)" />
					<input type="button" name="isback" id="isback" value="{#BACK#}" class="button_new" onclick="javascript: submitform('?hdl=child/list', 0)" />
					<input type="hidden" name="issubmit" id="issubmit" value="0" />
				</td>
			</tr>
			</table>
		</form>
		</td>
{include file=$include_footer}