<HTML>
<HEAD>
<TITLE>Please stand by ...</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="REFRESH" content="2; url=<?=$page_transfer?>">
<link href="css/admin_styles.css" rel="stylesheet" type="text/css" />
</HEAD>
<BODY>
<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
<table width="370" border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#FFFFFF" class="border">
	<TR><TD align="center" height=25 class="style4"><?=$showtext?></TD></TR>
	<TR>
		<TD>
			<p align="center">Hãy chờ 1 chút để chúng tôi đưa bạn đến trang cần thiết<BR><BR>
			<a href="<?=$page_transfer?>">Nhấn vào đây nếu bạn không muốn đợi lâu</a>
			</p>
		</TD>
	</TR>
</table>
</BODY>
</HTML>