			<div id="contentleft">
      	<? include("./templates/site/top_main.tpl"); ?>
        <div id="contentleft_cell">
        	<div class="title1"><?=$lang['roomtypes']?></div>
          <div class="space_content">
          	<div><?=stripslashes($intro['content'])?></div>
            <div id="line4"><img src="images/spacer.gif" /></div>
            <? 
            if ($roomtypes) {
            for ($i=0;$i<count($roomtypes);$i++) {
            ?>
            <div>
              <? if ($roomtypes[$i]['img']) { ?>
              <a href="upload/roomtypes/<?=$roomtypes[$i]['img']?>" rel="sexylightbox[group<?=$roomtypes[$i]['id']?>]" title="<?=stripslashes($roomtypes[$i]['title'])?>"><img src="upload/roomtypes/<?=$roomtypes[$i]['img']?>" width="250" border="0" align="right" vspace="3" style="margin-left:10px;" class="imgbor"></a>
              <?
              $sql="select id, title_".$_SESSION['lg']." as title, img from `roomimg` where img<>'' and cate=".$roomtypes[$i]['id']." order by `order`, id";
              $roomimg = $db->getAll($sql);
              if ($roomimg) {
              for ($j=0;$j<count($roomimg);$j++) {
              ?>
							<a href="upload/roomimg/<?=$roomimg[$j]['img']?>" rel="sexylightbox[group<?=$roomtypes[$i]['id']?>]" title="<?=stripslashes($roomimg[$j]['title'])?>"><img src="upload/roomimg/<?=$roomimg[$j]['img']?>" width="250" border="0" class="imgbor" style="display:none;"></a> 
							<? } } ?>              
              <? } ?>
              <div><b><?=stripslashes($roomtypes[$i]["title"])?></b></div>
              <div style="padding-top:10px;"><?=stripslashes($roomtypes[$i]["content"])?></div>
            </div>
            <? if ($i<count($roomtypes)-1) { ?>
            <div id="line"><img src="images/spacer.gif" /></div>
            <? } ?>
            <? } } ?>
            <div id="line1"><img src="images/spacer.gif" /></div>
            <div align="right"><img src="images/top.gif" align="absmiddle"> <a href="#top" class="green11"><?=$lang['top']?></a></div>
          </div>
        </div>
			</div>