.animatedtabs
{
    position: relative;
    height: 30px;
    font: normal 12px Arial;
    color: #333333; /*font of menu text*/
    clear: both;
    width: 990px;
	background:url(../images/skins/bg_menu.gif) repeat-x;
}

.animatedtabs ul
{
	position:absolute;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0;
	height:30px;
}

.animatedtabs li
{
    float: left;
    padding: 0;
	height:30px;
	padding:0 0px;
}
.animatedtabs a{
	background:url(../images/skins/navi_center_hover.gif) repeat-x right top;
	color:#FFFFFF;
    float: left;
	text-decoration:none;
	height:30px;
	text-decoration:none;
}


.animatedtabs a span
{
	background:url(../images/skins/navi_left_hover.gif) no-repeat left top;
	color:#FFFFFF;
    float: left;
	text-decoration:none;
	height:30px;
	text-decoration:none;
}

.animatedtabs a strong
{
	background:url(../images/skins/navi_right_hover.gif) no-repeat right top;
	display:block;
	text-decoration:none;
	color:#fff;
	padding:0 32.85px;
	height:30px;
	line-height:30px;
	font-weight:bold;
}

.animatedtabs a:hover
{
	background:url(../images/skins/navi_left_a.gif) no-repeat left top;
	color:#FFFFFF;
    float: left;
	text-decoration:none;
	height:30px;
	text-decoration:none;
}

.animatedtabs .selected
{
	background:url(../images/skins/navi_left_a.gif) no-repeat left top;
	color:#FFFFFF;
    float: left;
	text-decoration:none;
	height:30px;
	text-decoration:none;
}

.animatedtabs a:hover span
{
	background:url(../images/skins/navi_right_a.gif) no-repeat right top;
    float: left;
    position: relative;
    display: block;
    padding: 0px 6px;
	height:30px;
    cursor: pointer; text-decoration:none;
}

.animatedtabs .selected span
{
	background:url(../images/skins/navi_right_a.gif) no-repeat right top;
    float: left;
    position: relative;
    display: block;
    padding: 0px 6px;
	height:30px;
    cursor: pointer; text-decoration:none;
}


.animatedtabs a:hover strong
{
	background:url(../images/skins/navi_left_center.gif) repeat-x right top;
	display:block;
	text-decoration:none;
	color:#fff;
	padding:0 26.8px;
	height:30px;
	line-height:30px;
	font-weight:bold;
}

.animatedtabs .selected strong
{
	background:url(../images/skins/navi_left_center.gif) repeat-x right top;
	display:block;
	text-decoration:none;
	color:#fff;
	padding:0 30px;
	height:30px;
	line-height:30px;
	font-weight:bold;
}

.animatedtabs .selected a:hover
{
	background:url(../images/skins/navi_left_a.gif) no-repeat left top;
	color:#FFFFFF;
    float: left;
	text-decoration:none;
	height:30px;
	text-decoration:none;
}

.animatedtabs .selected a:hover span
{
	background:url(../images/skins/navi_right_a.gif) no-repeat right top;
    float: left;
    position: relative;
    display: block;
    padding: 0px 6px;
	height:30px;
    cursor: pointer; text-decoration:none;
}

.animatedtabs .selected a:hover strong
{
	background:url(../images/skins/navi_left_center.gif) repeat-x right top;
	display:block;
	text-decoration:none;
	color:#fff;
	padding:0 40px;
	height:30px;
	line-height:30px;
	font-weight:bold;
}
.subTopMenuFont
{
    font: normal 12px Arial;
    color: #0228b9;
    /*font: normal 11px Arial;
    color: #212121;*/
    text-decoration: none;
}

.subTopMenuFont:hover
{
    font: normal 12px Arial;
    color: #7F0000;
    text-decoration: none;
}
.subMenuContainer
{
    display: none;
}
#subTopMenu ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

#subTopMenu ul li
{
    padding: 0 5px;
    margin: 0;
    float: left;
    list-style: none;
}
#subTopMenu ul li a:link,
#subTopMenu ul li a:visited
{
    padding: 0;
	color:#000000;
}

#subTopMenu ul li a:hover,
#subTopMenu ul li a:active{
	color:#c00}
