body{
	margin:0px;
	padding:0px;
}
body,td {
		font-family: Tahoma;
		font-size:12px;					
}
.top{
	background:url(../images/skins/nen_banner.gif) no-repeat;
	width:996px;
	height:119px;
	margin:0;
}
a img{border:none;}
.background{
	background:url(../images/skins/background.gif) repeat-y;
	width:1004px;
	height:auto;
}
.bottom{
	background:url(../images/skins/footer.gif) no-repeat;
	width:1004px;
	height:145px;
	margin:0;
}

.banner{
	background:url(../images/skins/banner.jpg) no-repeat;
	width:1004px;
	height:134px;
	margin:0;
}
/* -----------------------left-----------------------------*/
.botton_left{
	background:url(../images/skins/botton_left.gif) no-repeat;
	width:203px;
	height:39px;
	line-height:39px;
	color:#ffffff;
	font-weight:bold;
	text-indent:33px;
}
.bottom_left{
	background:url(../images/skins/bottom_left.gif) no-repeat;
	width:203px;
	height:17px;
	margin:0;
}
.bg_left{
	background:url(../images/skins/bg_left.gif) repeat-y;
	width:203px;
	height:auto;
	margin:0;
}

.list_menu{
	margin:0;
	width:181px;
	height:auto;
}
.list_menu a{
	background:url(../images/skins/a_menu_left.gif) no-repeat;
	width:181px;
	height:27px;
	line-height:27px;
	display:block;
	float:left;
	text-indent:20px;
	text-decoration:none;
	color:#d04411;
	font-weight:bold;
	border-bottom:solid 1px #fff;
}
.list_menu a:hover{
	background:url(../images/skins/hover_menu_left.gif) no-repeat;
	width:181px;
	height:27px;
	line-height:27px;
	color:#d04411;
	text-indent:20px;
	text-decoration:none;
	font-weight:bold;
}

.bottom_ads_left{
	background:url(../images/skins/botton_ads_left.gif) no-repeat;
	width:203px;
	height:39px;
	line-height:39px;
	color:#fff;
	font-weight:bold;
	text-indent:33px;
	margin:0;
}
/* -----------------------left-----------------------------*/

/* -----------------------right-----------------------------*/
.botton_login{
	background:url(../images/skins/login_top.gif) no-repeat;
	width:197px;
	height:40px;
	margin:0;
	font-weight:bold;
	color:#fff;
	text-indent:45px;
}

.bottom_login{
	background:url(../images/skins/login_bottom.gif) no-repeat;
	width:197px;
	height:9px;
	margin:0;
}
.bg_login{
	background:url(../images/skins/login_bg.gif) repeat-y;
	height:auto;
	width:197px;
	margin:0;
}

.botton_right{
	background:url(../images/skins/botton_right.gif) no-repeat;
	width:203px;
	height:36px;
	margin:0;
	line-height:36px;
	font-weight:bold;
	text-indent:33px;
	color:#fff;
}
.bottom_right{
	background:url(../images/skins/bottom_right.gif) no-repeat;
	width:203px;
	height:17px;
	margin:0;
}
.bg_right{
	background:url(../images/skins/bg_right.gif) repeat-y;
	height:auto;
	width:203px;
	margin:0;
}
/*--------------------main-----------------------*/

.botton_main{
	background:url(../images/skins/top_main.gif) no-repeat;
	width:577px;
	height:26px;
	line-height:26px;
	color:#fff;
}

.border_main{
	border-bottom:solid 1px #fffef9;
	border-top:solid 1px #d1cec7;
}
.border_main_right{
	border-right:solid 1px #fffef9;
}
.du_doan{
	background:url(../images/skins/du_doan_cau_dep.gif) no-repeat;
	width:578px;
	height:107px;
	margin:0;
}










