<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>CHÀO MỪNG BẠN ĐẾN TRANG QUẢN TRỊ</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Author" content="Viet Arrow software company" />
<meta name="robots" content="index,follow" />
<link href="css/admin_styles.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="includes/check_form.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body>
<table width="968" cellpadding="0" cellspacing="0" border="0" align="center" background="images/admin_bg_02.gif">	
	<tr>
		<td><img src="images/admin_bg_01.gif"></td>
	</tr>
  <tr>
		<td style="padding:2px 12px 10px 12px;"><img src="images/logo.gif" width="200"></td>
	</tr>