.column_left_header_txt			{ color:#434A55; font-size:11px; background:url(li1.gif); height:36px; width:100%; vertical-align:middle; font-weight:bold;}


#ja-contentsliderwrap-ifd {
    margin: 0; 
    padding: 0px;
;
}
div.ja-wrap1-ifd {

}

div.ja-wrap2 {

}

div.ja-wrap3 { 
    padding: 0;
}
div.viewDetails {
    padding: 0;
}
div.viewDetails-productname {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #282828;
}
div.viewDetails-img {
    text-align: center;
    padding: 5px;
}
div.viewDetails-info {
    padding: 0 0 0 10px;
}

div.viewDetails-header {
    margin: 0;
    padding: 5px 5px 5px 20px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    background: url(grad2.gif) repeat-x center #F7F7F7;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    
}
div.viewDetails-content {
    padding: 10px;
    text-align: justify;
    
}
/*********VANG***************/
.head-pplshop{
    
    background-position:100% 0px; 
    height:30px;
    line-height:28px;
    padding-right:10px;
    color:#0A74F5;
    font-weight:bold;
    margin-top: 3px;       
}
.head-pplshop .head-right{
    
    background-position:0 0px;
    width:10px;
    _width:10px;
    height:30px;
    float:left;
    font-size:0 !important;
      
}
.bottom-pplshop{
    background:transparent url(bg_pplshop.png) no-repeat scroll top;
    background-position:100% -30px;
    height:15px;
    line-height:1px !important;
    font-size:1px !important; 
    padding-bottom: 5px;   
}
.bottom-pplshop .bottom-right{
    background:transparent url(bg_pplshop.png) no-repeat scroll top;
    background-position:100% -30px; 
    width:10px;
    height:15px;
    line-height:0px !important;
    float:left;
    font-size:0px !important;    
}
.content_pplshop{
   /* border-left:1px solid #DBDBDB; border-right:1px solid #DBDBDB;
    overflow: hidden;*/
}
.content_pplshop img{
    max-width: 550px;

}
.head_content a{
    color: #313131;
}
.content_pplshop a:hover{
    color:#F04D07;
    text-decoration: none;
}
ul.pplshop{
    float: left;
    display:inline;
    list-style:none;
    list-style-type:none; 
    padding: 0px;
    margin: 0px;
}
ul.pplshop li{
    width: 180px;
    margin: 7px;
    float: left;
    padding: 0px;
    height: 200px;
}
ul.pplshop li .bg_pplshop{
    background: url(pplshop_bg_img.png) no-repeat;
    width: 180px;
    height: 180px;
    
}
ul.pplshop li .bg_pplshop img.hinhanh{
    width: 100px;
    height: 100px;
    padding: 2px 25px 0px 25px; 
    text-align : left;
}
ul.pplshop li .bg_pplshop img.giamgia{
    width: 66px;
    height: 66px ;
    bottom:0;
    position:absolute;
    right:0;   
}
.bg_daugia{
    background: url(bg_daugia.png) no-repeat;
    width: 305px;
    height: 300px;
    float: left;
    margin-right: 10px;
    
}
.bg_daugia img.hinhanh{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.daugia div{
    margin-bottom: 5px;
}
.thongsosanpham{
    font-weight: bold;
    color: #ED850E;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.pplshop_title {
    width: 100%;
    padding: 4px 0 4px 0px;
    display: block;
    position: relative;
    font-weight: bold;
}
.pplshop_title_link {
    width: 100%;
    padding: 4px 0 4px 20px;
    display: block;
    position: relative; 
}
.pplshop_clear {
    clear:both;
    height:1px;
    
}
#pplshop_img {
    width: 175px;
    float: left;
    padding: 3px;

}
#pplshop_des {
    padding: 3px;
}
#pplshop_button {
    width: 100%;
    float: left;
    text-align: center; 
    clear:  both;
    padding: 3px;
}
#pplshop_com {
    padding: 3px 0 3px 10px;
    border: 1px solid green;
    font-weight: bold;
    margin-top: 3px;
    background-color: #e2f0bf;
}
#pplshop_btn_order, #pplshop_btn_des {
    width: 80px;
    border: 1px solid #08962d;
    text-align: center; 
    padding: 1px 5px;    
    height: 25px;
    margin: 0 2px;
}
.catopen {
    background: url("arrow.gif") no-repeat scroll 0 -7px transparent;
    cursor: pointer;
    float: right;
    height: 7px;
    margin-top: 7px;
    width: 7px;
}
.catclose {
    background: url("arrow.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 7px;
    margin-top: 7px;
    width: 7px;
}
.menuleft {
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #FAFAFA;
}
.active_menuleft {
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #FAFAFA;
}
.active_menuleft a {
    color: #FD6408 !important;
}
.productname {
    width: 165px;
    clear: both;
    height: 30px;
    margin-top: -45px;
    background: #002983;
    opacity: 0.8;
    float: left;
    padding: 0;
    text-align: center;
    line-height: 30px;
    margin-left: 4px;
    font-weight: bold;
}
.productname a {
    color: #FFF !important;
}
.productname a:hover {
     color: #FD6408 !important;
}
.pplshop_img a:hover img{
    opacity: 0.8;
    
}
.img-product {
    background: url(botimg.png) no-repeat -2px top transparent;
    height: 10px;
}