.tp-caption.very_big_black {
font-size:30px;
line-height:40px;
font-weight:500;
font-family:Arial;
color:#000000;
text-decoration:none;
background-color:rgb(255, 255, 255);
background-color:rgba(255, 255, 255, 0.9);
text-shadow:none;
margin:0px;
white-space:nowrap;
padding:15px 25px 15px 33px;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.large_bold_white {
font-size:33px;
line-height:44px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_light_white {
font-size:16px;
line-height:30px;
font-weight:300;
font-family:"Open Sans";
color:#ffffff;
text-decoration:none;
background-color:transparent;
padding:0px 0px 0px 0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

