#box_hot_news{
	background:url("../images/vim-sprite.png") no-repeat scroll 0 -554px transparent;
	height:246px;
	width:1000px;
}
#box_hot_news .banner_flash{
	width:633px;
	height:246px;
	float:left;
	display:inline;
}
#box_hot_news .nghe_hot{
	width:363px;
	height:246px;
	float:left;
	display:inline;

}
.box_nghe_hot{
	color:#fff;
}
.box_nghe_hot p.css_tits span{
	color:#f4da00;
	font-weight:bold;
}
.box_nghe_hot h3{
	color:#FFFFFF;
	font-size:150%;
	font-weight:400;
	padding-top:6px;
	text-shadow:1px 2px 2px #666666;
	font-family:arial;
}
.info_td{
	background:url("../images/bg_lq.jpg") repeat-x scroll left bottom transparent;
	clear:both;
	width:1000px;
}
.box_info-td p{
	line-height:150%;
	padding-bottom:17px;
	padding-right:13px;
}
.box_info-td h3{
	font-size:107%;
	font-weight:600;
	padding-left:10px;
	padding-top:10px;
	text-transform:uppercase;
}
.box_info-td .tlbm_css{
	background:url("../images/vim-sprite.png") no-repeat scroll 238px -426px transparent;
	float:left;
	display:inline;
	width:240px;
	height:110px;
}
.box_info-td .tlbm_css p{
	background:url("../images/vim-sprite.png") no-repeat scroll left -13px transparent;
	padding-left:100px;
}
.box_info-td .dhs_css p{
	background:url("../images/vim-sprite.png") no-repeat scroll left -131px transparent;
	padding-left:100px;
}
.box_info-td .tbvl_css p{
	background:url("../images/vim-sprite.png") no-repeat scroll left -246px transparent;
	padding-left:100px;
}
.box_info-td .nktv_css p{
	background:url("../images/vim-sprite.png") no-repeat scroll left -360px transparent;
	padding-left:100px;
}
.box_info-td .dhs_css{
	background:url("../images/vim-sprite.png") no-repeat scroll 238px -426px transparent;
	float:left;
	display:inline;
	width:240px;
	height:110px;
	margin-left:10px;
}
.box_info-td .tbvl_css{
	background:url("../images/vim-sprite.png") no-repeat scroll 238px -426px transparent;
	float:left;
	display:inline;
	width:240px;
	height:110px;
	margin-left:10px;
}
.box_info-td .nktv_css{

	float:left;
	display:inline;
	width:240px;
	height:110px;
	margin-left:10px;
}
.box-left{
	background:none repeat scroll 0 0 ThreeDLightShadow;
}
.box-left h3{
	background:url("../images/bar_left.jpg") repeat-x scroll left top transparent;
	color:#FFFFFF;
	height:24px;
	line-height:24px;
	text-align:center;
	text-transform:uppercase;
}
.search_viec {
	padding:12px 0 4px 10px;
}
.search_viec p{
	padding:4px 0;
}

.search_viec select{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid Silver;
	cursor:pointer;
	font-size:11px;
	padding:2px 0;
	width:213px;
}
.search_viec select option{
	padding:2px 0 0 2px;
}
.search_viec select:hover{
	background:none repeat scroll 0 0 OldLace;
	border:1px solid LightSalmon;
}

.search_viec select:focus{
	background:none repeat scroll 0 0 OldLace;
	border:1px solid LightSalmon;
}
.buton_shearch{
	padding:8px 10px 8px 0;
}
.buton_shearch a{

	background:url("../images/vim-sprite.png") no-repeat scroll right -94px transparent;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	padding:5px 48px 10px 28px;
}
.buton_shearch a:hover{
	background:url("../images/vim-sprite.png") no-repeat scroll -753px -93px transparent;
}
.vieclam-company{
	padding:11px 0 10px 3px;
}
.vieclam-company p{
	display:inline;
	float:left;
	padding-bottom:7px;
	padding-left:7px;
}
.vieclam-company img{
	height:52px;
	padding:2px;
	width:97px;
}
.box-center{
margin-right:7px;
padding-top:5px;
margin-top:3px;
}
.box-center h3{
background:url("../images/bar_left.jpg") repeat-x scroll left top transparent;
	color:#FFFFFF;
	height:24px;
	line-height:24px;
	text-align:left;
	text-transform:uppercase;
	padding-left:10px;
	cursor: pointer;
	margin-bottom:3px;
}
. title jpane-toggler-down{
background:url("../images/bar_left.jpg") repeat-x scroll left top transparent;
	color:#FFFFFF;
	height:24px;
	line-height:24px;
	text-align:left;
	text-transform:uppercase;
	padding-left:10px;
	cursor: pointer;
	margin-bottom:3px;
}
.pluginContenRelateArticle{
clear:both;
padding-top:10px;
}
.pluginContenRelateArticle hr{


}
.pluginContenRelateArticle ul{
padding-top:7px;
}

.pluginContenRelateArticle ul li{
padding-left:17px;
}

.pluginContenRelateArticle ul li a{
background:url("../images/vim-sprite.png") no-repeat scroll -995px -283px transparent;
padding-left:13px;
}
.box-center .pluginContenRelateArticle h3{
	background:none repeat scroll 0 0 transparent;
	border-bottom:1px solid #CCCCCC;
	color:#333333;
	height:100%;
	line-height:100%;
	padding-top:13px;
	margin-left:10px;
	padding-bottom:3px;
	padding-left:1px;
	text-align:left;
	text-transform:uppercase;
}
.contentpaneopen{
clear:both;
margin-top:10px;
}
.contentpaneopen td{

}
.contentpaneopen img{

}
.css_vieclamtot{
	border:1px solid #ccc;
	border-top:none;
	padding-bottom:13px;
	padding-top:7px;
}
.vieclam{
	border-bottom:1px dotted #CCCCCC;
	display:inline;
	float:left;
	height:47px;
	margin-left:20px;
	overflow:hidden;
	padding-top:5px;
	text-align:left;
	width:248px;
}
.vieclam h2{
font-family:arial;
padding:0;
}
.vieclam h2 a{
background:url("../images/vim-sprite.png") no-repeat scroll -995px -283px transparent;
font-size:11px;
padding-left:10px;
color:#333;
}
.vieclam h2 a:hover{
background:url("../images/vim-sprite.png") no-repeat scroll -995px -262px transparent;
color:#ff6600;
}
.vieclam p{
padding-left:10px;
text-transform:lowercase;
}
.quangcao-company{
margin:0;
padding:0;
}
.quangcao-company img{
padding-bottom:7px;
width:178px;
}
#news_footer{
	border-top:2px solid #1A9FD7;
	margin-top:13px;
	padding-top:10px;
	width:100%;
}
.box_news_f{
	width:1000px;
	margin:0 auto;
}
.tvan_css{
border-right:1px dotted #CCCCCC;
display:inline;
float:left;
margin-right:20px;
padding-right:20px;
width:467px;
}
.tnghien_css{
	width:480px;
	float:left;
	display:inline;
}
.box_news_f h3{
padding-bottom:13px;
color:#FF6600;
font-size:12px;
font-weight:bold;
text-transform:uppercase;
}
.tuvannghe{

}
.tuvannghe img{
display:inline;
float:left;
padding-right:12px;
padding-top:7px;
}
.tuvannghe p.news_tvnghe{
height:88px;
overflow:hidden;
}
.tuvannghe p.title_news_tv a{
font-size:11px;
font-weight:bold;
}
.tuvannghe p.title_news_tv a:hover{

}
.tuvannghe .view_all_tv a{
font-size:11px;
font-weight:bold;
text-decoration:underline;
}
.tnghien_css{

}
.tnghiem{

}
.tnghiem img{
	display:inline;
	float:left;
	padding-right:12px;
	padding-top:7px;
}
.tnghiem p.gds{
	height:104px;
	overflow:hidden;
}
.tnghiem p.view_all_tn{

}
.tnghiem p.view_all_tn a{
	background:url("../images/vim-sprite.png") no-repeat scroll -822px -197px transparent;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding:5px 44px 17px 24px;
}
.tnghiem p.view_all_tn a:hover{
	background:url("../images/vim-sprite.png") no-repeat scroll -631px -197px transparent;
}
.css_nganhnghe{

}
.css_nganhnghe table{
margin:0;
padding:0;
width:735px;
}
.css_nganhnghe table tr.title_list{
background:none repeat scroll 0 0 LightSlateGray;
color:#FFFFFF;
font-weight:bold;
}
.css_nganhnghe table tr.title_list td{
color:#FFFFFF;
padding-left:7px;
}
.css_nganhnghe table tr.box_row_01{
background:none repeat scroll 0 0 MintCream;
}

.css_nganhnghe table tr.box_row_02{
background:none repeat scroll 0 0 WhiteSmoke;
}
.css_nganhnghe table tr .hot_vl{
#color:red;
font-weight:bold;
text-align:center;
}
.css_nganhnghe table tr.box_row_02 td{

}
.css_nganhnghe table td{
border:1px solid LightSteelBlue;
color:#333;
padding-left:3px;
padding-right:3px;
text-align:left;
}
.css_nganhnghe input{
cursor:pointer;
}
.css_nganhnghe td p{

}
.css_nganhnghe td p .iconnew{
color:red;
font-size:10px;
font-weight:bold;
padding-left:3px;
}
.css_nganhnghe td p.tenvieclam{

}
.css_nganhnghe td p.tencongtys{

}
.css_nganhnghe td p.tenvieclam a{
font-weight:bold;
}
.css_nganhnghe td p.tenvieclam a.hot_vieclam{
font-weight:bold;
color:red;
}
.css_nganhnghe td p.tenvieclam a:hover{

}
.css_nganhnghe td p input{

}
.css_nganhnghe .align_in
{
	padding-left:3px;

}
 .page{
font-weight:bold;
}
  .page a{
font-weight:bold;
padding-left:10px;
}
.chex_nghe input{
font-size:11px;
padding:0;
}
.chitiet_tuyendung table.chitiet_vl{
width:735px;
}
.chitiet_vl td{

}
.chitiet_vl td.mt_01{
font-size:11px;
font-weight:bold;
}
.chitiet_vl td.mt_02{
}
.chitiet_vl td.tencty{

}
.chitiet_vl_dn{
	border:1px solid LightSteelBlue;
	padding-top:7px;
}
.chitiet_vl_dn p{
padding:4px 0

}
.chitiet_vl_dn a{
	background:url("../images/vim-sprite.png") no-repeat scroll -822px -197px transparent;
	color:#FFFFFF;
	font-size:10px;
	font-weight:bold;
	padding:5px 20px 17px 21px;
}
.chitiet_vl_dn a:hover{
background:url("../images/vim-sprite.png") no-repeat scroll -631px -197px transparent;
}

/*dangnhap-dangky*/
.form_dangnhap{
	display:inline;
	float:right;
	height:303px;
	width:303px;
	margin-right:10px;
}
.img_logo{

}
.img_logo img{
height:168px;
width:200px;
}
.ges{
border-top:1px solid #CCCCCC;
}
.form_dangnhap table{
-moz-border-radius:3px 3px 3px 3px;
background:none repeat scroll 0 0 CornflowerBlue;
color:#FFFFFF;
margin-left:40px;
margin-top:28px;
overflow:hidden;
padding:3px;
}
.form_dangnhap td{
padding:7px 0;
}
.form_dangnhap td.tk_dangnha{
padding-left:10px;
}
.form_dangnhap td.title_dn{
font-weight:bold;
padding:3px 11px;
}
.form_dangnhap td.title_dn2{
padding:3px;
}
.form_dangnhap td input.textbox{
	background:none repeat scroll 0 0 MintCream;
	border:1px solid MediumSlateBlue;
	cursor:pointer;
	height:16px;
	margin-right:8px;
	width:168px;
}
.form_dangnhap td input.textbox:hover{
	background:none repeat scroll 0 0 OldLace;
	border:1px solid LightSalmon;

}
.form_dangnhap td input.textbox:focus{
	background:none repeat scroll 0 0 OldLace;
	border:1px solid LightSalmon;

}
 .form_dangnhap td input{
 cursor:pointer;
 }
.form_dangnhap td input.button{
background:url("../images/vim-sprite.png") no-repeat scroll -926px -16px transparent;
border:medium none;
color:#FFFFFF;
cursor:pointer;
font-size:11px;
margin-bottom:7px;
margin-right:8px;
padding:3px 6px;
}
.form_dangnhap td input.button:hover{
background:url("../images/vim-sprite.png") no-repeat scroll -801px -42px transparent;
}
.img_dangnhap{
display:inline;
float:left;
height:400px;
width:246px;
}
.info_dangnhap{
	background:url("../images/bg-dangnhap.jpg") no-repeat scroll left top transparent;
	display:inline;
	float:left;
	height:303px;
	margin-left:10px;
	margin-top:10px;
	width:668px;
}
.box_tin_dn{
padding-left:200px;
padding-top:13px;
}
.info_dangnhap p{
color:#333333;
font-size:12px;

}
.info_dangnhap p a{
color:OrangeRed;
font-size:17px;
font-weight:bold;
padding-left:7px;
}
.info_dangnhap p a:hover{
color:DodgerBlue;
}
.info_dangnhap ul{


}
.info_dangnhap ul li{
	background:url("../images/vim-sprite.png") no-repeat scroll -991px -311px transparent;
	margin-left:13px;
	padding-left:17px;

}
.info_dangnhap ul li strong{
color:OrangeRed;
}
.css_dangky{
	padding-left:0px;
	padding-top:11px;
}
.css_dangky .more-tc p{
	border-bottom:1px dotted MediumTurquoise;
	color:DodgerBlue;
	font-weight:bold;
	margin-bottom:13px;

}
.css_dangky p input{ 
	cursor:pointer;
	 
	width:10px;
}
.css_dangky p.dk_tt_moi{ 

}
.css_dangky p.t_0_tt{ 

}
.css_dangky h1{
	border-bottom:1px dotted MediumTurquoise;
	color:DodgerBlue;
	font-family:arial;
	font-size:13px;
	margin-bottom:13px;
	padding:0;
}
.css_dangky table{
width:736px;
}
.css_dangky table td{
padding:4px 0;
}
.css_dangky table td span{
color:red;
padding-left:6px;
}
.css_dangky table td.secet_m input{
margin-left:5px;
width:212px;
} 
.css_dangky input{
-moz-box-shadow:0 0 1px #666666;
background:none repeat scroll 0 0 menu;
border:1px solid #333;/*
height:21px;
line-height:21px;
*/
color:#333333;
cursor:pointer;
font-size:11px;

width:270px;
}
.css_dangky .tctt_left2 input{

width:170px;
}
.css_dangky .tctt_left2 .tim_k_more input{

width:60px;
}
.css_dangky .tctt_left2 .tim_k_more .searss input{

width:270px;
}

.css_dangky select{
-moz-box-shadow:0 0 1px #666666;
background:none repeat scroll 0 0 menu;
border:1px solid MintCream;
color:#333333;
cursor:pointer;
font-size:11px;
	height:21px;
	line-height:21px;
}
.css_dangky #type,.css_dangky #jid,.css_dangky #pid,.css_dangky #salary,.css_dangky #cyid
,.css_dangky #sid,.css_dangky #eid,.css_dangky #ngoaingu,.css_dangky #tinhoc{
width:273px !important;
}

.css_dangky input.text_boxa{

}
.css_dangky input:hover, .css_dangky select:hover{
background:none repeat scroll 0 0 OldLace;
	border:1px solid LightSalmon;

}
.css_dangky input:focus, .css_dangky select:focus{

background:none repeat scroll 0 0 OldLace;
	border:1px solid LightSalmon;
}

.css_dangky table td.dn_02 img{
width:130px;
height:80px;
}
.css_dangky table td.dn_02 .buttonAddCategories img{
width:15px;
height:10px;
}
.css_dangky table td textarea{
-moz-box-shadow:0 0 1px #666666;
background:none repeat scroll 0 0 menu;
border:1px solid MintCream;
color:#333333;
cursor:pointer;
font-size:11px;
height:89px;
width:268px;

}
.css_dangky table td textarea:hover,.css_dangky table td textarea:focus{

background:none repeat scroll 0 0 OldLace;
	border:1px solid LightSalmon;
}
.css_dangky table td.dn_01{
	font-weight:bold;
	padding-right:10px;
	text-align:right;
	width:210px;
}
.css_dangky table td.dn_02{
	font-weight:bold;
	padding-right:10px;
	text-align:left;
	 
}
.css_dangky .tctt_left table td.dn_01{
	font-weight:bold;
	padding-right:10px;
	text-align:right;
	width:210px;
}
.css_dangky .tim_k_more table td.dn_01{
	font-weight:bold;
	padding-right:10px;
	text-align:right;
	width:210px;
}
.css_dangky table td.pading_ktr{
padding:0;
}
.css_dangky table td.secet_m select{
width:50px;
}
.css_dangky table td.se_gt select{
width:50px;
}
.css_dangky table td.se_qt select{
width:70px;
}
.css_dangky table td.se_from select{
width:272px;
}
.css_dangky .tim_k_more table td.se_from select{
width:272px;
}
.css_dangky .tctt_left2 table td.se_from select{
width:182px;
}
.css_dangky .tctt_left2 .tim_k_more table td.se_from select{
width:272px;
}
.css_dangky .tctt_left2 table td{
padding:0;
padding-right:10px;
}
.css_dangky .tctt_left2 .tim_k_more table td{
padding:10px 10px 0 0;
}
.dangkys_csss{
	padding-top:7px;
	border-top:1px dotted MediumTurquoise;

}
.dangkys_csss a{
	background:url("../images/vim-sprite.png") no-repeat scroll -773px -67px transparent;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding:4px 39px 7px;
}
.dangkys_csss a:hover{
	background:url("../images/vim-sprite.png") no-repeat scroll -773px -13px transparent;
}

/*dangnhap-dangky*/

.divType01 {
	float:left;
	padding-bottom:5px;
}
.buttonAddCategories {
	float:left;
	height:20px;
	padding:65px 5px 40px;
	width:15px;
}
.TypeAddCategories {
	border:1px solid #CCCCCC;
	float:left;
	height:130px;
	width:230px;
}
.divType01 .wrapper {
	background:none repeat scroll 0 0 #CCCCCC;
	border:1px solid #666666;
	height:130px;
	overflow-x:inherit;
	overflow-y:auto;
	padding:2px;
	width:267px;
}
.css_dangky .wrapper  input{
height:0;
line-height:0;
width:4px;
}
.divType01 .wrapper ul {
	background:none repeat scroll 0 0 #FFFFFF;
	margin:0;
	padding:5px;
}
.listType02 {
	padding:0 0 5px;
}
.listType02 li {
	float:left;
	padding:0 15px 0 0;
}
.TypeCategories01 {
	background-color:#B5B5B5;
	color:#FFFFFF;
	float:left;
	font-weight:bold;
	height:15px;
	padding:5px;
	width:105px;
}
.TypeCategories02 {
	background-color:#B5B5B5;
	color:#FFFFFF;
	float:left;
	font-weight:bold;
	height:15px;
	padding:5px;
	text-align:right;
	width:105px;
}
.divType01 {
	float:left;
	padding-bottom:5px;
}
.divType01 .wrapper2 {
	background:none repeat scroll 0 0 #FFFFFF;
	border:0 solid #666666;
	height:105px;
	overflow-x:inherit;
	overflow-y:scroll;
	padding:0;
	width:230px;
}
.listType03 {
float:left;
padding:0 0 5px;
width:280px;
}
.listType03 li {
float:left;
margin-right:4px !important;
}
.listType03 .price {
 
width:35px;
}
.sub_mit{
	padding:2px;
text-align:center;
	
}
.bold_red p a,.bold_red{
	color:red;
}