</tr>									
									</tbody></table>
								</td>
							</tr>
							<tr bgcolor="#ffffff" height="5">
								<td background="images/bg_bar1.gif"></td>
							</tr>
							<!-- BEGIN F_ADVERTISING -->
							<tr bgcolor="#ffffff">
								<td align="center" valign="top"><a href="{F_ADVERTISING.link}"><img alt="{F_ADVERTISING.company}" src="{F_ADVERTISING.logo}" /></a></td>
							</tr>
							<!-- END F_ADVERTISING -->
							<tr bgcolor="#ffffff" height="5">
								<td background="images/bg_bar1.gif"></td>
							</tr>
							<tr>
								<td align="center" valign="top"><img src="images/footter1.gif" height="30" width="785"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody>
		</table>
</body>
</html>