<td></td>
<td align="left" valign="top" width="474">
<!-- td rowspan='2' width='474' align='left' valign='top' -->
	<!-- Main area table starts here -->
	<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="474">
		<tbody>
			<tr>
				<td colspan="3" height="5"></td>
			</tr>
			<tr>
				<td colspan="3" align="center" valign="top" style="padding-left:6px;padding-right:6px">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<TR>
						  <TD></TD>
						  <TD class=style2 vAlign=center bgColor=#ededed height=30>
						  <DIV id=menu_tab>
							<UL>
							  <LI {idcurrent1}><A href="./?act=FullTime&TTHUAT=1{linked}"><SPAN>Các&nbsp;tỷ&nbsp;lệ&nbsp;cược</SPAN></A> 
	
							  <LI {idcurrent2}><A href="./?act=FullTime&TTHUAT=2{linked}"><SPAN>Thống&nbsp;kê</SPAN></A> 
	
							  <LI {idcurrent3}><A href="./?act=FullTime&TTHUAT=3{linked}"><SPAN>Đội&nbsp;hình</SPAN></A> 
	
							  <LI {idcurrent}><A href="./?act=FullTime&TTHUAT=6{linked}"><SPAN>Tường&nbsp;thuật</SPAN></A> 
	
							  <LI {idcurrent4}><A href="./?act=FullTime&TTHUAT=4{linked}"><SPAN>Video&nbsp;clip</SPAN></A> 
	
							  <LI {idcurrent5}><A href="./?act=FullTime&TTHUAT=5{linked}"><SPAN>Góc&nbsp;bình&nbsp;luận</SPAN></A></LI>
							 </UL>
							</DIV>
						  </TD>
						  <TD></TD>
						 </TR>
						<tr>
							<td colspan="3" height="3"></td>
						</tr>																														
						</tbody>
					</table>
					{tuongthuat}
				</td>
			</tr>
			<tr>
				<td colspan="3" height="5"></td>
			</tr>
			<!-----------------------<tr>Liet ke cac tin tuc lien quan</tr>--------------------------->
			<tr>
				<td colspan="3" align="center" valign="top"><img src="images/T_bar_lichthidau.gif" height="7" width="454"></td>
			</tr>
			<tr>
				<td colspan="3" align="left" height="20" valign="top">&nbsp;</td>
			</tr>
		</tbody></table>
	</td>
<!----------------------------------------------HOME -------------------------------------- -->