<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="cache-control" content="no-cache">
		<meta name="description" content="Bóngđásố - Bóng đá trong thời đại kỹ thuật số! Cập nhật trực tuyến các tỷ lệ cược, kết quả, đội hình, tường thuật tất cả các trận bóng được quan tâm nhất! Tin tức bóng đá, chuyển nhượng, diễn đàn, góc bình luận và tất cả về bóng đá!">
		<meta name="keywords" content="Bongdaso,Bongda,bong da,bóng đá,the thao,thể thao,đội hình,doi hinh,kết quả,ket qua,tỷ lệ,ty le,ti le,cược,cuoc,tường thuật,tuong thuat,truc tiep,trực tiếp,lịch thi đấu,Football,WorldCup">		
		<meta name="robots" content="INDEX,FOLLOW,ALL">
		<meta name="language" content="Vietnamese,English">
		<meta name="author" content="bongdaso.com">
		<meta name="copyright" content="Copyright (C) 2006-2007 bongdaso.com">
		<title>Báo nhận định thể thao</title>		
		
		<link rel="stylesheet" href="images/bongdaso.css" type="text/css">
		<link rel="stylesheet" href="images/toolbar.css" type="text/css">
		<link rel="stylesheet" href="images/calendar.css" type="text/css">
		<link rel="shortcut icon" href="http://www.bongdaso.com/favicon.ico">
		<link rel="icon" href="http://www.bongdaso.com/anim_favicon.gif" type="image/gif">
		<script src="js/functions.js" language="javascript"></script>
		<script language="JavaScript" src="js/tooltip.js"></script>
		<script language="JavaScript" src="js/Common.js"></script>
	</head>
	<body topmargin="0" leftmargin="0" bgcolor="#b3b3b3" onLoad="goforit()">
	<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td align="right" valign="top" width="100%">
				<table id="HeaderTable" align="center" border="0" cellpadding="0" cellspacing="0" width="785">
					<tbody><tr>
						<td align="left" valign="top"><img src="images/header1.jpg" height="105" width="785"></td>
					</tr>
					<tr>
						<td align="left" valign="top">
							<table id="HotNewsTable" border="0" cellpadding="0" cellspacing="0" width="785">
								<tbody><tr>
									<td class="style23" style="background-position: center; background-repeat: no-repeat;" align="center" background="images/marquee.gif" height="21" valign="middle">
									{todaydate}
									<span id="clock"></span>	
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
<!---------------------------------------------- Header ends here ------------------------------------------>
