<td></td>
<td align="left" valign="top" width="474">
<!-- td rowspan='2' width='474' align='left' valign='top' -->
	<!-- Main area table starts here -->
	<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="474">
		<tbody>
		<tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
					<tr class="style8" bgcolor="#537fa1">
						<td class="style_bold">
							<div id="arttabs">
							<ul>
								<li {current}><a href="./?view=1" title="Tin mới nhất"><span>Tin mới nhất</span></a></li>
								<li {current1}><a href="./?view=2" title="Tin nổi bật"><span>Tin nổi bật</span></a></li>
								<li {current2}><a href="./?view=3" title="Tin đọc nhiều nhất"><span>Tin đọc nhiều nhất</span></a></li>
								<li {current3}><a href="./?view=4" title="Video clip"><span>Video clip</span></a></li>
							</ul>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
			<td align="left" valign="top">&nbsp;</td>
		</tr>

		<tr>
			<td></td>
			<td align="left" valign="top">
				<table class="tblborder3" bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
				<tr>
					<td rowspan="3" align="left" valign="top">
					<!-- BEGIN NEWS1 -->
						<div id="_RecentArticles_" class="ajax" align="center">
						<div id="art_small" class="textOn">
						<table bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<!-- BEGIN NEWS_HOST1 -->
							<tr>
								<td align="center" height="18" valign="center" width="20"><img src="images/art_new.gif" alt="Tin bóng đá mới" title="Tin bóng đá mới"></td>
								<td align="left" valign="center">
									<div id="art_{NEWS1.NEWS_HOST1.id}" onMouseOver="xstooltip_show('art_tip_{NEWS1.NEWS_HOST1.id}', 'art_{NEWS1.NEWS_HOST1.id}');" onMouseOut="xstooltip_hide('art_tip_{NEWS1.NEWS_HOST1.id}');">
										<a title="{NEWS1.NEWS_HOST1.date}" class="art_list" href="./?act=info&id={NEWS1.NEWS_HOST1.id}">{NEWS1.NEWS_HOST1.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></a>
									</div>
								</td>
								<td width="2"></td>
							</tr>
						<!-- END NEWS_HOST1 -->
						</tbody>
						</table>
						</div>
						<div id="art_large" class="textOff">
						<table bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<!-- BEGIN NEWS_HOST2 -->
							<tr>
								<td align="center" height="18" valign="center" width="20"><img src="images/art_new.gif" alt="Tin bóng đá mới" title="Tin bóng đá mới"></td>
								<td align="left" valign="center">
									<div id="art_{NEWS1.NEWS_HOST2.id}" onMouseOver="xstooltip_show('art_tip_{NEWS1.NEWS_HOST2.id}', 'art_{NEWS1.NEWS_HOST2.id}');" onMouseOut="xstooltip_hide('art_tip_{NEWS1.NEWS_HOST2.id}');">
										<a title="{NEWS1.NEWS_HOST2.date}" class="art_list" href="./?act=info&id={NEWS1.NEWS_HOST2.id}">{NEWS1.NEWS_HOST2.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></a>
									</div>
								</td>
								<td width="2"></td>
							</tr>
						<!-- END NEWS_HOST2 -->
						</tbody>
						</table>
						</div>
						<!-- BEGIN NEWS_HOST -->
						<div class="xstooltip" id="art_tip_{NEWS1.NEWS_HOST.id}">
						<div class="ballon">	
							<div class="toparrow">&nbsp;</div>
							<div id="balloonBody">
								<h4></h4>
								<div class="boxBody">
									<table border="0" cellpadding="2" cellspacing="0" width="400">
										<tbody><tr>
											<td colspan="3" class="art_title" align="left" height="20" valign="center">{NEWS1.NEWS_HOST.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></td>
										</tr>
										<tr>
											<!-- BEGIN SMALL_IMAGE -->
											<td align="center" valign="middle"><img src="{NEWS1.NEWS_HOST.SMALL_IMAGE.img}" width="70"></td>
											<!-- END SMALL_IMAGE -->
											<td width="5">&nbsp;</td>
											<td class="style6" style="padding-right: 5px;" align="left" valign="top"><p>{NEWS1.NEWS_HOST.subject}</p></td>
										</tr>
										<tr><td colspan="3" height="4"></td></tr>
									</tbody></table>
								</div>
								<div class="boxFooter">
									<p>
										</p><div class="xsmall" align="center">
											© Copyright 2007-2008 www.nhandinh.vn
										</div>
									<p></p>
								</div>
							</div>
						</div>
						</div>
						<!-- END NEWS_HOST -->
					</div>	
					<!-- END NEWS1 -->
<!--****************************tin noi bat**************************-->
					<!-- BEGIN NEWS2 -->
					<div id="_RecentArticles_" class="ajax" align="center">
						<div id="art_small" class="textOn">
						<table bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<!-- BEGIN NEWS_NOIBAT1 -->
							<tr>
								<td align="center" height="18" valign="center" width="20"><img src="images/art_new.gif" alt="Tin bóng đá mới" title="Tin bóng đá mới"></td>
								<td align="left" valign="center">
									<div id="art_{NEWS2.NEWS_NOIBAT1.id}" onMouseOver="xstooltip_show('art_tip_{NEWS2.NEWS_NOIBAT1.id}', 'art_{NEWS2.NEWS_NOIBAT1.id}');" onMouseOut="xstooltip_hide('art_tip_{NEWS2.NEWS_NOIBAT1.id}');">
										<a title="{NEWS2.NEWS_NOIBAT1.date}" class="art_list" href="./?act=info&id={NEWS2.NEWS_NOIBAT1.id}">{NEWS2.NEWS_NOIBAT1.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></a>
									</div>
								</td>
								<td width="2"></td>
							</tr>
						<!-- END NEWS_NOIBAT1 -->
						</tbody>
						</table>
						</div>
						<div id="art_large" class="textOff">
						<table bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<!-- BEGIN NEWS_NOIBAT2 -->
							<tr>
								<td align="center" height="18" valign="center" width="20"><img src="images/art_new.gif" alt="Tin bóng đá mới" title="Tin bóng đá mới"></td>
								<td align="left" valign="center">
									<div id="art_{NEWS2.NEWS_NOIBAT2.id}" onMouseOver="xstooltip_show('art_tip_{NEWS2.NEWS_NOIBAT2.id}', 'art_{NEWS2.NEWS_NOIBAT2.id}');" onMouseOut="xstooltip_hide('art_tip_{NEWS2.NEWS_NOIBAT2.id}');">
										<a title="{NEWS2.NEWS_NOIBAT2.date}" class="art_list" href="./?act=info&id={NEWS2.NEWS_NOIBAT2.id}">{NEWS2.NEWS_NOIBAT2.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></a>
									</div>
								</td>
								<td width="2"></td>
							</tr>
						<!-- END NEWS_NOIBAT2 -->
						</tbody>
						</table>
						</div>
						<!-- BEGIN NEWS_NOIBAT -->
						<div class="xstooltip" id="art_tip_{NEWS2.NEWS_NOIBAT.id}">
						<div class="ballon">	
							<div class="toparrow">&nbsp;</div>
							<div id="balloonBody">
								<h4></h4>
								<div class="boxBody">
									<table border="0" cellpadding="2" cellspacing="0" width="400">
										<tbody><tr>
											<td colspan="3" class="art_title" align="left" height="20" valign="center">{NEWS2.NEWS_NOIBAT.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></td>
										</tr>
										<tr>
											<!-- BEGIN SMALL_IMAGE -->
											<td align="center" valign="middle"><img src="{NEWS2.NEWS_NOIBAT.SMALL_IMAGE.img}" width="70"></td>
											<!-- END SMALL_IMAGE -->
											<td width="5">&nbsp;</td>
											<td class="style6" style="padding-right: 5px;" align="left" valign="top"><p>{NEWS2.NEWS_NOIBAT.subject}</p></td>
										</tr>
										<tr><td colspan="3" height="4"></td></tr>
									</tbody></table>
								</div>
								<div class="boxFooter">
									<p>
										</p><div class="xsmall" align="center">
											© Copyright 2007-2008 www.nhandinh.vn
										</div>
									<p></p>
								</div>
							</div>
						</div>
						</div>
						<!-- END NEWS_NOIBAT -->
					</div>
					<!-- END NEWS2 -->
					<!--doc nhieu nhat-->
					<!-- BEGIN NEWS3 -->
					<div id="_RecentArticles_" class="ajax" align="center">
						<div id="art_small" class="textOn">
						<table bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<!-- BEGIN NEWS_DOC1 -->
							<tr>
								<td align="center" height="18" valign="center" width="20"><img src="images/art_new.gif" alt="Tin bóng đá mới" title="Tin bóng đá mới"></td>
								<td align="left" valign="center">
									<div id="art_{NEWS3.NEWS_DOC1.id}" onMouseOver="xstooltip_show('art_tip_{NEWS3.NEWS_DOC1.id}', 'art_{NEWS3.NEWS_DOC1.id}');" onMouseOut="xstooltip_hide('art_tip_{NEWS3.NEWS_DOC1.id}');">
										<a title="{NEWS3.NEWS_DOC1.date}" class="art_list" href="./?act=info&id={NEWS3.NEWS_DOC1.id}">{NEWS3.NEWS_DOC1.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></a>
									</div>
								</td>
								<td width="2"></td>
							</tr>
						<!-- END NEWS_DOC1 -->
						</tbody>
						</table>
						</div>
						<div id="art_large" class="textOff">
						<table bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						<!-- BEGIN NEWS_DOC2 -->
							<tr>
								<td align="center" height="18" valign="center" width="20"><img src="images/art_new.gif" alt="Tin bóng đá mới" title="Tin bóng đá mới"></td>
								<td align="left" valign="center">
									<div id="art_{NEWS3.NEWS_DOC2.id}" onMouseOver="xstooltip_show('art_tip_{NEWS3.NEWS_DOC2.id}', 'art_{NEWS3.NEWS_DOC2.id}');" onMouseOut="xstooltip_hide('art_tip_{NEWS3.NEWS_DOC2.id}');">
										<a title="{NEWS3.NEWS_DOC2.date}" class="art_list" href="./?act=info&id={NEWS3.NEWS_DOC2.id}">{NEWS3.NEWS_DOC2.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></a>
									</div>
								</td>
								<td width="2"></td>
							</tr>
						<!-- END NEWS_DOC2 -->
						</tbody>
						</table>
						</div>
						<!-- BEGIN NEWS_DOC -->
						<div class="xstooltip" id="art_tip_{NEWS3.NEWS_DOC.id}">
						<div class="ballon">	
							<div class="toparrow">&nbsp;</div>
							<div id="balloonBody">
								<h4></h4>
								<div class="boxBody">
									<table border="0" cellpadding="2" cellspacing="0" width="400">
										<tbody><tr>
											<td colspan="3" class="art_title" align="left" height="20" valign="center">{NEWS3.NEWS_DOC.title} &nbsp;<img alt="Có videoclip" title="Có videoclip" src="images/video.gif" border="0"></td>
										</tr>
										<tr>
											<!-- BEGIN SMALL_IMAGE -->
											<td align="center" valign="middle"><img src="{NEWS3.NEWS_DOC.SMALL_IMAGE.img}" width="70"></td>
											<!-- END SMALL_IMAGE -->
											<td width="5">&nbsp;</td>
											<td class="style6" style="padding-right: 5px;" align="left" valign="top"><p>{NEWS3.NEWS_DOC.subject}</p></td>
										</tr>
										<tr><td colspan="3" height="4"></td></tr>
									</tbody></table>
								</div>
								<div class="boxFooter">
									<p>
										</p><div class="xsmall" align="center">
											© Copyright 2007-2008 www.nhandinh.vn
										</div>
									<p></p>
								</div>
							</div>
						</div>
						</div>
						<!-- END NEWS_DOC -->
					</div>
					<!-- END NEWS3 -->
					<!--END tin doc nhieu nhat-->
					</td>
					<td height="3" width="160"></td>
					<td rowspan="3" width="5"></td>
				</tr>
				<tr height="110">
					<td align="left" valign="middle">								
					<table style="background-position: center; background-repeat: no-repeat;" background="images/tv.gif" border="0" cellpadding="0" cellspacing="0" height="106" width="100%">
						<tbody><tr>
							<td height="1" width="6"></td>
							<td width="149"></td>
							<td width="5"></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<marquee scrollamount="2" direction="up" height="88" hspace="2" vspace="1" onMouseOver="this.stop();" onMouseOut="this.start();">
								<table class="xsmall" bgcolor="#f0f0f0" border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr>
									<td colspan="3" class="art_list" align="center" height="23"><b>Lịch truyền hình 13.11</b></td> 
								</tr>
								<tr>
									<td align="center" height="35" width="60"><a href="http://www.bongdaso.com/Fix_9099.aspx?LeagueID=6&amp;SeasonID=-1">Lyon<br>Marseille</a></td>
									<td class="xs_orange" align="center" valign="middle" width="45"><b>VCTV3</b></td>
									<td align="center" valign="middle">15:00</td>
								</tr>	
								<tr>
									<td align="center" height="35" width="60"><a href="http://www.bongdaso.com/Fix_10708.aspx?LeagueID=2&amp;SeasonID=-1">Slavia Praha<br>Arsenal</a></td>
									<td class="xs_orange" align="center" valign="middle" width="45"><b>ESPN</b></td>
									<td align="center" valign="middle">11:00</td>
								</tr>	
									</tbody></table>
									</marquee>
									</td>
									<td></td>
								</tr>
								<tr>
									<td colspan="3" height="8"></td>
								</tr>
									</tbody></table>
							
												</td>
											</tr>
											<tr height="25">
													<td align="right" valign="bottom">
															<a href="#"><img id="art_btn" src="images/art_more.gif" onClick="textOnOff('art_large','art_small');swapImages(this);" border="0"></a>
														</td>
											</tr>
										</tbody>
										</table>
										</td>					
										<td align="left" valign="top">&nbsp;</td>
									</tr>	
									<tr>
										<td colspan="3" height="5"></td>
									</tr>
									<tr>
										<td colspan="3" align="center" valign="top" style="padding-left:6px;padding-right:6px">
											<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tbody>
												<tr bgcolor="#537fa1">
													<td align="left" valign="top"><a href="http://www.bongdaso.com/main.aspx?Odd=1&amp;Week=&amp;LExp=0&amp;CExp=1&amp;PExp=0&amp;LeagueID=-1&amp;SeasonID=-1&amp;AT=1"><img src="images/cong.gif" alt="Click vào dấu cộng để xem tất cả các trận sắp thi đấu!" border="0" height="22" width="20"></a></td>
													<td title="Click vào dấu cộng để xem tất cả các trận sắp thi đấu!" class="style29" align="left" width="140">&nbsp;<strong>CÁC TRẬN SẮP THI ĐẤU</strong></td>
													<td width="18"><img src="images/sep2.jpg" border="0"></td>
													<td class="style44" align="center" bgcolor="#6792b1" width="70"><a href="./?xem=1">Tỷ lệ Châu Á</b></a></td>
													<td width="18"><img src="images/sep3.jpg" border="0"></td>
													<td class="style44" align="center" bgcolor="#95b3c8" width="97"><a href="./?xem=2">Tổng số bàn thắng</a></td>
													<td width="18"><img src="images/sep4.jpg" border="0"></td>
													<td class="style44" align="center" bgcolor="#c2d3e0" width="78"><a href="./?xem=3">Tỷ lệ Châu Âu</a></td>
												</tr>															
												<tr>
													<td colspan="5" height="3"></td>
												</tr>																														
												</tbody>
											</table>
											{result}
										</td>
									</tr>
									<tr>
										<td colspan="3" align="center" valign="top" style="padding-left:6px;padding-right:6px">
											<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tbody>
												<tr bgcolor="#537fa1">
													<td align="left" valign="top" width="3%"><img src="images/arrow4.gif" border="0" height="22" width="20"></td>
													<td title="" class="style29" align="left">&nbsp;&nbsp;<strong>CÁC TRẬN VỪA THI ĐẤU</strong></td>
													<td width="18"><img src="images/sep5.jpg" border="0"></td>
													<td class="style44" align="center" bgcolor="#95b3c8" width="20%"><a href="./?dau=1"><font color="#ffffff"><b>Tuần trước</b></font></a></td>
													<td width="18"><img src="images/sep4.jpg" border="0"></td>
													<td class="style44" align="center" bgcolor="#c2d3e0" width="20%"><a href="./?dau=2"><i>Tuần này</i></a></td>
												</tr>														
												<tr>
													<td colspan="5" height="3"></td>
												</tr>																														
												</tbody>
											</table>
											{resultdau}
										</td>
									</tr>
									
									<!---------------<tr>Bang ti le binh chon</tr>----------------->
									<!---------------<tr>Bang ti so tran vua thi dau</tr>----------------->
									<tr>
										<td colspan="3" height="5"></td>
									</tr>
									<!-----------------------<tr>Liet ke cac tin tuc lien quan</tr>--------------------------->
									<tr>
										<td colspan="3" align="center" valign="top"><img src="images/T_bar_lichthidau.gif" height="7" width="454"></td>
									</tr>
									<tr>
										<td colspan="3" align="left" height="20" valign="top">&nbsp;</td>
									</tr>
								</tbody></table>
							</td>
<!----------------------------------------------HOME -------------------------------------- -->