<td></td>
<td align="left" valign="top" width="474">
<!-- td rowspan='2' width='474' align='left' valign='top' -->
	<!-- Main area table starts here -->
	<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="474">
		<tbody>
		<tr>
			<td class="style6" style="padding-left:6px"><b>{txt_browsing}: {function}</b></td>
		</tr>
		<tr>
			<td style="padding-left:6px" height="16"><img src="images/vachngang.gif"/></td>
		</tr>
		<tr>
		<td align="center" valign="top">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<!-- BEGIN NEWS -->
				<tr>
					<td class="art_title">&nbsp; <strong>{NEWS.title}</strong></td>
				</tr>
				<tr>
					<td class="style6">&nbsp;{txt_capnhat}:&nbsp;{NEWS.date}</td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr> 
								<!-- BEGIN IMAG -->
								<td valign="top" style="padding-left:6px">
									<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td><img src="{NEWS.IMAG.img}" class="anh"></td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td align="center" width="149" class="xs_orange">{NEWS.IMAG.im}</td>
										</tr>
									</table>								
								</td>
							 	 <!-- END IMAG -->
								<td valign="top" style="padding-left:6px;padding-right:6px"><p align="justify" class="style6"><strong>{NEWS.subject}</strong></td>	
							</tr>
							
						</table>
					</td>
				</tr>
				<tr>
					<td class="style6" style="padding-left:6px;padding-right:6px">{NEWS.content}</td>
				</tr>
				<tr>
					<td align="right" style="padding-right:6px;padding-top:10px" class="style6">{NEWS.source}</td>
				</tr>
				<!-- END NEWS -->
				<tr>
					<td class="style6"><font color="#D03107"><strong>{txt_other}</strong></font></td>
				</tr>
				<!-- BEGIN OTHER_NEWS -->
				<tr>
					<td>
						<img border="0" src="images/next.gif" width="5" height="5">&nbsp;
						<a class="art_title" href="./?act=info&cat_id={OTHER_NEWS.cat_id}&id={OTHER_NEWS.id}&menuid={menuid}">{OTHER_NEWS.title}</a>&nbsp;&nbsp;
						<font class="xs_orange">({OTHER_NEWS.date})</font> 
					</td>
				</tr> 
				<!-- END OTHER_NEWS -->
			</table>
		</td>
	</tr>
</tbody>
</table>
</td>
<!----------------------------------------------HOME -------------------------------------- -->