
<td rowspan="2" align="left" valign="top" width="159">
<form name="myForm" method="post" action="./?act=search" enctype="multipart/form-data" id="myForm">
<input name="SubmitID" id="SubmitID" value="" type="hidden">
<input name="TmpHidden" id="TmpHidden" value="" type="hidden">
<table border="0" cellpadding="0" cellspacing="0" width="149">
	<tbody>
	<script type="text/JavaScript">
	function hilightText(txtbox){   
		txtbox.select();
		if (txtbox.value=='nhập keyword') {
			txtbox.value='';
		}
	} 
	
	function hilightPwdText(txtbox){   
		txtbox.select();
		if (txtbox.value=='Password')
			txtbox.value='';
	} 
	
	function resetText(txtbox){   
		if (txtbox.value=='')
			txtbox.value='nhập keyword';
	} 
	
	function resetPwdText(txtbox){   
		if (txtbox.value=='')
			txtbox.value='Password';
	} 
	</script>
	<tr>
		<td class="style3" align="center" background="images/bg_bangxephang.gif" height="22">TÌM KIẾM NHANH</td>
	</tr>
	<tr bgcolor="#ededed">
		<td height="5"></td>
	</tr>
	<tr bgcolor="#ededed">
		<td class="style6" align="center" valign="middle">&nbsp;
			<input name="txt_keyword" id="SearchParam" size="10" onBlur="resetText(this);" onClick="hilightText(this);" value="nhập keyword" type="text" width="100">
			<input name="SearchSubmit" id="SearchSubmit" src="images/nut_search.gif" onClick="if (SubmitForm(this,1) ==0) return false;" border="0" type="image">						</td>
	</tr>
	<tr bgcolor="#ededed">
		<td height="5"></td>
	</tr>
	<tr>
		<td align="center" valign="top">
		<SCRIPT language=JavaScript>
			document.write("<IMG SRC='" + Pic[run] + "' name='pic'  align='center'>");
			show();
		</SCRIPT>
		</td>
	</tr>
	<tr><td height="5"></td></tr>

	<tr>
		<td class="style3" align="center" background="images/bg_bangxephang.gif" height="22">BÌNH CHỌN</td>
	</tr>
	<tr>
		<td valign="top" width="100%">
			<input name="RegularVoteID" value="72" type="hidden">
			<table class="style6" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody><tr>
					<td colspan="1">
						<table class="style6" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody><tr bgcolor="#ededed" height="25">
								<td width="5">															</td><td class="style2" align="center"><font color="#f87f03">Bạn nghĩ sao nếu ĐT Anh bị loại khỏi VCK Euro 2008?<font></font></font></td>
								<td width="5"></td>
							</tr>
						</tbody></table>												</td>
				</tr>
	
				<tr bgcolor="#ededed">
					<td class="votesmall">		
					<label for="rdclass=" votesmall=""><input id="rd0" value="995" name="VoteParam" type="radio">Bị loại là đúng</label>												</td></tr>
				<tr bgcolor="#ededed">
					<td class="votesmall">		
					<label for="rdclass=" votesmall=""><input id="rd1" value="591" name="VoteParam" type="radio">Thật đáng tiếc</label>												</td></tr>
				<tr bgcolor="#ededed">
					<td class="votesmall">		
					<label for="rdclass=" votesmall=""><input id="rd2" value="999" name="VoteParam" type="radio">Euro sẽ mất hay</label>												</td></tr>
				<tr bgcolor="#ededed">
					<td class="votesmall">		
					<label for="rdclass=" votesmall=""><input id="rd3" value="457" name="VoteParam" type="radio">Euro vẫn hay</label>												</td></tr>
				<tr bgcolor="#ededed">
					<td class="votesmall">		
						<label for="rdclass=" votesmall=""><input id="rd4" value="874" name="VoteParam" type="radio">Không quan tâm</label>												</td>	
				</tr><tr>
					<td colspan="1" align="center" height="40" valign="middle">
						<input name="ShowResult" id="ShowResult" class="btn" value="Kết quả" onClick="ShowPollResult(72);" align="middle" type="submit">
						<input name="VoteSubmit" id="VoteSubmit" class="btn" value="Bình chọn" onClick="if (SubmitForm(this,2) ==0) return false;" align="middle" type="submit">												</td>		
				</tr>
			</tbody>
			</table>									
			</td>
		</tr>
		<!-- BEGIN R_ADVERTISING -->
		<tr>
			<td align="center" background="images/R_menu_bg.gif" valign="top"><a href="{R_ADVERTISING.link}" target="_blank"><img src="{R_ADVERTISING.logo}" alt="{R_ADVERTISING.company}" border="0" width="149" /></a></td>
		</tr>
		<tr>
			<td align="center" background="images/R_menu_bg.gif" height="5" valign="top"></td>
		</tr>	
		<!-- END R_ADVERTISING -->		
		</tbody>
	</table>
   </form>		
</td>
<!------------------------------------------------RIGHT-------------------------------------------------->