.pika-wrap {width:262px; margin:0 auto;}

.pika-image {position:relative; height:190px; width:252px; border:1px solid #bdbdbd; padding:4px;}
/*position image holders */
.pika-image .animation, .pika-image .main-image {position:absolute; top:4px; left:4px;}
.pika-image .animation {display:none; z-index:2;}
.pika-image img {border:0;}

.pika-image .caption {position:absolute; background:none; font-size:11px; color:#ffffff; padding:5px; text-align:right; bottom:30px; right:5px;}
.pika-image .caption p {padding:0; margin:0; line-height:14px;}

.pika-imgnav a {position:absolute; text-indent:-5000px; display:block; z-index:3;}
.pika-imgnav a.previous {background: url(prev.png) no-repeat left 50%; height:168px; width:0px; top:10px; left:4px; cursor:pointer;}
.pika-imgnav a.next {background: url(next.png) no-repeat right 50%; height:168px; width:0px; top: 10px; right:5px; cursor:pointer;}
.pika-imgnav a.play {background: url(play.png) no-repeat 50% 50%; height:190px; width:40px; top:0;left:110px; display:none; cursor:pointer;}
.pika-imgnav a.pause {background: url(pause.png) no-repeat 50% 50%; height:190px; width:40px; top:0; left:110px; display:none; cursor:pointer;}

.pika-textnav {overflow:hidden; margin:5px 0 0 0;}
.pika-textnav a {text-decoration:none; color:#8b1100; font-size:11px;}
.pika-textnav a:hover {text-decoration:underline; color:#8b1100; font-size:11px;}
.pika-textnav a.previous {float:left; background:url(icon2.gif) left 6px no-repeat; padding-left:12px; display:block; cursor:pointer;}
.pika-textnav a.next {float:right; background:url(icon3.gif) right 6px no-repeat; padding-right:12px; display:block; cursor:pointer;}
	
.pika-thumbs {margin:0; padding:0; overflow:hidden;}
.pika-thumbs li {float:left; list-style-type:none; width:70px; padding:3px; border:1px solid #bdbdbd; cursor:pointer;}
.pika-thumbs li:last {margin:0;}
.pika-thumbs li .clip {position:relative; width:70px; height:47px; text-align:center; vertical-align:center; overflow:hidden;}

.clip span {background-color:black; position:absolute; top:5px; left:5px; display:block;}
ul#pikame{width:262px;}		
		
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal {padding:15px 0px 0px 0px;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height:55px; width:262px;}
.jcarousel-skin-pika .jcarousel-item-horizontal {margin-right:13px;}
.jcarousel-skin-pika .jcarousel-item-placeholder {background: #fff; color: #000;}