<!-- BEGIN: main -->
<link rel="Stylesheet" href="{NV_BASE_SITEURL}themes/head/css/slider.css" type="text/css" />
<script type="text/javascript" src="{NV_BASE_SITEURL}themes/head/js/slider.js"> </script>
<ul id="slider">
    <!-- BEGIN: newloop -->
		<li>
		<img src="{blocknews.imgurl}" alt="{blocknews.title}" width="230px" height="200px" style="border-radius: 8px;"/>
		<a title="{blocknews.title}" href="{blocknews.link}">{blocknews.title}</a>
		</li>
    <!-- END: newloop -->
		<div id="prev-next">
			<a href="#" id="prev" class="prev"></a>
			<a href="#" id="next" class="next"></a>					
		</div>
</ul>

<!-- END: main -->