<!-- BEGIN: main -->
<ul>
      <!-- BEGIN: loop -->
      <li class="clearfix">
      	<a href="{ROW.link}" title="{ROW.title}">{ROW.title}</a>
      </li>
      <!-- END: loop -->
</ul>
<!-- END: main -->