<!-- BEGIN: main -->
	<ul class="list-number">
      <!-- BEGIN: loop -->
		<li class="clearfix">
		<a title="{ROW.title}" href="{ROW.link}">{ROW.title}</a>
		</li>
      <!-- END: loop -->
	</ul>
<!-- END: main -->