div.menusys_dropline {
	position: relative;
}

#menusys_dropline {
	margin: 0;
	padding: 0;
	float: left;
	height: 40px;
	display: block;
	width: 100%;
}
* html #menusys_dropline {
	position: absolute;
}
#menusys_dropline ul {
	margin: 0;
	padding: 0;
	display: none;
}

#menusys_dropline li {
	margin: 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}
#menusys_dropline li.last-item {
	background: none;
}
#menusys_dropline li li {
	background: none;
}
#menusys_dropline li ul{
	position: absolute;
	left: 0;
	margin: -2px 0 0 0 !important;
	background: none;
}
/* Menu styling begin */
#menusys_dropline li a {
	padding: 0 0 0 20px;
	display: block;
	text-decoration: none;
	line-height: 40px;
	font-size: 12px;
	text-transform: uppercase;
}
#menusys_dropline li a span {
	padding: 0 20px 0 0;
	display: block;
	border: none;
	color: #FFF;
	font-weight: bold;
	font-size: 100%;
}

#menusys_dropline li li {
	padding: 0 15px 0 0;
}

#menusys_dropline li li a {	
	padding: 0;
}

#menusys_dropline li li a span {
	color: #006EBC;
	font-weight: normal;
}

#menusys_dropline li a:hover,
#menusys_dropline li a:active,
#menusys_dropline li a:focus {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;
}

#menusys_dropline li:hover a,
#menusys_dropline li.hover a,
#menusys_dropline li.havechildhover a,
#menusys_dropline li.havechild-activehover a {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;
}
* html #menusys_dropline li a:hover,
* html #menusys_dropline li a:active,
* html #menusys_dropline li a:focus,
* html #menusys_dropline li.hover a,
* html #menusys_dropline li a.active {
	background: url(../../images/bg_menuactive_l.gif) no-repeat bottom left;
}

#menusys_dropline li:hover a.active span,
#menusys_dropline li a:hover span,
#menusys_dropline li a:active span,
#menusys_dropline li a:focus span,
#menusys_dropline li a.active:hover span,
#menusys_dropline li a.active:active span,
#menusys_dropline li a.active:focus span,
#menusys_dropline li:hover a span,
#menusys_dropline li.hover a span,
#menusys_dropline li.havechildhover a span,
#menusys_dropline li.havechild-activehover a span {
	background: url(../../images/bg_menuactive_r.png) no-repeat bottom right;
}

#menusys_dropline li li a:hover span, 
#menusys_dropline li li a:active span, 
#menusys_dropline li li a:focus span {
	color: #FF6600;
}

#menusys_dropline li a.active {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;
}
#menusys_dropline li a.active span {
	background: url(../../images/bg_menuactive_r.png) no-repeat bottom right;
}

#menusys_dropline li li a.active span {
	font-weight: bold;
}
* html #menusys_dropline li a:hover span,
* html #menusys_dropline li a:active span,
* html #menusys_dropline li a:focus span,
* html #menusys_dropline li a.active:hover span,
* html #menusys_dropline li a.active:active span,
* html #menusys_dropline li a.active:focus span,
* html #menusys_dropline li:hover a span,
* html #menusys_dropline li.hover a span,
* html #menusys_dropline li a.active span {
	background: url(../../images/bg_menuactive_r.gif) no-repeat bottom right;
}

#menusys_dropline li li a,
#menusys_dropline li ul a:hover, 
#menusys_dropline li ul a:active, 
#menusys_dropline li ul a:focus, 
#menusys_dropline ul li:hover, 
#menusys_dropline ul li.hover, 
#menusys_dropline ul li.havesubchildhover, 
#menusys_dropline ul li.havesubchild-activehover, 
#menusys_dropline ul ul li:hover, 
#menusys_dropline ul ul li.hover, 
#menusys_dropline ul ul li.havesubchildhover, 
#menusys_dropline ul ul li.havesubchild-activehover {
	border: none !important;
	background: none !important;
	text-transform: none;
}

#menusys_dropline ul li a.active {
}
