﻿
#dhtmltooltip{
color:#FF3300;
font-family:Verdana, arial, helvetica;
font-size: 11px;
position: absolute;
left: -300px;
width: 300px;
border: #2885a8 1px solid;
padding: 2px;
background-color: #f6f8cb;
visibility: hidden;
z-index: 100;

filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}