#menu_tab{
margin-left: 4px;
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
padding-left: 5px;
}

#menu_tab ul{
font: bold 9px Verdana, Arial, Helvetica, sans-serif;
margin:0;
padding:0;
list-style:none;
}

#menu_tab li{
display:inline;
margin:0 2px 0 0;
padding:0;
}


#menu_tab a{
float:left;
color: #003366;
background: #BDCAEE url(color_tabs_left.gif) no-repeat left top; /*light cyan:E6EEF0 cyan: 8EB7D4 grey: A7AFC6*/
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
border-bottom: 3px solid #FFFF80; /*thick bottom border below tabs*/
}

#menu_tab a span{
float:left;
display:block;
background: transparent url(color_tabs_right.gif) no-repeat right top;
padding:3px 6px 2px 4px;
}

#menu_tab a span{
float:none;
}

#menu_tab a:hover{
background-color: #074684;
color: white;
}

#menu_tab a:hover span{
background-color: #074684;
color: white;
}

#menu_tab #current a, #menu_tab #current span{ /*currently selected tab*/
background-color: #074684;
color: white;
}

