@font-face{
  font-family: 'Helvetica-neue';	
  src: url('helvetica-neue-lt-com-37-thin-condensed.ttf');
  src: local('☺'), 
       url('helvetica-neue-lt-com-37-thin-condensed.woff') format('woff'), 
       url('helvetica-neue-lt-com-37-thin-condensed.ttf') format('truetype')/*, 
       url('gestareg-webfont.svg#webfontg8dbVmxj') format('svg');*/
}

@font-face{
  font-family: 'Thin Design';	
  src: url('Thin_Design.ttf');
  src: local('☺'), 
      url('Thin_Design.woff') format('woff'), 
       url('Thin_Design.ttf') format('truetype')/*, 
       url('gestareg-webfont.svg#webfontg8dbVmxj') format('svg');*/
}

body{
	background:#000000;
	color:#FFFFFF;
	font-family: Helvetica-neue;
	font-size:12px;
	letter-spacing: 1px;
}
img {
	text-decoration:none;
	border:solid 0px;
}

#main-container{
	width: 965px;
	margin: 0px auto;
	padding: 40px 10px 10px 10px;
}

a.logo{
	display:block;
	float: left;;
	width:284px;
	height:45px;
}

#header{
	float:left;
	width:100%;
}

#footer{
	float:left;
	width:100%;
	padding-top:20px;
}

/* top menu css*/
#top_menu{
	width: 70%;
	position: relative;
	float:right;
}

#top_menu .menu{
	width:100%;
	float:right;
	margin: 15px 0px 0px 0px;
	height: 45px;
}

#top_menu .menu li{
	float: right;
	list-style:none;
	padding: 0px 15px;
	font-family: Thin Design;
	color:#FFFFFF;
	font-size:25px;
}
#top_menu .menu li:first-child{
	padding-right:0px;
}
#top_menu .menu li.active{
	background: url('../images/menu_dot.png') no-repeat  left;
}
#top_menu .menu li a{
	text-decoration:none;
	color:#FFFFFF;
}
#top_menu .menu li.parent{position:relative;}
#top_menu .menu li.parent ul{
	display:none;
	position: absolute;
	padding:0px 20px 0px 0px;
	top:30px;
	z-index: 10000;
}
#top_menu .menu li.parent ul li{
	float:none;
	padding-right:15px;
	font-size:18px;
	width:100%;
}
#top_menu .menu li.parent ul li.active {
	background:none;
}
#top_menu .menu li.parent ul li a:hover{
	color:#14e275;
}
#top_menu .menu li.parent ul li.active a{
	color:#14e275;
}
#top_menu .menu li.parent:hover ul{
	display:block;
	background:#2e2e2e;
}
#slide-container{
	float:left;
	width:100%;
	padding-top:0px;
}
#content_wap{
	width:100%;
	float:left;
	padding-top:10px;
	min-height:440px;
}

/* no column*/
p{
	text-align:justify;
}
.item-page p{
	text-align:justify;
}

.social_bar{
	float:right;
}
.social_bar a {
	text-decoration:none;
	border:0px solid;
}
/*component portfolio*/
.border-bottom{
	border-bottom: solid 1px #414141;
}
.category_div{
	width:965px;
	float:left;
	padding:10px 0px;
}
.cat_name{
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
}
.cat_name .blue_list{
	height: 17px;
	width: 22px;
	background:#03b7de;
	float:left;
}
.cat_name .name{
	padding-left: 22px;
	float:left;
}

.cat_slide{
	width:100%;
	float:left;
	
}
.left-arrow{
	display:block;
	height:178px;
	width:41px;
	background: url("../images/left-arrow.png") no-repeat;
	float:left;
}
.right-arrow{
	display:block;
	height:178px;
	width:44px;
	background: url("../images/right-arrow.png");
	float:left;
}
.flow_window{
	width:876px;
	height:178px;
	float:left;
	overflow: hidden;
	position:relative;
}
.slide_bar{
	position:absolute;
	left:0;
	top:0;
	
}
.project_con{
	width:215px;
	height:178px;
	float:left;
	padding-right: 4px;
}
.project_con a{text-decoration:none;cursor:pointer;}
.project_con a:hover img{
	opacity:0.4;
filter:alpha(opacity=40);
}
.project_con img{
	height:151px;
	width:215px;
	float:left;
}
.project_con h3{
	display:block;
	padding-top:10px;
	padding-left:10px;
	height:17px;
	width:205px;
	float:left;
	background:#262525;
	margin:0px;
}
#portfolio-content .details_slide{
	width: 624px;
	float:left;
}
#portfolio-content .details{
	width:312px;
	float:left;
	padding-left:29px;
}

#portfolio-content .details .name{
	color:#13d36d;
}
#portfolio-content .details .description{
	text-align: justify;
}

#about-content .image{
	width:470px;
	float:left;
	
}
#about-content .image img{
	width:470px;
	height:450px
}

#about-content .content{
	width:475px;
	padding-left:20px;
	float:left;
	
}
#about-content .content p,h3{
	margin:0px;
}

#about-content .content h3.title{
	color:#14E275;
}
#about-about {
	width:550px;
	float:left;
	min-height:440px;
}

#about-single{
	width:410px;
	padding-left:5px;
	padding-top:10px;
	float:left;
}
#about-single h3.title{
	color:#14E275;
}
#about-about .keypeople{
	width:100px;
	float:left;
	height:130px;
	padding-right:10px;
	padding-top:10px
}
#about-about .keypeople img{
	width:100px;
}
#about-about .keypeople a{
	width:100px;
	float:left;
}
#about-about .keypeople .info{
	padding-top:3px;
	background-color:#262525;
	padding-left:3px;
	float:left;
	width:97px;
	
}
#about-about .keypeople p{ margin:0px;}

#single-person-info img{
	width:200px;
}
#single-person-info p{
	margin:0px 0px 0px 0px ;
}

.contact h1{display:none;}
.contact h3{color:#14E275;}

#clients-clients img{
	height:150px;
	float:left;
	padding-left:15px;
	max-width:250px;
	
}

#clients-clients a{
	cursor:pointer;
}

#clients-clients a:hover img{
	opacity:0.4;
	filter:alpha(opacity=40);
}
