{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">THÔNG TIN TÀI KHOẢN</td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD" style="padding-top: 20px; padding-bottom: 20px;">
				                          		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                            <tr>
					                              	<td align="left" valign="top" style="font-weight: bold; padding-bottom: 10px;">
					                              		Tên đăng nhập&nbsp;
					                                </td>
					                               	<td align="left" valign="top" width="80%">
					                               		:&nbsp;{$memberData.member_user}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="top" style="font-weight: bold; padding-bottom: 10px;">
					                              		Họ và tên/Tên công ty&nbsp;
					                                </td>
					                               	<td align="left" valign="top" width="80%">
					                               		:&nbsp;{$memberData.member_name}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="top" style="font-weight: bold; padding-bottom: 10px;">
					                              		Địa chỉ email&nbsp;
					                                </td>
					                               	<td align="left" valign="top" width="80%">
					                               		:&nbsp;{$memberData.member_mail}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="top" style="font-weight: bold; padding-bottom: 10px;">
					                              		Số điện thoại&nbsp;
					                                </td>
					                               	<td align="left" valign="top" width="80%">
					                               		:&nbsp;{$memberData.member_phone}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="top" style="font-weight: bold; padding-bottom: 10px;">
					                              		Địa chỉ liên lạc&nbsp;
					                                </td>
					                               	<td align="left" valign="top" width="80%">
					                               		:&nbsp;{$memberData.member_address}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="top" style="font-weight: bold; padding-bottom: 10px;">
					                              		Website&nbsp;
					                                </td>
					                               	<td align="left" valign="top" width="80%">
					                               		:&nbsp;{$memberData.member_website}
					                               	</td>
	                            				</tr>
	                          					</table>
	                          				</td>
	                          				<td width="4" background="frontend/images/c5.jpg"></td>
	                        			</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}