		            	<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
			                <td align="left">
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                        <td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">QUẢN LÝ TIN RAO </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 10px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/post" class="text_blue" {if $state eq '' && $hdl eq 'member/post'}style="color: #CF242C;"{/if}><strong>Đăng tin rao</strong></a>
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/list&state=1" class="text_blue" {if $state eq '1'}style="color: #CF242C;"{/if}><strong>Danh sách tin rao</strong></a> ({$countItem.1Pos})
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/list&state=2" class="text_blue" {if $state eq '2'}style="color: #CF242C;"{/if}><strong>Tin rao hết hạn</strong></a> ({$countItem.2Pos})
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/list&state=3" class="text_blue" {if $state eq '3'}style="color: #CF242C;"{/if}><strong>Tin rao chờ duyệt</strong></a> ({$countItem.3Pos})
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                      			<!--
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/list&state=0" class="text_blue" {if $state eq '0'}style="color: #CF242C;"{/if}><strong>Tin rao đã lưu</strong></a> ({$countItem.0Pos})
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                      			-->
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/list&state=4" class="text_blue" {if $state eq '4'}style="color: #CF242C;"{/if}><strong>Tin rao đã xóa</strong></a> ({$countItem.4Pos})
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                      	<tr>
					                        <td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                        <td width="100%"></td>
					                        <td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                      	</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                			</table>
	                		</td>
	              		</tr>
						
	              		<tr>
	                		<td height="5"></td>
	              		</tr>
					
	              		<tr>
			                <td align="left">
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
			                        	<tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                         	<td width="100%" align="left" class="text_red">QUẢN LÝ TÀI KHOẢN </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                        			<tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 10px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/change" class="text_blue" {if $hdl eq 'member/change'}style="color: #CF242C;"{/if}><strong>Thay đổi password</strong></a>
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/edit" class="text_blue" {if $hdl eq 'member/edit'}style="color: #CF242C;"{/if}><strong>Thông tin thành viên</strong></a>
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                      				
	                      				<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />
												<a class="text_blue" href="?hdl=index&logined=FALSE" onClick="if(!confirm('Thoát khỏi hệ thống?')) return false;">
													<strong>Thoát khỏi hệ thống</strong>
												</a>
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                    				</table>
	                    			</td>
								</tr>
				                <tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
				                    	</table>
				                    </td>
				               </tr>
				               </table>
							</td>
	              		</tr>

	              		<tr>
	                		<td height="5"></td>
	              		</tr>
					
	              		<!-- 
	              		<tr>
			                <td align="left">
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
			                        	<tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                         	<td width="100%" align="left" class="text_red">NÂNG CẤP TÀI KHOẢN </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                        			<tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 10px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/change" class="text_blue"><strong>Cá nhân đăng tin</strong></a>
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
												<img src="frontend/images/new.gif" width="8" height="8" />&nbsp;<a href="?hdl=member/edit" class="text_blue"><strong>Nhà môi giới đăng tin</strong></a>
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                    				</table>
	                    			</td>
								</tr>
				                <tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
				                    	</table>
				                    </td>
				               </tr>
				               </table>
							</td>
	              		</tr>
	              		 -->
	            		</table>
