{include file=$include_header}
{literal}
<script>
	function checkAll(fmobj) {
	  var status = fmobj.checkStatus.value; 
	  var checkStat = (status == "1"?true:false);
	  
	  for (var i=0;i<fmobj.elements.length;i++) {
	    var e = fmobj.elements[i];
	    if ((e.type=='checkbox')) {
	      e.checked = checkStat;
	    }
	  }
	  
	  fmobj.checkStatus.value = (fmobj.checkStatus.value=="1"?"0":"1");
	}
</script>
{/literal}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="150" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
	            		<form id="frm_list" name="frm_list" method="post"
						action=""
						enctype="multipart/form-data"> 
						<input type="hidden" name="checkStatus" value="1" />
						<input type="hidden" name="state" value="{$state}" />
						<input type="hidden" name="page" value="{$page}" />
						<input type="hidden" id="btn_process" name="btn_process" />
						<input type="hidden" id="boxchecked" name="boxchecked" value="" />
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">Danh sách tin của : {$memberData.member_name}</td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	
								<tr>
									<td>
										
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
									        <tr>
									          	<td width="3" background="frontend/images/c4.jpg"></td>
									          	<td align="center" bgcolor="#F5F9FD" style="padding-top: 20px; padding-bottom: 20px;">
									          		<table border=0 width="100%">
									          			<tr>
									          				<td width="20%" align="left">
									          					Tiêu đề tin
									          				</td>
									          				<td align="left">
									          					<input type="text" name="searchItem[keyword]" value="{$search.keyword|escape}" />
									          				</td>
									          			</tr>
									          			<tr>
									          				<td width="20%" align="left">
									          					Nơi rao
									          				</td>
									          				<td align="left">
										          				<select name="searchItem[provinceid]" id="provinceid" class="form_search2">
									                            	<option value="">Tất cả</option>
									                            	{foreach item=provinces from=$ProvinceList}
									                            	<option value="{$provinces.province_id}" {if $search.provinceid eq $provinces.province_id} selected="selected" {/if}>{$provinces.province_name}</option>
									                            	{/foreach}
								                          		</select>
									          				</td>
									          			</tr>
									          			<tr>
									          				<td width="20%" align="left">
									          					Loại bất động sản
									          				</td>
									          				<td align="left">
									          					<select name="searchItem[categoryid]" id="categoryid" class="form_search2">
										                        	<option value="">Tất cả</option>
										                        	{foreach item=cates from=$CategoryEstate}
										                        	<option value="{$cates.category_id}" {if $search.categoryid eq $cates.category_id} selected {/if}>{$cates.category_name}</option>
										                        	{/foreach}
										                    	</select>
									          				</td>
									          			</tr>
									          			
									          			<tr>
									          				<td align="left">
									          					
									          				</td>
									          				<td align='left'>
									          					<input type="submit" name="searchBtn" value="Tìm kiếm" />
									          				</td>
									          			</tr>
									          			
									          		</table>
												</td>
												<td width="4" background="frontend/images/c5.jpg"></td>
											</tr>
											</table>
										
									</td>
								</tr>
			                  	
			                  	
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD" style="padding-top: 20px; padding-bottom: 20px;">
				                          		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                            <tr>
					                              	<td align="left" valign="top" style="padding-bottom: 10px;">
					                              		<table width="100%" border="0" cellpadding="0" cellspacing="0">
					                              		<tr>
					                              			<td align="center" valign="middle" style="border: #FFFFFF 1px solid; background-color: #99DDFF; padding: 5px; font-weight: bold;">TT</td>
					                              			<td align="center" valign="middle" width="" height="20" style="border: #FFFFFF 1px solid; background-color: #99DDFF; padding: 5px;">
					                              				<strong>Tiêu đề tin rao</strong>
					                              			</td>
					                              			<td align="center" valign="middle" width="10%" height="20" style="border: #FFFFFF 1px solid; background-color: #99DDFF; padding: 5px;">
					                              				<strong>Loại tin</strong>
					                              			</td>
					                              			<td align="center" valign="middle" width="22%" height="20" style="border: #FFFFFF 1px solid; background-color: #99DDFF; padding: 5px;">
					                              				<strong>Nơi rao</strong>
					                              			</td>
														<!--
					                              			<td align="center" valign="middle" width="18%" height="20" style="border: #FFFFFF 1px solid; background-color: #99DDFF; padding: 5px;">
					                              				<strong>Thông tin liên hệ</strong>
					                              			</td>
					                              		-->
					                              			<td align="center" valign="middle" width="10%" height="20" style="border: #FFFFFF 1px solid; background-color: #99DDFF; padding: 5px;">
					                              				<strong>Tác vụ</strong>
					                              			</td>
					                              			
					                              			<td align="center" valign="middle" width="10%" height="20" style="border: #FFFFFF 1px solid; background-color: #99DDFF; padding: 5px;">
																<a onClick="checkAll(document.frm_list);" style="cursor:pointer;"><strong>Chọn</strong></a>
															</td>
															
															
					                              		</tr>
														{foreach item=items key=key from=$EstateList}
					                              		<tr>
					                              			<td align="center" valign="middle" style="padding: 5px; border-bottom: #DEE2EB 1px solid;">
					                              				<!-- <img src="frontend/images/new.gif" width="10" height="8" /> -->
					                              				{$key+1}
					                              			</td>
					                              			<td align="left" valign="middle" height="20" style="padding: 5px; border-bottom: #DEE2EB 1px solid;">
					                              				<a href="?hdl=member/detail&estateid={$items.estate_id}"><strong>{$items.estate_title}</strong></a>
					                              			</td>
					                              			<td align="left" valign="middle" height="20" style="padding: 5px; border-bottom: #DEE2EB 1px solid;">
					                              				{$items.category_name}
					                              			</td>
					                              			<td align="left" valign="middle" height="20" style="padding: 5px; border-bottom: #DEE2EB 1px solid;">
					                              				{$items.district_name} 
					                              				{ if $items.district_name neq ""} 
					                              				- 
					                              				{/if}
					                              				{$items.province_name} 
					                              			</td>
					                              		<!--
					                              			<td align="left" valign="middle" height="20" style="padding: 5px; border-bottom: #DEE2EB 1px solid;">
					                              				{$items.contact_person}
					                              			</td>
					                              		-->
					                              			<td align="center" valign="middle" height="20" style="padding: 5px; border-bottom: #DEE2EB 1px solid;">
					                              				{if $state ne '4'}
					                              				<a href="?hdl=member/list&delete={$items.estate_id}&page={$page}" class="text_blue"><strong>Delete</strong></a>
					                              				{else}
					                              				<a href="?hdl=member/list&restore={$items.estate_id}&page={$page}" class="text_blue"><strong>Restore</strong></a>
					                              				<a href="?hdl=member/list&del_permanent={$items.estate_id}&page={$page}" class="text_blue"
					                              					onClick="return confirm('Xóa bản ghi khỏi hệ thống?');"
					                              				><strong>Xóa</strong></a>
					                              				{/if}
					                              			</td>
					                              			
															<td align="center" valign="middle" height="20" style="padding: 5px; border-bottom: #DEE2EB 1px solid;">
																<input type="checkbox" name="deleteId[]" value="{$items.estate_id}" />
															</td>
															
					                              		</tr>
					                              		{/foreach}
					                              		<tr>
					                              			<td>
					                              			&nbsp;
					                              			</td>
					                              		</tr>
					                              		<tr>
									          				<td align='left'>
									          					   <input type="submit" name="btn_del" id="btn_del" value="Xóa bỏ" /> 
									          				</td>
									          			</tr>
					                              		<tr>
					                              			<td colspan="6" align="center" style="padding-top: 10px;">
					                              				{$paging}
					                              			</td>
					                              		</tr>
					                              		</table>
					                                </td>
	                            				</tr>
	                          					</table>
	                          				</td>
	                          				<td width="4" background="frontend/images/c5.jpg"></td>
	                        			</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
						</form>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}