a:link, a:visited{ color: #09AE05; text-decoration: nne; }

a:hover{ color: #E8CD35; text-decoration: none; }

a:active{ color: #fff; text-decoration: underline; }

body{
background-color: #fff;
color: #000000;
font-family:  Tahoma, Arial, sans-serif;
font-size: 12px;
margin: 0px;
padding: 0px;
}

form{ font-size: small; margin: 0px; padding: 0px; }

h3{ margin: 0; padding: 0; padding-bottom: 2px; }

hr{ border: 0; border-top: 1px solid gray; margin: 0; }

p{ margin-top: 6px; margin-bottom: 6px; }

ul{ margin: 0; padding-left: 20px; }

.rmenu, .alarm {
color : #a44747;
background-color : #e4c5c5;
background-image : url(images/rmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #e9b5b5;
}
.alarm a:link,.alarm a:visited{ color: #FFFFFF; font-size: x-small; }

.b{ background-color: #e8e8e8; margin: 0px; padding: 2px; }

.bmenu{
color : #fffaee;
text-shadow : #4f4f4f 1px 1px 1px;
background-color : #5CB849;
background-image : url(images/bmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;

        border : 1px solid #5CB849; 
}
 
.bmenu a { 
        color : #FAEEC9; 

}
 
.bmenu a:hover{ 
     color : #f0e4c9; 
     border-bottom : 1px dotted #d7ccb4; 
} 

.c{ background-color: #ffffff; margin: 0px; padding: 2px; }

.clip{
	color: #4a5663;
	border: 1px solid white;
	font-size: x-small;
	background-color: #bfc6cf;
	padding: 4px 4px 8px 4px;
}

.clip a:link, .clip a:visited{ color: #424e59; }

.end{ text-align: center; }

.tmn, .fmenu { 
       color : #52462b; 
       background-color : #A6A6A6; 
       background-image : url(images/tmn.gif); 
       background-repeat : repeat-x; 
       background-position : 50% top; 
       margin-top : 1px; 
       margin-bottom : 1px; 
       padding : 2px; 
       border-top : 1px solid #7a7978; 
       border-bottom : 1px solid #7a7978; 
} 

.tmn a:link, .tmn a:visited { 
       color : #414344; 
       text-decoration : none; 

} 

.tmn a:hover { 
     color : #a45182; 
}

.footer { 
        background-image : url(images/bg.gif); 
        color : #5da228; 
        background-color : #5da228; 
        background-repeat : repeat-x; 
        background-position : 50% top; 
        margin-bottom : 1px; 
        padding : 2px; 
        border-top : 1px solid #296D16; 
        border-bottom : 1px solid #5da228; 
} 

.footer a:link,.footer a:visited{ color: #D2D2D2; text-decoration: none; padding : 2px; }

.header { 
        background-image : url(images/bg.gif); 
        color : #fff; 
        background-color : #5da228; 
        background-repeat : repeat-x; 
        background-position : 50% top; 
        margin-bottom : 1px; 
        padding : 2px; 
        border-top : 1px solid #296D16; 
        border-bottom : 1px solid #5da228; 
} 

.header a:link,.footer a:visited{ color: #D2D2D2; text-decoration: none; padding : 2px; }


.func{
	border-left: 4px solid #9acd32;
	color: #757575;
	font-size: x-small;
	margin-top: 4px;
	margin-left: 2px;
	padding-left: 4px;
}

.gmenu { 
        color : #c2790a; 
        background-color : #D3E7A8; 
        background-image : url(images/gmenu.gif); 
        background-repeat : repeat-x; 
        background-position : 50% top; 
        margin-top : 1px; 
        margin-bottom : 1px; 
        padding : 2px; 
        border-top : 1px solid #A0CE26; 
        border-bottom : 1px solid #D3E7A8; 
} 

.gmenu a { 
 color : #302F2E; 

} 
.gmenu a:hover { 
 color : #c24c0a; 

} 
.gray{ color: #586776; }

.green, .green a:link, .green a:visited{ color: green; }

.hdr{
	background-color: #f1f1f1;
	border-bottom: 1px solid #595959;
	font-weight: bold;
	padding-left: 2px;
}


.left{ float: left; }

.list1{
	background-color: #eeecd9;
	border: 1px solid white;
	margin: 0px;
	padding: 3px 4px 4px 4px;
}

.list2{
	background-color: #f5f5f5;
	border: 1px solid white;
	margin: 0px;
	padding: 3px 4px 4px 4px;
}

.maintxt{
	border: 4px solid #5CB849;
	font-weight: normal;
	margin: 0px;
	padding: 1px 1px 1px 1px;
}

.menu { 
        background-color : #DEF8C4; 
        background-image : url(images/menu.gif); 
        background-repeat : repeat-x; 
        background-position : 50% top; 
        margin-top : 1px; 
        margin-bottom : 1px; 
        padding : 3px; 
        border-top : 1px solid #A4EC50; 
        border-bottom : 1px solid #DEF8C4; 
} 

.news{
	background-color: #EEEEEE;
	border: 1px solid white;
	color: #333333;
	font-size: x-small;
	padding: 3px 4px 4px 4px;
}

.phdr{ 
        color : #fffaee; 
        text-shadow : #4f4f4f 1px 1px 1px; 
        background-color : #5CB849; 
        background-image : url(images/bmenu.gif); 
        background-repeat : repeat-x; 
        background-position : 50% top; 
        margin-top : 1px; 
        margin-bottom : 1px; 
        padding : 2px; 
        border : 1px solid #5CB849; 
} 
.phdr a { 
  color : #FAEEC9; 

} 
.phdr a:hover{ 
  color : #f0e4c9; 
  border-bottom : 1px dotted #d7ccb4; 
} 

.phpcode{
	background-color: #E0E6E9;
	border: 1px dotted #9FAEBB;
	margin-top: 4px;
	padding: 0px 2px 0px 2px;
}

.quote{
	border-left: 4px solid #c0c0c0;
	color: #878787;
	font-size: x-small;
	padding: 2px 0px 2px 4px;
	margin-left: 2px;
}

.red, .red a:link, .red a:visited{ color: #FF0000; }

.reply{
	border-left: 4px solid red;
	color: #FF0000;
	padding: 2px 0px 2px 4px;
}



.status{ color: #CD853F; font-weight: bold; font-size: x-small; padding-left: 0px }

.sub{
	border-top: 1px dotted #c6c17f;
	font-size: x-small;
	margin-top: 4px;
}

.sub a:link,.sub a:visited{ text-decoration: none; }
}



