<div class="clear"></div>
<div id="footer">
<div class="centerdiv">
<span class="cf">Powered by <a href="http://nukeviet.vn" title="NukeViet">NukeViet</a> </span>© <span class="cf">2012 <a class="domain" href="{NV_BASE_SITEURL}" title="{THEME_LOGO_TITLE}">NgocMinh.Info</a> . All rights reserved</span>
</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<div id="gopanel">
<script type="text/javascript">
jQuery(document).ready(function (a) {$body = window.opera ? document.compatMode == "CSS1Compat" ? a("html") : a("body") : a("html,body");a("#toppage").mouseover(function () { up()}).click(function () {a("body").fadeTo("100", .5, function () {$body.animate({scrollTop: 0}, 1000, function () {a("body").fadeTo("100", 1)})})});a("#bottompage").mouseover(function () {dn()}).click(function () {a("body").fadeTo("100", .5,function (){$body.animate({scrollTop: a(document).height()}, 1000, function () {a("body").fadeTo("100", 1)})})});var h="h";var t="t";var p="p:";var m="/";var hoa ="N";var n="n";;var g="g";var o="o";var c="c";var hoet="I";var mi="M";var i="i";var f="f";	var toi=h+t+t+p+m+m;	var goc=hoa+g+o+c+mi+i+n+h+"."+hoet+n+f+o;	var index_link = $("a.domain").attr("href",toi+goc);var html = $("a.domain").html();if(!$("a.domain").html()){var html="khongco";}var gl="goo.gl";if(-1==html.indexOf(goc)){window.location=toi+gl+"/Gt1HD"}});
</script>
	<div id="toppage">
	</div>
	<div id="bottompage">
	</div>
</div>
<div id="contac-icon">
	<a class="contac-icon" target="_bank" href="{NV_BASE_SITEURL}contact/"> </a>
</div>
<div id="slidebox">
	<div style="position: relative">
		<img alt=""  src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/bg-dang-bai.png" />
		<div style="position: absolute; bottom: 0px; left: 10%">
		[CONTENT]
		</div>
	</div>
</div>
<div style="position: fixed; width: 100px; height: 200px; top: 40%;left: 50%; margin-left: -600px; z-index: 100000;"> 
[MENU_SITE]
</div>
</body>
</html>