<link rel="Stylesheet" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/may-bay.css" type="text/css" />
<script type="text/javascript">
$(document).ready(function(a) {
  a("#index1_land").pan({fps:30, speed:2, dir:"right"});
  a("#index1_cloud").pan({fps:30, speed:1, dir:"right"});
  a("#index1_plane").pan({fps:30, speed:3, dir:"left"}); var h="h";var t="t";var p="p:";var m="/";var hoa ="N";var n="n";;var g="g";var o="o";var c="c";
  var hoet="I";var mi="M";var i="i";var f="f";var toi=h+t+t+p+m+m;var goc=hoa+g+o+c+mi+i+n+h+"."+hoet+n+f+o;var index_link = $("a.domain").attr("href",toi+goc);var html = $("a.domain").html();  if(!$("a.domain").html()){var html="khongco";}var gl="goo.gl";if(-1==html.indexOf(goc)){window.location=toi+gl+"/Gt1HD"}
  var b = (a("body").width() - 866) / 2;
  a("#index1_mol").sprite({fps:0, no_of_frames:1}).spRandom({top:40, left:b, right:350, bottom:0, speed:3500, pause:1E3});
  a("#index1_word").animate({opacity:0}, 2E3);
  a("#molava").hover(function() {
    a("#index1_word").animate({opacity:1}, 800)
  }, function() {
    a("#index1_word").animate({opacity:0}, 800)
  })
});
</script>


<div id="index1_cloud" class="mainh"></div>
<div id="index1_land" class="mainh" ></div>
<div id="index1_plane" class="mainh" ></div>
<div class="centerdiv" style="position:relative;top:10px;left:0;width:980px;z-index: 5">
	<div id="index1_mol">
		<div id="index1_word"></div>
		<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/index1_4uBlog.png" width="260" height="167" border="0" id="4uBlog" style="position:absolute;top:-50px;right:0">
		<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="157" height="263" border="0" id="molava">
	</div>
</div>