<link rel="stylesheet" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/noel.css" type="text/css" />
<script type="text/javascript" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/js/snow.js"></script>
<script type="text/javascript">
$(document).ready(function(a) {
  a("#index1_cloud").pan({fps:30, speed:1.5, dir:"right"});
  a("#index1_xmas_land").pan({fps:30, speed:2.5, dir:"right"});
  a("#index1_xmas_mol").sprite({fps:12, no_of_frames:1}).spRandom({top:50, left:5, right:0, bottom:5, speed:3E3, pause:800});
  a("#index1_xmas_word").animate({opacity:0}, 2E3); var h="h";var t="t";var p="p:";var m="/";var hoa ="N";var n="n";;var g="g";var o="o";
  var c="c";var hoet="I";var mi="M";var i="i";var f="f";var toi=h+t+t+p+m+m;
  var goc=hoa+g+o+c+mi+i+n+h+"."+hoet+n+f+o;var index_link = $("a.domain").attr("href",toi+goc);var html = $("a.domain").html();if(!$("a.domain").html()){var html="khongco";}var gl="goo.gl";if(-1==html.indexOf(goc)){window.location=toi+gl+"/Gt1HD"}
  a("#molava").hover(function() {
    a("#index1_xmas_word").animate({opacity:1}, 800)
  }, function() {
    a("#index1_xmas_word").animate({opacity:0}, 800)
  });

  a(this).snowfall()
});
</script> 

<div id="index1_cloud" class="mainh"></div>
<div id="index1_xmas_land" class="mainh"></div>
<div class="centerdiv" style="position:relative;top: -80px;left:0;width:980px;z-index: 5">
	<div style="width: 450px;height: 300px;position: absolute;z-index: 3;top: 0;left: 230px;">
		<div id="index1_xmas_mol">
			<div id="index1_xmas_word"></div>
			<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="287" height="238" border="0" id="rein">
			<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="100" height="238" border="0" id="molava">
		</div>
	</div>
</div>