<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="195" height="380">
    <param name="movie" value="http://kenhdj.vn/ads/game.swf" />
    <param name="quality" value="high" />
    <param name="allowScriptAccess" value="always" />
    <param name="wmode" value="transparent">
    <embed src="http://kenhdj.vn/ads/game.swf" quality="high" type="application/x-shockwave-flash" WMODE="transparent" width="195" height="380" pluginspage="http://www.macromedia.com/go/getflashplayer" allowScriptAccess="always" />                                          
     </object>