
<style type="text/css">
<!--
body {
	background-color: #0f0f0f;
}
-->
</style><table width="505" height="320" border="2" bordercolor="#990000" bgcolor="0F0F0F">
        <tr>
        <tr>
            <td><a href="http://home.hiepkhach.vn/?utm_source=dj.tuoigi.com&utm_medium=banner&utm_campaign=product" target="_blank"><img src="http://goo.gl/QI5J0e" border="0" width="490" height="100" alt="Mu Hong Ngoc" /></a></td>
        </tr>
        <tr>
            <!-- Tuyen - 18/8 - 3/9 -->
            <td><a href="http://huyenthoaivolam.com.vn/" target="_blank"><img src="http://dj.tuoigi.com/quangcao/tuyen-huyenthoaivolam.gif" alt="Mu Lang Tu" width="490" height="200" border="0" /></a></td>
        </tr>
</table>
