			<div id="line1"><img src="images/spacer.gif" /></div>
    </div>
	</div>
	
	<div id="line3"><img src="images/spacer.gif" /></div>
	
	<div id="footer">
		<div id="footer_cell">
    	<div id="left">
      <?
      $sql="select content_".$_SESSION['lg']." as content from `intro` where id=4";
      $address=$db->getRow($sql);
      echo stripslashes($address['content']);
      ?>
      </div>
      <div id="right">
      	<div class="black11" style="text-transform:capitalize;">
        	<a href="index.php" class="black11"><?=$lang['home']?></a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="?do=intro&id=5" class="black11"><?=$lang['introduction']?></a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="?do=gallery" class="black11"><?=$lang['gallery']?></a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="?do=news" class="black11"><?=$lang['news']?></a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="?do=intro&id=7" class="black11"><?=$lang['event']?></a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="?do=contact" class="black11"><?=$lang['contact']?></a>
      	</div>
        <div align="right" style="padding-top:17px;"><img src="images/logo.gif" width="154"></div>
      </div>
		</div>
	</div>
	
  <div align="center" class="black11" style="padding-bottom:2px;">Copyright © 2011 SaiGon NinhChu Hotel. All Rights Reserved.</div>
</div>
</div>
</body>
</html>