				<div id="contentleft">
        	<div style="padding:0px 0px 0px 11px;">
          	<div id="bookonline">
            	<div id="bookonline_title">Booking online</div>
              <div><img src="images/Agoda.jpg" alt="Agoda" width="160" height="53" vspace="5"></div>
            </div>
            <div id="bookonline_space"><img src="images/spacer.gif" /></div>
            <div id="bookonline">
            	<div id="bookonline_title">Booking online</div>
              <div><img src="images/Booking_com_Logo.jpg" alt="Booking_com_Logo" width="160" height="53" vspace="5"></div>
            </div>
            <div id="bookonline_space"><img src="images/spacer.gif" /></div>
            <div id="bookonline">
            	<div id="bookonline_title">Booking online</div>
              <div><img src="images/AsianTravel.gif" alt="AsianTravel" width="160" height="53" vspace="5"></div>
            </div>
            <div id="bookonline_space"><img src="images/spacer.gif" /></div>
            <div id="bookonline">
            	<div id="bookonline_title">Booking online</div>
              <div><img src="images/wotif_logo.gif" alt="wotif_logo" width="160" height="53" vspace="5"></div>
            </div>
          </div>
          <div id="line1"><img src="images/spacer.gif" /></div>
        </div>
      </td>
      <td valign="top">
      <div id="contentright">
      	<div id="contentright_cell">        	
        	<div id="Navleft">
          	<div id="Navleft_cell"><a href="?do=roomtypes" class="menuleft<? if ($do=='roomtypes') echo '_o';?>"><img src="images/icon.gif" border="0" align="absmiddle">&nbsp;&nbsp;&nbsp; <?=$lang['roomtypes']?></a></div>
            <div id="Navleft_line"><img src="images/spacer.gif" /></div>
            <div id="Navleft_cell"><a href="?do=intro&id=9" class="menuleft<? if ($do=='intro' && $intro['id']==9) echo '_o';?>"><img src="images/icon.gif" border="0" align="absmiddle">&nbsp;&nbsp;&nbsp; <?=$lang['roomrates']?></a></div>
            <div id="Navleft_line"><img src="images/spacer.gif" /></div>
            <? if ($menuservices) { ?>
          	<? for ($i=0;$i<count($menuservices);$i++) { ?>
            <div id="Navleft_cell"><a href="?do=services&id=<?=$menuservices[$i]['id']?>" class="menuleft<? if ($do=='services' && $services['id']==$menuservices[$i]['id']) echo '_o';?>"><img src="images/icon.gif" border="0" align="absmiddle">&nbsp;&nbsp;&nbsp; <?=stripslashes($menuservices[$i]['title'])?></a></div>
            <div id="Navleft_line"><img src="images/spacer.gif" /></div>
            <? } ?>
            <? } ?>
          </div>
          
          <div id="line2"><img src="images/spacer.gif" /></div>
          
          <div id="booking">
          	<div id="booking_cell"><a href="?do=booking"><span class="book_title"><?=$lang['booking']?></span></a></div>
          </div>
          
          <div id="line2"><img src="images/spacer.gif" /></div>
				
        	<div class="title">
          <? if ($nickchat) { ?>
          	<?=$lang['online_support']?>
          	<? for ($i=0;$i<count($nickchat);$i++) { ?>
            &nbsp;<? if ($nickchat[$i]['type']==2) { ?><a href="skype:<?=stripslashes($nickchat[$i]['nick'])?>?chat"><img src="images/skype_on.gif" alt="<?=stripslashes($nickchat[$i]['title'])?>" title="<?=stripslashes($nickchat[$i]['title'])?>" border="0" align="texttop"></a><? } else { ?><a href="ymsgr:sendim?<?=stripslashes($nickchat[$i]['nick'])?>"><img src="images/yahoo_on.gif" alt="<?=stripslashes($nickchat[$i]['title'])?>" title="<?=stripslashes($nickchat[$i]['title'])?>" border="0" align="texttop"></a><? } ?>
          	<? } ?>		
          <? } ?>
          </div>
          
          <div id="line2"><img src="images/spacer.gif" /></div>
          <div><a href="http://www.new7wonders.com/" target="_blank"><img src="images/banner.gif" border="0"></a></div>
        </div>
			</div>
      </td>
      </tr>
    </table>