<frameset rows="*,0" border=false frameborder=0 framespacing=0>
  <frame name="main" src="http://vnexpress.net/User/ck/Source/ViewHCMSmall.asp" noResize scrolling=auto target="main">
  <frame name="update" src="http://vnexpress.net/User/ck/Source/GetHCMSDataSmall.asp" scrolling="no" noresize target="main">
  <noframes>
  <body>

  <p>This page uses frames, but your browser doesn't support them.</p>

  </body>
  </noframes>
</frameset>