body {
  background-color: #f4f4f4;
  color: #393939;
  font-size: 13px;
  font-family : Arial, Helvetica, sans-serif;
  max-width: 1024px;
  margin: auto;
}
a:link, a:visited {
  text-decoration: none;
  color: #330099;
}
.header, .footer {
  background-color: #9999FF;
  background-image: url(images/header.png);
  padding: 3px;
}
.phdr {
  background-color: #CCCCFF;
  padding: 3px;
  background-image: url(images/phdr.png);
}
.maintxt {
  background-color: #e9e9fd;
}
.menu, .tmn, .list1, .b, .head, .end {
  background-color: #eeeefd;
  padding: 1px;
  border: 1px solid white;
}
.list1, .list2 {
  border: 1px solid white;
}
.list2, .c {
  background-color: #e4e4ff;
  margin: 1px 0px 1px 0px;
}
.sub {
  border-top : 1px dotted #9999FF;
  font-size : x-small;
  margin-top : 4px;
}
.rmenu {
  background-color: #eed7db;
  border: 1px solid white;
  margin: 0px;
  padding: 2px 0px 3px 4px;
}
/*
------------------------------------------------------
Стандартные классы
------------------------------------------------------
*/
.sitemap {
    font-size: xx-small;
    position: relative;
    width: 100%;
    height: 38px;
    z-index: 1;
    overflow: auto;
}

hr { border: 0; border-top: 1px dotted #E1E1E1; margin: 5px 0; }
h3 { margin: 0; padding: 0 0 2px 0; }
ul { margin: 0; padding-left: 20px; }
p  { padding: 0px; margin: 6px 0px 6px 0px; }
.red, .red a:link, .red a:visited { color: #ee0000; }
.green{ color: green; }
