/* CSS Document */
	
	#dhtmlgoodies_menu img{
		margin:0px ;	
		border:0px;
		
	}

	/* End general styles for this example page */
	/* General configuration CSS */
	
	#dhtmlgoodies_menu ul li ul{
		margin:0px;	
		display:none;	/* Needed to display ok in Opera */
		
	}
		
	#dhtmlgoodies_menu{
		margin:0px;	
		visibility:hidden;	
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
	}
	#dhtmlgoodies_menu ul{
		margin:0px;	/* No indent */
		padding:0px;	/* No indent */
	}
	#dhtmlgoodies_menu li{
		margin:0px;	
		list-style-type:none;	/* No bullets */
		
	}	
	#dhtmlgoodies_menu a{
		margin:0px ;
		padding:0px;
		
	}
	/* End general configuration CSS */
	
	
	/* Cosmetic */
	
	/***********************************************************************
		CSS - MENU BLOCKS
	 	General rules for all menu blocks (group of sub items) 
	***********************************************************************/
	#dhtmlgoodies_menu ul{	
		padding:0px 0px 0px 0px;
		background-color:#ffffff;

	}
		
	#dhtmlgoodies_menu ul.menuBlock1{	/* Menu bar - main menu items */
		border:0px;
		padding-top:0;
		
		
	}
	#dhtmlgoodies_menu ul.menuBlock2{	/* Menu bar - main menu items */
		border:0px;
		padding-top:0;
		}
	
	/***********************************************************************
		CSS - MENU ITEMS
	 	Here, you could assign rules to the menu items at different depths.
	***********************************************************************/
	/* General rules for all menu items */
	#dhtmlgoodies_menu a{
		color: #000000;
		text-decoration:none;
	}
	#dhtmlgoodies_menu a:hover{
		color: #ffffff;
		text-decoration:none;
	}
	/*
	Main menu items 
	*/
	
	/*UL chinh */
	#dhtmlgoodies_menu .currentDepth1{

		/*padding-left:0px;
		padding-right:0px;*/
				
	}
	#dhtmlgoodies_menu .currentDepth1over{
		/*padding-left:0px;
		padding-right:0px;
		background-color:#00938D;*/
				
		
	}
	#dhtmlgoodies_menu .currentDepth1 a{
		padding:0px 0px 0px 0px;
		font-weight:bold;
		
		
	}
	#dhtmlgoodies_menu .currentDepth1over a{	/* Text rules */
		color:#FFF;
		font-weight:bold;
		
	}
	
	/* Sub menu depth 1 */
	
	/* LI chinh*/
	#dhtmlgoodies_menu .currentDepth2{
		margin:0px;	
		padding:5px 10px 5px 10px;
		border-left:1px solid #336B96;
		border-right:1px solid #336B96;		
		border-bottom:1px solid #336B96;			
		

	}
	#dhtmlgoodies_menu .currentDepth2over{
		margin:0px;	
		padding:5px 11px 5px 11px;
		background-color:#73C0B9;
		

	}	
	#dhtmlgoodies_menu .currentDepth2over a{	/* Text rules */
		
		
	}	
	/* Sub menu depth 2 */
	#dhtmlgoodies_menu .currentDepth3{
		/*padding-right:2px;*/
		border:0px solid #FFF;
		padding:0px;
	}
	#dhtmlgoodies_menu .currentDepth3over{
		/*padding-right:2px;*/
		background-color:#5298CA;
		border:1px solid #000;
	}
	/* Sub menu depth 3 */
	#dhtmlgoodies_menu .currentDepth4{
		/*padding-right:2px;*/
		border:1px solid #000;
	}
	#dhtmlgoodies_menu .currentDepth4over{
		/*padding-right:2px;*/
		background-color:#5298CA;
		border:1px solid #000;
	}
