body 
{ 
background: #FFFFFF url(../images/megahost_01h.gif) repeat-x top left;
padding-top:0px;
}
table.login input {
	padding: 6px;
	font-size: 13px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div,p{
	padding:0px;
	margin:0px;
}

.nen{
background: url(../images/nenduoi.gif) repeat-x bottom left;
z-index:1;
}
.paging_btn {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #009900;
	color:#009900;
	font-weight:bold;
	padding:1px 4px 1px 4px;
}

.dpaging{
	padding: 5px 2px 2px 5px;
}

.paging_btn_a {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #009900;
	color:#009900;
	font-weight:bold;
	padding:3px 7px;
	margin-right:3px;
}

.paging_btn_a:hover {
	background:none repeat scroll 0 0 #A7E219;
	border:1px solid #009900;
	color:#009900;
	font-weight:bold;
	padding:3px 7px;
}

.paging_btn1 {
	background:none repeat scroll 0 0 #666666;
	border:1px solid #FFFF00;
	color:#FFFF00;
	font-weight:bold;
	padding:1px 5px 1px 5px;
}
.input-email {
	width: 240px;
	height: 18px;
	margin-top:4px;
	margin-bottom:4px;
}
.input-email1 {
	width: 290px;
	height: 15px;
	margin-top:4px;
	margin-bottom:4px;
}
.input-form {
	width: 320px;
	height: 17px;
	margin-top:4px;
	margin-bottom:4px;
}
.input-list {
	width: 155px;
	height: 27px;

}
.input-list1 {
	width: 254px;
	height: 28px;

}
.input-search {
	width: 160px;
	height: 13px;

}
.input-code {
	width: 60px;
	height: 15px;
	margin-top:4px;
	margin-bottom:4px;
}
.input-list2 {
	width: 50px;
	height: 35px;

}
.select-list {
	width: 190px;
	height: 150px;

}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 45px;
	font-weight: bold;
}
.menu a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
	font-weight: bold;
	
}
.menu a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
	font-weight: bold;
}
.title3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	text-align: left;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 40px;
	font-weight: bold;
}
.title3 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
	font-weight: bold;
}
.title3 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
	font-weight: bold;
}
.searchtop{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	height:17px;
	vertical-align: middle;
	border:0px;
	background:none;
	padding:5px;
}

.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-right: 30px;
	line-height: 17px;
}
.copyright a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	vertical-align: top;
	text-decoration:none;
	font-weight:normal;
}
.copyright a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align:left;
	vertical-align: top;
	font-weight:normal;
	text-decoration:underline;
}
.copyright1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-align: right;
	vertical-align: top;
	padding-right: 10px;
	line-height: 17px;
}
.copyright1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	vertical-align: top;
	text-decoration:none;
	font-weight:normal;
}
.copyright1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align:left;
	vertical-align: top;
	font-weight:normal;
	text-decoration:underline;
}
.noidung {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-align: justify;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
	padding-bottom: 5px;
	vertical-align: top;
}
.noidung a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	text-align: left;
	text-decoration:none;
	font-weight: bold;
}
.noidung a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: justify;
}
.noidung1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006600;
	text-align: justify;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
	padding-bottom: 5px;
	vertical-align: top;
}
.noidung1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	text-align: left;
	text-decoration:none;
	font-weight: bold;
}
.noidung1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: justify;
}

.noidung2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-align: justify;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 20px;
	padding-bottom: 5px;
	vertical-align: top;
}
.noidung2 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099FF;
	text-align: left;
	text-decoration:none;
	font-weight: bold;
}
.noidung2 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: justify;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: justify;
	padding-right: 5px;
	padding-left: 10px;
}
.text a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: justify;
	font-weight:bold;
	text-decoration:none;
}
.text a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: justify;
	font-weight:bold;
	text-decoration:underline;
}

.images {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}
.images a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	vertical-align: top;
}
.page {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	font-variant: normal;
	padding-left: 20px;
	font-weight:bold;
}
.title a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
}

.page a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: right;
	vertical-align: middle;
	text-decoration:none;
	font-weight: bold;
}
.page a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF6600;
	text-align: right;
	vertical-align: middle;
	text-decoration:underline;
	font-weight: bold;
}
.icon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}
.icon a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.icon a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	text-align: left;
	vertical-align: middle;
	text-decoration:underline;
}
.product {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	color: #000000;
	padding-right: 0px;
	line-height: 18px;
}
.product a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:none;
}
.product a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-decoration:underline;
}

.download {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
}
.gallery {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	text-align: left;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 7px;
}
.gallery a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	vertical-align: middle;
	text-decoration:none;
}

.gallery a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	text-decoration:none;
}
.title1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
}
.title1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.title1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.text-right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: justify;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 18px;
}
.kinhthanh {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	padding-right: 40px;
	padding-left: 45px;
	color: #FFFFFF;
}

.text-right a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	text-align: left;
	text-decoration:none;
	font-style: italic;
}
.text-right a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff6600;
	text-align: left;
	text-decoration:underline;
}
.menu1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	vertical-align: middle;
	padding-right: 7px;
	padding-left: 35px;
	line-height: 22px;
}
.menu1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.menu1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
	color: #ff6600;
}
.name-product {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
	text-align: center;
	vertical-align: top;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
}
.name-product a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	text-align: center;
	vertical-align: middle;
	text-decoration:none;
}
input.menu {
height:18px;
vertical-align:bottom;
font-family:Arial, Helvetica, sans-serif;
color:#666666;
}
.input{
	font-size:11px;
	height:13px;
	border:0px;
	padding-right: 7px;
	padding-left: 7px;
}
.table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	vertical-align: middle;
	padding-right: 15px;
	padding-left: 30px;
}
.table a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.table a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.top-right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	padding-left:235px;
	padding-right: 10px;
}
.top-right a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration:none;
}
.top-right a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration:underline;
}
.hot {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}
.hot a{
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6600;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}
.main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: justify;
	line-height:20px;
	padding-top:10px;
	padding-right:10px;
	padding-left:20px;
	padding-bottom:15px;
}
.main a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: justify;
	text-decoration:none;
	font-weight:bold;
}
.main a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: justify;
	font-weight:bold;
	text-decoration:underline;
}
.namproduct {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 10px;
}
.report {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	padding-right: 20px;
	padding-left: 10px;
	text-align: justify;
	line-height: 23px;
}
.report a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration:none;
}
.report a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff6600;
	text-decoration:none;
}
.text-table1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-align: justify;
	padding-right: 5px;
	line-height:18px;
	vertical-align: middle;
}
.text-table1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	font-weight:bold;
	text-align: left;
	font-weight:normal;
	text-decoration:none;
}
.text-table1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-align: left;
	font-weight:normal;
	padding-right: 10px;
	text-decoration:underline;
}
.text-table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
}
.text-table a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: left;
	font-weight:bold;
	text-decoration:none;
}
.text-table a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	text-align: left;
	font-weight:bold;
	text-decoration:underline;
}
.nhasanxuat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
	vertical-align: middle;
}
.nhasanxuat a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-decoration:none;
}
.nhasanxuat a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-decoration:underline;
}
.Name-center {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	font-style: italic;
	line-height: 18px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.Name-center a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-style:normal;
	text-decoration:none;
}
.Name-center a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-style:normal;
	text-decoration:underline;
}
.table-detail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-align: left;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 10px;
	line-height: 18px;
}
.table-detail a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000033;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
	font-weight: bold;
}
.table-detail a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	text-decoration:underline;
}

.cost {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-align: left;
	padding-right: 0px;
	padding-left: 0px;
}
.khung {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:5px;
	border-left:0px;
	line-height: 18px;
	text-align: justify;
}
.khung a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	font-weight:bold;
	text-decoration:none;
}
.khung a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6600;
	font-weight:bold;
	text-decoration:underline;
}
.cost-table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-align: left;
	padding-left: 25px;
	padding-top:10px;
	padding-right:5px;
	vertical-align: bottom;
}
.right-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 10px;
	line-height: 18px;
}
.right-text a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	font-weight:bold;
	text-decoration:none;
}
.right-text a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #;
	text-align: left;
	font-weight:bold;
	text-decoration:underline;
}
.top-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 0px;
	padding-top: 0px;

}
.top-menu a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	text-decoration:none;
}
.top-menu a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	text-decoration:none;
}
.top-menu1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 0px;
	padding-top: 0px;

}
.top-menu1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	text-decoration:none;
}
.top-menu1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	text-decoration:none;
}
.khungsearch {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 10px;
}
.quangcao-center {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.menu-right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	padding-right: 25px;
	padding-left: 45px;
	line-height: 18px;
}
.menu-right a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
	font-weight: normal;
}
.menu-right a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.quangcao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:#009900;
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	line-height: 20px;
	padding-bottom: 3px;
}
.quangcao a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#009900;
	font-weight: normal;
	text-align: left;
	text-decoration:none;
}
.quangcao a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FF9900;
	font-weight: normal;
	text-align: left;
	text-decoration:underline;
}
.link {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #0033CC;
	text-align: left;
}
.link a{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #0033CC;
	text-align: left;
	text-decoration:underline;
}
.top-quangcao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	padding-right: 2px;
	padding-left: 2px;
}
.focus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #003366;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.focus a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-align: center;
	vertical-align: middle;
	text-decoration:none;
}
.danhmuc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 45px;
}
.danhmuc a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.danhmuc a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.danhmuc1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 45px;
}

.danhmuc11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	vertical-align: middle;
	padding:0px;
	margin:0px;
}

.danhmuc1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	vertical-align: middle;
	text-decoration:none;
}
.danhmuc1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
	text-align: left;
	vertical-align: middle;
	text-decoration:underline;
}
.other {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: right;
	vertical-align: middle;
	padding-right: 15px;
	padding-top:10px;
	padding-left: 5px;
}
.other a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	vertical-align: middle;
	text-decoration:none;
}
.other a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	vertical-align: middle;
	text-decoration:underline;
}

.style1 {color: #FF0000;}

.dholder{
	padding:0px;
	margin:0px;
	text-align:left;
}


/*Some specific css for domain checking*/
.wr_trc{
	font-weight: bold;
	background: #75B104;
	color: #FFFFFF;
}

.wr_tdc{
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	background: #75B104;
	color: #FFFFFF;
	border-right: #FFFFFF solid 1px;
}

.wr_td{
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	color: #008000;
}

.wrd_holder{
	width:680px;
	float:left;
	height:27px;
	line-height:27px;
}

.wrd_holder:hover{
	background:#D1EF9D;
}

.wrd_domain{
	color:#008000;
	font-weight:bold;
	width:290px;
	float:left;
	height:27px;
	border:none;
	line-height:27px;
	padding-left:5px;
}

.wrd_result{
	color:#008000;
	width:220px;
	float:left;
	height:27px;
	border:none;
	line-height:27px;
	text-align:center;
}

.wrd_reg{
	color:#FF0000;
	width:150px;
	float:left;
	height:27px;
	text-align:center;
	border:none;
	line-height:27px;
	padding-top:4px;
}

.wrd_reg a{
	color:#FF0000;
	text-decoration:none;
}

.wrd_reg a:hover{
	color:#FF0000;
	text-decoration:underline;
}
	

.wrd_clear{
	clear:both;
	border:none;
}


/*For homepage info*/
.dhinfos{
	margin:0px;
	padding:0px;
}

.dhinfos p,div{
	margin:0px;
	padding:0px;
	text-align:left;
	vertical-align:top;
}