.font_bule {
	font-family:Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
}

.font_xam {
	font-family:Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.font_login {
	font-family:Tahoma;
	font-size: 12px;
	color: #333333;
}
.err
{
	font-family:Tahoma;
	font-size:14px;
	color:#FF0000;
	font-weight:600;
}


